Repository ericquartey/wms: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipeline-database-health-dev.yml, Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Path conditions:
  Pipelines/azure-pipeline-database-health-dev.yml: any of: Common\DataModels, Common\EF, but not: VerticalWarehouses, WMS, Common
  Pipelines/azure-pipeline-dev.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-prod.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-vw-services-dev.yml: any of: *, VerticalWarehouses\Machine Automation Service, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-vw-ui-dev.yml: any of: *, VerticalWarehouses\Panel PC User Interface, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-wms-services-dev.yml: any file but: VerticalWarehouses, WMS\App
  Pipelines/azure-pipeline-wms-ui-dev.yml: any file but: VerticalWarehouses, WMS\Data, WMS\Scheduler

fix:build errors
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
Due: none

removed old folders
  VerticalWarehouses/InstallationApp/HelpWindows/HelpBayControl.xaml
  VerticalWarehouses/InstallationApp/HelpWindows/HelpBayControl.xaml.cs
  VerticalWarehouses/InstallationApp/HelpWindows/HelpCellsSideControl.xaml
  VerticalWarehouses/InstallationApp/HelpWindows/HelpCellsSideControl.xaml.cs
  VerticalWarehouses/InstallationApp/HelpWindows/HelpLoadFirstDrawer.xaml
  VerticalWarehouses/InstallationApp/HelpWindows/HelpLoadFirstDrawer.xaml.cs
  VerticalWarehouses/InstallationApp/HelpWindows/HelpLoadingDrawers.xaml
  VerticalWarehouses/InstallationApp/HelpWindows/HelpLoadingDrawers.xaml.cs
  VerticalWarehouses/InstallationApp/HelpWindows/HelpMainWindow.xaml
  VerticalWarehouses/InstallationApp/Interfaces/IBayControlViewModel.cs
  VerticalWarehouses/InstallationApp/Interfaces/ICellsSideControlViewModel.cs
  VerticalWarehouses/InstallationApp/Interfaces/ILoadFirstDrawerViewModel.cs
  VerticalWarehouses/InstallationApp/Interfaces/ILoadingDrawersViewModel.cs
  VerticalWarehouses/InstallationApp/ViewsAndViewModels/SingleViews/BayControlView.xaml
  VerticalWarehouses/InstallationApp/ViewsAndViewModels/SingleViews/BayControlView.xaml.cs
  VerticalWarehouses/InstallationApp/ViewsAndViewModels/SingleViews/BayControlViewModel.cs
  VerticalWarehouses/InstallationApp/ViewsAndViewModels/SingleViews/CellsSideControlView.xaml
  VerticalWarehouses/InstallationApp/ViewsAndViewModels/SingleViews/CellsSideControlView.xaml.cs
  VerticalWarehouses/InstallationApp/ViewsAndViewModels/SingleViews/CellsSideControlViewModel.cs
  VerticalWarehouses/InstallationApp/ViewsAndViewModels/SingleViews/LoadFirstDrawerView.xaml
  VerticalWarehouses/InstallationApp/ViewsAndViewModels/SingleViews/LoadFirstDrawerView.xaml.cs
  VerticalWarehouses/InstallationApp/ViewsAndViewModels/SingleViews/LoadFirstDrawerViewModel.cs
  VerticalWarehouses/InstallationApp/ViewsAndViewModels/SingleViews/LoadingDrawersView.xaml
  VerticalWarehouses/InstallationApp/ViewsAndViewModels/SingleViews/LoadingDrawersView.xaml.cs
  VerticalWarehouses/InstallationApp/ViewsAndViewModels/SingleViews/LoadingDrawersViewModel.cs
Due: none

Fix Items property binding error on MenuView
  WMS/App/Modules/Layout/Views/MenuView.xaml.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(scheduler): add transaction scope completion
  WMS/Scheduler/Core/Providers/MissionSchedulerProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

PR comment changes
  VerticalWarehouses/Common/Common_Utils/DTOs/MovementMessageDataDTO.cs
  VerticalWarehouses/Common/Common_Utils/Enumerations/MovementType.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Data/MovementMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Interfaces/IMovementMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Interfaces/IRelativeMovementMessageData.cs
Due: none

feat(): created new Unit Test for the Data Layer
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Startup.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayerContext.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer_ValueManagment.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Migrations/20190306101217_AddRemoteIoData.Designer.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Migrations/20190306101217_AddRemoteIoData.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_DataLayerUnitTests/DBTestUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_DataLayerUnitTests/DataLayerUnitTest.cs
Due: none

refactor(migrations): remove some minor CA warnings
  Common/EF/Migrations/20181016140443_Initial.cs
  Common/EF/Migrations/20181126112349_Add_Timestamping_To_Tables_Items_SchedulerRequests.cs
  Common/EF/Migrations/20181130094058_Remove_Table_ItemListRowType.cs
  Common/EF/Migrations/20190220103310_Add_Field_IsActive_To_Table_Bays.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(scheduler): add loading unit provider
  WMS/Scheduler/Core/Extensions/ServiceCollectionSchedulerExtensions.cs
  WMS/Scheduler/Core/Interfaces/ILoadingUnitSchedulerProvider.cs
  WMS/Scheduler/Core/Models/LoadingUnit.cs
  WMS/Scheduler/Core/Providers/LoadingUnitSchedulerProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Removed movement type enum and set appsetting.development to default values
  VerticalWarehouses/Common/Common_Utils/Enumerations/MovementType.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
Due: none

fix add Ferretto.WMS.App.ModulesUITests on WMS app sln
  WMS/WMS.App.sln
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] style for textBlock in Cell of grid and apply in LU Edit + Details
  WMS/App/App.Themes/Themes/Light/TextBlock.xaml
  WMS/App/App.Themes/Themes/ThemeDictionary.xaml
  WMS/App/Modules/MasterData/Views/LoadingUnit/LoadingUnitDetailsView.xaml
  WMS/App/Modules/MasterData/Views/LoadingUnit/LoadingUnitEditView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Fix get all assembly tests
  WMS/Pipelines/azure-pipeline-wms-ui-dev.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

test(scheduler): mark ServiceProvider as private in BaseWarehouseTest
  WMS/Scheduler/Tests/BaseWarehouseTest.cs
  WMS/Scheduler/Tests/BayTest.cs
  WMS/Scheduler/Tests/ListProviderTest.cs
  WMS/Scheduler/Tests/MissionProviderTest.cs
  WMS/Scheduler/Tests/RequestCompartmentsTest.cs
  WMS/Scheduler/Tests/RequestConcurrencyTest.cs
  WMS/Scheduler/Tests/SchedulerRequestProviderTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor(scheduler): mark Area and Compartment providers as internal
  WMS/Scheduler/Core/Providers/AreaSchedulerProvider.cs
  WMS/Scheduler/Core/Providers/CompartmentSchedulerProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fixed compilation errors
  VerticalWarehouses/Common/Common_Utils/Enumerations/MessageType.cs
  VerticalWarehouses/Common/Common_Utils/Enumerations/MovementType.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/Resources/InstallationAppModule.cs
Due: none

Fix folder name for ModluesUitests
  WMS/App.ModulesUiTests/App.config
  WMS/App.ModulesUiTests/BindingListener.cs
  WMS/App.ModulesUiTests/BootStrapper.cs
  WMS/App.ModulesUiTests/Ferretto.WMS.App.ModulesUITests.csproj
  WMS/App.ModulesUiTests/MockUI.cs
  WMS/App.ModulesUiTests/ModulesUITest.cs
  WMS/App.ModulesUiTests/ViewInfo.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Fix(): error in the DataLayerUnitTest and CalibrateMachineUnit Test
  VerticalWarehouses/Machine Automation Service/Tests/MAS_DataLayerUnitTests/DataLayerUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/Calibrate/CalibrateStateMachineUnitTest.cs
Due: none

Branch Switch
  VerticalWarehouses/Common/Common_Utils/Messages/Data/CalibrateAxisMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Interfaces/ICalibrateAxisMessageData.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Startup.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedIoDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/ModbusTransportMock.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/SocketTransport.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/SocketTransportMock.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Calibrate/CalibrateStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Calibrate/ErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/CalibrateAxisStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/EnableOperationState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/EndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/ErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/HomingModeState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/ShutdownState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/StartingHomeState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/SwitchOnState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/VoltageDisabledState.cs
Due: none

fixed compilation error
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/Calibrate/CalibrateStateMachineUnitTest.cs
Due: none

refactor: Refactor states machine for simple movement (vertical or horizontal).
  VerticalWarehouses/Common/Common_Utils/Enumerations/Axis.cs
  VerticalWarehouses/Common/Common_Utils/Enumerations/MessageType.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Data/PositioningMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Interfaces/IPositioningMessageData.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/TestController.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/FiniteStateMachines.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HomingStartState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Interface/IPositioningStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/HorizontalPositioningDoneState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/HorizontalPositioningErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/HorizontalPositioningIdleState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/PositioningEndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/PositioningErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/PositioningStartState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/PositioningStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/StateMachineHorizontalPositioning.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/StateMachineVerticalPositioning.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/VerticalPositioningDoneState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/VerticalPositioningErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/VerticalPositioningIdleState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/StateMachineBase.cs
Due: none

Chore(): created the TestInitialize method
  VerticalWarehouses/Machine Automation Service/Tests/MAS_DataLayerUnitTests/DataLayerUnitTest.cs
Due: none

refator(scheduler): update providers to use base provider interfaces
  WMS/Scheduler/Core/Interfaces/IAreaSchedulerProvider.cs
  WMS/Scheduler/Core/Interfaces/ICompartmentSchedulerProvider.cs
  WMS/Scheduler/Core/Interfaces/IItemListRowSchedulerProvider.cs
  WMS/Scheduler/Core/Interfaces/IItemListSchedulerProvider.cs
  WMS/Scheduler/Core/Interfaces/IItemSchedulerProvider.cs
  WMS/Scheduler/Core/Interfaces/ILoadingUnitSchedulerProvider.cs
  WMS/Scheduler/Core/Interfaces/IMissionSchedulerProvider.cs
  WMS/Scheduler/Core/Interfaces/ISchedulerRequestProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: Fix constructor call inside the unit test of DataLayer.
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/Calibrate/CalibrateStateMachineUnitTest.cs
Due: none

[fix] name variable [add] binding sto visibility in WMsHistoryView
  Common/Controls/Controls/WmsView/WmsHistoryView.xaml
  Common/Controls/Controls/WmsView/WmsHistoryView.xaml.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] dp to WmsView to manage visibility of back button
  Common/Controls/Controls/WmsView/WmsView.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] dp on control visibility of button based on show/hide side panel
  WMS/App/Modules/MasterData/Views/LoadingUnit/LoadingUnitEditView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] dependency of scheduler module
  WMS/WMS.App.sln
  WMS/WMS.sln
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

test(scheduler): update tests to include checks on last picked date
  WMS/Scheduler/Tests/MissionProviderTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(scheduler): add logic to support LastPickDate update
  WMS/Scheduler/Core/Models/Compartment/StockUpdateCompartment.cs
  WMS/Scheduler/Core/Models/Item.cs
  WMS/Scheduler/Core/Providers/CompartmentSchedulerProvider.cs
  WMS/Scheduler/Core/Providers/ItemSchedulerProvider.cs
  WMS/Scheduler/Core/Providers/LoadingUnitSchedulerProvider.cs
  WMS/Scheduler/Core/Providers/MissionSchedulerProvider.cs
  WMS/Scheduler/Core/Providers/SchedulerRequestProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Fix WMS.App.sln Fix WMS.sln Remove Ferretto.WMS.App.Tests
  WMS/App.ModulesUiTests/EndToEndTest.cs
  WMS/App.ModulesUiTests/Ferretto.WMS.App.ModulesUITests.csproj
  WMS/App.ModulesUiTests/NLog.config
  WMS/App.ModulesUiTests/StartupTest.cs
  WMS/WMS.App.sln
  WMS/WMS.sln
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: Uncomment the startup for the MAS application
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Startup.cs
Due: none

build: update nuget package solution targets
  Pipelines/azure-pipeline-net4-nuget-template.yml
  Pipelines/azure-pipeline-prod.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: remove duplicate nuget restore
  Pipelines/azure-pipeline-prod.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore:commit required to merge from updated develop branch
  VerticalWarehouses/Common/Common_Utils/Utilities/BlockingConcurrentQueue.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/AutomationService.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Startup.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HomingStartState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/InverterMessage.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/EnableOperationState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/EndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/ErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/HomingModeState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/ShutdownState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/StartingHomeState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/SwitchOnState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/VoltageDisabledState.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/Calibrate/CalibrateStateMachineUnitTest.cs
Due: none

build: remove condition on NSwag.MSBuild package inclusion
  WMS/Data/WebAPI/Ferretto.WMS.Data.WebAPI.csproj
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: change code style settings
  WMS/WMS.sln.DotSettings
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: remove default parameter in DatabaseContext constructor
  Common/EF/DatabaseContext.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: add Ferretto.Common.EF.LinqPad project to test LINQ queries using LinqPad
  Common/EF.LinqPad/DevTestingDatabaseContext.cs
  Common/EF.LinqPad/Ferretto.Common.EF.LinqPad.csproj
  WMS/WMS.sln
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: null pointer exception on GetUniqueValuesAsync
  WMS/Data/Core/Extensions/ProviderExtension.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: add null propagation visitor to where criteria parsing
  WMS/Data/Core/Extensions/IQueryableExtension.cs
  WMS/Data/Core/Visitors/InsertNullPropagationVisitor.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml
