Repository ericquartey/wms: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipeline-database-health-dev.yml, Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Pipelines/azure-pipeline-database-health-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: andrewlackenby.sql-toolkit.runsqlcommand.RunSqlCommand@2
    displayName: Create cloud db
    inputs:
      serverName: rd-ferrettogroup.database.windows.net
      databaseName: master
  ...

Pipelines/azure-pipeline-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
  ...

Pipelines/azure-pipeline-vw-services-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(RestoreBuildProjects)
      feedsToUse: config
      nugetConfigPath: nuget.config
  - task: DotNetCoreCLI@2
  ...

Pipelines/azure-pipeline-vw-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution
    inputs:
      solution: $(TargetSolution)
  ...

Pipelines/azure-pipeline-wms-services-dev.yml:
  queue:
    name: Hosted Ubuntu 1604
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
      targetFolder: $(Build.ArtifactStagingDirectory)\sources
  - task: PublishBuildArtifacts@1
  ...

Pipelines/azure-pipeline-wms-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution WMS.App
    inputs:
      solution: $(TargetSolution)
  ...

chore: update service contracts
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(): work in progress
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedSHDIoDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/InverterStatus/Interfaces/IAngInverterStatus.cs
Due: none

fix merge errors
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/MainWindowViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/MaintenanceMainPageViewModel.cs
  VerticalWarehouses/Panel PC UI/VWApp/MainWindowViewModel.cs
Due: none

Downgraded WMS Contracts nuget package and pointed to production service
  VerticalWarehouses/Common/Common_Utils/Ferretto.VW.Common_Utils.csproj
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Startup.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.json
  VerticalWarehouses/Panel PC UI/Ferretto.VW.WmsCommunication/Ferretto.VW.WmsCommunication.csproj
  VerticalWarehouses/Panel PC UI/Ferretto.VW.WmsCommunication/WmsDataProvider.cs
  VerticalWarehouses/Panel PC UI/VWApp/App.config
  VerticalWarehouses/Panel PC UI/VWApp/MainWindowViewModel.cs
  VerticalWarehouses/Panel PC UI/VWApp/VWAppModule.cs
Due: none

fix: Use the correct method to dispose the Positioning Start state (InverterDriver component)
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Positioning/PositioningStartMovingState.cs
Due: none

add Pick,Put,Other counter in Compartment and merge all in mission count in LU
  Common/DataModels/Compartment.cs
  Common/DataModels/LoadingUnit.cs
  Common/EF/Configurations/CompartmentConfiguration.cs
  Common/EF/Configurations/LoadingUnitConfiguration.cs
  Common/EF/Migrations/20190703125143_MergeCounterInMissionCountInTableLoadingUnitAddCountInCompartments.Designer.cs
  Common/EF/Migrations/20190703125143_MergeCounterInMissionCountInTableLoadingUnitAddCountInCompartments.cs
  Common/EF/Seeds/Dev.Minimal.sql
  WMS/Data/Core/Models/Compartment/CandidateCompartment.cs
  WMS/Data/Core/Models/Compartment/CompartmentDetails.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

update models
  WMS/App/App.Core/Models/Compartment/CompartmentDetails.cs
  WMS/App/App.Core/Models/LoadingUnit/LoadingUnitDetails.cs
  WMS/Data/Core/Models/LoadingUnit/LoadingUnitDetails.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

update provider with new fields
  WMS/App/App.Core/Providers/CompartmentProvider.cs
  WMS/App/App.Core/Providers/LoadingUnitProvider.cs
  WMS/Data/Core/Providers/Data/CompartmentProvider.cs
  WMS/Data/Core/Providers/Data/LoadingUnitProvider.cs
  WMS/Data/Core/Providers/Scheduler/CompartmentOperationProvider.cs
  WMS/Data/Core/Providers/Scheduler/MissionLoadingUnitProvider.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

update resources
  WMS/App/App.Resources/BusinessObjects.Designer.cs
  WMS/App/App.Resources/BusinessObjects.it.resx
  WMS/App/App.Resources/BusinessObjects.resx
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

update view
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentDetailsView.xaml
  WMS/App/Modules/MasterData/Views/LoadingUnit/LoadingUnitDetailsView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

add counter on Completing mission
  WMS/Data/Core/Interfaces/Data/ILoadingUnitProvider.cs
  WMS/Data/Core/Providers/Scheduler/MissionOperationProvider.cs
  WMS/VW/ConsoleApp.Mock/Providers/AutomationProvider.cs
  WMS/VW/ConsoleApp.Mock/Providers/IAutomationProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

split mission LU
  WMS/CodeMaid.config
  WMS/VW/ConsoleApp.Mock/Services/AutomationService.cs
  WMS/VW/ConsoleApp.Mock/UserSelection.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix problem on mission
  WMS/Data/Core/BackgroundServices/SchedulerService.cs
  WMS/Data/Core/Interfaces/Scheduler/IMissionLoadingUnitProvider.cs
  WMS/Data/Core/Interfaces/Scheduler/ISchedulerService.cs
  WMS/Data/Core/Providers/Data/MissionProvider.cs
  WMS/Data/Core/Providers/Scheduler/MissionLoadingUnitProvider.cs
  WMS/Data/WebAPI/Controllers/MissionsController.cs
  WMS/VW/ConsoleApp.Mock/Views.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(): work in progress
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/VertimagConfiguration.json
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/FiniteStateMachines_Methods.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Positioning/PositioningStateMachine.cs
Due: none

feat(missions): fix missions view
  WMS/App/App.Core/Providers/MissionProvider.cs
  WMS/App/App.Themes/Themes/Light/TileBar.xaml
  WMS/App/Modules/Scheduler/Views/MissionsView.xaml
  WMS/Data/Core/Maps/MissionOperationMappingProfile.cs
  WMS/Data/Core/Models/MissionOperation/MissionOperationInfo.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(item): review put compartment selection algorithm
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestPutProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

test: fix broken tests
  WMS/Data/Tests/Scheduler/SchedulerServiceTest.Lists.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

updated WMS Contracts to 0.9.0
  VerticalWarehouses/Common/Common_Utils/Ferretto.VW.Common_Utils.csproj
  VerticalWarehouses/Panel PC UI/Ferretto.VW.WmsCommunication/Ferretto.VW.WmsCommunication.csproj
  VerticalWarehouses/Panel PC UI/Ferretto.VW.WmsCommunication/WmsDataProvider.cs
Due: none

Inserted the DrawerCompactingDetail page, modified the DrawerCompacting page adding new fields and button. Resources file updated.
  VerticalWarehouses/Common/Resources/OperatorApp.Designer.cs
  VerticalWarehouses/Common/Resources/OperatorApp.it.resx
  VerticalWarehouses/Common/Resources/OperatorApp.resx
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Ferretto.VW.OperatorApp.csproj
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Interfaces/IDrawerCompactingDetailViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Resources/OperatorAppModule.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Resources/Views.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/DrawerCompactingDetailView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/DrawerCompactingDetailView.xaml.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/DrawerCompactingDetailViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/DrawerCompactingView.xaml
Due: none

Chore():
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/OffsetCalibrationController.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedSHDIoDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
Due: none

item data grid initialization on OnEnterView
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/SearchItem/ItemSearchViewModel.cs
Due: none

update list on completation/first execution/end execution
  WMS/Data/Core/Providers/Scheduler/MissionOperationProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat: Inject the ISHDTransport interface to the IODevice objects.
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedSHDIoDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/IoDevice/IoDevice.cs
Due: none

fix: use property instead of private field
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentEditViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: rename some machine fields
  Common/DataModels/LoadingUnit.cs
  Common/EF/Configurations/LoadingUnitConfiguration.cs
  Common/EF/Migrations/20190705073136_Rename_Machine_Fields.Designer.cs
  Common/EF/Migrations/20190705073136_Rename_Machine_Fields.cs
  Common/EF/Seeds/Dev.Minimal.sql
  WMS/App/App.Core/Models/LoadingUnit/LoadingUnitDetails.cs
  WMS/App/App.Core/Models/Machine/Machine.cs
  WMS/App/App.Core/Models/Machine/MachineDetails.cs
  WMS/App/App.Core/Providers/LoadingUnitProvider.cs
  WMS/App/App.Core/Providers/MachineProvider.cs
  WMS/App/App.Resources/BusinessObjects.Designer.cs
  WMS/App/App.Resources/BusinessObjects.it.resx
  WMS/App/App.Resources/BusinessObjects.resx
  WMS/App/Modules/Machines/Views/MachineDetailsView.xaml
  WMS/App/Modules/Machines/Views/MachinesView.xaml
  WMS/App/Modules/MasterData/Views/LoadingUnit/LoadingUnitDetailsView.xaml
  WMS/Data/Core/Interfaces/Data/ILoadingUnitProvider.cs
  WMS/Data/Core/Models/LoadingUnit/LoadingUnitDetails.cs
  WMS/Data/Core/Models/Machine/Machine.cs
  WMS/Data/Core/Models/Machine/MachineDetails.cs
  WMS/Data/Core/Providers/Data/LoadingUnitProvider.cs
  WMS/Data/Core/Providers/Data/MachineProvider.cs
  WMS/Data/Core/Providers/Scheduler/MissionLoadingUnitProvider.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat: Set the interface of Transport via DI inside the IoDevices.
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Startup.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedSHDIoDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/IoDevice/IoDevice.cs
Due: none

Chore():
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver_Utility.cs
Due: none

feat (machine-details): calculate missing machine details statistics
  WMS/App/App.Core/Models/Machine/MachineDetails.cs
  WMS/App/App.Resources/BusinessObjects.Designer.cs
  WMS/App/App.Resources/BusinessObjects.it.resx
  WMS/App/App.Resources/BusinessObjects.resx
  WMS/App/Modules/Machines/Views/MachineDetailsView.xaml
  WMS/Data/Core/Models/Machine/MachineDetails.cs
  WMS/Data/Core/Models/Machine/MachineItems.cs
  WMS/Data/Core/Models/Machine/MachineOccupation.cs
  WMS/Data/Core/Models/Machine/MachinesLoadingUnitsInfo.cs
  WMS/Data/Core/Providers/Data/MachineProvider.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: Fix the construction of telegram to send to RemoteIO to configure the device.
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/IoDevice/IoDevice.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/IoSHDWriteMessage.cs
Due: none

build: point to new ferretto nuget server
  nuget.config
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: remove unused Machine field ActualWeight
  Common/DataModels/Machine.cs
  Common/EF/Migrations/20190705094145_Remove_ActualWeight_From_Machine.Designer.cs
  Common/EF/Migrations/20190705094145_Remove_ActualWeight_From_Machine.cs
  WMS/App/App.Core/Models/Machine/Machine.cs
  WMS/App/App.Core/Models/Machine/MachineDetails.cs
  WMS/Data/Core/Models/Machine/Machine.cs
  WMS/Data/Core/Models/Machine/MachineDetails.cs
  WMS/Data/Core/Providers/Data/ItemListProvider.cs
  WMS/Data/Core/Providers/Data/ItemListRowProvider.cs
  WMS/Data/Core/Providers/Data/MachineProvider.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat (machines): add WeightFillRate calculation
  WMS/App/App.Core/Models/Machine/Machine.cs
  WMS/App/App.Core/Models/Machine/MachineDetails.cs
  WMS/App/App.Core/Models/Machine/MachineLive.cs
  WMS/App/App.Core/Providers/MachineProvider.cs
  WMS/App/App.Resources/BusinessObjects.Designer.cs
  WMS/App/App.Resources/BusinessObjects.it.resx
  WMS/App/App.Resources/BusinessObjects.resx
  WMS/App/Modules/Machines/ViewModels/MachineDetailsViewModel.cs
  WMS/App/Modules/Machines/ViewModels/MachinesViewModel.cs
  WMS/App/Modules/Machines/Views/MachineDetailsView.xaml
  WMS/App/Modules/Machines/Views/MachinesView.xaml
  WMS/Data/Core/Models/Machine/Machine.cs
  WMS/Data/Core/Models/Machine/MachineDetails.cs
  WMS/Data/Core/Models/Machine/MachinesLoadingUnitsInfo.cs
  WMS/Data/Core/Providers/Data/MachineProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore (progressbar): allow progressbar height changing
  WMS/App/App.Controls/Controls/ProgressBarEdit/ProgressBarEdit.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: change all VW references to custom nuget packages to stable version (the only ones trasferred on new nuget server)
  VerticalWarehouses/Common/Common_Utils/Ferretto.VW.Common_Utils.csproj
  VerticalWarehouses/Panel PC UI/Ferretto.VW.WmsCommunication/Ferretto.VW.WmsCommunication.csproj
  VerticalWarehouses/Panel PC UI/Utils/Ferretto.VW.Utils.csproj
Due: none

fix: Handle the stop of timer to request the status word message to the Inverter device in the Positioning operation.
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Positioning/PositioningStartMovingState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Stop/StopEndState.cs
Due: none

refactor: general refactoring
  VerticalWarehouses/Common/Resources/InstallationApp.it.resx
  VerticalWarehouses/Common/Resources/InstallationApp.resx
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/FieldData/PositioningFieldMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/FieldData/ShutterPositioningFieldMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/FieldNotificationMessage.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpStatisticsGeneralData.xaml.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/MainWindow.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/MainWindow.xaml.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/Details/DrawerActivityRefillingDetailView.xaml.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerActivityInventoryView.xaml.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerWaitView.xaml.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/IdleView.xaml.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/MainWindowNavigationButtonsView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/MaintenanceDetailView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/WaitingLists/ListDetail/DetailListInWaitView.xaml.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/WaitingLists/ListsInWaitView.xaml.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/MainWindow.xaml
  VerticalWarehouses/Panel PC UI/InstallationApp/MainWindow.xaml.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/Properties/Settings.Designer.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/Properties/Settings.settings
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/LowSpeedMovements/LSMTMainViewModel.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SensorsState/SSBaysViewModel.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SensorsState/SSCradleViewModel.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SensorsState/SSVerticalAxisViewModel.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/ShuttersControl/Shutter1ControlViewModel.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/BeltBurnishingViewModel.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/ResolutionCalibrationVerticalAxisView.xaml
  VerticalWarehouses/Panel PC UI/InstallationApp/packages.config
  VerticalWarehouses/Panel PC UI/Utils/Ferretto.VW.Utils.csproj
  VerticalWarehouses/Panel PC UI/VWApp/IMainWindow.cs
  VerticalWarehouses/Panel PC UI/VWApp/Interfaces/IBootstrapper.cs
  VerticalWarehouses/Panel PC UI/VWApp/MainWindow.xaml.cs
  VerticalWarehouses/VerticalWarehouses.sln
Due: none

refactor: cleanup tests
  VerticalWarehouses/Machine Automation Service/Tests/MAS_AutomationServiceTests/AutomationServiceTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_AutomationServiceTests/Ferretto.VW.MAS.AutomationService.Tests.csproj
  VerticalWarehouses/Machine Automation Service/Tests/MAS_AutomationServiceTests/UnitTest1.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_DataLayerUnitTests/Ferretto.VW.MAS.DataLayer.Tests.csproj
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/Ferretto.VW.MAS.FiniteStateMachines.Tests.csproj
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/Ferretto.VW.MAS.InverterDriver.Tests.csproj
  VerticalWarehouses/Machine Automation Service/Tests/MAS_IoDriverUnitTests/Ferretto.VW.MAS.IoDriver.Tests.csproj
Due: none

Path conditions:
  Pipelines/azure-pipeline-database-health-dev.yml: any of: Common\DataModels, Common\EF, but not: VerticalWarehouses, WMS, Common
  Pipelines/azure-pipeline-dev.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-vw-services-dev.yml: any of: *, VerticalWarehouses\Machine Automation Service, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-vw-ui-dev.yml: any of: *, VerticalWarehouses\Panel PC User Interface, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-wms-services-dev.yml: any file but: VerticalWarehouses, WMS\App
  Pipelines/azure-pipeline-wms-ui-dev.yml: any file but: VerticalWarehouses, WMS\Data, WMS\Scheduler
