Repository ericquartey/wms: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipeline-database-health-dev.yml, Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Pipelines/azure-pipeline-database-health-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: andrewlackenby.sql-toolkit.runsqlcommand.RunSqlCommand@2
    displayName: Create cloud db
    inputs:
      serverName: rd-ferrettogroup.database.windows.net
      databaseName: master
  ...

Pipelines/azure-pipeline-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
  ...

Pipelines/azure-pipeline-vw-services-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(RestoreBuildProjects)
      feedsToUse: config
      nugetConfigPath: nuget.config
  - task: DotNetCoreCLI@2
  ...

Pipelines/azure-pipeline-vw-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution
    inputs:
      solution: $(TargetSolution)
  ...

Pipelines/azure-pipeline-wms-services-dev.yml:
  queue:
    name: Hosted Ubuntu 1604
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
      targetFolder: $(Build.ArtifactStagingDirectory)\sources
  - task: PublishBuildArtifacts@1
  ...

Pipelines/azure-pipeline-wms-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution WMS.App
    inputs:
      solution: $(TargetSolution)
  ...

feat(): Changed the IoDriverExceptionMessageData in a IoExceptionFieldMessageData
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/FieldData/IoExceptionFieldMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/FieldInterfaces/IIoExceptionFieldMessageData.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/FiniteStateMachines.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedSHDIoDriver.cs
Due: none

build: refactor pipeline stage names
  WMS/Pipelines/azure-pipeline-wms-services-template.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(item-pick): create endpoint to retrieve pickable quantity
  WMS/Data/Core/Interfaces/Scheduler/ISchedulerRequestPickProvider.cs
  WMS/Data/Core/Interfaces/Scheduler/ISchedulerService.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestPickProvider.cs
  WMS/Data/Core/Services/SchedulerService.cs
  WMS/Data/WebAPI/Controllers/ItemsController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(item-pick): add call to item availability on user input
  WMS/App/App.Core/Interfaces/IItemProvider.cs
  WMS/App/App.Core/Models/Item/ItemPick.cs
  WMS/App/App.Core/Models/Item/ItemPut.cs
  WMS/App/App.Core/Providers/ItemProvider.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemPickViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemPutViewModel.cs
  WMS/App/Modules/MasterData/Views/Item/ItemPickView.xaml
  WMS/App/Modules/MasterData/Views/Item/ItemPutView.xaml
  WMS/Data/Core/Services/SchedulerService.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(scheduler): add service shutdown on critical startup errors
  WMS/Data/Core/Services/SchedulerService.cs
  WMS/Data/Tests/Scheduler/BaseWarehouseTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(data-service): create data validation attributes for numeric values
  WMS/Data/Core/Attributes/PositiveAttribute.cs
  WMS/Data/Core/Attributes/PositiveOrZeroAttribute.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: add data validation attributes to models
  WMS/App/App.Core/Providers/CompartmentProvider.cs
  WMS/App/App.Core/Providers/LoadingUnitProvider.cs
  WMS/Data/Core/Models/Area/AllowedItemArea.cs
  WMS/Data/Core/Models/Auth/User.cs
  WMS/Data/Core/Models/BaseModel.cs
  WMS/Data/Core/Models/Bay/Bay.cs
  WMS/Data/Core/Models/Bay/BayAvailable.cs
  WMS/Data/Core/Models/Cell/Cell.cs
  WMS/Data/Core/Models/Cell/CellDetails.cs
  WMS/Data/Core/Models/Compartment/CandidateCompartment.cs
  WMS/Data/Core/Models/Compartment/Compartment.cs
  WMS/Data/Core/Models/Compartment/CompartmentDetails.cs
  WMS/Data/Core/Models/Compartment/CompartmentSet.cs
  WMS/Data/Core/Models/Item/AllowedItemInCompartment.cs
  WMS/Data/Core/Models/Item/Item.cs
  WMS/Data/Core/Models/Item/ItemCompartmentType.cs
  WMS/Data/Core/Models/Item/ItemDetails.cs
  WMS/Data/Core/Models/Item/ItemOptions.cs
  WMS/Data/Core/Models/ItemList/ItemList.cs
  WMS/Data/Core/Models/ItemList/ItemListDetails.cs
  WMS/Data/Core/Models/ItemList/ItemListOperation.cs
  WMS/Data/Core/Models/ItemListRow/ItemListRow.cs
  WMS/Data/Core/Models/ItemListRow/ItemListRowDetails.cs
  WMS/Data/Core/Models/ItemListRow/ItemListRowOperation.cs
  WMS/Data/Core/Models/LoadingUnit/LoadingUnit.cs
  WMS/Data/Core/Models/LoadingUnit/LoadingUnitCreating.cs
  WMS/Data/Core/Models/LoadingUnit/LoadingUnitDetails.cs
  WMS/Data/Core/Models/LoadingUnit/LoadingUnitSize.cs
  WMS/Data/Core/Models/Machine/Machine.cs
  WMS/Data/Core/Models/Machine/MachinePick.cs
  WMS/Data/Core/Models/Mission/CompartmentMissionInfo.cs
  WMS/Data/Core/Models/Mission/ItemListRowMissionInfo.cs
  WMS/Data/Core/Models/Mission/LoadingUnitMissionInfo.cs
  WMS/Data/Core/Models/Mission/Mission.cs
  WMS/Data/Core/Models/Mission/MissionDetails.cs
  WMS/Data/Core/Models/Mission/MissionExecution.cs
  WMS/Data/Core/Models/SchedulerRequest/ItemSchedulerRequest.cs
  WMS/Data/Core/Providers/Data/LoadingUnitProvider.cs
  WMS/Data/Tests/Models/ItemTest.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(item-put): update view to support fractional quantity
  WMS/App/Modules/MasterData/Views/Item/ItemPutView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Small layout adjustment to some pages.
  VerticalWarehouses/Common/Resources/HelpDescriptions.Designer.cs
  VerticalWarehouses/Common/Resources/HelpDescriptions.it.resx
  VerticalWarehouses/Common/Resources/HelpDescriptions.resx
  VerticalWarehouses/Common/Resources/OperatorApp.Designer.cs
  VerticalWarehouses/Common/Resources/OperatorApp.it.resx
  VerticalWarehouses/Common/Resources/OperatorApp.resx
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpGeneralInfo.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/MainWindowNavigationButtonsView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/MainWindowNavigationButtonsViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/GeneralInfoView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/MaintenanceDetailView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/MaintenanceMainPageView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/OtherNavigationView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/Statistics/StatisticsNavigationView.xaml
  VerticalWarehouses/Panel PC UI/VWApp/MainWindow.xaml
Due: none

feat(): general_info.json and installation_info.json files and dependencies removed
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.json
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/general_info.json
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/installation_info.json
  VerticalWarehouses/Machine Automation Service/Tests/MAS_DataLayerUnitTests/DataLayerUnitTest.cs
  VerticalWarehouses/Panel PC UI/Utils/Ferretto.VW.Utils.csproj
  VerticalWarehouses/Panel PC UI/Utils/Source/DataManager.cs
  VerticalWarehouses/Panel PC UI/Utils/Source/FileManagement/DataManager.cs
  VerticalWarehouses/Panel PC UI/Utils/Source/IDataManager.cs
  VerticalWarehouses/Panel PC UI/VWApp/App.config
  VerticalWarehouses/Panel PC UI/VWApp/App.xaml.cs
  VerticalWarehouses/Panel PC UI/VWApp/Bootstrapper.cs
  VerticalWarehouses/Panel PC UI/VWApp/MainWindowViewModel.cs
Due: none

feat(MissionManager): elaborated pick procedure
  VerticalWarehouses/Common/Common_Utils/Messages/Data/ExecuteMissionMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Interfaces/IExecuteMissionMessageData.cs
  VerticalWarehouses/Common/Resources/OperatorApp.resx
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/AutomationService.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/AutomationService_Methods.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/OperatorController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/TestController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/TestController_Methods.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Hubs/Interfaces/IOperatorHub.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/ServiceContracts.autogen.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/Services.autogen.cs
  VerticalWarehouses/Machine Automation Service/MAS_MissionsManager/MissionManager_Methods.cs
  VerticalWarehouses/Machine Automation Service/MAS_MissionsManager/MissionsManager.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Interfaces/IMainWindowNavigationButtonsViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Resources/OperatorAppModule.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ServiceUtilities/BayManager.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ServiceUtilities/OperatorHubClient.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerActivityPickingView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerActivityPickingViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/MainWindowNavigationButtonsViewModel.cs
  VerticalWarehouses/Panel PC UI/VWApp/MainWindowViewModel.cs
  VerticalWarehouses/Panel PC UI/VWApp/NotificationCatcher.cs
Due: none

feat: Remove the specific version for some nuget packages in the AutomationService file project
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/MAS_AutomationService.csproj
Due: none

feat(MissionManager): completed first item call test cycle
  VerticalWarehouses/Machine Automation Service/MAS_MissionsManager/MissionManager_Methods.cs
  VerticalWarehouses/Panel PC UI/CustomControls/TestArticle.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/NavigationService.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerActivityPickingViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/SearchItem/ItemSearchView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/SearchItem/ItemSearchViewModel.cs
Due: none

test: fix missing injection
  WMS/Data/Tests/Controllers/BaseControllerTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore():
  VerticalWarehouses/Panel PC UI/Utils/Ferretto.VW.Utils.csproj
Due: none

fix: merge errors
  WMS/Data/Core/Models/Compartment/CompartmentDetails.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(MissionManager): added item call isActive logic
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/SearchItem/ItemSearchView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/SearchItem/ItemSearchViewModel.cs
Due: none

refactor: fix typo
  WMS/App/App.Core/Providers/ItemProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(MissionManager): Added feedback notifier
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/FeedbackNotifier.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Interfaces/IFeedbackNotifier.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Interfaces/IMainWindowBackToOAPPButtonViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Resources/OperatorAppModule.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/MainWindowBackToOAPPButtonView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/MainWindowBackToOAPPButtonViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/SearchItem/ItemSearchViewModel.cs
Due: none

feat(MissionManager): implemented feedback notifier
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/NavigationService.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Resources/OperatorAppModule.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerWaitView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerWaitViewModel.cs
Due: none

feat(MissionManager): fixed logic error
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/OperatorController.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Interfaces/IDrawerActivityViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Resources/OperatorAppModule.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ServiceUtilities/BayManager.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerActivityInventoryViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerActivityPickingViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerActivityRefillingViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerWaitViewModel.cs
Due: none

chore add CompartmentTypesToItemView
  WMS/App/Modules/MasterData/ViewModels/CompartmentTypes/CompartmentTypesToItemViewModel.cs
  WMS/App/Modules/MasterData/Views/CompartmentTypes/CompartmentTypesToItemView.xaml
  WMS/App/Modules/MasterData/Views/CompartmentTypes/CompartmentTypesToItemView.xaml.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore fix remove unused resource
  Common/Resources/Navigation.Designer.cs
  Common/Resources/Navigation.it.resx
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore refactor Item with step
  Common/Resources/General.Designer.cs
  Common/Resources/General.it.resx
  Common/Resources/General.resx
  Common/Utils/Modules/MasterData.cs
  WMS/App/App.Controls/Controls/WmsWizard/IItemsViewModel.cs
  WMS/App/App.Controls/Controls/WmsWizard/IStepNavigableViewModel.cs
  WMS/App/App.Controls/Controls/WmsWizard/IStepsViewModel.cs
  WMS/App/App.Controls/Controls/WmsWizard/StepViewModel.cs
  WMS/App/App.Controls/Controls/WmsWizard/StepsViewModel.cs
  WMS/App/App.Controls/Controls/WmsWizard/WmsWizardView.cs
  WMS/App/App.Controls/Services/PubSubEvents/StepsPubSubEvent.cs
  WMS/App/Modules/MasterData/MasterDataModule.cs
  WMS/App/Modules/MasterData/ViewModels/CompartmentTypes/AssociateCompartmentTypesStepsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/CompartmentTypes/AssociateCompartmentTypesViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemDetailsViewModel.cs
  WMS/App/Modules/MasterData/Views/CompartmentTypes/AssociateCompartmentTypesItemsView.xaml
  WMS/App/Modules/MasterData/Views/CompartmentTypes/AssociateCompartmentTypesItemsView.xaml.cs
  WMS/CodeMaid.config
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore fix CodeMaid.config
  WMS/CodeMaid.config
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor(): reverted change in appsetting.development
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
Due: none

remove reference rule s1200 fix resource move call to righe controller
  Common/Resources/General.it.resx
  WMS/App/App.Core/Models/Item/AssociateItemWithCompartmentType.cs
  WMS/App/App.Core/Providers/ItemProvider.cs
  WMS/Data/Core/Providers/Data/ItemProvider.cs
  WMS/Data/Tests/Controllers/CompartmentTypesControllerTest.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
  WMS/Data/WebAPI/Controllers/CompartmentTypesController.cs
  WMS/Data/WebAPI/Controllers/ItemsController.cs
  analysis.ruleset
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: change parameter order for BadRequestOperationResult
  WMS/Data/Core/Models/OperationResult/BadRequestOperationResult.cs
  WMS/Data/Core/Providers/Scheduler/ItemListExecutionProvider.cs
  WMS/Data/Core/Providers/Scheduler/ItemListRowExecutionProvider.cs
  WMS/Data/Core/Providers/Scheduler/MissionExecutionProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(requests): ensure multiple requests are created when needed
  WMS/Data/Core/Interfaces/Scheduler/IItemListRowExecutionProvider.cs
  WMS/Data/Core/Interfaces/Scheduler/ISchedulerRequestExecutionProvider.cs
  WMS/Data/Core/Interfaces/Scheduler/ISchedulerRequestPickProvider.cs
  WMS/Data/Core/Interfaces/Scheduler/ISchedulerRequestPutProvider.cs
  WMS/Data/Core/Interfaces/Scheduler/ISchedulerService.cs
  WMS/Data/Core/Providers/Data/ItemListRowProvider.cs
  WMS/Data/Core/Providers/Data/ItemProvider.cs
  WMS/Data/Core/Providers/Scheduler/ItemListExecutionProvider.cs
  WMS/Data/Core/Providers/Scheduler/ItemListRowExecutionProvider.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestExecutionProvider.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestPickProvider.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestPutProvider.cs
  WMS/Data/Core/Services/SchedulerService.cs
  WMS/Data/Tests/Scheduler/BaseWarehouseTest.cs
  WMS/Data/Tests/Scheduler/SchedulerRequestPickProviderTest.Compartments.cs
  WMS/Data/Tests/Scheduler/SchedulerRequestPickProviderTest.cs
  WMS/Data/Tests/Scheduler/SchedulerRequestPutProviderTest.cs
  WMS/Data/Tests/Scheduler/SchedulerServiceTest.Lists.cs
  WMS/Data/WebAPI/Controllers/ItemListRowsController.cs
  WMS/Data/WebAPI/Controllers/ItemsController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: fix typo
  WMS/Data/Core/Services/SchedulerService.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fi(): fixed SHDIODriver bug
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedSHDIoDriver.cs
Due: none

fix: Deque and handle more notification message from the queue in the Automation Service component. Provide the notification message data object with properties to be serialized (and deserialized).
  VerticalWarehouses/Common/Common_Utils/Messages/Data/HomingMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Data/PositioningMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Data/ShutterPositioningMessageData.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/AutomationService.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.SignalRClientConsole/Program.cs
Due: none

fix resources string
  Common/Resources/BusinessObjects.Designer.cs
  Common/Resources/BusinessObjects.it.resx
  Common/Resources/BusinessObjects.resx
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

move static refill data from app to dataservice
  WMS/App/App.Core/Providers/MachineProvider.cs
  WMS/Data/Core/Models/Machine/MachineDetails.cs
  WMS/Data/Core/Providers/Data/MachineProvider.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

remove add file in csproj
  WMS/App/App.Controls/Ferretto.WMS.App.Controls.csproj
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

remove rule in file
  WMS/App/App.Controls/Controls/ProgressBarEdit/ProgressBarEdit.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

review layout details
  WMS/App/Modules/Machines/Views/MachineDetailsView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

update seed image
  Common/EF/Seeds/Dev.Minimal.sql
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: Remove a line code inserted for testing the IODriver error message notification
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedSHDIoDriver.cs
Due: none

build: add Nuget artifact
  WMS/Pipelines/azure-pipeline-wms-services-template.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Path conditions:
  Pipelines/azure-pipeline-database-health-dev.yml: any of: Common\DataModels, Common\EF, but not: VerticalWarehouses, WMS, Common
  Pipelines/azure-pipeline-dev.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-vw-services-dev.yml: any of: *, VerticalWarehouses\Machine Automation Service, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-vw-ui-dev.yml: any of: *, VerticalWarehouses\Panel PC User Interface, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-wms-services-dev.yml: any file but: VerticalWarehouses, WMS\App
  Pipelines/azure-pipeline-wms-ui-dev.yml: any file but: VerticalWarehouses, WMS\Data, WMS\Scheduler
