Repository ericquartey/wms: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipeline-database-health-dev.yml, Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml

Path conditions:
  Pipelines/azure-pipeline-database-health-dev.yml: any of: Common\DataModels, Common\EF, but not: VerticalWarehouses, WMS, Common
  Pipelines/azure-pipeline-dev.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-prod.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-vw-services-dev.yml: any of: *, VerticalWarehouses\Machine Automation Service, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-vw-ui-dev.yml: any of: VerticalWarehouses\Panel PC User Interface, but not: Common, WMS
  Pipelines/azure-pipeline-wms-services-dev.yml: any file but: VerticalWarehouses, WMS\App

build: fix pipelines trigger
  Pipelines/azure-pipeline-vw-services-dev.yml
  Pipelines/azure-pipeline-vw-ui-dev.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml

build: reactivate versioning task on all pipelines
  Pipelines/azure-pipeline-net4-nuget-template.yml
  Pipelines/azure-pipeline-vw-services-dev.yml
  Pipelines/azure-pipeline-vw-ui-dev.yml
  Pipelines/azure-pipeline-wms-services-dev.yml
  Pipelines/azure-pipeline-wms-ui-dev.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml

build: fix syntax error
  Pipelines/azure-pipeline-wms-ui-dev.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml

Added default case to switch loop
  VerticalWarehouses/MAS_MissionsManager/MissionsManager.cs
Due: none

feat: Add error state to the vertical homing states machine
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/VerticalHoming/VerticalHomingErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/VerticalHoming/VerticalHomingIdleState.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/VerticalHoming/VerticalHomingErrorStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/VerticalHoming/VerticalHomingIdleStateUnitTest.cs
Due: none

[add] check on where is null in ExpressionExtension
  Common/Utils/Expressions/ExpressionExtensions.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml

[add] new search in all view: machine+cell+comp+list+lu+mission+req
  WMS/App/Modules/Machines/Views/MachinesView.xaml
  WMS/App/Modules/MasterData/Views/Cell/CellsView.xaml
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentsView.xaml
  WMS/App/Modules/MasterData/Views/ItemList/ItemListsView.xaml
  WMS/App/Modules/MasterData/Views/LoadingUnit/LoadingUnitsView.xaml
  WMS/App/Modules/Scheduler/Views/MissionsView.xaml
  WMS/App/Modules/Scheduler/Views/SchedulerRequestsView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml

Cell control help page inserted. Resources file updated.
  VerticalWarehouses/Common/Resources/HelpDescriptions.Designer.cs
  VerticalWarehouses/Common/Resources/HelpDescriptions.it.resx
  VerticalWarehouses/Common/Resources/HelpDescriptions.resx
  VerticalWarehouses/Common/Resources/InstallationApp.it.resx
  VerticalWarehouses/InstallationApp/HelpWindows/HelpCellsControlView.xaml
Due: none

feat(): Add some configuration parameter, created method to search for a free block
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/CellManagmentEnum.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/ConfigurationValueEnum.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Interfaces/IDataLayer.cs
Due: none

[hide] filter panel in machine
  WMS/App/Modules/Machines/Views/MachinesView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml

Moved mission manager into MAS folder
  VerticalWarehouses/Machine Automation Service/MAS_MissionsManager/MAS_MissionsManager.csproj
  VerticalWarehouses/Machine Automation Service/MAS_MissionsManager/MissionsManager.cs
  VerticalWarehouses/VerticalWarehouses.sln
Due: none

refactor(business-providers): align providers to new common interfaces
  Common/BusinessProviders/CellProvider.cs
  Common/BusinessProviders/CompartmentProvider.cs
  Common/BusinessProviders/Enumerations/CompartmentTypeProvider.cs
  Common/BusinessProviders/Interfaces/IAisleProvider.cs
  Common/BusinessProviders/Interfaces/IAreaProvider.cs
  Common/BusinessProviders/Interfaces/IBayProvider.cs
  Common/BusinessProviders/Interfaces/ICellProvider.cs
  Common/BusinessProviders/Interfaces/ICompartmentProvider.cs
  Common/BusinessProviders/Interfaces/IItemCompartmentTypeProvider.cs
  Common/BusinessProviders/Interfaces/IItemListProvider.cs
  Common/BusinessProviders/Interfaces/IItemListRowProvider.cs
  Common/BusinessProviders/Interfaces/ILoadingUnitProvider.cs
  Common/BusinessProviders/Interfaces/IMachineProvider.cs
  Common/BusinessProviders/Interfaces/IMissionProvider.cs
  Common/BusinessProviders/Interfaces/ISchedulerRequestProvider.cs
  Common/BusinessProviders/Interfaces/IUserProvider.cs
  Common/BusinessProviders/ItemListProvider.cs
  Common/BusinessProviders/ItemListRowProvider.cs
  Common/BusinessProviders/ItemProvider.cs
  Common/BusinessProviders/LoadingUnitProvider.cs
  Common/BusinessProviders/MachineProvider.cs
  Common/BusinessProviders/MissionProvider.cs
  Common/BusinessProviders/SchedulerRequestProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml

chore: move provider factory to Data/Core folder
  WMS/Data/Core/ProviderFactory.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml

test: update scheduler and controller tests
  WMS/Data/Tests/Controllers/AislesControllerTest.cs
  WMS/Data/Tests/Controllers/AreasControllerTest.cs
  WMS/Data/Tests/Controllers/BaseControllerTest.cs
  WMS/Data/Tests/Controllers/BaysControllerTest.cs
  WMS/Data/Tests/Controllers/CellStatusesControllerTest.cs
  WMS/Data/Tests/Controllers/CellTypesControllerTest.cs
  WMS/Data/Tests/Controllers/CompartmentStatusesControllerTest.cs
  WMS/Data/Tests/Controllers/CompartmentTypesControllerTest.cs
  WMS/Data/Tests/Controllers/ItemCategoriesControllerTest.cs
  WMS/Data/Tests/Controllers/ItemsControllerTest.cs
  WMS/Data/Tests/Controllers/LoadingUnitStatusesControllerTest.cs
  WMS/Data/Tests/Controllers/LoadingUnitTypesControllerTest.cs
  WMS/Data/Tests/Controllers/MaterialStatusesControllerTest.cs
  WMS/Data/Tests/Controllers/MeasureUnitsControllerTest.cs
  WMS/Data/Tests/Controllers/PackageTypesControllerTest.cs
  WMS/Scheduler/Tests/BaseWarehouseTest.cs
  WMS/Scheduler/Tests/BayTest.cs
  WMS/Scheduler/Tests/ListTest.cs
  WMS/Scheduler/Tests/RequestCompartmentsTest.cs
  WMS/Scheduler/Tests/RequestConcurrencyTest.cs
  WMS/Scheduler/Tests/SchedulerRequestProviderTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml

refactor(scheduler): move scheduler business logic to separate providers
  WMS/Scheduler/Core/Extensions/ServiceCollectionSchedulerExtensions.cs
  WMS/Scheduler/Core/Interfaces/ICompartmentSchedulerProvider.cs
  WMS/Scheduler/Core/Interfaces/IMissionSchedulerProvider.cs
  WMS/Scheduler/Core/Interfaces/ISchedulerRequestProvider.cs
  WMS/Scheduler/Core/Providers/CompartmentSchedulerProvider.cs
  WMS/Scheduler/Core/Providers/ItemListSchedulerProvider.cs
  WMS/Scheduler/Core/Providers/MissionSchedulerProvider.cs
  WMS/Scheduler/Core/Providers/SchedulerRequestProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml

refactor(controllers): align controllers to the common provider interfaces
  WMS/Data/WebAPI/Controllers/CellsController.cs
  WMS/Data/WebAPI/Controllers/CompartmentsController.cs
  WMS/Data/WebAPI/Controllers/ItemListRowsController.cs
  WMS/Data/WebAPI/Controllers/ItemListsController.cs
  WMS/Data/WebAPI/Controllers/ItemsController.cs
  WMS/Data/WebAPI/Controllers/LoadingUnitsController.cs
  WMS/Data/WebAPI/Controllers/MachinesController.cs
  WMS/Data/WebAPI/Controllers/MissionsController.cs
  WMS/Data/WebAPI/Controllers/SchedulerRequestsController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml

refactor(app): update references to TKey generic param
  WMS/App/Modules/Machines/ViewModels/MachinesViewModel.cs
  WMS/App/Modules/Machines/Views/MachinesView.xaml.cs
  WMS/App/Modules/MasterData/ViewModels/Cell/CellDetailsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Cell/CellsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentAddBulkViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentAddViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentDetailsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentEditViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemAddDialogViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemDetailsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/ItemList/ItemListDetailsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/ItemList/ItemListExecuteDialogViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/ItemList/ItemListsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/ItemListRow/ItemListRowDetailsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/ItemListRow/ItemListRowExecuteDialogViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/LoadingUnit/LoadingUnitDetailsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/LoadingUnit/LoadingUnitsViewModel.cs
  WMS/App/Modules/Scheduler/ViewModels/MissionsViewModel.cs
  WMS/App/Modules/Scheduler/ViewModels/SchedulerRequestsViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml

refactor(providers): update Data.Core providers to the common providers interfaces
  WMS/Data/Core/Providers/CellProvider.cs
  WMS/Data/Core/Providers/CompartmentProvider.cs
  WMS/Data/Core/Providers/ItemListProvider.cs
  WMS/Data/Core/Providers/ItemListRowProvider.cs
  WMS/Data/Core/Providers/ItemProvider.cs
  WMS/Data/Core/Providers/LoadingUnitProvider.cs
  WMS/Data/Core/Providers/MachineProvider.cs
  WMS/Data/Core/Providers/MissionProvider.cs
  WMS/Data/Core/Providers/SchedulerRequestProvider.cs
  WMS/Data/Tests/Controllers/AbcClassesControllerTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml

refactor: update common files to align to the new provider interfaces
  Common/BLL.Interfaces/Base/IReadAllPagedAsyncProvider.cs
  Common/Controls/ViewModels/EntityPagedListViewModel.cs
  Common/Modules/BLL/BusinessLogicModule.cs
  Common/Modules/BLL/Services/DataSourceService.cs
  Common/Utils/Expressions/ExpressionExtensions.cs
  WMS/Data/WebAPI/Startup.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml

chore: update autogen contracts
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml

Fix edit buttons always disabled, Fix AddTimestamps on DatabaseContext
  Common/BusinessModels/ChangeDetector.cs
  Common/EF/DatabaseContext.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml

test: remove CleanupDatabase
  WMS/Data/Tests/Controllers/AbcClassesControllerTest.cs
  WMS/Data/Tests/Controllers/AislesControllerTest.cs
  WMS/Data/Tests/Controllers/AreasControllerTest.cs
  WMS/Data/Tests/Controllers/BaseControllerTest.cs
  WMS/Data/Tests/Controllers/BaysControllerTest.cs
  WMS/Data/Tests/Controllers/CellStatusesControllerTest.cs
  WMS/Data/Tests/Controllers/CellTypesControllerTest.cs
  WMS/Data/Tests/Controllers/CompartmentStatusesControllerTest.cs
  WMS/Data/Tests/Controllers/CompartmentTypesControllerTest.cs
  WMS/Data/Tests/Controllers/ItemCategoriesControllerTest.cs
  WMS/Data/Tests/Controllers/ItemsControllerTest.cs
  WMS/Data/Tests/Controllers/LoadingUnitStatusesControllerTest.cs
  WMS/Data/Tests/Controllers/LoadingUnitTypesControllerTest.cs
  WMS/Data/Tests/Controllers/MaterialStatusesControllerTest.cs
  WMS/Data/Tests/Controllers/MeasureUnitsControllerTest.cs
  WMS/Data/Tests/Controllers/PackageTypesControllerTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml

build(pipelines): revert pipeline changes
  Pipelines/azure-pipeline-build-services-template.yml
  Pipelines/azure-pipeline-wms-services-dev.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml

feat: Add error state to complete homing states machine
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HomingErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HomingIdleState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HorizontalHomingDoneState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HorizontalSwitchDoneState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/VerticalHomingDoneState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/VerticalSwitchDoneState.cs
Due: none

Created mock classes for NewInverterDriver, NewRemoteIODriver and HostedInverterDriver, changed DI in startup so that now we can debug the service
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Startup.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/NewRemoteIODriverMock.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriverMock.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/NewInverterDriverMock.cs
Due: none

Chore(): Changed algorithm to find a free block
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Interfaces/IDataLayer.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/ReturnMissionPosition.cs
Due: none

Chore(): Removed comments and repaired a problem in the MissionsManager.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
  VerticalWarehouses/Machine Automation Service/MAS_MissionsManager/MAS_MissionsManager.csproj
  VerticalWarehouses/Machine Automation Service/MAS_MissionsManager/MissionsManager.cs
Due: none

build: remove all Common.EF references from WMS App projects
  Common/BusinessProviders/AreaProvider.cs
  Common/BusinessProviders/BayProvider.cs
  Common/BusinessProviders/ItemCompartmentTypeProvider.cs
  Common/Modules/BLL/BusinessLogicModule.cs
  Common/Modules/BLL/Ferretto.Common.Modules.BLL.csproj
  WMS/App/Modules/MasterData/MasterDataModule.cs
  WMS/Data/WebAPI.Contracts/Ferretto.WMS.Data.WebAPI.Contracts.csproj
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml

chore: add migration for addition of Bays.IsActive field
  Common/EF/Migrations/20190220103310_Add_Field_IsActive_To_Table_Bays.Designer.cs
  Common/EF/Migrations/20190220103310_Add_Field_IsActive_To_Table_Bays.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml

Fix from PR comment
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Startup.cs
  VerticalWarehouses/Machine Automation Service/MAS_MissionsManager/MAS_MissionsManager.csproj
Due: none

Fix from PR comment
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/MAS_IODriver.csproj
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/NewRemoteIODriverMock.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriverMock.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/NewInverterDriverMock.cs
Due: none

Fix from PR comment
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/MAS_AutomationService.csproj
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Startup.cs
Due: none

Fix from PR comment
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/MAS_AutomationService.csproj
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/MAS_IODriver.csproj
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/MAS_InverterDriver.csproj
Due: none

fix: Fix with the correct projects reference for the MissionsManager component
  VerticalWarehouses/Machine Automation Service/MAS_MissionsManager/MAS_MissionsManager.csproj
Due: none

feat:Creating state machine for HorizontalMovingDrawer
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/ActionBlocks/HorizontalMovingDrawer.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/HorizontalMovingDrawer/DisabledVoltageState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/HorizontalMovingDrawer/EnabledOperationState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/HorizontalMovingDrawer/ErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/HorizontalMovingDrawer/IdleState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/HorizontalMovingDrawer/OperationModeState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/HorizontalMovingDrawer/ReadyToSwitchOnState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/HorizontalMovingDrawer/SetNewPositionState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/HorizontalMovingDrawer/StateMachineHorizontalMoving.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/HorizontalMovingDrawer/SwitchOnState.cs
Due: none

Chore(): corrected some words and added the Exceptions descriptions in the IDataLayer Interface
  VerticalWarehouses/Common/Common_Utils/Exceptions/DataLayerExceptionEnum.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer_ValueManagment.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Interfaces/IDataLayer.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/ReturnMissionPosition.cs
Due: none

build: remove references to deleted projects
  WMS/WMS.App.sln
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml

Chore(): corrected cellSpicing to cellSpacing in ConfigurationValueEnum.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/ConfigurationValueEnum.cs
Due: none

feat(InverterDriver): Refactored Inverter Communication Message (Telegram) and added related Unit Tests
  VerticalWarehouses/Common/Common_Utils/Messages/Event_Message.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/ConfigurationValueEnum.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayerContext.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataTypeEnum.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Interfaces/IDataLayer.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/InverterMessage.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/InverterParameterId.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/MAS_InverterDriver.csproj
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/InverterMessageUnitTests.cs
Due: none

Chore(): corrected cellSpicing to cellSpacing once again
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
Due: none
