Repository ericquartey/wms: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipeline-database-health-dev.yml, Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Pipelines/azure-pipeline-database-health-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: andrewlackenby.sql-toolkit.runsqlcommand.RunSqlCommand@2
    displayName: Create cloud db
    inputs:
      serverName: rd-ferrettogroup.database.windows.net
      databaseName: master
  ...

Pipelines/azure-pipeline-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
  ...

Pipelines/azure-pipeline-vw-services-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(RestoreBuildProjects)
      feedsToUse: config
      nugetConfigPath: nuget.config
  - task: DotNetCoreCLI@2
  ...

Pipelines/azure-pipeline-vw-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution
    inputs:
      solution: $(TargetSolution)
  ...

Pipelines/azure-pipeline-wms-services-dev.yml:
  queue:
    name: Hosted Ubuntu 1604
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
      targetFolder: $(Build.ArtifactStagingDirectory)\sources
  - task: PublishBuildArtifacts@1
  ...

Pipelines/azure-pipeline-wms-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution WMS.App
    inputs:
      solution: $(TargetSolution)
  ...

build: rename nuget packages staging folder and artifact
  WMS/Pipelines/azure-pipeline-wms-services-template.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(): work in progress
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Enumerations/InverterType.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer_CheckType.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer_SetupNetwork.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer_VertimagConfiguration.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/SetupNetwork.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/SetupStatus.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Interfaces/ISetupNetwork.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedSHDIoDriver.cs
Due: none

fix(): deleted error message used for test
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedSHDIoDriver.cs
Due: none

feat(ClientRecognition): added configuration values to VertimagConfiguration and revisited bay's initialization
  VerticalWarehouses/Common/Common_Utils/Messages/Data/ExecuteMissionMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Interfaces/IExecuteMissionMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Enumerations/BayTypes.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Utilities/Bay.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/AutomationService_Methods.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Hubs/OperatorHub.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/VertimagConfiguration.json
  VerticalWarehouses/Machine Automation Service/MAS_MissionsManager/MissionManager_Methods.cs
  VerticalWarehouses/Machine Automation Service/MAS_MissionsManager/MissionsManager.cs
Due: none

add call to add/delete
  WMS/App/App.Core/Interfaces/Enumerations/ICompartmentTypeProvider.cs
  WMS/App/App.Core/Models/CompartmentType/CompartmentTypeInput.cs
  WMS/App/App.Core/Providers/CompartmentTypeProvider.cs
  WMS/Data/Core/Providers/Data/ItemCompartmentTypeProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

add check if it is nullable
  WMS/App/App.Controls/Controls/ActionBar/ActionBarInputPanelControl.cs
  WMS/App/App.Controls/Controls/TextEdit/WmsLabel.xaml.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

add custom template error
  WMS/App/App.Themes/Themes/Light/LookUpEdit.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

add policies
  WMS/Data/Core/Interfaces/Policies/IItemCompartmentTypeDeletePolicy.cs
  WMS/Data/Core/Models/BaseModel.cs
  WMS/Data/Core/Models/Item/AssociateItemWithCompartmentType.cs
  WMS/Data/Core/Policies/ItemProviderPolicies.cs
  WMS/Data/Core/Providers/Data/ItemProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

add resource string
  Common/Resources/MasterData.Designer.cs
  Common/Resources/MasterData.it.resx
  Common/Resources/MasterData.resx
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

create view and viewmodel
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentTypeDetailsViewModel.cs
  WMS/App/Modules/MasterData/Views/CompartmentTypes/CompartmentTypeDetailsView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

get all associate item with compartment type
  WMS/App/App.Core/Interfaces/IItemProvider.cs
  WMS/App/App.Core/Models/Item/AssociateItemWithCompartmentType.cs
  WMS/App/App.Core/Providers/ItemProvider.cs
  WMS/Data/Core/Interfaces/Data/IItemProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

remove calls not used
  WMS/Data/Core/Interfaces/Data/IItemCompartmentTypeProvider.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
  WMS/Data/WebAPI/Controllers/CompartmentTypesController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

remove unused image in dataservice/image
  WMS/Data/WebAPI/Images/Cell.png
  WMS/Data/WebAPI/Images/Compartment.png
  WMS/Data/WebAPI/Images/Item.png
  WMS/Data/WebAPI/Images/List.png
  WMS/Data/WebAPI/Images/LoadingUnit.png
  WMS/Data/WebAPI/Images/Mission.png
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(): work in progress
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/VertimagConfiguration.json
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer_CheckType.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer_VertimagConfiguration.cs
Due: none

feat(ClientRecognition): added connectionId property to NewConnectedClientMessageData
  VerticalWarehouses/Common/Common_Utils/Messages/Data/NewConnectedClientMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Interfaces/INewConnectedClientMessageData.cs
Due: none

fix: fixing the bug for update actual shaft position
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/SensorsStatus/MachineSensorsStatus.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver_Utility.cs
Due: none

chore fix resource
  Common/Resources/MasterData.Designer.cs
  Common/Resources/MasterData.it.resx
  Common/Resources/MasterData.resx
  WMS/App/Modules/MasterData/Views/CompartmentTypes/AssociateCompartmentTypesView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(ClientRecognition): created new messageData class and implemented client part
  VerticalWarehouses/Common/Common_Utils/Messages/Data/BayConnectedMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Enumerations/MessageType.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Interfaces/IBayConnectedMessageData.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Hubs/Interfaces/IOperatorHub.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Hubs/OperatorHub.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/VertimagConfiguration.json
  VerticalWarehouses/Machine Automation Service/MAS_MissionsManager/MissionManager_Methods.cs
  VerticalWarehouses/Machine Automation Service/MAS_MissionsManager/MissionsManager.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ServiceUtilities/BayManager.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ServiceUtilities/Interfaces/IBayManager.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ServiceUtilities/OperatorHubClient.cs
  VerticalWarehouses/Panel PC UI/VWApp/NotificationCatcher.cs
Due: none

chore: fix wrong field label
  Common/Resources/ItemLists.Designer.cs
  Common/Resources/ItemLists.it.resx
  Common/Resources/ItemLists.resx
  WMS/App/App.Core/Models/Mission/Mission.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: remove useless using directives
  WMS/App/App.Core/Providers/Enumerations/AbcClassProvider.cs
  WMS/App/App.Core/Providers/Enumerations/CellPositionProvider.cs
  WMS/App/App.Core/Providers/Enumerations/CellStatusProvider.cs
  WMS/App/App.Core/Providers/Enumerations/CellTypeProvider.cs
  WMS/App/App.Core/Providers/Enumerations/CompartmentStatusProvider.cs
  WMS/App/App.Core/Providers/Enumerations/ItemCategoryProvider.cs
  WMS/App/App.Core/Providers/Enumerations/LoadingUnitStatusProvider.cs
  WMS/App/App.Core/Providers/Enumerations/LoadingUnitTypeProvider.cs
  WMS/App/App.Core/Providers/Enumerations/MaterialStatusProvider.cs
  WMS/App/App.Core/Providers/Enumerations/MeasureUnitProvider.cs
  WMS/App/App.Core/Providers/Enumerations/PackageTypeProvider.cs
  WMS/App/App.Core/Providers/MachineProvider.cs
  WMS/App/App.Core/Providers/MissionProvider.cs
  WMS/App/App.Core/Providers/SchedulerRequestProvider.cs
  WMS/App/App.Core/Providers/UserProvider.cs
  WMS/App/Modules/ItemLists/ViewModels/ItemList/ItemListDetailsViewModel.cs
  WMS/App/Modules/ItemLists/ViewModels/ItemList/ItemListExecuteViewModel.cs
  WMS/App/Modules/ItemLists/ViewModels/ItemList/ItemListsViewModel.cs
  WMS/App/Modules/ItemLists/ViewModels/ItemListRow/ItemListRowExecuteViewModel.cs
  WMS/Data/Core/Interfaces/Data/IAreaProvider.cs
  WMS/Data/Core/Interfaces/Data/ICompartmentItemDetails.cs
  WMS/Data/Core/Policies/ItemAreaProviderPolicies.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: deactivate S1200 CA rule
  Common/EF/DatabaseContext.cs
  WMS/App/App.Core/Providers/CompartmentProvider.cs
  WMS/App/App/WmsApplication.cs
  WMS/App/Modules/BLL/BusinessLogicModule.cs
  WMS/App/Modules/BLL/Services/DataSourceService.cs
  WMS/App/Modules/Layout/LayoutModule.cs
  WMS/App/Modules/MasterData/MasterDataModule.cs
  WMS/Data/Core/Extensions/ServiceCollectionSchedulerExtensions.cs
  WMS/Data/Core/Providers/Data/ItemProvider.cs
  WMS/Data/Core/Services/SchedulerService.cs
  WMS/Data/WebAPI.Contracts/DataServiceFactory.cs
  WMS/Data/WebAPI.Contracts/DataWebApiServiceCollectionExtensions.cs
  analysis.ruleset
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat: add data notification service
  WMS/Data/Core/Extensions/ServiceCollectionDataExtensions.cs
  WMS/Data/Core/Interfaces/INotificationService.cs
  WMS/Data/Core/Providers/Notification.cs
  WMS/Data/Core/Providers/NotificationService.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat: remove old controller's NotifyEntityUpdatedAsync methods
  WMS/Data/WebAPI/Controllers/BaseController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: change EntityChangedEvent Id field from int to string
  WMS/Data/Hubs/EntityChangedHubEvent.cs
  WMS/Data/WebAPI.Contracts/Hubs/EventArgs/EntityChangedEventArgs.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: minor code cleaning
  WMS/Data/Core/Services/SchedulerService.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: create BaseProvider class and make all data providers inherit from it
  WMS/Data/Core/Providers/BaseProvider.cs
  WMS/Data/Core/Providers/Data/AbcClassProvider.cs
  WMS/Data/Core/Providers/Data/AisleProvider.cs
  WMS/Data/Core/Providers/Data/AreaProvider.cs
  WMS/Data/Core/Providers/Data/BayProvider.cs
  WMS/Data/Core/Providers/Data/CellPositionProvider.cs
  WMS/Data/Core/Providers/Data/CellProvider.cs
  WMS/Data/Core/Providers/Data/CellStatusProvider.cs
  WMS/Data/Core/Providers/Data/CellTypeProvider.cs
  WMS/Data/Core/Providers/Data/CompartmentProvider.cs
  WMS/Data/Core/Providers/Data/CompartmentStatusProvider.cs
  WMS/Data/Core/Providers/Data/CompartmentTypeProvider.cs
  WMS/Data/Core/Providers/Data/ItemAreaProvider.cs
  WMS/Data/Core/Providers/Data/ItemCategoryProvider.cs
  WMS/Data/Core/Providers/Data/ItemCompartmentTypeProvider.cs
  WMS/Data/Core/Providers/Data/ItemListProvider.cs
  WMS/Data/Core/Providers/Data/ItemListRowProvider.cs
  WMS/Data/Core/Providers/Data/ItemProvider.cs
  WMS/Data/Core/Providers/Data/LoadingUnitProvider.cs
  WMS/Data/Core/Providers/Data/LoadingUnitStatusProvider.cs
  WMS/Data/Core/Providers/Data/LoadingUnitTypeProvider.cs
  WMS/Data/Core/Providers/Data/MachineProvider.cs
  WMS/Data/Core/Providers/Data/MaterialStatusProvider.cs
  WMS/Data/Core/Providers/Data/MeasureUnitProvider.cs
  WMS/Data/Core/Providers/Data/MissionProvider.cs
  WMS/Data/Core/Providers/Data/PackageTypeProvider.cs
  WMS/Data/Core/Providers/Data/SchedulerRequestProvider.cs
  WMS/Data/Core/Providers/Scheduler/CompartmentOperationProvider.cs
  WMS/Data/Core/Providers/Scheduler/ItemListExecutionProvider.cs
  WMS/Data/Core/Providers/Scheduler/ItemListRowExecutionProvider.cs
  WMS/Data/Core/Providers/Scheduler/MissionCreationProvider.cs
  WMS/Data/Core/Providers/Scheduler/MissionExecutionProvider.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestExecutionProvider.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestPickProvider.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestPutProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat: add notification push to all data service provider writing operations
  WMS/Data/Core/Providers/Data/BayProvider.cs
  WMS/Data/Core/Providers/Data/CellProvider.cs
  WMS/Data/Core/Providers/Data/CompartmentProvider.Read.cs
  WMS/Data/Core/Providers/Data/CompartmentProvider.cs
  WMS/Data/Core/Providers/Data/CompartmentTypeProvider.cs
  WMS/Data/Core/Providers/Data/ItemAreaProvider.cs
  WMS/Data/Core/Providers/Data/ItemCompartmentTypeProvider.cs
  WMS/Data/Core/Providers/Data/ItemListProvider.cs
  WMS/Data/Core/Providers/Data/ItemListRowProvider.cs
  WMS/Data/Core/Providers/Data/ItemProvider.cs
  WMS/Data/Core/Providers/Data/LoadingUnitProvider.cs
  WMS/Data/Core/Providers/Scheduler/CompartmentOperationProvider.cs
  WMS/Data/Core/Providers/Scheduler/ItemListExecutionProvider.cs
  WMS/Data/Core/Providers/Scheduler/ItemListRowExecutionProvider.cs
  WMS/Data/Core/Providers/Scheduler/MissionCreationProvider.cs
  WMS/Data/Core/Providers/Scheduler/MissionExecutionProvider.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestExecutionProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: change web api controller and scheduler tests namespace
  WMS/Data/Tests/Controllers/AbcClassesControllerTest.cs
  WMS/Data/Tests/Controllers/AislesControllerTest.cs
  WMS/Data/Tests/Controllers/AreasControllerTest.cs
  WMS/Data/Tests/Controllers/BaseControllerTest.cs
  WMS/Data/Tests/Controllers/BaysControllerTest.cs
  WMS/Data/Tests/Controllers/CellStatusesControllerTest.cs
  WMS/Data/Tests/Controllers/CellTypesControllerTest.cs
  WMS/Data/Tests/Controllers/CompartmentStatusesControllerTest.cs
  WMS/Data/Tests/Controllers/CompartmentTypesControllerTest.cs
  WMS/Data/Tests/Controllers/ItemCategoriesControllerTest.cs
  WMS/Data/Tests/Controllers/ItemListRowsControllerTest.cs
  WMS/Data/Tests/Controllers/ItemListsControllerTest.cs
  WMS/Data/Tests/Controllers/ItemsControllerCompartmentTypesTest.cs
  WMS/Data/Tests/Controllers/ItemsControllerTest.AllowedAreas.cs
  WMS/Data/Tests/Controllers/ItemsControllerTest.AreasWithAvailability.cs
  WMS/Data/Tests/Controllers/ItemsControllerTest.Pick.cs
  WMS/Data/Tests/Controllers/ItemsControllerTest.Put.cs
  WMS/Data/Tests/Controllers/ItemsControllerTest.cs
  WMS/Data/Tests/Controllers/LoadingUnitStatusesControllerTest.cs
  WMS/Data/Tests/Controllers/LoadingUnitTypesControllerTest.cs
  WMS/Data/Tests/Controllers/MachinesControllerTest.cs
  WMS/Data/Tests/Controllers/MaterialStatusesControllerTest.cs
  WMS/Data/Tests/Controllers/MeasureUnitsControllerTest.cs
  WMS/Data/Tests/Controllers/PackageTypesControllerTest.cs
  WMS/Data/Tests/Controllers/WhereConditionsTest.cs
  WMS/Data/Tests/Scheduler/BaseDataContextTest.cs
  WMS/Data/Tests/Scheduler/BaseWarehouseTest.cs
  WMS/Data/Tests/Scheduler/CompartmentOperationProviderTest.cs
  WMS/Data/Tests/Scheduler/MissionCreationProviderTest.Bays.cs
  WMS/Data/Tests/Scheduler/MissionCreationProviderTest.Concurrency.cs
  WMS/Data/Tests/Scheduler/MissionCreationProviderTest.cs
  WMS/Data/Tests/Scheduler/MissionExecutionProviderTest.Pick.cs
  WMS/Data/Tests/Scheduler/MissionExecutionProviderTest.Put.cs
  WMS/Data/Tests/Scheduler/MissionExecutionProviderTest.cs
  WMS/Data/Tests/Scheduler/SchedulerRequestPickProviderTest.Compartments.cs
  WMS/Data/Tests/Scheduler/SchedulerRequestPickProviderTest.cs
  WMS/Data/Tests/Scheduler/SchedulerRequestPutProviderTest.cs
  WMS/Data/Tests/Scheduler/SchedulerServiceTest.Lists.cs
  WMS/Data/Tests/Scheduler/SchedulerServiceTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat: inject notificationService into controller that need it
  WMS/Data/Tests/Controllers/BaysControllerTest.cs
  WMS/Data/Tests/Controllers/CompartmentTypesControllerTest.cs
  WMS/Data/Tests/Controllers/ItemListRowsControllerTest.cs
  WMS/Data/Tests/Controllers/ItemListsControllerTest.cs
  WMS/Data/Tests/Controllers/ItemsControllerCompartmentTypesTest.cs
  WMS/Data/Tests/Controllers/ItemsControllerTest.cs
  WMS/Data/WebAPI/Controllers/BaysController.cs
  WMS/Data/WebAPI/Controllers/CellsController.cs
  WMS/Data/WebAPI/Controllers/CompartmentTypesController.cs
  WMS/Data/WebAPI/Controllers/CompartmentsController.cs
  WMS/Data/WebAPI/Controllers/ItemListRowsController.cs
  WMS/Data/WebAPI/Controllers/ItemListsController.cs
  WMS/Data/WebAPI/Controllers/ItemsController.cs
  WMS/Data/WebAPI/Controllers/LoadingUnitsController.cs
  WMS/Data/WebAPI/Controllers/MissionsController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: minor style cleanings
  WMS/Data/Core/Providers/Data/BayProvider.cs
  WMS/Data/Core/Providers/Data/CompartmentTypeProvider.cs
  WMS/Data/Core/Providers/Data/ItemCompartmentTypeProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat: make webapi controllers send notifications at the end of execution
  WMS/Data/WebAPI/Controllers/BaysController.cs
  WMS/Data/WebAPI/Controllers/CellsController.cs
  WMS/Data/WebAPI/Controllers/CompartmentTypesController.cs
  WMS/Data/WebAPI/Controllers/CompartmentsController.cs
  WMS/Data/WebAPI/Controllers/ItemListRowsController.cs
  WMS/Data/WebAPI/Controllers/ItemListsController.cs
  WMS/Data/WebAPI/Controllers/ItemsController.CompartmentTypes.cs
  WMS/Data/WebAPI/Controllers/ItemsController.cs
  WMS/Data/WebAPI/Controllers/LoadingUnitsController.cs
  WMS/Data/WebAPI/Controllers/MissionsController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

test: add NotificationServiceMock to test generated notifications
  WMS/Data/Core/Providers/NotificationService.cs
  WMS/Data/Tests/NotificationServiceMock.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: review notifications push to handle changedEntitiesCount
  WMS/Data/Core/Providers/Data/BayProvider.cs
  WMS/Data/Core/Providers/Data/CompartmentProvider.cs
  WMS/Data/Core/Providers/Data/CompartmentTypeProvider.cs
  WMS/Data/Core/Providers/Data/ItemAreaProvider.cs
  WMS/Data/Core/Providers/Data/ItemCompartmentTypeProvider.cs
  WMS/Data/Core/Providers/Data/ItemListProvider.cs
  WMS/Data/Core/Providers/Data/ItemListRowProvider.cs
  WMS/Data/Core/Providers/Data/ItemProvider.cs
  WMS/Data/Core/Providers/Data/LoadingUnitProvider.cs
  WMS/Data/Core/Providers/Scheduler/MissionCreationProvider.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestExecutionProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat: review push notifications in webapi core providers
  WMS/Data/Core/Providers/Data/ItemCompartmentTypeProvider.cs
  WMS/Data/Core/Providers/Data/ItemListRowProvider.cs
  WMS/Data/Core/Providers/Data/ItemProvider.cs
  WMS/Data/Core/Providers/Scheduler/ItemListRowExecutionProvider.cs
  WMS/Data/Core/Providers/Scheduler/MissionCreationProvider.cs
  WMS/Data/Core/Providers/Scheduler/MissionExecutionProvider.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestExecutionProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

test: add data webapi notifications tests
  WMS/Data/Tests/Controllers/BaseControllerTest.cs
  WMS/Data/Tests/Controllers/BaysControllerTest.Notifications.cs
  WMS/Data/Tests/Controllers/BaysControllerTest.cs
  WMS/Data/Tests/Controllers/CellsControllerTest.Notifications.cs
  WMS/Data/Tests/Controllers/CellsControllerTest.cs
  WMS/Data/Tests/Controllers/CompartmentTypesControllerTest.Notifications.cs
  WMS/Data/Tests/Controllers/CompartmentTypesControllerTest.cs
  WMS/Data/Tests/Controllers/CompartmentsControllerTest.Notifications.cs
  WMS/Data/Tests/Controllers/CompartmentsControllerTest.cs
  WMS/Data/Tests/Controllers/ItemListRowsControllerTest.Notifications.cs
  WMS/Data/Tests/Controllers/ItemListRowsControllerTest.cs
  WMS/Data/Tests/Controllers/ItemListsControllerTest.Notifications.cs
  WMS/Data/Tests/Controllers/ItemListsControllerTest.cs
  WMS/Data/Tests/Controllers/ItemsControllerTest.Notifications.cs
  WMS/Data/Tests/Controllers/LoadingUnitsControllerTest.Notifications.cs
  WMS/Data/Tests/Controllers/LoadingUnitsControllerTest.cs
  WMS/Data/Tests/Controllers/MissionsControllerTest.Notifications.cs
  WMS/Data/Tests/Controllers/MissionsControllerTest.cs
  WMS/Data/Tests/Ferretto.WMS.Data.Tests.csproj
  WMS/Data/Tests/Scheduler/BaseDataContextTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat: viewmodel base classes now register based on viewmodels resource attributes
  Common/Utils/ResourceAttribute.cs
  WMS/App/App.Controls/Services/PubSubEvents/ModelChangedPubSubEvent.cs
  WMS/App/App.Controls/ViewModels/BaseServiceNavigationNotificationViewModel.cs
  WMS/App/App.Controls/ViewModels/DetailsViewModel.cs
  WMS/App/App.Controls/ViewModels/EntityListViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentAddBulkViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentAddViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: merge conflicts
  WMS/Data/Core/Providers/Data/ItemProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat: add missing related notifications and tests
  WMS/Data/Core/Providers/Data/CompartmentProvider.cs
  WMS/Data/Core/Providers/Data/ItemAreaProvider.cs
  WMS/Data/Core/Providers/Data/ItemListRowProvider.cs
  WMS/Data/Core/Providers/Data/LoadingUnitProvider.cs
  WMS/Data/Core/Providers/Scheduler/CompartmentOperationProvider.cs
  WMS/Data/Core/Providers/Scheduler/ItemListExecutionProvider.cs
  WMS/Data/Core/Providers/Scheduler/ItemListRowExecutionProvider.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestExecutionProvider.cs
  WMS/Data/Tests/Controllers/CompartmentsControllerTest.Notifications.cs
  WMS/Data/Tests/Controllers/ItemListRowsControllerTest.Notifications.cs
  WMS/Data/Tests/Controllers/ItemsControllerTest.Notifications.cs
  WMS/Data/Tests/Controllers/LoadingUnitsControllerTest.Notifications.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: data service missing notifications
  WMS/Data/Core/Providers/NotificationService.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Path conditions:
  Pipelines/azure-pipeline-database-health-dev.yml: any of: Common\DataModels, Common\EF, but not: VerticalWarehouses, WMS, Common
  Pipelines/azure-pipeline-dev.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-vw-services-dev.yml: any of: *, VerticalWarehouses\Machine Automation Service, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-vw-ui-dev.yml: any of: *, VerticalWarehouses\Panel PC User Interface, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-wms-services-dev.yml: any file but: VerticalWarehouses, WMS\App
  Pipelines/azure-pipeline-wms-ui-dev.yml: any file but: VerticalWarehouses, WMS\Data, WMS\Scheduler
