Repository ericquartey/wms: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipeline-database-health-dev.yml, Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Pipelines/azure-pipeline-database-health-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: andrewlackenby.sql-toolkit.runsqlcommand.RunSqlCommand@2
    displayName: Create cloud db
    inputs:
      serverName: rd-ferrettogroup.database.windows.net
      databaseName: master
  ...

Pipelines/azure-pipeline-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
  ...

Pipelines/azure-pipeline-vw-services-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(RestoreBuildProjects)
      feedsToUse: config
      nugetConfigPath: nuget.config
  - task: DotNetCoreCLI@2
  ...

Pipelines/azure-pipeline-vw-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution
    inputs:
      solution: $(TargetSolution)
  ...

Pipelines/azure-pipeline-wms-services-dev.yml:
  queue:
    name: Hosted Ubuntu 1604
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
      targetFolder: $(Build.ArtifactStagingDirectory)\sources
  - task: PublishBuildArtifacts@1
  ...

Pipelines/azure-pipeline-wms-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution WMS.App
    inputs:
      solution: $(TargetSolution)
  ...

feat(): work ended
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController_Methods.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/ResolutionCalibrationVerticalAxisView.xaml
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/ResolutionCalibrationVerticalAxisViewModel.cs
Due: none

chore fix add ItemArea on ItemDetails View
  WMS/App/Modules/MasterData/Views/Item/ItemDetailsView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore fix validation on add ItemArea
  WMS/App/Modules/MasterData/ViewModels/Item/ItemDetailsViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(MissionsDistribution): added log for debugging purposes
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/AutomationService.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/OperatorController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/nlog.config
  VerticalWarehouses/Machine Automation Service/MAS_MissionsManager/MissionManager_Methods.cs
  VerticalWarehouses/Machine Automation Service/MAS_MissionsManager/MissionsManager.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerWaitViewModel.cs
Due: none

chore fix remove IFDEBUG preprocess
  WMS/Data/Core/Services/SchedulerService.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore add readonly
  WMS/Data/Core/Services/SchedulerService.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: Resolution field in the Vertical axis origin showed a long decimal number after doing new resolution
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/VerticalAxisCalibrationViewModel.cs
Due: none

feat():
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController_Methods.cs
Due: none

feat(MissionsDistribution): changed notification concurrent queue behaviour
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/AutomationService.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/AutomationService_Methods.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/OperatorController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Hubs/OperatorHub.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_MissionsManager/MissionManager_Methods.cs
  VerticalWarehouses/Machine Automation Service/MAS_MissionsManager/MissionsManager.cs
Due: none

chore(): reverted appsetting development
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
Due: none

feat: Enable buttons according to the installation status
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/MainWindowNavigationButtonsView.xaml
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/MainWindowNavigationButtonsViewModel.cs
Due: none

chore(): Commented out missionManager in startup
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Startup.cs
Due: none

chore(): minor refactor
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
Due: none

feat(data-service): add localization
  WMS/App/Modules/BLL/BusinessLogicModule.cs
  WMS/App/Modules/Layout/LayoutModule.cs
  WMS/Data/Core/Ferretto.WMS.Data.Core.csproj
  WMS/Data/Core/Policies/ItemListProviderPolicies.cs
  WMS/Data/Core/Providers/Scheduler/ItemListExecutionProvider.cs
  WMS/Data/Core/Resources/ItemList.Designer.cs
  WMS/Data/Core/Resources/ItemList.it.resx
  WMS/Data/Core/Resources/ItemList.resx
  WMS/Data/WebAPI.Contracts/DataServiceFactory.cs
  WMS/Data/WebAPI.Contracts/DataWebApiServiceCollectionExtensions.cs
  WMS/Data/WebAPI.Contracts/ILocalizationService.cs
  WMS/Data/WebAPI.Contracts/LocalizationService.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
  WMS/Data/WebAPI/Startup.cs
  WMS/Data/WebAPI/nswag.json
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor(compartment-type): add check on nullable field
  WMS/App/App.Core/Providers/CompartmentTypeProvider.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(machines): update bay tile layout
  WMS/App/Modules/Machines/Views/MachineDetailsView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: rename bool constant checks
  WMS/App/App.Controls/Command/WmsDelegateCommand.cs
  WMS/App/App.Controls/Controls/NavMenuTouch/ViewModels/NavMenuItem.cs
  WMS/App/App.Controls/Controls/WmsMainDockLayoutManager/WmsMainDockLayoutManager.cs
  WMS/App/App.Controls/Controls/WmsMessagePopup/WmsMessagePopup.xaml.cs
  WMS/App/App.Controls/Services/HistoryViewService.cs
  WMS/App/App.Controls/Services/NavigationService.cs
  WMS/App/App.Controls/ViewModels/DetailsViewModel.cs
  WMS/App/App.Core/Extensions/DtoExtensions.cs
  WMS/App/App.Core/Models/Compartment/Filters/FillingFilter.cs
  WMS/App/App.Core/Models/ItemList/ItemListExecutionRequest.cs
  WMS/App/App.Core/Models/ItemListRow/ItemListRowExecutionRequest.cs
  WMS/App/App/App.xaml.cs
  WMS/App/Modules/Layout/ViewModels/LoginViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemDetailsViewModel.cs
  WMS/Data/Core/Providers/Scheduler/ItemListExecutionProvider.cs
  WMS/Data/Core/Providers/Scheduler/MissionExecutionProvider.cs
  WMS/VW/ConsoleApp.Mock/Services/AutomationService.ExecuteAsync.cs
  WMS/VW/ConsoleApp.Mock/Services/AutomationService.cs
  WMS/VW/ConsoleApp.Mock/Views.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(DrawerActivity): Added WMS Tray control to views
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerActivityInventoryView.xaml
Due: none

feat(data-service): add localization
  WMS/App/App.Core/Providers/CompartmentTypeProvider.cs
  WMS/Data/Core/Providers/Scheduler/ItemListExecutionProvider.cs
  WMS/Data/Core/Resources/ItemList.it.resx
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(DrawerActivity): filled in missing properties in refilling and inventory viewmodels
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Resources/OperatorAppModule.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerActivityInventoryView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerActivityInventoryViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerActivityPickingViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerActivityRefillingView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerActivityRefillingViewModel.cs
Due: none

feat(DrawerActivity): various translations
  VerticalWarehouses/Common/Resources/OperatorApp.resx
Due: none

feat(): work done
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/VertimagConfiguration.json
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer_ConfigurationValueManagment.cs
Due: none

feat: use server name instead of ip address in configuration files
  WMS/App/App/App.Production.config
  WMS/App/App/App.Testing.config
  WMS/Data/WebAPI/appsettings.Production.json
  WMS/Data/WebAPI/appsettings.Testing.json
  WMS/Data/WebAPI/appsettings.json
  WMS/VW/ConsoleApp.Mock/appsettings.Production.json
  WMS/VW/ConsoleApp.Mock/appsettings.Testing.json
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat: set certificate file for data service hsts
  WMS/Data/WebAPI/appsettings.Production.json
  WMS/Data/WebAPI/appsettings.Testing.json
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore merge CompartmentEdit with CompartmentAdd
  Common/Utils/Modules/MasterData.cs
  WMS/App/Modules/MasterData/MasterDataModule.cs
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentAddViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentEditViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/LoadingUnit/LoadingUnitAddViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/LoadingUnit/LoadingUnitEditViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/LoadingUnit/LoadingUnitsViewModel.cs
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentAddView.xaml
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentAddView.xaml.cs
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentEditView.xaml
  WMS/App/Modules/MasterData/Views/LoadingUnit/LoadingUnitEditView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: clean nuget.config
  nuget.config
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: remove automatic build on master
  Pipelines/azure-pipeline-prod.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: mark API analyzer as dev asset
  WMS/Data/WebAPI/Ferretto.WMS.Data.WebAPI.csproj
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: rename LocalizationDataService
  WMS/App/Modules/BLL/BusinessLogicModule.cs
  WMS/App/Modules/Layout/LayoutModule.cs
  WMS/Data/WebAPI.Contracts/DataServiceFactory.cs
  WMS/Data/WebAPI.Contracts/DataWebApiServiceCollectionExtensions.cs
  WMS/Data/WebAPI.Contracts/ILocalizationDataService.cs
  WMS/Data/WebAPI.Contracts/LocalizationDataService.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat: Create a defined CheckCondition message and test the condition of machine before start a homing operation.
  VerticalWarehouses/Common/Common_Utils/Messages/Data/CheckConditionMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Enumerations/ConditionToCheckType.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Enumerations/MessageType.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Interfaces/ICheckConditionMessageData.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/FiniteStateMachines.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/FiniteStateMachines_Methods.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/SensorsStatus/MachineSensorsStatus.cs
Due: none

fix: Use the asynchronous method in the InitializeViewModel to retrieve the state of machine in order to enable the main buttons of InstallationApp
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/MainWindowNavigationButtonsView.xaml
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/MainWindowNavigationButtonsViewModel.cs
Due: none

fix: Uncomment the lines related to the network setup of prototype machine (and comment the lines related to the Bender machine).
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/VertimagConfiguration.json
Due: none

fix: revert wrongly removed viewmodel
  Common/Utils/Modules/MasterData.cs
  WMS/App/Modules/MasterData/ViewModels/LoadingUnit/LoadingUnitAddViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: revert wrongly removed viewmodel
  WMS/App/Modules/MasterData/MasterDataModule.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(DrawerActivity): fill in properties in details view of drawer operations sections
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/OperatorController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/ServiceContracts.autogen.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/Services.autogen.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Interfaces/IDrawerActivityDetailViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Interfaces/IDrawerActivityInventoryDetailViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Interfaces/IDrawerActivityPickingDetailViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Interfaces/IDrawerActivityRefillingDetailViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/NavigationService.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ServiceUtilities/DrawerActivityItemDetail.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/Details/DrawerActivityInventoryDetailView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/Details/DrawerActivityInventoryDetailViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/Details/DrawerActivityPickingDetailView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/Details/DrawerActivityPickingDetailViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/Details/DrawerActivityRefillingDetailView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/Details/DrawerActivityRefillingDetailViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerActivityInventoryViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerActivityPickingViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerActivityRefillingView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerActivityRefillingViewModel.cs
  VerticalWarehouses/Panel PC UI/VWApp/VWAppModule.cs
Due: none

fix: Change name to the function used to check if an homing operation is feasible
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/FiniteStateMachines_Methods.cs
  VerticalWarehouses/Panel PC UI/VWApp/MainWindowViewModel.cs
Due: none

create new table GlobalSettings
  Common/DataModels/GlobalSettings.cs
  Common/EF/Configurations/GlobalSettingsConfiguration.cs
  Common/EF/DatabaseContext.cs
  Common/EF/Migrations/20190619084452_CreateTable_GlobalSettings.Designer.cs
  Common/EF/Migrations/20190619084452_CreateTable_GlobalSettings.cs
  Common/EF/Seeds/Dev.Minimal.sql
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

add GlobalSettings as models, providers, controllers in DataService
  WMS/Data/Core/Interfaces/IGlobalSettingsProvider.cs
  WMS/Data/Core/Models/GlobalSettings.cs
  WMS/Data/Core/Providers/GlobalSettingsProvider.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
  WMS/Data/WebAPI/Controllers/GlobalSettingsController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

add automapper to App.Core
  WMS/App/App.Core/Ferretto.WMS.App.Core.csproj
  WMS/App/App.Core/Providers/MapperProvider.cs
  WMS/App/Modules/BLL/BusinessLogicModule.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

add automapper profile for GlobalSettings
  WMS/Data/Core/Maps/GlobalSettingsProfile.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Path conditions:
  Pipelines/azure-pipeline-database-health-dev.yml: any of: Common\DataModels, Common\EF, but not: VerticalWarehouses, WMS, Common
  Pipelines/azure-pipeline-dev.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-vw-services-dev.yml: any of: *, VerticalWarehouses\Machine Automation Service, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-vw-ui-dev.yml: any of: *, VerticalWarehouses\Panel PC User Interface, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-wms-services-dev.yml: any file but: VerticalWarehouses, WMS\App
  Pipelines/azure-pipeline-wms-ui-dev.yml: any file but: VerticalWarehouses, WMS\Data, WMS\Scheduler
