Repository ericquartey/wms: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipeline-database-health-dev.yml, Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Path conditions:
  Pipelines/azure-pipeline-database-health-dev.yml: any of: Common\DataModels, Common\EF, but not: VerticalWarehouses, WMS, Common
  Pipelines/azure-pipeline-dev.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-vw-services-dev.yml: any of: *, VerticalWarehouses\Machine Automation Service, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-vw-ui-dev.yml: any of: *, VerticalWarehouses\Panel PC User Interface, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-wms-services-dev.yml: any file but: VerticalWarehouses, WMS\App
  Pipelines/azure-pipeline-wms-ui-dev.yml: any file but: VerticalWarehouses, WMS\Data, WMS\Scheduler

test: add where conditions tests
  WMS/Data/Tests/Controllers/WhereConditionsTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: remove debug condition for nswag
  WMS/Data/WebAPI/Ferretto.WMS.Data.WebAPI.csproj
  WMS/Data/WebAPI/Startup.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Updated some help page.
  VerticalWarehouses/Common/Resources/InstallationApp.it.resx
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
  VerticalWarehouses/Panel PC UI/InstallationApp/HelpWindows/HelpCellsControlView.xaml
  VerticalWarehouses/Panel PC UI/InstallationApp/HelpWindows/HelpResolutionCalibrationVerticalAxisView.xaml
  VerticalWarehouses/Panel PC UI/InstallationApp/HelpWindows/HelpShutterHeightControl.xaml
  VerticalWarehouses/Panel PC UI/InstallationApp/HelpWindows/HelpVerticalAxisCalibration.xaml
  VerticalWarehouses/Panel PC UI/VWApp/MainWindowViewModel.cs
Due: none

build: extract template from wms-services-dev pipeline
  WMS/Pipelines/azure-pipeline-wms-services-dev-template.yml
  WMS/Pipelines/azure-pipeline-wms-services-dev.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: update prod pipeline to use wms-services pipeline template
  Pipelines/azure-pipeline-prod.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: rename wms-services-template pipeline to remove the -dev suffix
  Pipelines/azure-pipeline-prod.yml
  WMS/Pipelines/azure-pipeline-wms-services-dev.yml
  WMS/Pipelines/azure-pipeline-wms-services-template.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: fix wrong template reference in prod pipeline
  Pipelines/azure-pipeline-prod.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: parametrize wms-services template
  WMS/Pipelines/azure-pipeline-wms-services-dev.yml
  WMS/Pipelines/azure-pipeline-wms-services-template.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(): split of IDataLayer in the interfaces IDataLaterValueManagment, and change IDataLayer with IDataLayerValueManagment.
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Startup.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer_ValueManagment.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Interfaces/IDataLayer.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Interfaces/IDataLayerValueManagment.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedIoDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
Due: none

build(wms-services): fix wrong references to template parameters
  WMS/Pipelines/azure-pipeline-wms-services-template.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: add parameters to wms-services template called on prod pipeline
  Pipelines/azure-pipeline-prod.yml
  WMS/Pipelines/azure-pipeline-wms-services-dev.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Chore():
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Startup.cs
Due: none

compilation error fix
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/Calibrate/EnableOperationStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/Calibrate/EndStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/Calibrate/ErrorStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/Calibrate/HomingModeStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/Calibrate/ShutDownStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/Calibrate/StartingHomeStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/Calibrate/SwitchOnStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/Calibrate/VoltageDisabledStateUnitTest.cs
Due: none

Chore(): Deleted useless files
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/HostedDataLayer.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Interfaces/IHostedDataLayer.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Interfaces/IHostedWriteLogService.cs
Due: none

build: extract wms-ui pipeline to separate template
  WMS/Pipelines/azure-pipeline-wms-ui-dev.yml
  WMS/Pipelines/azure-pipeline-wms-ui-template.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build(wms-ui): remove unnecessary arguments from VSBuild task
  WMS/Pipelines/azure-pipeline-wms-ui-template.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Prepared solution for off line work
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
  VerticalWarehouses/Panel PC UI/VWApp/MainWindowViewModel.cs
Due: none

build(prod): use wms-ui template in prod pipeline
  Pipelines/azure-pipeline-prod.yml
  WMS/Pipelines/azure-pipeline-wms-services-template.yml
  WMS/Pipelines/azure-pipeline-wms-ui-template.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build(wms-app): remove unnecessary projects from WMS.App solution
  Common/BLL.Tests/Ferretto.Common.BLL.Tests.csproj
  WMS/WMS.App.sln
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

test: fix target framework for test assembly
  Common/BLL.Tests/Ferretto.Common.BLL.Tests.csproj
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build(wms-ui): change PublishSymbols argument value for the publish symbols task
  WMS/Pipelines/azure-pipeline-wms-ui-template.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Cell control help page updated.
  VerticalWarehouses/Panel PC UI/InstallationApp/HelpWindows/HelpCellsControlView.xaml
Due: none

refactor: controller name
  WMS/Data/Tests/Controllers/WhereConditionsTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: array access with FirstOrDefault instead of [] + refactor on method
  WMS/Data/Core/Visitors/InsertNullPropagationVisitor.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: solution structure
  WMS/WMS.sln
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: fix TargetFramework tags on projects
  Common/BLL.Tests/Ferretto.Common.BLL.Tests.csproj
  WMS/App/Modules/Layout/Ferretto.WMS.App.Modules.Layout.csproj
  WMS/App/Modules/Machines/Ferretto.WMS.App.Modules.Machines.csproj
  WMS/App/Modules/MasterData/Ferretto.WMS.App.Modules.MasterData.csproj
  WMS/App/Modules/Scheduler/Ferretto.WMS.App.Modules.Scheduler.csproj
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: remove duplicate publishing of desktop_app artifact
  Pipelines/azure-pipeline-prod.yml
  WMS/Scheduler/Core/Ferretto.WMS.Scheduler.Core.csproj
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: remove duplicate artifact publishing
  Pipelines/azure-pipeline-prod.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build(prod): add restore of netcore nuget packages before building wms-ui
  Pipelines/azure-pipeline-prod.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Chore(): changed to ArgumentNullException.
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
Due: none

Chore():
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
Due: none

feat: move Edit Loading Unit Button into new actionBar near WmsTrayControl
  Common/Controls/Controls/WmsTrayControl/WmsTrayControl.xaml.cs
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentDetailsView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build(prod): change pattern for nuget restore
  Pipelines/azure-pipeline-prod.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build(prod): remove commented task
  Pipelines/azure-pipeline-prod.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build(prod): add missing quotes
  Pipelines/azure-pipeline-prod.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Chore():
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/general_info.json
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
Due: none

Chore(): Refereence changed
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/MAS_DataLayer.csproj
Due: none

build(prod): remove unnecessary target frameworks from projects
  Common/BusinessModels/Ferretto.Common.BusinessModels.csproj
  Common/BusinessProviders/Ferretto.Common.BusinessProviders.csproj
  Common/DataModels/Ferretto.Common.DataModels.csproj
  Common/EF/Ferretto.Common.EF.csproj
  WMS/Scheduler/Drivers.Vertimag/Ferretto.WMS.Scheduler.Drivers.Vertimag.csproj
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml
