Repository ericquartey/wms: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipeline-database-health-dev.yml, Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Pipelines/azure-pipeline-database-health-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: andrewlackenby.sql-toolkit.runsqlcommand.RunSqlCommand@2
    displayName: Create cloud db
    inputs:
      serverName: rd-ferrettogroup.database.windows.net
      databaseName: master
  ...

Pipelines/azure-pipeline-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
  ...

Pipelines/azure-pipeline-vw-services-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(RestoreBuildProjects)
      feedsToUse: config
      nugetConfigPath: nuget.config
  - task: DotNetCoreCLI@2
  ...

Pipelines/azure-pipeline-vw-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution
    inputs:
      solution: $(TargetSolution)
  ...

Pipelines/azure-pipeline-wms-services-dev.yml:
  queue:
    name: Hosted Ubuntu 1604
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
      targetFolder: $(Build.ArtifactStagingDirectory)\sources
  - task: PublishBuildArtifacts@1
  ...

Pipelines/azure-pipeline-wms-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution WMS.App
    inputs:
      solution: $(TargetSolution)
  ...

feat(automation-mock): update mission listing
  WMS/AutomationServiceMock/Program.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat:Testing-SignalRMethod-NotifyUpdate-MAS-ServiceToClient
  VerticalWarehouses/Common/Resources/InstallationApp.Designer.cs
  VerticalWarehouses/Common/Resources/InstallationApp.resx
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/VerticalAxisCalibrationViewModel.cs
  VerticalWarehouses/Panel PC UI/VWApp/MainWindowViewModel.cs
Due: none

build: add now parameter to wms ui template to specify build project configuration
  Pipelines/azure-pipeline-prod.yml
  WMS/Pipelines/azure-pipeline-wms-ui-dev.yml
  WMS/Pipelines/azure-pipeline-wms-ui-template.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: temporarily comment pipeline steps to quickly test it
  Pipelines/azure-pipeline-prod.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: reactivate pipeline steps
  Pipelines/azure-pipeline-prod.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[move] call SetLanguage first of all, resolved problem 2 languages
  WMS/App/App/App.xaml.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: try to make some pipeline step faster
  WMS/Pipelines/azure-pipeline-wms-ui-template.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] logic if value is null -> write NotSpecified, adding new dp in infoText IsNullProperty to manage it
  Common/Controls/Controls/InfoText/InfoText.cs
  Common/Resources/General.Designer.cs
  Common/Resources/General.it.resx
  Common/Resources/General.resx
  WMS/App/App.Themes/Themes/Light/InfoText.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Changed IDataLayerValueManagement interface
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer_ValueManagment.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Interfaces/IDataLayerValueManagment.cs
Due: none

Changed configurationValue model class
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/ConfigurationCategoryValueEnum.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/VerticalManualMovementsEnum.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/WeightControlEnum.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Models/ConfigurationValue.cs
Due: none

[resolved] references
  Common/Controls/ViewModels/EntityPagedListViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemDetailsViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore:Modifying VerticalCalibrationViewModel class for appsetting configuration manager value and key
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/VerticalAxisCalibrationViewModel.cs
Due: none

build(sdk): update netcore sdk to version 2.2
  Common/BLL.Interfaces/Ferretto.Common.BLL.Interfaces.csproj
  Common/BLL.Tests/Ferretto.Common.BLL.Tests.csproj
  Common/BusinessModels/Ferretto.Common.BusinessModels.csproj
  Common/BusinessProviders/Ferretto.Common.BusinessProviders.csproj
  Common/Controls/Ferretto.Common.Controls.csproj
  Common/DataModels/Ferretto.Common.DataModels.csproj
  Common/EF/Ferretto.Common.EF.csproj
  Common/Resources/Ferretto.Common.Resources.csproj
  Common/Utils/Ferretto.Common.Utils.csproj
  VerticalWarehouses/Common/Resources/Ferretto.VW.Resources.csproj
  WMS/App/App.Tests/Ferretto.WMS.App.Tests.csproj
  WMS/App/App.Themes/Ferretto.WMS.App.Themes.csproj
  WMS/App/App/Ferretto.WMS.App.csproj
  WMS/App/Modules/BLL/Ferretto.WMS.App.Modules.BLL.csproj
  WMS/App/Modules/Layout/Ferretto.WMS.App.Modules.Layout.csproj
  WMS/App/Modules/Machines/Ferretto.WMS.App.Modules.Machines.csproj
  WMS/App/Modules/MasterData/Ferretto.WMS.App.Modules.MasterData.csproj
  WMS/App/Modules/Scheduler/Ferretto.WMS.App.Modules.Scheduler.csproj
  WMS/AutomationServiceMock/Ferretto.WMS.AutomationServiceMock.csproj
  WMS/Data/Core/Ferretto.WMS.Data.Core.csproj
  WMS/Data/Tests/Ferretto.WMS.Data.Tests.csproj
  WMS/Data/WebAPI.Contracts/Ferretto.WMS.Data.WebAPI.Contracts.csproj
  WMS/Data/WebAPI/Ferretto.WMS.Data.WebAPI.csproj
  WMS/Data/WebAPI/Startup.cs
  WMS/Scheduler/Core/Ferretto.WMS.Scheduler.Core.csproj
  WMS/Scheduler/Drivers.Vertimag/Ferretto.WMS.Scheduler.Drivers.Vertimag.csproj
  WMS/Scheduler/Tests/Ferretto.WMS.Scheduler.Tests.csproj
  global.json
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[resolved] buil failed
  WMS/App/Modules/MasterData/ViewModels/Item/ItemsViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore:Modifying appsettings.Development.json
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
Due: none

feat(): feature creation
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/LogTargets/SQLiteTarget.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/MAS_AutomationService.csproj
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/nlog.config
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayerContext.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/MAS_DataLayer.csproj
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Migrations/20190319112040_AddLogEntry.Designer.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Migrations/20190319112040_AddLogEntry.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Models/LogEntry.cs
  VerticalWarehouses/SQLiteTarget/SQLiteTarget.csproj
  VerticalWarehouses/SQLiteTarget/SQliteTarget.cs
  VerticalWarehouses/VerticalWarehouses.sln
Due: none

Other fixes
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayerContext.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer_CellsManagment.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer_ValueManagment.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/SetupNetworkEnum.cs
Due: none

Inserted the Help page for the main windows. Resources file updated. Inserted the reference for the help page manager.
  VerticalWarehouses/Common/Resources/HelpDescriptions.Designer.cs
  VerticalWarehouses/Common/Resources/HelpDescriptions.it.resx
  VerticalWarehouses/Common/Resources/HelpDescriptions.resx
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Ferretto.VW.OperatorApp.csproj
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpInitialPage.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpInitialPage.xaml.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpMainWindow.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpMainWindow.xaml.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpPageBase.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/MainWindowViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/MainWindowViewModel_Commands.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Resources/Enumerations/OperatorApp_EventMessageType.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Resources/OperatorAppModule.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Resources/OperatorApp_Event.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Resources/OperatorApp_EventMessage.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/IdleViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Interfaces/IHelpMainWindow.cs
Due: none

other fix
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
Due: none

chore: Refactor the states machine for homing procedure
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/FiniteStateMachines.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HomingCalibrateAxisDoneState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HomingEndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HomingErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HomingStartState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HomingStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HomingSwitchAxisDoneState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Interface/IHomingStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Interface/IStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Interface/IUpDownRepetitiveStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Mission/MissionEndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Mission/MissionErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Mission/MissionStartState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Mission/MissionStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/PositioningEndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/PositioningErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/PositioningStartState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/PositioningStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/StateMachineBase.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/UpDownRepetitive/DownState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/UpDownRepetitive/UpDownEndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/UpDownRepetitive/UpDownErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/UpDownRepetitive/UpDownRepetitiveStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/UpDownRepetitive/UpDownStartState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/UpDownRepetitive/UpState.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/Homing/HomingErrorStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/Homing/HomingStateMachineUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/Positioning/PositioningEndStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/Positioning/PositioningErrorStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/Positioning/PositioningStartStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/Positioning/PositioningStateMachineUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/UpDownRepetitive/DownStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/UpDownRepetitive/UpDownEndStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/UpDownRepetitive/UpDownErrorStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/UpDownRepetitive/UpDownRepetitiveStateMachineUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/UpDownRepetitive/UpDownStartStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/UpDownRepetitive/UpStateUnitTest.cs
Due: none

refactor: rename RequiredQuantity to RequestedQuantity
  Common/BusinessModels/ListRow/ItemListRow.cs
  Common/BusinessModels/ListRow/ItemListRowDetails.cs
  Common/BusinessModels/Mission/Mission.cs
  Common/BusinessProviders/ItemListRowProvider.cs
  Common/BusinessProviders/MissionProvider.cs
  Common/DataModels/ItemListRow.cs
  Common/Resources/BusinessObjects.Designer.cs
  Common/Resources/BusinessObjects.resx
  WMS/App/Modules/MasterData/Views/ItemList/ItemListDetailsView.xaml
  WMS/App/Modules/MasterData/Views/ItemListRow/ItemListRowDetailsView.xaml
  WMS/App/Modules/MasterData/Views/ItemListRow/ItemListRowExecuteDialogView.xaml
  WMS/App/Modules/Scheduler/Views/MissionsView.xaml
  WMS/Data/Core/Models/ItemListRow/ItemListRow.cs
  WMS/Data/Core/Models/ItemListRow/ItemListRowDetails.cs
  WMS/Data/Core/Providers/ItemListProvider.cs
  WMS/Data/Core/Providers/ItemListRowProvider.cs
  WMS/Scheduler/Core/Models/ItemListRow.cs
  WMS/Scheduler/Core/Providers/ItemListSchedulerProvider.cs
  WMS/Scheduler/Tests/ListProviderTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: set copy always to all appsettings.json childs
  WMS/AutomationServiceMock/Ferretto.WMS.AutomationServiceMock.csproj
  WMS/Data/WebAPI/Ferretto.WMS.Data.WebAPI.csproj
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: change NetCore environment variable name
  Common/EF/DatabaseContextFactory.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat: make AutomationServiceMock work using differents environment configurations
  WMS/AutomationServiceMock/Program.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build(autogen): update service contracts
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(list-rows): create migration to rename RequiredQuantity field
  Common/EF/Migrations/20190320084219_Rename_Field_RequiredQuantity_For_Table_ItemListRows.Designer.cs
  Common/EF/Migrations/20190320084219_Rename_Field_RequiredQuantity_For_Table_ItemListRows.cs
  Common/EF/Seeds/Dev.Minimal.sql
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor(resources): remove unused WMS App resources
  Common/Resources/DesktopApp.Designer.cs
  Common/Resources/DesktopApp.it.resx
  Common/Resources/DesktopApp.resx
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(seeds): update sql seeding scripts location
  WMS/Scheduler/Core/Services/SchedulerService.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: compact sql seed project settings
  Common/EF/Ferretto.Common.EF.csproj
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

compilation fixes
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer_CellsManagment.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer_Converter.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer_ValueManagment.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/ConfigurationCategoryValueEnum.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Interfaces/IDataLayerConverter.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Interfaces/IDataLayerValueManagment.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedIoDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_DataLayerUnitTests/DataLayerUnitTest.cs
  VerticalWarehouses/SQLiteTarget/SQliteTarget.cs
Due: none

refactor: fix typo
  Common/DataModels/MissionStatus.cs
  WMS/Data/Core/Models/ItemListRow/ItemListRow.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: merge default and env specific appsettings.json configurations
  WMS/AutomationServiceMock/Program.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

migration commit
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayerContext.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Models/ConfigurationValue.cs
Due: none

feat(): first part of Item created
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Enumerations/ErrorLevel.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Enumerations/MessageVerbosity.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/NotificationMessage.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/nlog.config
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Migrations/20190320094151_AddFieldLogEntry.Designer.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Migrations/20190320094151_AddFieldLogEntry.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Models/LogEntry.cs
  VerticalWarehouses/SQLiteTarget/SQliteTarget.cs
Due: none

refactor: fix minor CA warnings
  Common/Controls/Triggers/WmsTooltipViewAppear.cs
  Common/Controls/ViewModels/CreateViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix commit
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer_Converter.cs
Due: none

other fixes
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
Due: none

feat(data-service): introduce mvc api code analyzer
  WMS/Data/WebAPI/Controllers/AbcClassesController.cs
  WMS/Data/WebAPI/Controllers/AislesController.cs
  WMS/Data/WebAPI/Controllers/AreasController.cs
  WMS/Data/WebAPI/Controllers/BaysController.cs
  WMS/Data/WebAPI/Controllers/CellPositionsController.cs
  WMS/Data/WebAPI/Controllers/CellStatusesController.cs
  WMS/Data/WebAPI/Controllers/CellTypesController.cs
  WMS/Data/WebAPI/Controllers/CellsController.cs
  WMS/Data/WebAPI/Controllers/CompartmentStatusesController.cs
  WMS/Data/WebAPI/Controllers/CompartmentTypesController.cs
  WMS/Data/WebAPI/Controllers/CompartmentsController.cs
  WMS/Data/WebAPI/Controllers/ItemCategoriesController.cs
  WMS/Data/WebAPI/Controllers/ItemCompartmentTypesController.cs
  WMS/Data/WebAPI/Controllers/ItemListRowsController.cs
  WMS/Data/WebAPI/Controllers/ItemListsController.cs
  WMS/Data/WebAPI/Controllers/ItemsController.cs
  WMS/Data/WebAPI/Controllers/LoadingUnitStatusesController.cs
  WMS/Data/WebAPI/Controllers/LoadingUnitTypesController.cs
  WMS/Data/WebAPI/Controllers/LoadingUnitsController.cs
  WMS/Data/WebAPI/Controllers/MachinesController.cs
  WMS/Data/WebAPI/Controllers/MaterialStatusesController.cs
  WMS/Data/WebAPI/Controllers/MeasureUnitsController.cs
  WMS/Data/WebAPI/Controllers/MissionsController.cs
  WMS/Data/WebAPI/Controllers/PackageTypesController.cs
  WMS/Data/WebAPI/Controllers/SchedulerRequestsController.cs
  WMS/Data/WebAPI/Controllers/UsersController.cs
  WMS/Data/WebAPI/Ferretto.WMS.Data.WebAPI.csproj
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build(autogen): update nswag options and regenerate service contracts
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
  WMS/Data/WebAPI/nswag.json
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(data-service): add health checks endpoint
  WMS/Data/WebAPI/Startup.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Path conditions:
  Pipelines/azure-pipeline-database-health-dev.yml: any of: Common\DataModels, Common\EF, but not: VerticalWarehouses, WMS, Common
  Pipelines/azure-pipeline-dev.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-vw-services-dev.yml: any of: *, VerticalWarehouses\Machine Automation Service, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-vw-ui-dev.yml: any of: *, VerticalWarehouses\Panel PC User Interface, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-wms-services-dev.yml: any file but: VerticalWarehouses, WMS\App
  Pipelines/azure-pipeline-wms-ui-dev.yml: any file but: VerticalWarehouses, WMS\Data, WMS\Scheduler
