Repository ericquartey/wms: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipeline-database-health-dev.yml, Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Path conditions:
  Pipelines/azure-pipeline-database-health-dev.yml: any of: Common\DataModels, Common\EF, but not: VerticalWarehouses, WMS, Common
  Pipelines/azure-pipeline-dev.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-vw-services-dev.yml: any of: *, VerticalWarehouses\Machine Automation Service, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-vw-ui-dev.yml: any of: *, VerticalWarehouses\Panel PC User Interface, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-wms-services-dev.yml: any file but: VerticalWarehouses, WMS\App
  Pipelines/azure-pipeline-wms-ui-dev.yml: any file but: VerticalWarehouses, WMS\Data, WMS\Scheduler

feat(PositioningFSM): created State Machine and State for positioning procedure
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/FiniteStateMachines.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/PositioningEndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/PositioningErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/PositioningStartState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/PositioningStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/PositioningSwitchAxisDoneState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
Due: none

feat(PositioningFSM): modified unit tests
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/Positioning/PositioningEndStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/Positioning/PositioningStartStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/Positioning/PositioningStateMachineUnitTest.cs
Due: none

chore: Update the autogenerated service for Swagger contracts
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/Services.autogen.cs
Due: none

Chore():
  VerticalWarehouses/Common/Common_Utils/Ferretto.VW.Common_Utils.csproj
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/DTOs/ShutterPositioningMovementMessageDataDTO.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Data/ShutterPositioningMessageData.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/Services.autogen.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/LowSpeedMovements/LSMTShutterEngineViewModel.cs
Due: none

fix problem related type of TotalAvailable , a runtime is computes as int nullable
  WMS/Data/Core/Models/Item/Item.cs
  WMS/Data/Core/Providers/ItemProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: create migration
  Common/EF/Migrations/20190412072831_Change_Quantity_Fields_To_Double.Designer.cs
  Common/EF/Migrations/20190412072831_Change_Quantity_Fields_To_Double.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(loading-unit): fix loading units provider query
  Common/Controls/Ferretto.WMS.App.Controls.csproj
  Common/DataModels/SchedulerRequest.cs
  WMS/Data/Core/Models/Machine/MachineWithdraw.cs
  WMS/Data/Core/Providers/LoadingUnitProvider.cs
  WMS/Scheduler/Core/Providers/MissionSchedulerProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build(autogen): generate contracts
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(wms-service): move swagger setup to Dev environment only
  WMS/Data/WebAPI/Startup.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: fix merge conflicts
  WMS/App/App.Controls/Ferretto.WMS.App.Controls.csproj
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix loading that still running
  WMS/App/App.Controls/Controls/Image/WmsImageEdit.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Chore(): comment deleted and add //TEMP
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/ShutterPositioning/ShutterPositioningStateMachine.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/LowSpeedMovements/LSMTShutterEngineViewModel.cs
Due: none

Feat add EndPoint /api/areas/{id}/itemlists to retrieve lists associated to an area.
  WMS/Data/Core/Interfaces/IItemListProvider.cs
  WMS/Data/Core/Models/ItemList/ItemList.cs
  WMS/Data/Core/Providers/ItemListProvider.cs
  WMS/Data/Tests/Controllers/AreasControllerTest.cs
  WMS/Data/WebAPI/Controllers/AreasController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Fix machines distinct on ItemlistProvider , GetByAreaId
  WMS/Data/Core/Providers/ItemListProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat:Create&Test RestApi for StartBeltBreakIn & Test RestApi for StopBeltBreakIn
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Enumerations/MessageType.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/ServiceContracts.autogen.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/Services.autogen.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Resources/Views.xaml
  VerticalWarehouses/Panel PC UI/InstallationApp/Resources/InstallationAppModule.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/MainWindowNavigationButtonsView.xaml
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/BeltBurnishingView.xaml
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/BeltBurnishingViewModel.cs
Due: none

Feat add MachineApplicability for each ItemListRow
  WMS/Data/Core/Models/ItemListRow/ItemListRow.cs
  WMS/Data/Core/Providers/ItemListRowProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Fix retrieve ItemListRow Machines
  WMS/Data/Core/Providers/ItemListRowProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Fix from merge
  WMS/Data/Core/Providers/ItemProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat: Add the subscription to the UI for notification about the operation completion.
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Enumerations/MessageType.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Data/UpDownRepetitiveMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Interfaces/IUpDownRepetitiveMessageData.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/AutomationService.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Interfaces/IInstallationHub.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ServiceUtilities/InstallationHubClient.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/BeltBurnishingView.xaml
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/BeltBurnishingViewModel.cs
  VerticalWarehouses/Panel PC UI/VWApp/NotificationCatcher.cs
Due: none

chore fix downloadAsync image on ImageUtils
  WMS/App/App.Controls/Controls/Image/ImageUtils.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[fix] bug on MaxCapacity on type int->double
  WMS/App/App.Core/Interfaces/ICompartmentProvider.cs
  WMS/App/App.Core/Providers/CompartmentProvider.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
  WMS/Data/WebAPI/Controllers/CompartmentsController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[fix] bug on update compartment in edit
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentEditViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Inverter driver mock implementation
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/ServiceContracts.autogen.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/Services.autogen.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/SocketTransportMock.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/HostedInverterDriverTests.cs
Due: none

feat(): created the UI changes to call the ShutterPositioning FSM, with test and bugs solved
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Enumerations/Direction.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/AutomationService.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Interfaces/IInstallationHub.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/VertimagConfiguration.json
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/Services.autogen.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/FiniteStateMachines.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ServiceUtilities/InstallationHubClient.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/LowSpeedMovements/LSMTShutterEngineView.xaml
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/LowSpeedMovements/LSMTShutterEngineViewModel.cs
  VerticalWarehouses/Panel PC UI/VWApp/NotificationCatcher.cs
Due: none

Chore():
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Enumerations/Direction.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
Due: none

Chore():
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/Services.autogen.cs
Due: none

Chore():
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/LowSpeedMovements/LSMTShutterEngineViewModel.cs
Due: none

refactor: move update entity endpoints to /api/entity/id/ route
  WMS/App/App.Core/Providers/CellProvider.cs
  WMS/App/App.Core/Providers/CompartmentProvider.cs
  WMS/App/App.Core/Providers/ItemListProvider.cs
  WMS/App/App.Core/Providers/ItemListRowProvider.cs
  WMS/App/App.Core/Providers/ItemProvider.cs
  WMS/App/App.Core/Providers/LoadingUnitProvider.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
  WMS/Data/WebAPI/Controllers/CellsController.cs
  WMS/Data/WebAPI/Controllers/CompartmentsController.cs
  WMS/Data/WebAPI/Controllers/ItemListRowsController.cs
  WMS/Data/WebAPI/Controllers/ItemListsController.cs
  WMS/Data/WebAPI/Controllers/ItemsController.cs
  WMS/Data/WebAPI/Controllers/LoadingUnitsController.cs
  WMS/Data/WebAPI/Interfaces/IUpdateController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat: add area fill rate column to loading units view grid
  Common/Resources/BusinessObjects.Designer.cs
  Common/Resources/BusinessObjects.it.resx
  Common/Resources/BusinessObjects.resx
  WMS/App/App.Core/Models/LoadingUnit/LoadingUnit.cs
  WMS/App/App.Core/Providers/LoadingUnitProvider.cs
  WMS/App/Modules/MasterData/Views/LoadingUnit/LoadingUnitsView.xaml
  WMS/Data/Core/Models/LoadingUnit/LoadingUnit.cs
  WMS/Data/Core/Providers/LoadingUnitProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat:inverter driver mock fix:ui update to handle homing notification
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Data/HomingMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Interfaces/IHomingMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/NotificationMessage.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/AutomationService.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Interfaces/IInstallationHub.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/MAS_AutomationService.csproj
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/VertimagConfiguration.json
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer_SetupStatus.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/SetupStatus.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/EmptyState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HomingErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HomingStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/PositioningStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/ShutterPositioning/ShutterPositioningStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/StateMachineBase.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Template/TemplateErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Template/TemplateStartState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Template/TemplateStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/SocketTransportMock.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ServiceUtilities/InstallationHubClient.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/VerticalAxisCalibrationViewModel.cs
  VerticalWarehouses/Panel PC UI/VWApp/NotificationCatcher.cs
Due: none

fix:fixedIO driver unit tests
  VerticalWarehouses/Machine Automation Service/Tests/MAS_IoDriverUnitTests/HostedIoDriverTest.cs
Due: none

fix:fixed IO driver unit test
  VerticalWarehouses/Machine Automation Service/Tests/MAS_IoDriverUnitTests/HostedIoDriverTest.cs
Due: none

feat(identity): add user name claim retrieval
  IdentityServer/Config.cs
  WMS/App/Modules/Layout/ViewModels/MenuViewModel.cs
  WMS/App/Modules/Layout/Views/MenuView.xaml
  WMS/AutomationServiceMock/AutomationService.cs
  WMS/AutomationServiceMock/IAutomationService.cs
  WMS/AutomationServiceMock/Program.cs
  WMS/AutomationServiceMock/Views.cs
  WMS/Data/WebAPI.Contracts/AuthenticationService.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
  WMS/Data/WebAPI/Ferretto.WMS.Data.WebAPI.csproj
  WMS/Data/WebAPI/Startup.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix:removedFailing inverter driver and IO unit tests
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/HostedInverterDriverTests.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_IoDriverUnitTests/HostedIoDriverTest.cs
Due: none

Chore(): corrected merge problems
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/TestController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/ServiceContracts.autogen.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/Services.autogen.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/LowSpeedMovements/LSMTShutterEngineViewModel.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/ShuttersControl/Shutter1ControlViewModel.cs
Due: none

chore move Views/ViewModels from ItemList,ItemListRow folder of masterData to new itemLists Module
  Common/Utils/Menu/AppMenu.cs
  Common/Utils/Modules/ItemLists.cs
  Common/Utils/Modules/MasterData.cs
  WMS/App/App.Tests/App.config
  WMS/App/App.Tests/Ferretto.WMS.App.Tests.csproj
  WMS/App/App.Tests/ModulesUITest.cs
  WMS/App/App.Tests/StartupTest.cs
  WMS/App/App/App.config
  WMS/App/App/App.xaml.cs
  WMS/App/App/Shell.xaml.cs
  WMS/App/Modules/BLL/Services/DataSourceService.cs
  WMS/App/Modules/ItemLists/Ferretto.WMS.App.Modules.ItemLists.csproj
  WMS/App/Modules/ItemLists/ItemListsModule.cs
  WMS/App/Modules/ItemLists/ViewModels/ItemList/ItemListAddDialogViewModel.cs
  WMS/App/Modules/ItemLists/ViewModels/ItemList/ItemListDetailsViewModel.cs
  WMS/App/Modules/ItemLists/ViewModels/ItemList/ItemListExecuteDialogViewModel.cs
  WMS/App/Modules/ItemLists/ViewModels/ItemList/ItemListsViewModel.cs
  WMS/App/Modules/ItemLists/ViewModels/ItemListRow/ItemListRowAddDialogViewModel.cs
  WMS/App/Modules/ItemLists/ViewModels/ItemListRow/ItemListRowDetailsViewModel.cs
  WMS/App/Modules/ItemLists/ViewModels/ItemListRow/ItemListRowExecuteDialogViewModel.cs
  WMS/App/Modules/ItemLists/Views/ItemList/ItemListAddDialogView.xaml
  WMS/App/Modules/ItemLists/Views/ItemList/ItemListAddDialogView.xaml.cs
  WMS/App/Modules/ItemLists/Views/ItemList/ItemListDetailsView.xaml
  WMS/App/Modules/ItemLists/Views/ItemList/ItemListDetailsView.xaml.cs
  WMS/App/Modules/ItemLists/Views/ItemList/ItemListExecuteDialogView.xaml
  WMS/App/Modules/ItemLists/Views/ItemList/ItemListExecuteDialogView.xaml.cs
  WMS/App/Modules/ItemLists/Views/ItemList/ItemListsView.xaml
  WMS/App/Modules/ItemLists/Views/ItemList/ItemListsView.xaml.cs
  WMS/App/Modules/ItemLists/Views/ItemListRow/ItemListRowAddDialogView.xaml
  WMS/App/Modules/ItemLists/Views/ItemListRow/ItemListRowAddDialogView.xaml.cs
  WMS/App/Modules/ItemLists/Views/ItemListRow/ItemListRowDetailsView.xaml
  WMS/App/Modules/ItemLists/Views/ItemListRow/ItemListRowDetailsView.xaml.cs
  WMS/App/Modules/ItemLists/Views/ItemListRow/ItemListRowExecuteDialogView.xaml
  WMS/App/Modules/ItemLists/Views/ItemListRow/ItemListRowExecuteDialogView.xaml.cs
  WMS/App/Modules/ItemLists/packages.config
  WMS/App/Modules/MasterData/MasterDataModule.cs
  WMS/WMS.sln
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat: data service log to file instead of windows event log
  WMS/Data/WebAPI/Ferretto.WMS.Data.WebAPI.csproj
  WMS/Data/WebAPI/Program.cs
  WMS/Data/WebAPI/nlog.config
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Created state machine for inverter positioning
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/FieldData/PositioningFieldMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/FieldInterfaces/IPositioningFieldMessageData.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/TestController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/ServiceContracts.autogen.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/Services.autogen.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/PositioningEndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/PositioningErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/PositioningStartState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/PositioningSwitchAxisDoneState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/CalibrateAxisStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Positioning/EnableOperationState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Positioning/EndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Positioning/ErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Positioning/PositioningModeState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Positioning/PositioningStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Positioning/ShutDownState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Positioning/StartingPositioningState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Positioning/SwitchOnState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Positioning/VoltageDisabledState.cs
Due: none

feat(images): update image provider interfaces
  Common/BLL.Interfaces/Providers/IFileProvider.cs
  WMS/App/App.Core/Providers/ImageProvider.cs
  WMS/Data/Core/Interfaces/IImageProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml
