Repository ericquartey/wms: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipeline-database-health-dev.yml, Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Pipelines/azure-pipeline-database-health-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: andrewlackenby.sql-toolkit.runsqlcommand.RunSqlCommand@2
    displayName: Create cloud db
    inputs:
      serverName: rd-ferrettogroup.database.windows.net
      databaseName: master
  ...

Pipelines/azure-pipeline-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
  ...

Pipelines/azure-pipeline-vw-services-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(RestoreBuildProjects)
      feedsToUse: config
      nugetConfigPath: nuget.config
  - task: DotNetCoreCLI@2
  ...

Pipelines/azure-pipeline-vw-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution
    inputs:
      solution: $(TargetSolution)
  ...

Pipelines/azure-pipeline-wms-services-dev.yml:
  queue:
    name: Hosted Ubuntu 1604
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
      targetFolder: $(Build.ArtifactStagingDirectory)\sources
  - task: PublishBuildArtifacts@1
  ...

Pipelines/azure-pipeline-wms-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution WMS.App
    inputs:
      solution: $(TargetSolution)
  ...

feat:interlock inverter write/read threades
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/Services.autogen.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
Due: none

feat(MAS_Communication): created hub end message objects
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Hubs/OperatorHub.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/Services.autogen.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Resources/OperatorAppModule.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ServiceUtilities/Interfaces/IContainerOperatorHubClient.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ServiceUtilities/Interfaces/IOperatorHubClient.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ServiceUtilities/Interfaces/MessageNotifiedEventArgs.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ServiceUtilities/Interfaces/ReceivedMessageEventArgs.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ServiceUtilities/OperatorHubClient.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/MainWindowViewModel.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/Resources/InstallationAppModule.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ServiceUtilities/InstallationHubClient.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ServiceUtilities/Interfaces/IContainerInstallationHubClient.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ServiceUtilities/Interfaces/IInstallationHubClient.cs
  VerticalWarehouses/Panel PC UI/VWApp/MainWindowViewModel.cs
  VerticalWarehouses/Panel PC UI/VWApp/NotificationCatcher.cs
Due: none

Chore:test commit
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver_Utility.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/InverterStateMachineBase.cs
Due: none

[add] resources
  Common/Resources/BusinessObjects.Designer.cs
  Common/Resources/BusinessObjects.it.resx
  Common/Resources/BusinessObjects.resx
  Common/Resources/EnumColors.Designer.cs
  Common/Resources/EnumColors.resx
  Common/Resources/Icons.Designer.cs
  Common/Resources/Icons.resx
  Common/Resources/Machines.Designer.cs
  Common/Resources/Machines.it.resx
  Common/Resources/Machines.resx
  Common/Resources/Navigation.Designer.cs
  Common/Resources/Navigation.it.resx
  Common/Resources/Navigation.resx
  Common/Resources/Title.Designer.cs
  Common/Resources/Title.it.resx
  Common/Resources/Title.resx
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix:removed not necessary using
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver_Utility.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/InverterStatus/InverterIoStatusBase.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/ShutterPositioning/ShutterPositioningStateMachine.cs
Due: none

[add] new models: MachineDetails + BayDetails + MachineLive
  WMS/App/App.Core/Models/Bay/BayDetails.cs
  WMS/App/App.Core/Models/Machine/MachineDetails.cs
  WMS/App/App.Core/Models/Machine/MachineLive.cs
  WMS/Data/Core/Models/Bay/BayDetails.cs
  WMS/Data/Core/Models/Machine/IMachineLiveData.cs
  WMS/Data/Core/Models/Machine/MachineDetails.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] view & viewmodel
  Common/Utils/Modules/Machines.cs
  WMS/App/Modules/Machines/MachinesModule.cs
  WMS/App/Modules/Machines/ViewModels/MachineDetailsViewModel.cs
  WMS/App/Modules/Machines/ViewModels/MachinesViewModel.cs
  WMS/App/Modules/Machines/Views/MachineDetailsView.xaml
  WMS/App/Modules/Machines/Views/MachineDetailsView.xaml.cs
  WMS/App/Modules/Machines/Views/MachinesView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] methods to provider from app and data service [update] controller & tests
  WMS/App/App.Core/Interfaces/IBayProvider.cs
  WMS/App/App.Core/Interfaces/IMachineProvider.cs
  WMS/App/App.Core/Providers/BayProvider.cs
  WMS/App/App.Core/Providers/MachineProvider.cs
  WMS/Data/Core/Interfaces/Data/IBayProvider.cs
  WMS/Data/Core/Interfaces/Data/IMachineProvider.cs
  WMS/Data/Core/Providers/Data/BayProvider.cs
  WMS/Data/Core/Providers/Data/MachineProvider.cs
  WMS/Data/Tests/Controllers/MachinesControllerTest.cs
  WMS/Data/WebAPI/Controllers/MachinesController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] new dp in WmsEnumIndicator, additional value
  WMS/App/App.Controls/Controls/EnumIndicator/WmsEnumIndicator.xaml.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[update] field in machine
  WMS/App/App.Core/Models/Machine/Machine.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] new class to identify every element in context
  WMS/App/App.Core/Models/ModelObject.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

HelpCellsStatistics, HelpGenerlInfo and HelpStatisticsGenaralData inserted. Resources file updated.
  VerticalWarehouses/Common/Resources/HelpDescriptions.Designer.cs
  VerticalWarehouses/Common/Resources/HelpDescriptions.it.resx
  VerticalWarehouses/Common/Resources/HelpDescriptions.resx
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Ferretto.VW.OperatorApp.csproj
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpCellsStatistics.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpCellsStatistics.xaml.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpGeneralInfo.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpGeneralInfo.xaml.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpMainWindow.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpStatisticsGeneralData.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpStatisticsGeneralData.xaml.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/Statistics/CellsStatisticsView.xaml
Due: none

feat(put-lists): implement execution
  Common/BLL.Interfaces/Models/Policy/Provider/ItemListRowpolicy.cs
  WMS/Data/Core/Models/ItemList/ItemListOperation.cs
  WMS/Data/Core/Models/ItemListRow/ItemListRowOperation.cs
  WMS/Data/Core/Providers/Scheduler/ItemListExecutionProvider.cs
  WMS/Data/Core/Providers/Scheduler/ItemListRowExecutionProvider.cs
  WMS/Data/WebAPI/Controllers/ItemListRowsController.cs
  WMS/Data/WebAPI/Controllers/ItemListsController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: update SQL seeds to include ready-to-use Put lists
  Common/EF/Seeds/Dev.Minimal.sql
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(machines): add missing maintenance status
  WMS/Data/Core/Providers/Data/MachineProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(): work in progress
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/VertimagConfiguration.json
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
Due: none

test: update usage of data context for controller tests
  WMS/Data/Tests/Controllers/AbcClassesControllerTest.cs
  WMS/Data/Tests/Controllers/AislesControllerTest.cs
  WMS/Data/Tests/Controllers/AreasControllerTest.cs
  WMS/Data/Tests/Controllers/BaseControllerTest.cs
  WMS/Data/Tests/Controllers/BaysControllerTest.cs
  WMS/Data/Tests/Controllers/CellStatusesControllerTest.cs
  WMS/Data/Tests/Controllers/CellTypesControllerTest.cs
  WMS/Data/Tests/Controllers/CompartmentStatusesControllerTest.cs
  WMS/Data/Tests/Controllers/CompartmentTypesControllerTest.cs
  WMS/Data/Tests/Controllers/ItemCategoriesControllerTest.cs
  WMS/Data/Tests/Controllers/ItemListRowsControllerTest.cs
  WMS/Data/Tests/Controllers/ItemListsControllerTest.cs
  WMS/Data/Tests/Controllers/ItemsControllerCompartmentTypesTest.cs
  WMS/Data/Tests/Controllers/ItemsControllerTest.cs
  WMS/Data/Tests/Controllers/LoadingUnitStatusesControllerTest.cs
  WMS/Data/Tests/Controllers/LoadingUnitTypesControllerTest.cs
  WMS/Data/Tests/Controllers/MachinesControllerTest.cs
  WMS/Data/Tests/Controllers/MaterialStatusesControllerTest.cs
  WMS/Data/Tests/Controllers/MeasureUnitsControllerTest.cs
  WMS/Data/Tests/Controllers/PackageTypesControllerTest.cs
  WMS/Data/Tests/Controllers/WhereConditionsTest.cs
  WMS/Data/Tests/Ferretto.WMS.Data.Tests.csproj
  WMS/Data/Tests/Scheduler/MissionExecutionProviderTest.cs
  WMS/Data/Tests/Scheduler/SchedulerServiceTest.Lists.cs
  WMS/Data/Tests/Scheduler/SchedulerServiceTest.cs
  WMS/Data/WebAPI/Controllers/BaysController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(): work in progress
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController.cs
Due: none

Refactor(): PR comment corrections
  VerticalWarehouses/Common/Common_Utils/Messages/Data/DrawerOperationMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Interfaces/IDrawerOperationMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Enumerations/BayStatus.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/TestController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Interfaces/IOperatorHub.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/ServiceContracts.autogen.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/Services.autogen.cs
  VerticalWarehouses/Machine Automation Service/MAS_MissionsManager/MissionsManager.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Ferretto.VW.OperatorApp.csproj
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/MainWindowViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ServiceUtilities/MessageNotifiedEventArgs.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ServiceUtilities/OperatorHubClient.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ServiceUtilities/ReceivedMessageEventArgs.cs
  VerticalWarehouses/Panel PC UI/VWApp/NotificationCatcher.cs
Due: none

refactor(): reverted appsetting.development
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
Due: none

feat add CompartmentTypeView
  Common/Resources/BusinessObjects.Designer.cs
  Common/Resources/BusinessObjects.it.resx
  Common/Resources/BusinessObjects.resx
  Common/Resources/General.Designer.cs
  Common/Resources/General.it.resx
  Common/Resources/General.resx
  Common/Resources/MasterData.Designer.cs
  Common/Resources/MasterData.it.resx
  Common/Resources/MasterData.resx
  Common/Utils/Modules/MasterData.cs
  WMS/App/App.Core/Interfaces/Enumerations/ICompartmentTypeProvider.cs
  WMS/App/App.Core/Models/Compartment/CompartmentType.cs
  WMS/App/App.Core/Providers/CompartmentTypeProvider.cs
  WMS/App/Modules/BLL/Services/DataSourceService.cs
  WMS/App/Modules/MasterData/MasterDataModule.cs
  WMS/App/Modules/MasterData/ViewModels/CompartmentTypes/CompartmentTypesViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemsViewModel.cs
  WMS/App/Modules/MasterData/Views/CompartmentTypes/CompartmentTypesView.xaml
  WMS/App/Modules/MasterData/Views/CompartmentTypes/CompartmentTypesView.xaml.cs
  WMS/Data/Core/Interfaces/Data/ICompartmentTypeProvider.cs
  WMS/Data/Core/Interfaces/Policies/ICompartmentTypeDeletePolicy.cs
  WMS/Data/Core/Models/Compartment/CompartmentType.cs
  WMS/Data/Core/Policies/CompartmentTypeProviderPolicies.cs
  WMS/Data/Core/Providers/Data/CompartmentTypeProvider.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
  WMS/Data/WebAPI/Controllers/CompartmentTypesController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix:changed InverterPositioningFieldMessageData file position and namespace
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver_Utility.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/ShutterPositioning/InverterPositioningFieldMessageData.cs
Due: none

chore fix BuildSearchExpression of CompartmentTypeProvider
  WMS/Data/Core/Providers/Data/CompartmentTypeProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: corrected compilation error
  VerticalWarehouses/Panel PC UI/VWApp/MainWindowViewModel.cs
Due: none

[remove] area from button [disable] button when no row is selcted [check] on selected it is nullable
  Common/Resources/MasterData.Designer.cs
  Common/Resources/MasterData.it.resx
  Common/Resources/MasterData.resx
  WMS/App/Modules/MasterData/ViewModels/Item/ItemDetailsViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(compartments): update compartment providers
  WMS/Data/Core/Providers/Data/CompartmentProvider.cs
  WMS/Data/Core/Providers/Scheduler/CompartmentOperationProvider.cs
  WMS/Data/Tests/Scheduler/SchedulerServiceTest.Lists.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat:INV and FSM ShutterPositioning StateMachines
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/ShutterPositioning/ShutterPositioningEndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/ShutterPositioning/ShutterPositioningExecutingState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/Enumerations/InverterParameterId.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver_Utility.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/InverterStatus/ControlWord/ProfileVelocityControlWord.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/PowerOff/PowerOffStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/ShutterPositioning/ShutterPositioningDisableOperationState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/ShutterPositioning/ShutterPositioningDisableVoltageState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/ShutterPositioning/ShutterPositioningEnableVoltageState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/ShutterPositioning/ShutterPositioningStartState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/ShutterPositioning/ShutterPositioningStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/ShutterPositioning/ShutterPositioningSwitchOnState.cs
Due: none

chore: Modifications
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/FieldData/ShutterPositioningFieldMessageData.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver_Utility.cs
Due: none

build: deactivate S107 code analysis rule
  WMS/App/App.Core/Providers/CompartmentProvider.cs
  WMS/App/App.Core/Providers/LoadingUnitProvider.cs
  WMS/Data/Core/Models/ItemList/ItemList.cs
  analysis.ruleset
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

test: restructure ItemsController tests
  WMS/Data/Tests/Controllers/ItemsControllerTest.AreasWithAvailability.cs
  WMS/Data/Tests/Controllers/ItemsControllerTest.Pick.cs
  WMS/Data/Tests/Controllers/ItemsControllerTest.Put.cs
  WMS/Data/Tests/Controllers/ItemsControllerTest.cs
  WMS/Data/Tests/Ferretto.WMS.Data.Tests.csproj
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: rename controller endpoint method
  WMS/App/App.Core/Providers/AreaProvider.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
  WMS/Data/WebAPI/Controllers/ItemsController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: review ItemArea delete policy and refactor providers
  Common/BLL.Interfaces/Models/Policy/Provider/AreaPolicy.cs
  Common/Resources/BusinessObjects.Designer.cs
  Common/Resources/BusinessObjects.it.resx
  Common/Resources/BusinessObjects.resx
  WMS/App/Modules/MasterData/ViewModels/Item/ItemDetailsViewModel.cs
  WMS/Data/Core/Extensions/ServiceCollectionDataExtensions.cs
  WMS/Data/Core/Interfaces/Data/IAreaProvider.cs
  WMS/Data/Core/Interfaces/Data/IItemAreaProvider.cs
  WMS/Data/Core/Interfaces/Policies/IItemAreaDeletePolicy.cs
  WMS/Data/Core/Models/Area/AllowedItemArea.cs
  WMS/Data/Core/Models/Area/Policy/IAreaDeleteItemArea.cs
  WMS/Data/Core/Policies/ItemAreaProviderPolicies.cs
  WMS/Data/Core/Providers/Data/AreaProvider.cs
  WMS/Data/Core/Providers/Data/ItemAreaProvider.cs
  WMS/Data/Tests/Controllers/ItemsControllerCompartmentTypesTest.cs
  WMS/Data/Tests/Controllers/ItemsControllerTest.cs
  WMS/Data/WebAPI/Controllers/ItemsController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

test: add ItemArea controller tests
  WMS/Data/Tests/Controllers/ItemsControllerTest.AllowedAreas.cs
  WMS/Data/Tests/Ferretto.WMS.Data.Tests.csproj
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(): work in progress
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/VertimagConfiguration.json
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/PositioningExecutingState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Positioning/InverterPositioningFieldMessageData.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Positioning/PositioningEnableOperationState.cs
Due: none

feat(OperatorHub): Implemented BayManager (PPC Client) and Operator Hub basic functionality
  VerticalWarehouses/Common/Common_Utils/Messages/Data/DrawerOperationMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Enumerations/MessageType.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Interfaces/IDrawerOperationMessageData.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/TestController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Interfaces/IOperatorHub.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/MainWindowViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Resources/OperatorAppModule.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ServiceUtilities/BayManager.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ServiceUtilities/Interfaces/IBayManager.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/MainWindowNavigationButtonsViewModel.cs
  VerticalWarehouses/Panel PC UI/VWApp/Interfaces/INotificationCatcher.cs
  VerticalWarehouses/Panel PC UI/VWApp/MainWindowViewModel.cs
  VerticalWarehouses/Panel PC UI/VWApp/NotificationCatcher.cs
Due: none

refactor(): Refactored operator app module
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Resources/OperatorAppModule.cs
  VerticalWarehouses/Panel PC UI/VWApp/App.config
Due: none

HelpErrorsStatistics, HelpGeneralInfo and HelpStatisticsGeneralData pages inserted. Resources file updated.
  VerticalWarehouses/Common/Resources/HelpDescriptions.Designer.cs
  VerticalWarehouses/Common/Resources/HelpDescriptions.it.resx
  VerticalWarehouses/Common/Resources/HelpDescriptions.resx
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Ferretto.VW.OperatorApp.csproj
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpErrorsStatistics.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpErrorsStatistics.xaml.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpGeneralInfo.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpMainWindow.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpStatisticsGeneralData.xaml
Due: none

feat(compartments): fix required attribute on max capacity
  Common/Resources/Errors.Designer.cs
  Common/Resources/Errors.it.resx
  Common/Resources/Errors.resx
  WMS/App/App.Core/Models/Compartment/CompartmentDetails.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: fix text error message
  WMS/Data/Core/Providers/Scheduler/MissionExecutionProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Path conditions:
  Pipelines/azure-pipeline-database-health-dev.yml: any of: Common\DataModels, Common\EF, but not: VerticalWarehouses, WMS, Common
  Pipelines/azure-pipeline-dev.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-vw-services-dev.yml: any of: *, VerticalWarehouses\Machine Automation Service, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-vw-ui-dev.yml: any of: *, VerticalWarehouses\Panel PC User Interface, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-wms-services-dev.yml: any file but: VerticalWarehouses, WMS\App
  Pipelines/azure-pipeline-wms-ui-dev.yml: any file but: VerticalWarehouses, WMS\Data, WMS\Scheduler
