Repository ericquartey/wms: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipeline-database-health-dev.yml, Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Pipelines/azure-pipeline-database-health-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: andrewlackenby.sql-toolkit.runsqlcommand.RunSqlCommand@2
    displayName: Create cloud db
    inputs:
      serverName: rd-ferrettogroup.database.windows.net
      databaseName: master
  ...

Pipelines/azure-pipeline-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
  ...

Pipelines/azure-pipeline-prod.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
  ...

Pipelines/azure-pipeline-vw-services-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(RestoreBuildProjects)
      feedsToUse: config
      nugetConfigPath: nuget.config
  - task: DotNetCoreCLI@2
  ...

Pipelines/azure-pipeline-vw-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: NuGetToolInstaller@0
    displayName: Use NuGet 4.x
    inputs:
      versionSpec: 4.x
  - task: NuGetCommand@2
    displayName: NuGet restore
    inputs:
      restoreSolution: $(TargetSolution)
      feedsToUse: config
  ...

Pipelines/azure-pipeline-wms-services-dev.yml:
  queue:
    name: Hosted Ubuntu 1604
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
      targetFolder: $(Build.ArtifactStagingDirectory)\sources
  - task: PublishBuildArtifacts@1
  ...

Pipelines/azure-pipeline-wms-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution WMS.App
    inputs:
      solution: $(TargetSolution)
  ...

[update] style in action bar and remove ActionBarOverlayedWithGrid not used
  WMS/App/App.Themes/Themes/Light/ActionBar.xaml
  WMS/App/Modules/Machines/Views/MachinesView.xaml
  WMS/App/Modules/MasterData/Views/Cell/CellsView.xaml
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentsView.xaml
  WMS/App/Modules/MasterData/Views/ItemList/ItemListsView.xaml
  WMS/App/Modules/MasterData/Views/LoadingUnit/LoadingUnitsView.xaml
  WMS/App/Modules/Scheduler/Views/MissionsView.xaml
  WMS/App/Modules/Scheduler/Views/SchedulerRequestsView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor(bay-provider): use IOperationResult for the bay provider
  WMS/Data/Core/Interfaces/IBayProvider.cs
  WMS/Data/Core/Providers/BayProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: remove unused ProviderFactory
  WMS/Data/Core/ProviderFactory.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore:Update states machines of HorizontalMovingDrawer
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/HorizontalMovingDrawer/DisabledVoltageState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/HorizontalMovingDrawer/EnabledOperationState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/HorizontalMovingDrawer/IdleState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/HorizontalMovingDrawer/OperationModeState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/HorizontalMovingDrawer/ReadyToSwitchOnState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/HorizontalMovingDrawer/SetNewPositionState.cs
Due: none

Created MissionExecution Task
  VerticalWarehouses/Machine Automation Service/MAS_MissionsManager/MissionsManager.cs
Due: none

Updated SwitchOnState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/HorizontalMovingDrawer/SwitchOnState.cs
Due: none

chore: remove netstandard from WMS.Data.Core targets
  WMS/Data/Core/Ferretto.WMS.Data.Core.csproj
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Added new task to mission manager to manage missions' execution
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/TestController.cs
  VerticalWarehouses/Machine Automation Service/MAS_MissionsManager/MissionsManager.cs
Due: none

Fix unused code
  Common/BusinessModels/ChangeDetector.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor(business-logic-module): add missing services registration
  Common/Modules/BLL/BusinessLogicModule.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: controller error when orderby clause is empty
  WMS/Data/Core/Extensions/IQueryableExtension.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: move Modules.BLL project files to App folder
  WMS/App/Modules/BLL/BusinessLogicModule.cs
  WMS/App/Modules/BLL/Ferretto.WMS.App.Modules.BLL.csproj
  WMS/App/Modules/BLL/Models/DataSource.cs
  WMS/App/Modules/BLL/Models/FilterDataSource.cs
  WMS/App/Modules/BLL/Models/PagedDataSource.cs
  WMS/App/Modules/BLL/Services/DataSourceService.cs
  WMS/App/Modules/BLL/Services/EventService.cs
  WMS/App/Modules/BLL/Services/ImageProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: update project and solution references
  Common/Controls/Ferretto.Common.Controls.csproj
  WMS/App/Modules/BLL/Ferretto.WMS.App.Modules.BLL.csproj
  WMS/App/Modules/Layout/Ferretto.WMS.Modules.Layout.csproj
  WMS/App/Modules/Machines/Ferretto.WMS.Modules.Machines.csproj
  WMS/App/Modules/MasterData/Ferretto.WMS.Modules.MasterData.csproj
  WMS/WMS.App.sln
  WMS/WMS.sln
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[Add] class that manage fetch row async with InfiniteAsyncSource
  Common/Controls/Services/InfiniteDataSourceService.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

remove unnecessary code
  WMS/App/Modules/MasterData/ViewModels/LoadingUnit/LoadingUnitEditViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: rename WMS.Modules projects in WMS.App.Modules
  Common/BusinessModels/ChangeDetector.cs
  WMS/App/Modules/Layout/Ferretto.WMS.App.Modules.Layout.csproj
  WMS/App/Modules/Machines/Ferretto.WMS.App.Modules.Machines.csproj
  WMS/App/Modules/MasterData/Ferretto.WMS.App.Modules.MasterData.csproj
  WMS/App/Modules/Scheduler/Ferretto.WMS.Modules.Scheduler.csproj
  WMS/WMS.App.sln
  WMS/WMS.sln
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] datasource in gridcontrol of lookupedit
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentAddView.xaml
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentDetailsView.xaml
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentEditView.xaml
  WMS/App/Modules/MasterData/Views/ItemListRow/ItemListRowDetailsView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: rename WMS.Modules.Scheduler project to WMS.App.Modules.Scheduler
  WMS/App/Modules/Scheduler/Ferretto.WMS.App.Modules.Scheduler.csproj
  WMS/WMS.App.sln
  WMS/WMS.sln
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Help cells panel control created. Resource file updated.
  VerticalWarehouses/Common/Resources/HelpDescriptions.Designer.cs
  VerticalWarehouses/Common/Resources/HelpDescriptions.it.resx
  VerticalWarehouses/Common/Resources/HelpDescriptions.resx
  VerticalWarehouses/Common/Resources/InstallationApp.it.resx
  VerticalWarehouses/InstallationApp/Ferretto.VW.InstallationApp.csproj
  VerticalWarehouses/InstallationApp/HelpWindows/HelpCellsPanelControl.xaml
  VerticalWarehouses/InstallationApp/HelpWindows/HelpCellsPanelControl.xaml.cs
  VerticalWarehouses/InstallationApp/HelpWindows/HelpMainWindow.xaml
Due: none

feat(): split of DataLayer class with a partial class
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer_CellsManagment.cs
Due: none

[add] data service item GetAll return image property and update provider in common & update autogen
  Common/BusinessProviders/ItemProvider.cs
  WMS/Data/Core/Providers/ItemProvider.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Compartment Add+Edit+Details: [update] DataSource LookUpEdit with InfiniteDataSourceService [change] LoadDataAsync -> LoadData [move] onAppear in SidePanel not work move all in Constructor
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentAddViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentDetailsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentEditViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[update] DataSource with InfiniteDataSourceService in itemListRow
  WMS/App/Modules/MasterData/ViewModels/ItemListRow/ItemListRowDetailsViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[update] binding in image from Data to Row for using InfinitDataSource
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentAddView.xaml
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentEditView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[update] from IBusinessObject -> IModel
  Common/Controls/Services/InfiniteDataSourceService.cs
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentAddViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentDetailsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentEditViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/ItemListRow/ItemListRowDetailsViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

style: set rule SA1119 (Statement Must Not Use Unnecessary Parenthesis) at Info level
  analysis.ruleset
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: remove redundant code
  Common/Utils/Expressions/BinaryExpression.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: make swagger browser work also in testing environment
  WMS/Data/WebAPI/Startup.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

docs: add data model diagram for loading units
  Common/DataModels/Diagrams/LoadingUnits.cd
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: move AllowSorting, AllowedBinaryFilters, FilterPopupMode default property into GridColumn theme style
  WMS/App/App.Themes/Themes/Light/WmsGridControl.xaml
  WMS/App/Modules/Machines/Views/MachinesView.xaml
  WMS/App/Modules/MasterData/Views/Cell/CellsView.xaml
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentsView.xaml
  WMS/App/Modules/MasterData/Views/Item/ItemsView.xaml
  WMS/App/Modules/MasterData/Views/ItemList/ItemListsView.xaml
  WMS/App/Modules/MasterData/Views/LoadingUnit/LoadingUnitsView.xaml
  WMS/App/Modules/Scheduler/Views/MissionsView.xaml
  WMS/App/Modules/Scheduler/Views/SchedulerRequestsView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat: add filter operators
  Common/Controls/Extensions/CriteriaOperatorExtensions.cs
  Common/Utils/Expressions/ExpressionExtensions.cs
  Common/Utils/Expressions/UnaryExpression.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: fix references to Prism modules
  WMS/App/App/App.config
  WMS/App/Modules/BLL/Ferretto.WMS.App.Modules.BLL.csproj
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[move] try+catch from viewModel to infiniteDataSourceService
  Common/Controls/Services/InfiniteDataSourceService.cs
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentAddViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentEditViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[filter] compartment
  WMS/App/Modules/BLL/Services/DataSourceService.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] missing service in businessLogicModule
  WMS/App/Modules/BLL/BusinessLogicModule.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Help gate height control inserted. Gate1HeightControlView layout updated. Resources file updated.
  VerticalWarehouses/Common/Resources/HelpDescriptions.Designer.cs
  VerticalWarehouses/Common/Resources/HelpDescriptions.it.resx
  VerticalWarehouses/Common/Resources/HelpDescriptions.resx
  VerticalWarehouses/Common/Resources/InstallationApp.Designer.cs
  VerticalWarehouses/Common/Resources/InstallationApp.it.resx
  VerticalWarehouses/Common/Resources/InstallationApp.resx
  VerticalWarehouses/InstallationApp/Ferretto.VW.InstallationApp.csproj
  VerticalWarehouses/InstallationApp/HelpWindows/HelpGateHeightControl.xaml
  VerticalWarehouses/InstallationApp/HelpWindows/HelpGateHeightControl.xaml.cs
  VerticalWarehouses/InstallationApp/HelpWindows/HelpMainWindow.xaml
  VerticalWarehouses/InstallationApp/ViewsAndViewModels/GatesHeightControl/Gate1HeightControlView.xaml
Due: none

Added properties and enums to MissionData class
  VerticalWarehouses/Common/Common_Utils/Messages/Data/MissionData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Interfaces/IMissionMessageData.cs
Due: none

Added CreateMissionTest REST method to TestController
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/TestController.cs
Due: none

Changed event subscription filter conditions so that now the destination is checked
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/AutomationService.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/FiniteStateMachines.cs
Due: none

CodeMaid clean up, project reference management and registered hosted service
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/MAS_AutomationService.csproj
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Startup.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
Due: none

Path conditions:
  Pipelines/azure-pipeline-database-health-dev.yml: any of: Common\DataModels, Common\EF, but not: VerticalWarehouses, WMS, Common
  Pipelines/azure-pipeline-dev.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-prod.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-vw-services-dev.yml: any of: *, VerticalWarehouses\Machine Automation Service, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-vw-ui-dev.yml: any of: VerticalWarehouses\Panel PC User Interface, but not: Common, WMS
  Pipelines/azure-pipeline-wms-services-dev.yml: any file but: VerticalWarehouses, WMS\App
  Pipelines/azure-pipeline-wms-ui-dev.yml: any file but: VerticalWarehouses, WMS\Data, WMS\Scheduler
