Repository ericquartey/wms: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipeline-database-health-dev.yml, Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Pipelines/azure-pipeline-database-health-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: andrewlackenby.sql-toolkit.runsqlcommand.RunSqlCommand@2
    displayName: Create cloud db
    inputs:
      serverName: rd-ferrettogroup.database.windows.net
      databaseName: master
  ...

Pipelines/azure-pipeline-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
  ...

Pipelines/azure-pipeline-vw-services-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(RestoreBuildProjects)
      feedsToUse: config
      nugetConfigPath: nuget.config
  - task: DotNetCoreCLI@2
  ...

Pipelines/azure-pipeline-vw-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution
    inputs:
      solution: $(TargetSolution)
  ...

Pipelines/azure-pipeline-wms-services-dev.yml:
  queue:
    name: Hosted Ubuntu 1604
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
      targetFolder: $(Build.ArtifactStagingDirectory)\sources
  - task: PublishBuildArtifacts@1
  ...

Pipelines/azure-pipeline-wms-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution WMS.App
    inputs:
      solution: $(TargetSolution)
  ...

feat(): work in progress
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/Interface/InverterStatus/IPositionStatusWord.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/InverterStatus/StatusWord/PositionStatusWord.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/VerticalPositioning/VerticalPositioningDisableOperationState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/VerticalPositioning/VerticalPositioningEnableOperationState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/VerticalPositioning/VerticalPositioningErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/VerticalPositioning/VerticalPositioningStartMovingState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/VerticalPositioning/VerticalPositioningStartState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/VerticalPositioning/VerticalPositioningStateMachine.cs
Due: none

feat(): work in progress
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/VerticalPositioning/VerticalPositioningEnableOperationState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/VerticalPositioning/VerticalPositioningStartState.cs
Due: none

build(identity): update netcore to version 2.2
  IdentityServer/Ferretto.IdentityServer.csproj
  IdentityServer/Startup.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(automation-hub): create machine-specific event on notificaion service
  WMS/App/App.Controls/Services/NotificationService.cs
  WMS/App/App.Controls/Services/PubSubEvents/MachineStatusPubSubEvent.cs
  WMS/Data/Core/Services/MachineLiveDataService.cs
  WMS/Data/Hubs/IDataHub.cs
  WMS/Data/WebAPI.Contracts/Hubs/DataHubClient.cs
  WMS/Data/WebAPI.Contracts/Hubs/EventArgs/ConnectionStatusChangedEventArgs.cs
  WMS/Data/WebAPI.Contracts/Hubs/EventArgs/EntityChangedEventArgs.cs
  WMS/Data/WebAPI.Contracts/Hubs/EventArgs/MachineStatusUpdatedEventArgs.cs
  WMS/Data/WebAPI.Contracts/Hubs/IDataHubClient.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refator: move validation message localization to BusinessObject base class
  WMS/App/App.Core/Models/BusinessObject.cs
  WMS/App/App.Core/Models/Cell/CellDetails.cs
  WMS/App/App.Core/Models/Compartment/BulkCompartment.cs
  WMS/App/App.Core/Models/Compartment/CompartmentDetails.cs
  WMS/App/App.Core/Models/Item/ItemDetails.cs
  WMS/App/App.Core/Models/ItemList/ItemListDetails.cs
  WMS/App/App.Core/Models/ItemList/ItemListExecutionRequest.cs
  WMS/App/App.Core/Models/ItemListRow/ItemListRowDetails.cs
  WMS/App/App.Core/Models/ItemListRow/ItemListRowExecutionRequest.cs
  WMS/App/App.Core/Models/LoadingUnit/LoadingUnitDetails.cs
  WMS/App/App.Core/Models/LoadingUnit/LoadingUnitWithdraw.cs
  WMS/App/App.Core/Models/Withdraw/ItemWithdraw.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(): work in progress
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/VerticalPositioning/VerticalPositioningEnableOperationState.cs
Due: none

Inserted Up Down and Execute list in DetailListInWait page. Updated HelpDetailListInWait page. Resources file updated.
  VerticalWarehouses/Common/Resources/HelpDescriptions.Designer.cs
  VerticalWarehouses/Common/Resources/HelpDescriptions.it.resx
  VerticalWarehouses/Common/Resources/HelpDescriptions.resx
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpDetailListInWait.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/WaitingLists/ListDetail/DetailListInWaitView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/WaitingLists/ListsInWaitView.xaml
Due: none

feat(data-source): implement IEnumerable data source for machines
  Common/BLL.Interfaces/IDataSource.cs
  Common/BLL.Interfaces/IDataSourceService.cs
  Common/BLL.Interfaces/IFilterDataSource.cs
  Common/BLL.Interfaces/IRefreshableDataSource.cs
  WMS/App/Modules/BLL/Models/DataSource.cs
  WMS/App/Modules/BLL/Models/DataSourceCollection.cs
  WMS/App/Modules/BLL/Services/DataSourceService.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: remove FlattenDataSource property
  WMS/App/App.Controls/Interfaces/IEntityListViewModel.cs
  WMS/App/App.Controls/ViewModels/EntityListViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: remove unnecessary reference from App.Core to App.Controls project
  WMS/App/App.Core/Ferretto.WMS.App.Core.csproj
  WMS/App/App.Core/Models/Compartment/BulkCompartment.cs
  WMS/App/App.Core/Models/Compartment/Filters/EditFilter.cs
  WMS/App/App.Core/Models/Compartment/Filters/EditReadOnlyFilter.cs
  WMS/App/App.Core/Models/Compartment/Filters/ICompartmentColorFilter.cs
  WMS/App/App.Core/Models/Compartment/Filters/LinkedItemFilter.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(automation-hub): update machine status field handling
  WMS/App/App.Core/Models/Machine/Machine.cs
  WMS/Data/Core/Services/LiveMachinesDataContext.cs
  WMS/VW/ConsoleApp.Mock/Services/LiveMachineDataContext.cs
  WMS/VW/Hubs/Models/MachineMode.cs
  WMS/VW/Hubs/Models/MachineStatus.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(entity-list): add injection of IDataSourceService though constructor
  WMS/App/App.Controls/ViewModels/EntityListViewModel.cs
  WMS/App/App.Controls/ViewModels/EntityPagedListViewModel.cs
  WMS/App/Modules/ItemLists/ViewModels/ItemList/ItemListsViewModel.cs
  WMS/App/Modules/Machines/ViewModels/MachinesViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Cell/CellsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/LoadingUnit/LoadingUnitsViewModel.cs
  WMS/App/Modules/Scheduler/ViewModels/MissionsViewModel.cs
  WMS/App/Modules/Scheduler/ViewModels/SchedulerRequestsViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(compartment-add): fix parameters for view navigation
  WMS/App/Modules/MasterData/ViewModels/LoadingUnit/LoadingUnitEditViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Layout of all help pages adjusted.
  VerticalWarehouses/Common/Resources/HelpDescriptions.Designer.cs
  VerticalWarehouses/Common/Resources/HelpDescriptions.it.resx
  VerticalWarehouses/Common/Resources/HelpDescriptions.resx
  VerticalWarehouses/Common/Resources/OperatorApp.it.resx
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpDetailListInWait.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpDrawerActivityPicking.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpDrawerActivityPickingDetail.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpDrawerActivityRefilling.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpDrawerActivityRefillingDetail.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpDrawerWait.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpItemSearch.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpItemSearchDetail.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpListsInWait.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpPageBase.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/ImmediateDrawerCallView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/MaintenanceDetailView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/MaintenanceMainPageView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/SearchItem/ItemSearchView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/WaitingLists/ListDetail/DetailListInWaitView.xaml
Due: none

feat(machines-view): update view model to use DataSourceCollection
  WMS/App/Modules/BLL/Services/DataSourceService.cs
  WMS/App/Modules/Machines/ViewModels/MachinesViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Cell/CellDetailsViewModel.cs
  WMS/Data/Core/Services/MachineLiveDataService.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Chore Add ItemPut view
  Common/Resources/MasterData.Designer.cs
  Common/Resources/MasterData.it.resx
  Common/Resources/MasterData.resx
  Common/Resources/Navigation.Designer.cs
  Common/Resources/Navigation.it.resx
  Common/Resources/Navigation.resx
  Common/Utils/Modules/MasterData.cs
  WMS/App/App.Core/Interfaces/IItemProvider.cs
  WMS/App/App.Core/Models/BusinessPolicies.cs
  WMS/App/App.Core/Models/Pick/ItemPick.cs
  WMS/App/App.Core/Models/Put/ItemPut.cs
  WMS/App/App.Core/Providers/ItemProvider.cs
  WMS/App/App.Themes/Icons/Ferretto/Logistics/icons8-minus-24.png
  WMS/App/App.Themes/Icons/Ferretto/Logistics/icons8-plus-math-filled-24.png
  WMS/App/Modules/MasterData/Ferretto.WMS.App.Modules.MasterData.csproj
  WMS/App/Modules/MasterData/MasterDataModule.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemDetailsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemPickViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemPutViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemsViewModel.cs
  WMS/App/Modules/MasterData/Views/Item/ItemDetailsView.xaml
  WMS/App/Modules/MasterData/Views/Item/ItemPickView.xaml
  WMS/App/Modules/MasterData/Views/Item/ItemPickView.xaml.cs
  WMS/App/Modules/MasterData/Views/Item/ItemPutView.xaml
  WMS/App/Modules/MasterData/Views/Item/ItemPutView.xaml.cs
  WMS/App/Modules/MasterData/Views/Item/ItemsView.xaml
  WMS/Data/Core/Interfaces/Scheduler/ISchedulerRequestExecutionProvider.cs
  WMS/Data/Core/Interfaces/Scheduler/ISchedulerService.cs
  WMS/Data/Core/Models/Item/ItemOptions.cs
  WMS/Data/Core/Models/SchedulerRequest/ItemSchedulerRequest.cs
  WMS/Data/Core/Providers/Data/ItemProvider.Policies.cs
  WMS/Data/Core/Providers/Scheduler/ItemListRowExecutionProvider.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestExecutionProvider.cs
  WMS/Data/Core/Services/SchedulerService.cs
  WMS/Data/Tests/Scheduler/RequestCompartmentsTest.cs
  WMS/Data/Tests/Scheduler/SchedulerRequestProviderTest.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
  WMS/Data/WebAPI/Controllers/ItemsController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(): work in progress
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/VerticalPositioning/VerticalPositioningEnableOperationState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/VerticalPositioning/VerticalPositioningStartState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/VerticalPositioning/VerticalPositioningStateMachine.cs
Due: none

refactor: activate generateOptionalParameters in NSwag to have optional parameters in WebApi contracts
  WMS/App/App.Core/Providers/CompartmentProvider.cs
  WMS/App/App.Core/Providers/Enumerations/CompartmentTypeProvider.cs
  WMS/App/App.Core/Providers/LoadingUnitProvider.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
  WMS/Data/WebAPI/nswag.json
  WMS/VW/ConsoleApp.Mock/AutomationService.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore fix translation
  Common/Resources/Navigation.it.resx
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(machines): update view to remove search text and custom filter
  WMS/App/Modules/Machines/Views/MachinesView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(list-views): add handling of both IDataSource and IFilterDataSource types
  WMS/App/App.Controls/ViewModels/EntityListViewModel.cs
  WMS/App/App.Controls/ViewModels/EntityPagedListViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(data-sourced): refactor the constructor overload of the DataSourceCollection
  WMS/App/Modules/BLL/Models/DataSourceCollection.cs
  WMS/App/Modules/MasterData/ViewModels/Cell/CellDetailsViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore use policy extension on ItemsViewModel, ItemDetailsViewModel
  WMS/App/Modules/MasterData/ViewModels/Item/ItemDetailsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemsViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor(machine-provider): simplify MergeLiveData() logic
  WMS/Data/Core/Providers/Data/MachineProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: align path for all signalr hubs
  WMS/Data/WebAPI/appsettings.json
  WMS/VW/ConsoleApp.Mock/appsettings.json
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(automation-hub): fix updating of machine mode
  WMS/Data/Core/Services/MachineLiveDataService.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Help DrawerCompacting and Help ImmediateDrawerCall pages inserted. Resources file updated.
  VerticalWarehouses/Common/Resources/HelpDescriptions.Designer.cs
  VerticalWarehouses/Common/Resources/HelpDescriptions.it.resx
  VerticalWarehouses/Common/Resources/HelpDescriptions.resx
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Ferretto.VW.OperatorApp.csproj
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpDrawerCompacting.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpDrawerCompacting.xaml.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpImmediateDrawerCall.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpImmediateDrawerCall.xaml.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpMainWindow.xaml
Due: none

[move] policies files on Policy folder
  WMS/Data/Core/Models/Item/Policy/IItemDeletePolicy.cs
  WMS/Data/Core/Models/Item/Policy/IItemPutPolicy.cs
  WMS/Data/Core/Models/Item/Policy/IItemWithdrawPolicy.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[move] options file to Option folder
  WMS/Data/Core/Models/Item/Option/ItemPutOptions.cs
  WMS/Data/Core/Models/Item/Option/ItemWithdrawOptions.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] policy to Put Item
  Common/Resources/Errors.Designer.cs
  Common/Resources/Errors.it.resx
  Common/Resources/Errors.resx
  WMS/Data/Core/Models/Item/ItemDetails.cs
  WMS/Data/Core/Providers/Data/ItemProvider.Policies.cs
  WMS/Data/Core/Providers/Data/ItemProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] method to get advanced info to CanPutNewItem [new] BusinessObject with advanced info [add] in SchedulerService method CanPutItemAsync [TO COMPLETE !]
  WMS/Data/Core/Interfaces/Data/IItemProvider.cs
  WMS/Data/Core/Models/Compartment/CompartmentPut.cs
  WMS/Data/Core/Services/SchedulerService.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat: add NormalizeTakeValueFilter to look and fix take parameter values
  WMS/Data/WebAPI/Filters/NormalizeTakeValueFilter.cs
  WMS/Data/WebAPI/Startup.cs
  WMS/Data/WebAPI/appsettings.json
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: set controller default take parameter value to 0
  WMS/Data/Tests/Controllers/WhereConditionsTest.cs
  WMS/Data/WebAPI/Controllers/AislesController.cs
  WMS/Data/WebAPI/Controllers/AreasController.cs
  WMS/Data/WebAPI/Controllers/CellsController.cs
  WMS/Data/WebAPI/Controllers/CompartmentTypesController.cs
  WMS/Data/WebAPI/Controllers/CompartmentsController.cs
  WMS/Data/WebAPI/Controllers/ItemListRowsController.cs
  WMS/Data/WebAPI/Controllers/ItemListsController.cs
  WMS/Data/WebAPI/Controllers/ItemsController.cs
  WMS/Data/WebAPI/Controllers/LoadingUnitsController.cs
  WMS/Data/WebAPI/Controllers/MachinesController.cs
  WMS/Data/WebAPI/Controllers/MissionsController.cs
  WMS/Data/WebAPI/Controllers/SchedulerRequestsController.cs
  WMS/Data/WebAPI/Interfaces/IReadAllPagedController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

style: minor refactoring
  WMS/Data/Core/Providers/Data/ImageProvider.cs
  WMS/Data/WebAPI/Controllers/BaseController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

test: fix test calls to controllers
  WMS/Data/Tests/Controllers/CompartmentTypesControllerTest.cs
  WMS/Data/Tests/Controllers/WhereConditionsTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[fix] after merge
  Common/Resources/Errors.it.resx
  Common/Resources/Errors.resx
  WMS/App/App.Core/Models/Compartment/CompartmentDetails.cs
  WMS/App/App.Core/Models/Item/ItemDetails.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: move part of the FormControl functionality to PropertyMetadata (in Utils project)
  Common/Utils/PropertyMetadata.cs
  WMS/App/App.Controls/Controls/FormControl.cs
  WMS/App/App.Controls/Controls/TextEdit/WmsLabel.xaml.cs
  WMS/App/App.Controls/Converters/PropertyDescriptionConverter.cs
  WMS/App/App.Core/Models/BusinessObject.cs
  WMS/App/App.Core/Models/Cell/CellDetails.cs
  WMS/App/App.Core/Models/Compartment/BulkCompartment.cs
  WMS/App/App.Core/Models/Compartment/CompartmentDetails.cs
  WMS/App/App.Core/Models/Item/ItemDetails.cs
  WMS/App/App.Core/Models/ItemList/ItemListDetails.cs
  WMS/App/App.Core/Models/ItemList/ItemListExecutionRequest.cs
  WMS/App/App.Core/Models/ItemListRow/ItemListRowDetails.cs
  WMS/App/App.Core/Models/ItemListRow/ItemListRowExecutionRequest.cs
  WMS/App/App.Core/Models/LoadingUnit/LoadingUnitDetails.cs
  WMS/App/App.Core/Models/LoadingUnit/LoadingUnitWithdraw.cs
  WMS/App/App.Core/Models/Withdraw/ItemWithdraw.cs
  WMS/Data/WebAPI/Controllers/CompartmentTypesController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

style: comment fix
  WMS/Data/WebAPI/Filters/NormalizeTakeValueFilter.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

test: align app.config file
  WMS/App/App.Tests/App.config
  WMS/App/App/App.config
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(list-views): add null check
  WMS/App/App.Controls/ViewModels/EntityPagedListViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Path conditions:
  Pipelines/azure-pipeline-database-health-dev.yml: any of: Common\DataModels, Common\EF, but not: VerticalWarehouses, WMS, Common
  Pipelines/azure-pipeline-dev.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-vw-services-dev.yml: any of: *, VerticalWarehouses\Machine Automation Service, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-vw-ui-dev.yml: any of: *, VerticalWarehouses\Panel PC User Interface, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-wms-services-dev.yml: any file but: VerticalWarehouses, WMS\App
  Pipelines/azure-pipeline-wms-ui-dev.yml: any file but: VerticalWarehouses, WMS\Data, WMS\Scheduler
