Repository ericquartey/wms: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipeline-database-health-dev.yml, Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Pipelines/azure-pipeline-database-health-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: andrewlackenby.sql-toolkit.runsqlcommand.RunSqlCommand@2
    displayName: Create cloud db
    inputs:
      serverName: rd-ferrettogroup.database.windows.net
      databaseName: master
  ...

Pipelines/azure-pipeline-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
  ...

Pipelines/azure-pipeline-vw-services-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(RestoreBuildProjects)
      feedsToUse: config
      nugetConfigPath: nuget.config
  - task: DotNetCoreCLI@2
  ...

Pipelines/azure-pipeline-vw-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution
    inputs:
      solution: $(TargetSolution)
  ...

Pipelines/azure-pipeline-wms-services-dev.yml:
  queue:
    name: Hosted Ubuntu 1604
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
      targetFolder: $(Build.ArtifactStagingDirectory)\sources
  - task: PublishBuildArtifacts@1
  ...

Pipelines/azure-pipeline-wms-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution WMS.App
    inputs:
      solution: $(TargetSolution)
  ...

refactor remove unused project reference on Ferretto.Common.Control.WPF
  Common/Ferretto.Common.Controls.WPF/Ferretto.Common.Controls.WPF.csproj
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor change name WmsTrayControl to TrayControl
  Common/Ferretto.Common.Controls.WPF/Styles/TrayControl.xaml
  Common/Ferretto.Common.Controls.WPF/WmsTrayControl/TrayControl.xaml
  Common/Ferretto.Common.Controls.WPF/WmsTrayControl/TrayControl.xaml.cs
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentDetailsView.xaml
  WMS/App/Modules/MasterData/Views/LoadingUnit/LoadingUnitDetailsView.xaml
  WMS/App/Modules/MasterData/Views/LoadingUnit/LoadingUnitEditView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor change name WmsRulerControl to RulerControl
  Common/Ferretto.Common.Controls.WPF/Styles/RulerControl.xaml
  Common/Ferretto.Common.Controls.WPF/WmsRuler/RulerControl.cs
  Common/Ferretto.Common.Controls.WPF/WmsTrayControl/TrayControl.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[rename] SchedulerType -> SchedulerRequestType
  Common/DataModels/SchedulerRequest.cs
  Common/DataModels/SchedulerRequestType.cs
  Common/EF/Configurations/SchedulerRequestConfiguration.cs
  WMS/App/App.Core/Models/SchedulerRequest/SchedulerRequest.cs
  WMS/App/App.Core/Models/SchedulerRequest/SchedulerRequestType.cs
  WMS/App/App.Core/Providers/SchedulerRequestProvider.cs
  WMS/App/Modules/Scheduler/Views/SchedulerRequestsView.xaml
  WMS/Data/Core/Models/SchedulerRequest/SchedulerRequest.cs
  WMS/Data/Core/Models/SchedulerRequest/SchedulerRequestType.cs
  WMS/Data/Core/Providers/SchedulerRequestProvider.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Scheduler/Core/Models/SchedulerRequest/ISchedulerRequest.cs
  WMS/Scheduler/Core/Models/SchedulerRequest/ItemListRowSchedulerRequest.cs
  WMS/Scheduler/Core/Models/SchedulerRequest/ItemSchedulerRequest.cs
  WMS/Scheduler/Core/Models/SchedulerRequest/LoadingUnitSchedulerRequest.cs
  WMS/Scheduler/Core/Models/SchedulerRequest/SchedulerRequestType.cs
  WMS/Scheduler/Core/Providers/CompartmentSchedulerProvider.cs
  WMS/Scheduler/Core/Providers/MissionSchedulerProvider.cs
  WMS/Scheduler/Core/Providers/SchedulerRequestProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] migration rename scheduler type
  Common/EF/Migrations/20190411102320_Rename_Field_SchedulerType_To_Type_In_Table_SchedulerRequest.Designer.cs
  Common/EF/Migrations/20190411102320_Rename_Field_SchedulerType_To_Type_In_Table_SchedulerRequest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

style: auto-format code
  Common/DataModels/ItemListType.cs
  Common/DataModels/ItemManagementType.cs
  Common/DataModels/MissionType.cs
  Common/DataModels/OperationType.cs
  Common/DataModels/ReferenceType.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(item): remove item quantities from list model
  Common/Resources/BusinessObjects.Designer.cs
  Common/Resources/BusinessObjects.it.resx
  Common/Resources/BusinessObjects.resx
  WMS/App/App.Core/Models/ItemList/ItemList.cs
  WMS/App/App.Core/Models/ItemList/ItemListDetails.cs
  WMS/App/App.Core/Providers/ItemListProvider.cs
  WMS/App/Modules/MasterData/Views/ItemList/ItemListExecuteDialogView.xaml
  WMS/App/Modules/MasterData/Views/ItemList/ItemListsView.xaml
  WMS/Data/Core/Models/ItemList/ItemList.cs
  WMS/Data/Core/Models/ItemList/ItemListDetails.cs
  WMS/Data/Core/Providers/ItemListProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Fix autogen CPU.ActiveCfg on solution file
  WMS/WMS.sln
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

style: auto-format code
  WMS/Data/Core/Models/Item/Item.cs
  WMS/Data/Core/Models/Item/ItemDetails.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: rename GetByCellIdAsync to GetAllByCellIdAsync
  WMS/Data/Core/Interfaces/ILoadingUnitProvider.cs
  WMS/Data/Core/Providers/LoadingUnitProvider.cs
  WMS/Data/WebAPI/Controllers/CellsController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[update] opertion type of scheduler request become not nullable
  Common/DataModels/SchedulerRequest.cs
  Common/EF/Migrations/20190411120821_Update_NotNullable_OperationType_Table_SchedulerRequest.Designer.cs
  Common/EF/Migrations/20190411120821_Update_NotNullable_OperationType_Table_SchedulerRequest.cs
  WMS/App/App.Core/Models/SchedulerRequest/SchedulerRequest.cs
  WMS/App/App.Core/Providers/SchedulerRequestProvider.cs
  WMS/Data/Core/Models/SchedulerRequest/SchedulerRequest.cs
  WMS/Data/Core/Providers/SchedulerRequestProvider.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(loading-unit): add loading unit query by aisle
  WMS/Data/Core/Interfaces/ILoadingUnitProvider.cs
  WMS/Data/Core/Providers/LoadingUnitProvider.cs
  WMS/Data/Tests/Controllers/AislesControllerTest.cs
  WMS/Data/WebAPI/Controllers/AislesController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(loading-unit): add area fill rate to loading unit details
  WMS/Data/Core/Models/LoadingUnit/LoadingUnitDetails.cs
  WMS/Data/Core/Providers/LoadingUnitProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

style: auto-format code
  WMS/Data/Core/Providers/MissionProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

resolve confilcts
  WMS/App/Modules/MasterData/ViewModels/LoadingUnit/LoadingUnitDetailsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/LoadingUnit/LoadingUnitWithdrawDialogViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/LoadingUnit/LoadingUnitsViewModel.cs
  WMS/App/Modules/MasterData/Views/LoadingUnit/LoadingUnitWithdrawDialogView.xaml
  WMS/App/Modules/MasterData/Views/LoadingUnit/LoadingUnitWithdrawDialogView.xaml.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(details-view): add event filtering based on entity Id
  Common/Controls/ViewModels/DetailsViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: remove unused csproj file
  Common/Controls/Ferretto.Common.Controls.csproj
  WMS/WMS.sln
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(identity): add claims to test users
  IdentityServer/Config.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(identity): rename project namespace
  IdentityServer/Config.cs
  IdentityServer/Controllers/Account/AccountController.cs
  IdentityServer/Controllers/Account/AccountOptions.cs
  IdentityServer/Controllers/Account/ExternalController.cs
  IdentityServer/Controllers/Account/ExternalProvider.cs
  IdentityServer/Controllers/Account/LoggedOutViewModel.cs
  IdentityServer/Controllers/Account/LoginInputModel.cs
  IdentityServer/Controllers/Account/LoginViewModel.cs
  IdentityServer/Controllers/Account/LogoutInputModel.cs
  IdentityServer/Controllers/Account/LogoutViewModel.cs
  IdentityServer/Controllers/Account/RedirectViewModel.cs
  IdentityServer/Controllers/Consent/ConsentController.cs
  IdentityServer/Controllers/Consent/ConsentInputModel.cs
  IdentityServer/Controllers/Consent/ConsentOptions.cs
  IdentityServer/Controllers/Consent/ConsentViewModel.cs
  IdentityServer/Controllers/Consent/ProcessConsentResult.cs
  IdentityServer/Controllers/Consent/ScopeViewModel.cs
  IdentityServer/Controllers/Device/DeviceAuthorizationInputModel.cs
  IdentityServer/Controllers/Device/DeviceAuthorizationViewModel.cs
  IdentityServer/Controllers/Device/DeviceController.cs
  IdentityServer/Controllers/Diagnostics/DiagnosticsController.cs
  IdentityServer/Controllers/Diagnostics/DiagnosticsViewModel.cs
  IdentityServer/Controllers/Extensions.cs
  IdentityServer/Controllers/Grants/GrantsController.cs
  IdentityServer/Controllers/Grants/GrantsViewModel.cs
  IdentityServer/Controllers/Home/ErrorViewModel.cs
  IdentityServer/Controllers/Home/HomeController.cs
  IdentityServer/Controllers/SecurityHeadersAttribute.cs
  IdentityServer/Program.cs
  IdentityServer/Startup.cs
  IdentityServer/Views/Device/UserCodeConfirmation.cshtml
  IdentityServer/Views/Home/Index.cshtml
  IdentityServer/Views/_ViewImports.cshtml
  IdentityServer/wwwroot/favicon_.ico
  IdentityServer/wwwroot/icon.png
  IdentityServer/wwwroot/icon_.png
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

resolve bug on image edit
  Common/Controls/Controls/Image/WmsImageEdit.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat:Inverter Reset mock
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/FieldNotificationMessage.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedIoDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/ModbusTransportMock.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/SocketTransportMock.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/HostedInverterDriverTests.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_IoDriverUnitTests/HostedIoDriverTest.cs
Due: none

chore: fix migrations
  Common/EF/Migrations/20190404072523_RemoveNotNullableForGenericSchedulerRequest.Designer.cs
  Common/EF/Migrations/20190404072523_RemoveNotNullableForGenericSchedulerRequest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat: Built a NotificationMessage type with generic to send information via SignalR to the Application UI.
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Events/NotificationEventUI.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Ferretto.VW.MAS_Utils.csproj
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Data/PositioningMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Data/UpDownRepetitiveMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Data/UpDownRepetitiveNotificationMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Interfaces/IBaseNotificationMessage.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Interfaces/INotificationMessage.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Interfaces/IPositioningMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Interfaces/IUpDownRepetitiveMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Interfaces/IUpDownRepetitiveNotificationMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/NotificationMessage.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/NotificationMessageUI.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/AutomationService.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/TestController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Hubs/InstallationHub.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Interfaces/IInstallationHub.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/MessageParser.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/ServiceContracts.autogen.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/Services.autogen.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/Ferretto.VW.InstallationApp.csproj
  VerticalWarehouses/Panel PC UI/InstallationApp/ServiceUtilities/ActionUpdatedEventArgs.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ServiceUtilities/InstallationHubClient.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ServiceUtilities/Interfaces/IContainerInstallationHubClient.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ServiceUtilities/Interfaces/IInstallationHubClient.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ServiceUtilities/MessageNotifiedEventArgs.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/LowSpeedMovements/LSMTCarouselViewModel.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/LowSpeedMovements/LSMTHorizontalEngineViewModel.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/LowSpeedMovements/LSMTShutterEngineViewModel.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/LowSpeedMovements/LSMTVerticalEngineViewModel.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SensorsState/SSBaysViewModel.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SensorsState/SSCradleViewModel.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SensorsState/SSVariousInputsViewModel.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SensorsState/SSVerticalAxisViewModel.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/VerticalAxisCalibrationViewModel.cs
  VerticalWarehouses/Panel PC UI/VWApp/Ferretto.VW.VWApp.csproj
  VerticalWarehouses/Panel PC UI/VWApp/NotificationCatcher.cs
Due: none

refactor: rename identity server namespaces
  IdentityServer/Config.cs
  IdentityServer/Controllers/Account/AccountController.cs
  IdentityServer/Controllers/Account/AccountOptions.cs
  IdentityServer/Controllers/Account/ExternalController.cs
  IdentityServer/Controllers/Account/ExternalProvider.cs
  IdentityServer/Controllers/Account/LoggedOutViewModel.cs
  IdentityServer/Controllers/Account/LoginInputModel.cs
  IdentityServer/Controllers/Account/LoginViewModel.cs
  IdentityServer/Controllers/Account/LogoutInputModel.cs
  IdentityServer/Controllers/Account/LogoutViewModel.cs
  IdentityServer/Controllers/Account/RedirectViewModel.cs
  IdentityServer/Controllers/Consent/ConsentController.cs
  IdentityServer/Controllers/Consent/ConsentInputModel.cs
  IdentityServer/Controllers/Consent/ConsentOptions.cs
  IdentityServer/Controllers/Consent/ConsentViewModel.cs
  IdentityServer/Controllers/Consent/ProcessConsentResult.cs
  IdentityServer/Controllers/Consent/ScopeViewModel.cs
  IdentityServer/Controllers/Device/DeviceAuthorizationInputModel.cs
  IdentityServer/Controllers/Device/DeviceAuthorizationViewModel.cs
  IdentityServer/Controllers/Device/DeviceController.cs
  IdentityServer/Controllers/Diagnostics/DiagnosticsController.cs
  IdentityServer/Controllers/Diagnostics/DiagnosticsViewModel.cs
  IdentityServer/Controllers/Extensions.cs
  IdentityServer/Controllers/Grants/GrantsController.cs
  IdentityServer/Controllers/Grants/GrantsViewModel.cs
  IdentityServer/Controllers/Home/ErrorViewModel.cs
  IdentityServer/Controllers/Home/HomeController.cs
  IdentityServer/Controllers/SecurityHeadersAttribute.cs
  IdentityServer/Ferretto.IdentityServer.csproj
  IdentityServer/Program.cs
  IdentityServer/Startup.cs
  IdentityServer/Views/Device/UserCodeConfirmation.cshtml
  IdentityServer/Views/_ViewImports.cshtml
  WMS/WMS.sln
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(identity): add username retrieval from userInfo endpoint
  WMS/App/App.Core/Interfaces/IAuthenticationProvider.cs
  WMS/App/App.Core/Providers/AuthenticationProvider.cs
  WMS/Data/WebAPI.Contracts/AuthenticationService.cs
  WMS/Data/WebAPI.Contracts/IAuthenticationService.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: fix CreateAtAction parameter
  WMS/Data/WebAPI/Controllers/ItemsController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: rename folder for Common.Controls.WPF and subclasses
  Common/Controls.WPF/Ferretto.Common.Controls.WPF.csproj
  Common/Controls.WPF/Interfaces/IDrawableCompartment.cs
  Common/Controls.WPF/Ruler/OriginHorizontal.cs
  Common/Controls.WPF/Ruler/OriginVertical.cs
  Common/Controls.WPF/Ruler/RulerControl.cs
  Common/Controls.WPF/Styles/RulerControl.xaml
  Common/Controls.WPF/Styles/TrayControl.xaml
  Common/Controls.WPF/TrayControl/CanvasListBoxControl.cs
  Common/Controls.WPF/TrayControl/CompartmentExtensions.cs
  Common/Controls.WPF/TrayControl/CompartmentViewModel.cs
  Common/Controls.WPF/TrayControl/TrayControl.xaml
  Common/Controls.WPF/TrayControl/TrayControl.xaml.cs
  Common/Controls/Ferretto.WMS.App.Controls.csproj
  WMS/WMS.sln
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix bug on executing list
  WMS/Scheduler/Core/Providers/SchedulerRequestProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat:Define RestApi for Retrieving belt break-in Configuration parameters
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/Shutter1Control.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/ShuttersControl/Shutter1ControlViewModel.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/BeltBurnishingViewModel.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/VerticalAxisCalibrationViewModel.cs
  VerticalWarehouses/Panel PC UI/VWApp/App.config
Due: none

feat(): FSM creation and Machine Automation Service changes done
  VerticalWarehouses/Common/Common_Utils/DTOs/MovementMessageDataDTO.cs
  VerticalWarehouses/Common/Common_Utils/DTOs/ShutterPositioningMovementMessageDataDTO.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Enumerations/FieldMessageType.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Enumerations/MessageType.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Enumerations/ShutterPosition.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Data/ShutterPositioningMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/FieldData/ResetInverterFieldMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/FieldData/ShutterPositionFieldMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/FieldInterfaces/IShutterPositionFieldMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Interfaces/IShutterPositioningMessageData.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/FiniteStateMachines.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/ShutterPositioning/ShutterPositioningEndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/ShutterPositioning/ShutterPositioningErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/ShutterPositioning/ShutterPositioningExecutingState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/ShutterPositioning/ShutterPositioningHalfState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/ShutterPositioning/ShutterPositioningOpenedState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/ShutterPositioning/ShutterPositioningStartState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/ShutterPositioning/ShutterPositioningStateMachine.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/LowSpeedMovements/LSMTShutterEngineView.xaml
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/LowSpeedMovements/LSMTShutterEngineViewModel.cs
Due: none

feat: Create a factory to create a NotificationMessageUI from the NotificationMessage structure at runtime.
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Interfaces/IBaseNotificationMessage.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/NotificationMessage.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/NotificationMessageUI.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/NotificationMessageUIFactory.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/AutomationService.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Interfaces/IInstallationHub.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ServiceUtilities/MessageNotifiedEventArgs.cs
Due: none

fix: Change declaration NotificationMessageUI with generic type to be compliant to the MS doc
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Events/NotificationEventUI.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/NotificationMessage.cs
Due: none

refactor: remove wms prefix from some variable
  Common/Controls.WPF/TrayControl/CanvasListBoxControl.cs
  Common/Controls.WPF/TrayControl/TrayControl.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

style: fix code layout
  Common/Controls.WPF/Interfaces/IDrawableCompartment.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Chore():
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Data/ShutterPositioningMessageData.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/ShutterPositioning/ShutterPositioningExecutingState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/ShutterPositioning/ShutterPositioningStartState.cs
Due: none

chore: Call the translation method for each NotificationMessage from MAS arriving at Automation Service.
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/NotificationMessageUIFactory.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/AutomationService.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Interfaces/IInstallationHub.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ServiceUtilities/InstallationHubClient.cs
Due: none

refactor(PositioningFSM): rerfactored messages and messageDatas
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Enumerations/FieldMessageType.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Enumerations/MessageType.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Data/CurrentPositionMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Data/PositioningMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/FieldData/CurrentPositionFieldMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/FieldData/PositioningFieldMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/FieldInterfaces/IPositioningFieldMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Interfaces/IPositioningMessageData.cs
Due: none

Path conditions:
  Pipelines/azure-pipeline-database-health-dev.yml: any of: Common\DataModels, Common\EF, but not: VerticalWarehouses, WMS, Common
  Pipelines/azure-pipeline-dev.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-vw-services-dev.yml: any of: *, VerticalWarehouses\Machine Automation Service, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-vw-ui-dev.yml: any of: *, VerticalWarehouses\Panel PC User Interface, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-wms-services-dev.yml: any file but: VerticalWarehouses, WMS\App
  Pipelines/azure-pipeline-wms-ui-dev.yml: any file but: VerticalWarehouses, WMS\Data, WMS\Scheduler
