Repository ericquartey/wms: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipeline-database-health-dev.yml, Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Pipelines/azure-pipeline-database-health-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: andrewlackenby.sql-toolkit.runsqlcommand.RunSqlCommand@2
    displayName: Create cloud db
    inputs:
      serverName: rd-ferrettogroup.database.windows.net
      databaseName: master
  ...

Pipelines/azure-pipeline-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
  ...

Pipelines/azure-pipeline-vw-services-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(RestoreBuildProjects)
      feedsToUse: config
      nugetConfigPath: nuget.config
  - task: DotNetCoreCLI@2
  ...

Pipelines/azure-pipeline-vw-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution
    inputs:
      solution: $(TargetSolution)
  ...

Pipelines/azure-pipeline-wms-services-dev.yml:
  queue:
    name: Hosted Ubuntu 1604
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
      targetFolder: $(Build.ArtifactStagingDirectory)\sources
  - task: PublishBuildArtifacts@1
  ...

Pipelines/azure-pipeline-wms-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution WMS.App
    inputs:
      solution: $(TargetSolution)
  ...

[fix] problem with consistency of database, it permits alway to insert new operation independently about broken inserted already requests
  WMS/Data/Core/Providers/Scheduler/MissionExecutionProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

after merge commit
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/ServiceContracts.autogen.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Resources/OperatorAppModule.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/SearchItem/ItemSearchViewModel.cs
Due: none

fix: duplicated selected border on grid card view
  WMS/App/App.Themes/Themes/Light/Card.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(DataGrid): implemented search input field with Timer object
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/SearchItem/ItemSearchViewModel.cs
  VerticalWarehouses/Panel PC UI/VWApp/MainWindowViewModel.cs
Due: none

[fix] layout of view of pick & put
  WMS/App/Modules/MasterData/Views/Item/ItemPickView.xaml
  WMS/App/Modules/MasterData/Views/Item/ItemPutView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: add some validation for fields disabled by toggleswitch, when it is enabled
  Common/EF/Seeds/Dev.Minimal.sql
  WMS/App/App.Core/Models/BusinessObject.cs
  WMS/App/App.Core/Models/ItemList/ItemListDetails.cs
  WMS/App/App.Core/Models/ItemList/ItemListExecutionRequest.cs
  WMS/App/App.Core/Models/ItemListRow/ItemListRowExecutionRequest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat: add 'Any' placeholder for optional fields
  Common/Resources/General.Designer.cs
  Common/Resources/General.it.resx
  Common/Resources/General.resx
  WMS/App/Modules/ItemLists/Views/ItemListRow/ItemListRowAddView.xaml
  WMS/App/Modules/ItemLists/Views/ItemListRow/ItemListRowDetailsView.xaml
  WMS/App/Modules/MasterData/Views/Item/ItemPickView.xaml
  WMS/App/Modules/MasterData/Views/Item/ItemPutView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(list-details): fix behaviour of add row button
  WMS/App/Modules/ItemLists/ViewModels/ItemList/ItemListDetailsViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor(scheduler): implement mission creation for put requests
  WMS/Data/Core/Interfaces/Scheduler/ICompartmentOperationProvider.cs
  WMS/Data/Core/Interfaces/Scheduler/IMissionCreationProvider.cs
  WMS/Data/Core/Interfaces/Scheduler/IMissionExecutionProvider.cs
  WMS/Data/Core/Interfaces/Scheduler/IOrderableCompartment.cs
  WMS/Data/Core/Models/Compartment/CandidateCompartment.cs
  WMS/Data/Core/Models/Compartment/CompartmentSet.cs
  WMS/Data/Core/Models/Compartment/CompartmentSetForPut.cs
  WMS/Data/Core/Models/Compartment/ICompartmentSet.cs
  WMS/Data/Core/Providers/Scheduler/CompartmentOperationProvider.cs
  WMS/Data/Core/Providers/Scheduler/MissionCreationProvider.cs
  WMS/Data/Core/Providers/Scheduler/MissionExecutionProvider.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestPickProvider.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestPutProvider.cs
  WMS/Data/Core/Services/SchedulerService.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(WMS_Communication): implemented swagger versioning mechanism
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/OperatorController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/TestController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/MAS_AutomationService.csproj
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Startup.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/ServiceContracts.autogen.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/Services.autogen.cs
Due: none

fix: hardwired policy string
  WMS/App/Modules/ItemLists/ViewModels/ItemList/ItemListsViewModel.cs
  WMS/App/Modules/ItemLists/ViewModels/ItemListRow/ItemListRowDetailsViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: change filter tiles labels for lists
  Common/Resources/MasterData.Designer.cs
  Common/Resources/MasterData.it.resx
  Common/Resources/MasterData.resx
  WMS/App/Modules/BLL/Services/DataSourceService.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: extract InstantRequestPriority
  WMS/Data/Core/Models/SchedulerRequest/SchedulerRequest.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestExecutionProvider.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestPickProvider.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestPutProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor(scheduler): update compartment ordering based on numerosity
  WMS/Data/Core/Interfaces/Scheduler/ICompartmentOperationProvider.cs
  WMS/Data/Core/Interfaces/Scheduler/IOrderableCompartmentSet.cs
  WMS/Data/Core/Models/Compartment/CompartmentSet.cs
  WMS/Data/Core/Providers/Scheduler/CompartmentOperationProvider.cs
  WMS/Data/Core/Providers/Scheduler/MissionCreationProvider.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestExecutionProvider.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestPickProvider.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestPutProvider.cs
  WMS/Data/Tests/Scheduler/BayTest.cs
  WMS/Data/Tests/Scheduler/RequestCompartmentsTest.cs
  WMS/Data/Tests/Scheduler/RequestConcurrencyTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(scheduler): fix merge errors
  WMS/Data/Core/Providers/Scheduler/MissionCreationProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore add Associate/Unassociate area on ItemDetailsView
  Common/Resources/BusinessObjects.Designer.cs
  Common/Resources/BusinessObjects.it.resx
  Common/Resources/BusinessObjects.resx
  Common/Resources/MasterData.Designer.cs
  Common/Resources/MasterData.it.resx
  Common/Resources/MasterData.resx
  WMS/App/App.Controls/Controls/ActionBar/ActionBarInputPanelControl.cs
  WMS/App/App.Core/Interfaces/IAreaProvider.cs
  WMS/App/App.Core/Models/Area/AllowedItemArea.cs
  WMS/App/App.Core/Models/Area/ItemArea.cs
  WMS/App/App.Core/Providers/AreaProvider.cs
  WMS/App/App.Themes/Icons/Ferretto/Logistics/baseline-link-black-24dp.png
  WMS/App/App.Themes/Icons/Ferretto/Logistics/baseline-link-off-black-24dp.png
  WMS/App/Modules/MasterData/ViewModels/Item/ItemDetailsViewModel.cs
  WMS/App/Modules/MasterData/Views/Item/ItemDetailsView.xaml
  WMS/Data/Core/Interfaces/Data/IAreaProvider.cs
  WMS/Data/Core/Providers/Data/AreaProvider.Policies.cs
  WMS/Data/Core/Providers/Data/AreaProvider.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
  WMS/Data/WebAPI/Controllers/ItemsController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore remove can execute commnad on ShowAssociateAreaCommand
  WMS/App/Modules/MasterData/ViewModels/Item/ItemDetailsViewModel.cs
  WMS/Data/Core/Providers/Data/AreaProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat: added item images to ItemListRowDetailsView and ItemListRowExecuteView
  WMS/App/App.Core/Models/ItemListRow/ItemListRowDetails.cs
  WMS/App/App.Core/Providers/ItemListRowProvider.cs
  WMS/App/Modules/ItemLists/Views/ItemListRow/ItemListRowDetailsView.xaml
  WMS/App/Modules/ItemLists/Views/ItemListRow/ItemListRowExecuteView.xaml
  WMS/Data/Core/Models/ItemListRow/ItemListRowDetails.cs
  WMS/Data/Core/Providers/Data/ItemListRowProvider.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: remove old Ferretto NuGet server address from nuget.config
  nuget.config
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: INV & FSM ShutterPositioning StateMachines Modifications
  VerticalWarehouses/Common/Common_Utils/Messages/Data/ShutterPositioningMessageData.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/TestController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/ServiceContracts.autogen.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/Services.autogen.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/ShutterPositioning/ShutterPositioningEndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/ShutterPositioning/ShutterPositioningErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/ShutterPositioning/ShutterPositioningExecutingState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/ShutterPositioning/ShutterPositioningStartState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/ShutterPositioning/ShutterPositioningConfigurationState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/ShutterPositioning/ShutterPositioningDisableOperationState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/ShutterPositioning/ShutterPositioningEnableOperationState.cs
Due: none

[add] ready status to statuses of list
  Common/DataModels/ItemListRowStatus.cs
  Common/Resources/BusinessObjects.Designer.cs
  Common/Resources/BusinessObjects.it.resx
  Common/Resources/BusinessObjects.resx
  Common/Resources/EnumColors.Designer.cs
  Common/Resources/EnumColors.resx
  Common/Resources/Icons.Designer.cs
  Common/Resources/Icons.resx
  WMS/App/App.Core/Models/ItemList/ItemListStatus.cs
  WMS/App/App.Core/Models/ItemListRow/ItemListRowStatus.cs
  WMS/Data/Core/Models/ItemList/ItemList.cs
  WMS/Data/Core/Models/ItemList/ItemListDetails.cs
  WMS/Data/Core/Models/ItemList/ItemListOperation.cs
  WMS/Data/Core/Models/ItemList/ItemListStatus.cs
  WMS/Data/Core/Models/ItemListRow/ItemListRowStatus.cs
  WMS/Data/Core/Providers/Data/ItemListProvider.cs
  WMS/Data/Core/Providers/Scheduler/ItemListExecutionProvider.cs
  WMS/Data/Core/Providers/Scheduler/ItemListRowExecutionProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] on CanExecute command check on policy of Execute for list and rows
  WMS/App/Modules/ItemLists/ViewModels/ItemList/ItemListDetailsViewModel.cs
  WMS/App/Modules/ItemLists/ViewModels/ItemList/ItemListExecuteViewModel.cs
  WMS/App/Modules/ItemLists/ViewModels/ItemList/ItemListsViewModel.cs
  WMS/App/Modules/ItemLists/ViewModels/ItemListRow/ItemListRowDetailsViewModel.cs
  WMS/App/Modules/ItemLists/ViewModels/ItemListRow/ItemListRowExecuteViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[change] logic compute execute fro item list row
  WMS/Data/Core/Policies/ItemListRowProviderPolicies.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: resolve merge conflicts
  Common/Resources/BusinessObjects.Designer.cs
  WMS/App/App.Core/Providers/AreaProvider.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemDetailsViewModel.cs
  WMS/Data/Core/Models/Area/ItemArea.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Revert "build: remove old Ferretto NuGet server address from nuget.config"
  nuget.config
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore fix IOperationResult on GetAllowedByItemIdAsync
  WMS/App/App.Core/Interfaces/IAreaProvider.cs
  WMS/App/App.Core/Providers/AreaProvider.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemDetailsViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Changed layout of drawer space saturatio, drawer weight saturation, Cells statistics and error statistics.
  VerticalWarehouses/Panel PC UI/CustomControls/Ferretto.VW.CustomControls.csproj
  VerticalWarehouses/Panel PC UI/CustomControls/Skins/DarkSkinGeneral.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/Statistics/CellsStatisticsView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/Statistics/DrawerSpaceSaturationView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/Statistics/DrawerWeightSaturationView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/Statistics/ErrorsStatisticsView.xaml
Due: none

chore remove code
  WMS/App/Modules/MasterData/ViewModels/Item/ItemDetailsViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: move ItemArea policy to Ferretto.WMS.Data.Core.Policies and make it static
  WMS/Data/Core/Policies/AreaProviderPolicies.cs
  WMS/Data/Core/Providers/Data/AreaProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: fix string resource
  Common/Resources/BusinessObjects.it.resx
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(): Changes ended
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/VertimagConfiguration.json
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/VerticalPositioning/VerticalPositioningEnableOperationState.cs
  VerticalWarehouses/Panel PC UI/CustomControls/Templates/DataGridScrollButtonControlTemplate.xaml
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/LowSpeedMovements/LSMTVerticalEngineView.xaml
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/LowSpeedMovements/LSMTVerticalEngineViewModel.cs
Due: none

refactor: rename ItemsController endpoint
  WMS/App/App.Core/Providers/AreaProvider.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
  WMS/Data/WebAPI/Controllers/ItemsController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: use NegativeResponse method for error handling
  WMS/Data/WebAPI/Controllers/ItemsController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Chore():
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/LowSpeedMovements/LSMTVerticalEngineViewModel.cs
Due: none

feat(DataGrid): Implemented navigation and infinte scrolling feature
  VerticalWarehouses/Panel PC UI/CustomControls/Controls/BusyIndicator.xaml
  VerticalWarehouses/Panel PC UI/CustomControls/Controls/BusyIndicator.xaml.cs
  VerticalWarehouses/Panel PC UI/CustomControls/Controls/CustomControlArticleDataGrid.xaml
  VerticalWarehouses/Panel PC UI/CustomControls/Ferretto.VW.CustomControls.csproj
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/SearchItem/ItemSearchView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/SearchItem/ItemSearchViewModel.cs
Due: none

Deleted Item statistics page and inserted the new page Machine statistics. Resources file updated
  VerticalWarehouses/Common/Resources/OperatorApp.Designer.cs
  VerticalWarehouses/Common/Resources/OperatorApp.it.resx
  VerticalWarehouses/Common/Resources/OperatorApp.resx
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Ferretto.VW.OperatorApp.csproj
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Interfaces/IMachineStatisticsViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Resources/OperatorAppModule.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Resources/Views.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/Statistics/ItemStatisticsView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/Statistics/MachineStatisticsView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/Statistics/MachineStatisticsView.xaml.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/Statistics/MachineStatisticsViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/Statistics/StatisticsNavigationView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/Statistics/StatisticsNavigationViewModel.cs
Due: none

test: activate put policy tests
  WMS/Data/Tests/Controllers/ItemsControllerTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: add logic for fixed pairing handling in put requests
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestPutProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

test: rename schedulerRequestProvider tests
  WMS/Data/Tests/Scheduler/SchedulerRequestPickProviderTest.cs
  WMS/Data/Tests/Scheduler/SchedulerRequestPutProviderTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Path conditions:
  Pipelines/azure-pipeline-database-health-dev.yml: any of: Common\DataModels, Common\EF, but not: VerticalWarehouses, WMS, Common
  Pipelines/azure-pipeline-dev.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-vw-services-dev.yml: any of: *, VerticalWarehouses\Machine Automation Service, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-vw-ui-dev.yml: any of: *, VerticalWarehouses\Panel PC User Interface, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-wms-services-dev.yml: any file but: VerticalWarehouses, WMS\App
  Pipelines/azure-pipeline-wms-ui-dev.yml: any file but: VerticalWarehouses, WMS\Data, WMS\Scheduler
