Repository ericquartey/wms: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipeline-database-health-dev.yml, Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Pipelines/azure-pipeline-database-health-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: andrewlackenby.sql-toolkit.runsqlcommand.RunSqlCommand@2
    displayName: Create cloud db
    inputs:
      serverName: rd-ferrettogroup.database.windows.net
      databaseName: master
  ...

Pipelines/azure-pipeline-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
  ...

Pipelines/azure-pipeline-vw-services-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(RestoreBuildProjects)
      feedsToUse: config
      nugetConfigPath: nuget.config
  - task: DotNetCoreCLI@2
  ...

Pipelines/azure-pipeline-vw-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution
    inputs:
      solution: $(TargetSolution)
  ...

Pipelines/azure-pipeline-wms-services-dev.yml:
  queue:
    name: Hosted Ubuntu 1604
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
      targetFolder: $(Build.ArtifactStagingDirectory)\sources
  - task: PublishBuildArtifacts@1
  ...

Pipelines/azure-pipeline-wms-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution WMS.App
    inputs:
      solution: $(TargetSolution)
  ...

feat(scheduler): update path to sql seed scripts
  WMS/Scheduler/Core/Services/SchedulerService.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: align controller to new controller attribute conventions
  WMS/Data/WebAPI/Controllers/CompartmentsController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build(data-service): remove unnecessary reference to newtonsoft.json
  WMS/Data/WebAPI.Contracts/Ferretto.WMS.Data.WebAPI.Contracts.csproj
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(logging): add app insights connection for data service
  WMS/AutomationServiceMock/AutomationService.cs
  WMS/AutomationServiceMock/Program.cs
  WMS/Data/WebAPI/Connected Services/Application Insights/ConnectedService.json
  WMS/Data/WebAPI/Ferretto.WMS.Data.WebAPI.csproj
  WMS/Data/WebAPI/Program.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Chore():
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/CommandMessage.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/nlog.config
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Models/LogEntry.cs
Due: none

refactor (compartment): remove useless LastHandlingDate field from compartment model
  Common/BusinessModels/Compartment/CompartmentDetails.cs
  Common/BusinessProviders/CompartmentProvider.cs
  Common/BusinessProviders/LoadingUnitProvider.cs
  Common/DataModels/Compartment.cs
  Common/EF/Migrations/20190320132107_Remove_Field_LastHandlingDate_From_Table_Compartments.Designer.cs
  Common/EF/Migrations/20190320132107_Remove_Field_LastHandlingDate_From_Table_Compartments.cs
  Common/EF/Seeds/Dev.Minimal.sql
  Common/Resources/BusinessObjects.Designer.cs
  Common/Resources/BusinessObjects.it.resx
  Common/Resources/BusinessObjects.resx
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentDetailsView.xaml
  WMS/Data/Core/Models/Compartment/CompartmentDetails.cs
  WMS/Data/Core/Providers/CompartmentProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: update service contracts
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Chore(): inserted set for the Status field in the LogEntry table
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Migrations/20190320133519_InitialCreate.Designer.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Migrations/20190320133519_InitialCreate.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Migrations/DataLayerContextModelSnapshot.cs
Due: none

feat(data-service): update controller error results according to RFC7807
  WMS/Data/WebAPI/Controllers/AbcClassesController.cs
  WMS/Data/WebAPI/Controllers/AislesController.cs
  WMS/Data/WebAPI/Controllers/AreasController.cs
  WMS/Data/WebAPI/Controllers/BaysController.cs
  WMS/Data/WebAPI/Controllers/CellPositionsController.cs
  WMS/Data/WebAPI/Controllers/CellStatusesController.cs
  WMS/Data/WebAPI/Controllers/CellTypesController.cs
  WMS/Data/WebAPI/Controllers/CellsController.cs
  WMS/Data/WebAPI/Controllers/CompartmentStatusesController.cs
  WMS/Data/WebAPI/Controllers/CompartmentTypesController.cs
  WMS/Data/WebAPI/Controllers/CompartmentsController.cs
  WMS/Data/WebAPI/Controllers/ItemCategoriesController.cs
  WMS/Data/WebAPI/Controllers/ItemCompartmentTypesController.cs
  WMS/Data/WebAPI/Controllers/ItemListRowsController.cs
  WMS/Data/WebAPI/Controllers/ItemListsController.cs
  WMS/Data/WebAPI/Controllers/ItemsController.cs
  WMS/Data/WebAPI/Controllers/LoadingUnitStatusesController.cs
  WMS/Data/WebAPI/Controllers/LoadingUnitTypesController.cs
  WMS/Data/WebAPI/Controllers/LoadingUnitsController.cs
  WMS/Data/WebAPI/Controllers/MachinesController.cs
  WMS/Data/WebAPI/Controllers/MaterialStatusesController.cs
  WMS/Data/WebAPI/Controllers/MeasureUnitsController.cs
  WMS/Data/WebAPI/Controllers/MissionsController.cs
  WMS/Data/WebAPI/Controllers/PackageTypesController.cs
  WMS/Data/WebAPI/Controllers/SchedulerRequestsController.cs
  WMS/Data/WebAPI/Controllers/UsersController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Chore(): changed the IDataLayer, the LoadConfigurationValuesInfo() is not public any more
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Interfaces/IDataLayer.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_DataLayerUnitTests/DataLayerUnitTest.cs
Due: none

feat(items): fix error on GetById(id) when the specified item is not found
  WMS/Data/Core/Providers/ItemProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: separate global.json for WMS and VW
  VerticalWarehouses/global.json
  WMS/global.json
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build(pipelines): update pipelines to refer to net core sdk 2.2
  Pipelines/azure-pipeline-prod.yml
  WMS/Pipelines/azure-pipeline-wms-services-dev.yml
  WMS/Pipelines/azure-pipeline-wms-services-template.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: fix merge errors
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
  WMS/WMS.sln
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Added test method to test controller and changed REST API endpoint for retrieving configuration values
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/TestController.cs
Due: none

Added REST API calls to get the necessary configuration values
  VerticalWarehouses/Panel PC UI/InstallationApp/Ferretto.VW.InstallationApp.csproj
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/VerticalAxisCalibrationView.xaml
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/VerticalAxisCalibrationViewModel.cs
  VerticalWarehouses/Panel PC UI/VWApp/App.config
Due: none

feat: Implement and refactor the IO Switch axis operation.
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/FiniteStateMachines.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedIoDriver-SwitchAxis.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedIoDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/ModbusTransport.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/NewRemoteIODriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/NewRemoteIODriverMock.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/IoStateBase.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/IoStateMachineBase.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/PowerUp/ClearOutputsState.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/PowerUp/EndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/PowerUp/PowerUpStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/PowerUp/PulseResetState.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/SwitchAxis/EndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/SwitchAxis/SwitchAxisSateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/SwitchAxis/SwitchOffMotorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/SwitchAxis/SwitchOnMotorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/ActionBlocks/HorizontalMovingDrawer.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/SocketTransport.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/EnableOperationState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/StartingHomeState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/InverterStateBase.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/InverterStateMachineBase.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_IoDriverUnitTests/HostedIoDriverTest.cs
Due: none

feat(): Unit test created and removed Unit Test for the work in progress task 2112
  VerticalWarehouses/Machine Automation Service/Tests/MAS_DataLayerUnitTests/DataLayerUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_DataLayerUnitTests/MAS_DataLayerUnitTests.csproj
Due: none

Chore():
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer_CellsManagment.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/MAS_DataLayer.csproj
Due: none

Chore():
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
Due: none

feat: Refactor and add logger capabilities of inverter driver calibrate axis operation.
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/Interface/ISocketTransport.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/CalibrateAxisStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/EnableOperationState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/EndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/ErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/HomingModeState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/ShutdownState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/StartingHomeState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/SwitchOnState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/VoltageDisabledState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/IInverterState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/IInverterStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/InverterStateBase.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/InverterStateMachineBase.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Stop/ErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Stop/StopSTateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Stop/StopState.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/Calibrate/CalibrateStateMachineUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/Calibrate/EnableOperationStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/Calibrate/EndStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/Calibrate/ErrorStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/Calibrate/HomingModeStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/Calibrate/ShutDownStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/Calibrate/StartingHomeStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/Calibrate/SwitchOnStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/Calibrate/VoltageDisabledStateUnitTest.cs
Due: none

Chore(): corrected the sort of Verbosity Enumerable
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Enumerations/MessageVerbosity.cs
Due: none

fix: Use the logger to track the operations in the inverter driver.
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/StartingHomeState.cs
Due: none

feat(mission): fix wrong Display attribute definition
  Common/BusinessModels/Mission/Mission.cs
  Common/Resources/BusinessObjects.it.resx
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: fix wrong target framework specification
  VerticalWarehouses/Common/Resources/Ferretto.VW.Resources.csproj
Due: none

feat(scheduler): update database seeding script references
  WMS/Scheduler/Core/Services/SchedulerService.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: move provider interfaces to App.Core/Interfaces
  WMS/App/App.Core/Interfaces/IAisleProvider.cs
  WMS/App/App.Core/Interfaces/IAreaProvider.cs
  WMS/App/App.Core/Interfaces/IBayProvider.cs
  WMS/App/App.Core/Interfaces/IBusinessProvider.cs
  WMS/App/App.Core/Interfaces/ICellProvider.cs
  WMS/App/App.Core/Interfaces/ICompartmentProvider.cs
  WMS/App/App.Core/Interfaces/IItemCompartmentTypeProvider.cs
  WMS/App/App.Core/Interfaces/IItemListProvider.cs
  WMS/App/App.Core/Interfaces/IItemListRowProvider.cs
  WMS/App/App.Core/Interfaces/IItemProvider.cs
  WMS/App/App.Core/Interfaces/ILoadingUnitProvider.cs
  WMS/App/App.Core/Interfaces/IMachineProvider.cs
  WMS/App/App.Core/Interfaces/IMissionProvider.cs
  WMS/App/App.Core/Interfaces/ISchedulerRequestProvider.cs
  WMS/App/App.Core/Interfaces/IUserProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: move BusinessModels and BusinesProviders projects to App.Core folder
  WMS/App/App.Core/Ferretto.Common.BusinessModels.csproj
  WMS/App/App.Core/Ferretto.Common.BusinessProviders.csproj
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: remove obsolete project BusinessProviders
  WMS/App/App.Core/Ferretto.Common.BusinessModels.csproj
  WMS/App/App.Core/Ferretto.Common.BusinessProviders.csproj
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: rename project to Ferretto.WMS.App.Core
  WMS/App/App.Core/Ferretto.WMS.App.Core.csproj
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Chore(): corrected merge error
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
Due: none

fix: Adjust the time waiting to execute command when change state in the calibrate axis procedure.
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HomingStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/ShutdownState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/SwitchOnState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/VoltageDisabledState.cs
Due: none

chore: Add comments related to hints to provide the stop operation
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
Due: none

Path conditions:
  Pipelines/azure-pipeline-database-health-dev.yml: any of: Common\DataModels, Common\EF, but not: VerticalWarehouses, WMS, Common
  Pipelines/azure-pipeline-dev.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-vw-services-dev.yml: any of: *, VerticalWarehouses\Machine Automation Service, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-vw-ui-dev.yml: any of: *, VerticalWarehouses\Panel PC User Interface, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-wms-services-dev.yml: any file but: VerticalWarehouses, WMS\App
  Pipelines/azure-pipeline-wms-ui-dev.yml: any file but: VerticalWarehouses, WMS\Data, WMS\Scheduler
