Repository ericquartey/wms: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipeline-database-health-dev.yml, Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Pipelines/azure-pipeline-database-health-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: andrewlackenby.sql-toolkit.runsqlcommand.RunSqlCommand@2
    displayName: Create cloud db
    inputs:
      serverName: rd-ferrettogroup.database.windows.net
      databaseName: master
  ...

Pipelines/azure-pipeline-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
  ...

Pipelines/azure-pipeline-vw-services-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(RestoreBuildProjects)
      feedsToUse: config
      nugetConfigPath: nuget.config
  - task: DotNetCoreCLI@2
  ...

Pipelines/azure-pipeline-vw-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution
    inputs:
      solution: $(TargetSolution)
  ...

Pipelines/azure-pipeline-wms-services-dev.yml:
  queue:
    name: Hosted Ubuntu 1604
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
      targetFolder: $(Build.ArtifactStagingDirectory)\sources
  - task: PublishBuildArtifacts@1
  ...

Pipelines/azure-pipeline-wms-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution WMS.App
    inputs:
      solution: $(TargetSolution)
  ...

Fix how using are ordered
  WMS/Data/Core/Models/Item/ItemCompartmentType.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

2975 - add missing fields
  WMS/Data/Core/Providers/Data/ItemProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(MissionsDistribution): added MissionComplete message data class
  VerticalWarehouses/Common/Common_Utils/Messages/Data/MissionCompletedMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Interfaces/IMissionCompletedMessageData.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/OperatorController.cs
  VerticalWarehouses/Machine Automation Service/MAS_MissionsManager/MissionManager_Methods.cs
  VerticalWarehouses/Machine Automation Service/MAS_MissionsManager/MissionsManager.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/SearchItem/ItemSearchViewModel.cs
Due: none

feat(MissionsDistribution): minor refactor & bug fixes
  VerticalWarehouses/Common/Common_Utils/Ferretto.VW.Common_Utils.csproj
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/ServiceContracts.autogen.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/Services.autogen.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/NavigationService.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerActivityPickingViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/MainWindowNavigationButtonsViewModel.cs
Due: none

fix: merge errors
  WMS/Data/Core/Providers/Data/ItemProvider.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat: add missing notification registrations
  WMS/App/App.Core/Models/Item/ItemWithCompartmentTypeInfo.cs
  WMS/App/Modules/MasterData/ViewModels/CompartmentTypes/CompartmentTypeDetailsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/CompartmentTypes/CompartmentTypesViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/LoadingUnit/LoadingUnitEditViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: remove useless using statement
  WMS/App/App.Core/Models/CompartmentType/CompartmentTypeInput.cs
  WMS/App/App.Core/Models/Item/ItemAreaInput.cs
  WMS/App/Modules/MasterData/ViewModels/CompartmentTypes/CompartmentTypeDetailsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/CompartmentTypes/ItemCompartmentTypesToItemStepViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemDetailsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/LoadingUnit/LoadingUnitEditViewModel.cs
  WMS/Data/Core/Interfaces/Policies/IItemCompartmentTypeDeletePolicy.cs
  WMS/Data/Core/Providers/Data/ItemProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: wrong error on creating compartment of existing compartment type
  WMS/Data/Core/Interfaces/Data/ICompartmentTypeProvider.cs
  WMS/Data/Core/Providers/Data/CompartmentTypeProvider.cs
  WMS/Data/WebAPI/Controllers/CompartmentTypesController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: subtitle overlaps with actionbar in loadinguniteditview
  WMS/App/Modules/MasterData/Views/LoadingUnit/LoadingUnitEditView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

test: minor test refactoring
  WMS/Data/Tests/Controllers/ItemsControllerTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore fix MaxCapacity unit of measure title
  WMS/App/App.Controls/Controls/TextEdit/AttachedProperties/AdditionalInfo.cs
  WMS/App/App.Controls/Controls/TextEdit/WmsLabel.xaml.cs
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentAddViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentEditViewModel.cs
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentAddView.xaml
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentEditView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat: Create the RestAPI to start the vertical offset calibration routine.
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController_Methods.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/VertimagConfiguration.json
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/ServiceContracts.autogen.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/Services.autogen.cs
Due: none

feat: Handle the error condition and display the related button for each UI views.
  VerticalWarehouses/Common/Common_Utils/Messages/MAStoUIMessages/Enumerations/ActionType.cs
  VerticalWarehouses/Panel PC UI/VWApp/NotificationCatcher.cs
Due: none

chore: adjust translations
  Common/Resources/Errors.it.resx
  Common/Resources/MasterData.it.resx
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: add additional info DP to grid headers
  Common/Resources/General.Designer.cs
  Common/Resources/General.it.resx
  Common/Resources/General.resx
  WMS/App/App.Controls/Controls/TextEdit/AttachedProperties/AdditionalInfo.cs
  WMS/App/Modules/Machines/ViewModels/MachineDetailsViewModel.cs
  WMS/App/Modules/MasterData/Views/CompartmentTypes/CompartmentTypesView.xaml
  WMS/App/Modules/MasterData/Views/CompartmentTypes/ItemCompartmentTypesToItemStepView.xaml
  WMS/App/Modules/MasterData/Views/Item/ItemDetailsView.xaml
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(DrawerActivity): Minor change to picking view
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerActivityPickingViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerActivityRefillingView.xaml
Due: none

build: add package generation for TrayControl
  WMS/Pipelines/azure-pipeline-wms-ui-template.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

align bar button
  WMS/App/Modules/ItemLists/Views/ItemList/ItemListDetailsView.xaml
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentDetailsView.xaml
  WMS/App/Modules/MasterData/Views/Item/ItemDetailsView.xaml
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

removed unused if
  WMS/App/Modules/MasterData/Ferretto.WMS.App.Modules.MasterData.csproj
  WMS/App/Modules/MasterData/ViewModels/CompartmentTypes/CompartmentTypesViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(MissionsDistribution): Updated WMSWebApi contracts nuget package
  VerticalWarehouses/Common/Common_Utils/Ferretto.VW.Common_Utils.csproj
Due: none

refactor: remove unnecessary resource reference
  WMS/App/Modules/MasterData/ViewModels/Item/ItemDetailsViewModel.cs
  WMS/App/Modules/MasterData/Views/CompartmentTypes/ItemCompartmentTypesToItemStepView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(item): fix wrong policy behaviour when adding/removing areas
  WMS/App/Modules/MasterData/ViewModels/Item/ItemDetailsViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(MissionsDistribution): fixed minor bug
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Startup.cs
Due: none

chore fix AddSingleton on notificationService
  WMS/Data/Core/Extensions/ServiceCollectionDataExtensions.cs
  WMS/Data/Core/Interfaces/INotificationService.cs
  WMS/Data/Core/Providers/NotificationService.cs
  WMS/Data/WebAPI/Filters/SendNotificationsFilter.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: set private assets for analyzer package references
  Common/BLL.Interfaces/Ferretto.Common.BLL.Interfaces.csproj
  Common/Controls.WPF/Ferretto.Common.Controls.WPF.csproj
  Common/DataModels/Ferretto.Common.DataModels.csproj
  Common/EF/Ferretto.Common.EF.csproj
  Common/Resources/Ferretto.Common.Resources.csproj
  Common/Utils/Ferretto.Common.Utils.csproj
  WMS/App/App.Controls/Ferretto.WMS.App.Controls.csproj
  WMS/App/App.Core/Ferretto.WMS.App.Core.csproj
  WMS/App/App.Themes/Ferretto.WMS.App.Themes.csproj
  WMS/App/App/Ferretto.WMS.App.csproj
  WMS/App/Modules/BLL/Ferretto.WMS.App.Modules.BLL.csproj
  WMS/App/Modules/ItemLists/Ferretto.WMS.App.Modules.ItemLists.csproj
  WMS/App/Modules/Layout/Ferretto.WMS.App.Modules.Layout.csproj
  WMS/App/Modules/Machines/Ferretto.WMS.App.Modules.Machines.csproj
  WMS/App/Modules/MasterData/Ferretto.WMS.App.Modules.MasterData.csproj
  WMS/App/Modules/Scheduler/Ferretto.WMS.App.Modules.Scheduler.csproj
  WMS/Data/Core/Ferretto.WMS.Data.Core.csproj
  WMS/Data/Hubs/Ferretto.WMS.Data.Hubs.csproj
  WMS/Data/WebAPI.Contracts/Ferretto.WMS.Data.WebAPI.Contracts.csproj
  WMS/Data/WebAPI/Ferretto.WMS.Data.WebAPI.csproj
  WMS/VW/Contracts/Ferretto.VW.MachineAutomationService.Contracts.csproj
  WMS/VW/Hubs/Ferretto.VW.MachineAutomationService.Hubs.csproj
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build(pipeline): update nuget pack task
  WMS/Pipelines/azure-pipeline-wms-ui-template.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

resolve rule generic object
  WMS/App/Modules/MasterData/ViewModels/CompartmentTypes/CompartmentTypesViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Revert "build(pipeline): update nuget pack task"
  WMS/Pipelines/azure-pipeline-wms-ui-template.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat: Create an Accept API for Resolution Calibration
  VerticalWarehouses/Common/Common_Utils/Messages/Data/ResolutionCalibrationMessageData.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController_Methods.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/ServiceContracts.autogen.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/Services.autogen.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/ResolutionCalibrationVerticalAxisViewModel.cs
Due: none

fix: modification
  VerticalWarehouses/Common/Common_Utils/Messages/Data/ResolutionCalibrationMessageData.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/ServiceContracts.autogen.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/Services.autogen.cs
Due: none

feat(): work in progress
  VerticalWarehouses/Common/Common_Utils/Messages/Data/PositioningMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Enumerations/ResolutionCalibrationSteps.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Interfaces/IPositioningMessageData.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController_Methods.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/TestController_Methods.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/ServiceContracts.autogen.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/Services.autogen.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/PositioningErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/PositioningExecutingState.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/ResolutionCalibrationVerticalAxisView.xaml
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/ResolutionCalibrationVerticalAxisViewModel.cs
Due: none

chore(): bug fixing
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Resources/OperatorAppModule.cs
Due: none

build(pipeline): update nuget pack task
  Pipelines/azure-pipeline-net4-nuget-template.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat: Add a method to set the Offset calibration parameter to the Database via DataLayer component
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController_Methods.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/ServiceContracts.autogen.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/Services.autogen.cs
Due: none

feat(MissionsDistribution): Added UpdateView logic to Drawer Activity viewmodels
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerActivityInventoryViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerActivityPickingViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerActivityRefillingViewModel.cs
Due: none

feat(request): fix creation of spurious requests
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestPickProvider.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestPutProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: add nuget reference to VW
  VerticalWarehouses/Panel PC UI/CustomControls/Ferretto.VW.CustomControls.csproj
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Ferretto.VW.OperatorApp.csproj
  VerticalWarehouses/Panel PC UI/Utils/Ferretto.VW.Utils.csproj
  VerticalWarehouses/VerticalWarehouses.sln
Due: none

Path conditions:
  Pipelines/azure-pipeline-database-health-dev.yml: any of: Common\DataModels, Common\EF, but not: VerticalWarehouses, WMS, Common
  Pipelines/azure-pipeline-dev.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-vw-services-dev.yml: any of: *, VerticalWarehouses\Machine Automation Service, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-vw-ui-dev.yml: any of: *, VerticalWarehouses\Panel PC User Interface, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-wms-services-dev.yml: any file but: VerticalWarehouses, WMS\App
  Pipelines/azure-pipeline-wms-ui-dev.yml: any file but: VerticalWarehouses, WMS\Data, WMS\Scheduler
