Repository ericquartey/wms: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipeline-database-health-dev.yml, Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Pipelines/azure-pipeline-database-health-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: andrewlackenby.sql-toolkit.runsqlcommand.RunSqlCommand@2
    displayName: Create cloud db
    inputs:
      serverName: rd-ferrettogroup.database.windows.net
      databaseName: master
  ...

Pipelines/azure-pipeline-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
  ...

Pipelines/azure-pipeline-vw-services-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(RestoreBuildProjects)
      feedsToUse: config
      nugetConfigPath: nuget.config
  - task: DotNetCoreCLI@2
  ...

Pipelines/azure-pipeline-vw-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution
    inputs:
      solution: $(TargetSolution)
  ...

Pipelines/azure-pipeline-wms-services-dev.yml:
  queue:
    name: Hosted Ubuntu 1604
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
      targetFolder: $(Build.ArtifactStagingDirectory)\sources
  - task: PublishBuildArtifacts@1
  ...

Pipelines/azure-pipeline-wms-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution WMS.App
    inputs:
      solution: $(TargetSolution)
  ...

chore fix get Areas on ItemPutViewModel
  WMS/App/App.Core/Interfaces/IAreaProvider.cs
  WMS/App/App.Core/Interfaces/IItemProvider.cs
  WMS/App/App.Core/Providers/AreaProvider.cs
  WMS/App/App.Core/Providers/ItemProvider.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemPutViewModel.cs
  WMS/Data/Tests/Controllers/ItemsControllerTest.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
  WMS/Data/WebAPI/Controllers/AreasController.cs
  WMS/Data/WebAPI/Controllers/ItemsController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[supress] CA1502 in ruleset [rename] key join to j
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestExecutionProvider.cs
  analysis.ruleset
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: moved enumeration provider interfaces to the right location
  WMS/App/App.Core/Interfaces/Enumerations/IAbcClassProvider.cs
  WMS/App/App.Core/Interfaces/Enumerations/ICellPositionProvider.cs
  WMS/App/App.Core/Interfaces/Enumerations/ICellStatusProvider.cs
  WMS/App/App.Core/Interfaces/Enumerations/ICellTypeProvider.cs
  WMS/App/App.Core/Interfaces/Enumerations/ICompartmentStatusProvider.cs
  WMS/App/App.Core/Interfaces/Enumerations/ICompartmentTypeProvider.cs
  WMS/App/App.Core/Interfaces/Enumerations/IItemCategoryProvider.cs
  WMS/App/App.Core/Interfaces/Enumerations/ILoadingUnitStatusProvider.cs
  WMS/App/App.Core/Interfaces/Enumerations/ILoadingUnitTypeProvider.cs
  WMS/App/App.Core/Interfaces/Enumerations/IMaterialStatusProvider.cs
  WMS/App/App.Core/Interfaces/Enumerations/IMeasureUnitProvider.cs
  WMS/App/App.Core/Interfaces/Enumerations/IPackageTypeProvider.cs
  WMS/App/App.Core/Providers/Enumerations/AbcClassProvider.cs
  WMS/App/App.Core/Providers/Enumerations/CellPositionProvider.cs
  WMS/App/App.Core/Providers/Enumerations/CellStatusProvider.cs
  WMS/App/App.Core/Providers/Enumerations/CellTypeProvider.cs
  WMS/App/App.Core/Providers/Enumerations/CompartmentStatusProvider.cs
  WMS/App/App.Core/Providers/Enumerations/CompartmentTypeProvider.cs
  WMS/App/App.Core/Providers/Enumerations/ItemCategoryProvider.cs
  WMS/App/App.Core/Providers/Enumerations/LoadingUnitStatusProvider.cs
  WMS/App/App.Core/Providers/Enumerations/LoadingUnitTypeProvider.cs
  WMS/App/App.Core/Providers/Enumerations/MaterialStatusProvider.cs
  WMS/App/App.Core/Providers/Enumerations/MeasureUnitProvider.cs
  WMS/App/App.Core/Providers/Enumerations/PackageTypeProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

style: minor refactoring
  WMS/App/App.Core/Providers/ItemProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: review Wms.App provider methods return type, to have all returning IOperationResult
  WMS/App/App.Core/Interfaces/IAisleProvider.cs
  WMS/App/App.Core/Interfaces/IAreaProvider.cs
  WMS/App/App.Core/Interfaces/IBayProvider.cs
  WMS/App/App.Core/Interfaces/ICellProvider.cs
  WMS/App/App.Core/Interfaces/ICompartmentProvider.cs
  WMS/App/App.Core/Interfaces/IItemListRowProvider.cs
  WMS/App/App.Core/Interfaces/IItemProvider.cs
  WMS/App/App.Core/Interfaces/ILoadingUnitProvider.cs
  WMS/App/App.Core/Providers/AisleProvider.cs
  WMS/App/App.Core/Providers/AreaProvider.cs
  WMS/App/App.Core/Providers/BayProvider.cs
  WMS/App/App.Core/Providers/CellProvider.cs
  WMS/App/App.Core/Providers/CompartmentProvider.cs
  WMS/App/App.Core/Providers/ItemListProvider.cs
  WMS/App/App.Core/Providers/ItemListRowProvider.cs
  WMS/App/App.Core/Providers/ItemProvider.cs
  WMS/App/App.Core/Providers/LoadingUnitProvider.cs
  WMS/App/Modules/ItemLists/ViewModels/ItemList/ItemListExecuteViewModel.cs
  WMS/App/Modules/ItemLists/ViewModels/ItemListRow/ItemListRowAddViewModel.cs
  WMS/App/Modules/ItemLists/ViewModels/ItemListRow/ItemListRowExecuteViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Cell/CellDetailsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentAddViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentDetailsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentEditViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemAddViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemDetailsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemPickViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemPutViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/LoadingUnit/LoadingUnitAddViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/LoadingUnit/LoadingUnitDetailsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/LoadingUnit/LoadingUnitEditViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/LoadingUnit/LoadingUnitWithdrawViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[rename] CompartmentSetToput->ForPut [fix] comments
  WMS/Data/Core/Models/Compartment/CompartmentSetForPut.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestExecutionProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: move GetAreasAsync in IItemProvider to GetByItemIdAsync in IAreaProvider
  WMS/App/App.Core/Interfaces/IAreaProvider.cs
  WMS/App/App.Core/Interfaces/IItemProvider.cs
  WMS/App/App.Core/Providers/AreaProvider.cs
  WMS/App/App.Core/Providers/ItemProvider.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemPutViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore fix list/row execution status fix return IOperationResult on FullyQualifyPickRequestAsync
  WMS/Data/Core/Providers/Data/ItemListProvider.Policies.cs
  WMS/Data/Core/Providers/Data/ItemListRowProvider.Policies.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestExecutionProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: all controller paths shouold be in lower case
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
  WMS/Data/WebAPI/Controllers/ItemsController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat:Create Shutter Positioning State Machines with new template
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/Enumerations/InverterOperationMode.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/Enumerations/InverterParameterId.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/Interface/InverterStatus/IPositionStatusWord.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/Interface/InverterStatus/IProfileVelocityStatusWord.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/InverterStatus/AglInverterStatus.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/InverterStatus/StatusWord/PositionStatusWord.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/InverterStatus/StatusWord/ProfileVelocityStatusWord.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/CalibrateAxisStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/ShutterPositioning/EnableOperationState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/ShutterPositioning/EndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/ShutterPositioning/ErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/ShutterPositioning/ShutdownState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/ShutterPositioning/ShutterPositioningConfigurationState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/ShutterPositioning/ShutterPositioningDisableOperationState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/ShutterPositioning/ShutterPositioningEnableOperationState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/ShutterPositioning/ShutterPositioningEndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/ShutterPositioning/ShutterPositioningErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/ShutterPositioning/ShutterPositioningModeState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/ShutterPositioning/ShutterPositioningStartState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/ShutterPositioning/ShutterPositioningStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/ShutterPositioning/SwitchOnState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/ShutterPositioning/VoltageDisabledState.cs
Due: none

chore fix FullyQualifyPickRequestAsync
  WMS/Data/Core/Interfaces/Scheduler/ISchedulerRequestExecutionProvider.cs
  WMS/Data/Core/Providers/Data/ItemListRowProvider.Policies.cs
  WMS/Data/Core/Services/SchedulerService.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

tested the view to viewmodel binding procedure
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
  VerticalWarehouses/Panel PC UI/InstallationApp/Resources/InstallationAppModule.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/ResolutionCalibrationVerticalAxisView.xaml
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/ResolutionCalibrationVerticalAxisView.xaml.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/ResolutionCalibrationVerticalAxisViewModel.cs
  VerticalWarehouses/Panel PC UI/VWApp/Bootstrapper.cs
Due: none

feat(): Messagedata created
  VerticalWarehouses/Common/Common_Utils/Messages/Data/DLExceptionMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Interfaces/IDLExceptionMessageData.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
Due: none

chore: Add ProfileVelocityStatusWord propertiy in the IAglInverterStatus.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/InverterStatus/Interfaces/IAglInverterStatus.cs
Due: none

[fix] icon + color of status of list + row
  Common/Resources/EnumColors.Designer.cs
  Common/Resources/EnumColors.resx
  Common/Resources/Icons.Designer.cs
  Common/Resources/Icons.resx
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: fix typo in translation
  Common/Resources/MasterData.it.resx
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(item-put): add missing clear of advanced info comboboxes
  WMS/App/App.Core/Models/Item/ItemPut.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemPutViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(item-pick): add missing package type and material status fields
  WMS/App/App.Core/Models/Item/ItemPick.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemPickViewModel.cs
  WMS/App/Modules/MasterData/Views/Item/ItemPickView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(item-pick): fix crash when loading areas for an item
  WMS/Data/Core/Providers/Data/AreaProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat: Add messages for read and write operation via socket, add the Start method for each state in every state machines.
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/Enumerations/SHDFormatDataOperation.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedSHDIoDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/Interface/IIoState.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/Interface/IIoStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/IoSHDReadMessage.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/IoSHDStatus.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/IoSHDWriteMessage.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/SHDTransportMock.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/IoStateBase.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/IoStateMachineBase.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/PowerUp/EndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/PowerUp/PowerUpStartState.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/PowerUp/PowerUpStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/PowerUp/PulseResetState.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/Reset/EndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/Reset/ResetOutputsState.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/Reset/ResetStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/SwitchAxis/EndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/SwitchAxis/SwitchAxisStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/SwitchAxis/SwitchOffMotorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/SwitchAxis/SwitchOnMotorState.cs
Due: none

feat:partial implementation of inverter i/o status update
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/Enumerations/InverterParameterId.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver_Utility.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/InverterMessage.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/InverterStatus/AngInverterStatus.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/InverterStatus/InverterIoStatusBase.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/HostedInverterDriverTests.cs
Due: none

fix: wrong double type zero comparison
  WMS/Data/Core/Providers/Data/CompartmentTypeProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: wrong NotifyEntityUpdate parameters
  WMS/Data/WebAPI/Controllers/ItemsController.CompartmentTypes.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

test: add CompartmentType and ItemCompartmentType tests
  WMS/Data/Tests/Controllers/CompartmentTypesControllerTest.cs
  WMS/Data/Tests/Controllers/ItemsControllerCompartmentTypesTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Fix:moved PowerUpMachire start at end of hardwareconnection function
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedSHDIoDriver.cs
Due: none

feat(): changes done
  VerticalWarehouses/Common/Common_Utils/Messages/Data/FSMExceptionMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Data/InverterExceptionMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Interfaces/IFSMExceptionMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Interfaces/IInverterExceptionMessageData.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/FiniteStateMachines.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver_Utility.cs
Due: none

Chore():
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver_Utility.cs
Due: none

Chore():
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/FiniteStateMachines.cs
Due: none

feat(UI_QA): minor style refactor
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/ResolutionCalibrationVerticalAxisView.xaml
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/ResolutionCalibrationVerticalAxisViewModel.cs
Due: none

chore replace model.Policies with GetCanExecuteOperationReason
  WMS/App/Modules/MasterData/ViewModels/LoadingUnit/LoadingUnitDetailsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/LoadingUnit/LoadingUnitsViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(UI_QA): minor style refactor
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/ResolutionCalibrationVerticalAxisView.xaml
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/ResolutionCalibrationVerticalAxisView.xaml.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/ResolutionCalibrationVerticalAxisViewModel.cs
Due: none

Fix await on CreateAsync of ItemListRowProvider
  WMS/Data/Core/Providers/Data/ItemListRowProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: fix accents on resource strings
  Common/Resources/Errors.it.resx
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(compartment): fix missing validation on add and bulk add side panels
  WMS/App/App.Controls/ViewModels/DetailsViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(item): update pick and put dialogs to disable bay combobox when no area is specified
  WMS/App/App.Core/Models/Item/ItemPick.cs
  WMS/App/App.Core/Models/Item/ItemPut.cs
  WMS/App/Modules/MasterData/Views/Item/ItemPickView.xaml
  WMS/App/Modules/MasterData/Views/Item/ItemPutView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(item-pick): fix broken pick policy
  WMS/Data/Core/Providers/Data/ItemProvider.Policies.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(policies): add handling of empty strings for reason
  WMS/App/App.Core/Extensions/DtoExtensions.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: missing constructor parameters
  WMS/Data/Tests/Controllers/ItemsControllerCompartmentTypesTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: remove fixed policy reference
  WMS/App/Modules/MasterData/ViewModels/LoadingUnit/LoadingUnitDetailsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/LoadingUnit/LoadingUnitsViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: remove references to withdraw for item
  Common/Resources/BusinessObjects.Designer.cs
  Common/Resources/BusinessObjects.it.resx
  Common/Resources/BusinessObjects.resx
  Common/Resources/MasterData.Designer.cs
  Common/Resources/MasterData.it.resx
  Common/Resources/MasterData.resx
  WMS/App/App.Core/Models/LoadingUnit/LoadingUnitWithdraw.cs
  WMS/Data/Core/Interfaces/Scheduler/ICompartmentOperationProvider.cs
  WMS/Data/Core/Interfaces/Scheduler/IMissionCreationProvider.cs
  WMS/Data/Core/Models/Item/Item.cs
  WMS/Data/Core/Models/Machine/MachinePick.cs
  WMS/Data/Core/Models/SchedulerRequest/ItemSchedulerRequest.cs
  WMS/Data/Core/Providers/Data/ItemProvider.cs
  WMS/Data/Core/Providers/Scheduler/CompartmentOperationProvider.cs
  WMS/Data/Core/Providers/Scheduler/MissionCreationProvider.cs
  WMS/Data/Core/Providers/Scheduler/MissionExecutionProvider.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestPickProvider.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestPutProvider.cs
  WMS/Data/Core/Services/SchedulerService.cs
  WMS/Data/Tests/Scheduler/RequestCompartmentsTest.cs
  WMS/Data/Tests/Scheduler/SchedulerRequestProviderTest.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
  WMS/Data/WebAPI/Controllers/ItemsController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Path conditions:
  Pipelines/azure-pipeline-database-health-dev.yml: any of: Common\DataModels, Common\EF, but not: VerticalWarehouses, WMS, Common
  Pipelines/azure-pipeline-dev.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-vw-services-dev.yml: any of: *, VerticalWarehouses\Machine Automation Service, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-vw-ui-dev.yml: any of: *, VerticalWarehouses\Panel PC User Interface, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-wms-services-dev.yml: any file but: VerticalWarehouses, WMS\App
  Pipelines/azure-pipeline-wms-ui-dev.yml: any file but: VerticalWarehouses, WMS\Data, WMS\Scheduler
