Repository ericquartey/wms: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipeline-database-health-dev.yml, Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Path conditions:
  Pipelines/azure-pipeline-database-health-dev.yml: any of: Common\DataModels, Common\EF, but not: VerticalWarehouses, WMS, Common
  Pipelines/azure-pipeline-dev.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-vw-services-dev.yml: any of: *, VerticalWarehouses\Machine Automation Service, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-vw-ui-dev.yml: any of: *, VerticalWarehouses\Panel PC User Interface, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-wms-services-dev.yml: any file but: VerticalWarehouses, WMS\App
  Pipelines/azure-pipeline-wms-ui-dev.yml: any file but: VerticalWarehouses, WMS\Data, WMS\Scheduler

db seed: add missing mandatory fields
  Common/EF/Seeds/Dev.Minimal.sql
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[fix] namespace
  WMS/App/Modules/Machines/MachinesModule.cs
  WMS/App/Modules/Machines/ViewModels/MachineDetailsViewModel.cs
  WMS/App/Modules/Machines/ViewModels/MachinesViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor(automation-mock): create partial
  WMS/VW/ConsoleApp.Mock/Services/AutomationService.ExecuteAsync.cs
  WMS/VW/ConsoleApp.Mock/Services/AutomationService.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(automation-mock): add abort command to interface
  WMS/VW/ConsoleApp.Mock/Program.cs
  WMS/VW/ConsoleApp.Mock/Providers/AutomationProvider.cs
  WMS/VW/ConsoleApp.Mock/Providers/IAutomationProvider.cs
  WMS/VW/ConsoleApp.Mock/Services/AutomationService.cs
  WMS/VW/ConsoleApp.Mock/UserSelection.cs
  WMS/VW/ConsoleApp.Mock/Views.cs
  WMS/VW/ConsoleApp.Mock/appsettings.json
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(mission): add ability to abort from New state
  WMS/Data/Core/Policies/MissionProviderPolicies.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore fix CompartmentTypesView
  Common/Resources/General.Designer.cs
  Common/Resources/General.it.resx
  Common/Resources/General.resx
  Common/Resources/Icons.Designer.cs
  Common/Resources/Icons.resx
  Common/Resources/MasterData.Designer.cs
  Common/Resources/MasterData.it.resx
  Common/Resources/MasterData.resx
  WMS/App/App.Core/Models/Compartment/CompartmentType.cs
  WMS/App/App.Core/Providers/CompartmentTypeProvider.cs
  WMS/App/App.Themes/Icons/Ferretto/Logistics/ic_aspect_ratio_black_24dp.png
  WMS/App/Modules/BLL/Services/DataSourceService.cs
  WMS/App/Modules/MasterData/Views/CompartmentTypes/CompartmentTypesView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: fix typo in string constant
  WMS/VW/ConsoleApp.Mock/Views.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(compartments) add check on null stock
  WMS/App/App.Core/Models/Compartment/CompartmentDetails.cs
  WMS/App/App.Core/Providers/CompartmentProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(views): fix alignment of quantity fields
  WMS/App/Modules/MasterData/Views/LoadingUnit/LoadingUnitDetailsView.xaml
  WMS/App/Modules/MasterData/Views/LoadingUnit/LoadingUnitEditView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(compartment): fix null stock on update
  WMS/App/App.Core/Providers/CompartmentProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(): work in progress
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/VertimagConfiguration.json
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/PositioningExecutingState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Positioning/PositioningDisableOperationState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Positioning/PositioningStartMovingState.cs
Due: none

feat(MissionManager): moved Bay management logic in Mission Manager
  VerticalWarehouses/Common/Common_Utils/Messages/Data/NewConnectedClientMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Enumerations/MessageType.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Interfaces/INewConnectedClientMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Utilities/Bay.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Utilities/BaysManager.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Utilities/Interfaces/IBaysManager.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/AutomationService.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/AutomationService_Methods.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Hubs/Interfaces/IInstallationHub.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Hubs/Interfaces/IOperatorHub.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Hubs/OperatorHub.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Startup.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/ServiceContracts.autogen.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/Services.autogen.cs
  VerticalWarehouses/Machine Automation Service/MAS_MissionsManager/MissionManager_Methods.cs
  VerticalWarehouses/Machine Automation Service/MAS_MissionsManager/MissionsManager.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SensorsState/SSBaysViewModel.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SensorsState/SSCradleViewModel.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SensorsState/SSVariousInputsViewModel.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SensorsState/SSVerticalAxisViewModel.cs
  VerticalWarehouses/VerticalWarehouses.sln
Due: none

Chore():
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/VertimagConfiguration.json
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/PositioningExecutingState.cs
Due: none

Chore():
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController.cs
Due: none

Chore():
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/VertimagConfiguration.json
Due: none

feat(DebugSignalRConsoleApp): created console app for debugging purposes
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/AutomationService.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Ferretto.VW.OperatorApp.csproj
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerActivityPickingView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/MainWindowNavigationButtonsViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.SignalRClientConsole/Ferretto.VW.SignalRClientConsole.csproj
  VerticalWarehouses/Panel PC UI/Ferretto.VW.SignalRClientConsole/IInstallationHubClient.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.SignalRClientConsole/InstallationHubClient.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.SignalRClientConsole/MessageNotifiedEventArgs.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.SignalRClientConsole/Program.cs
  VerticalWarehouses/VerticalWarehouses.sln
Due: none

[remove] additional info + model object & change layout content
  Common/Resources/BusinessObjects.Designer.cs
  Common/Resources/BusinessObjects.it.resx
  Common/Resources/BusinessObjects.resx
  Common/Resources/EnumColors.Designer.cs
  Common/Resources/EnumColors.resx
  Common/Resources/Icons.Designer.cs
  Common/Resources/Icons.resx
  WMS/App/App.Controls/Controls/EnumIndicator/WmsEnumIndicator.xaml.cs
  WMS/App/App.Core/Models/Machine/MachineDetails.cs
  WMS/App/App.Core/Models/ModelObject.cs
  WMS/App/App.Core/Providers/MachineProvider.cs
  WMS/App/Modules/Machines/ViewModels/MachineDetailsViewModel.cs
  WMS/App/Modules/Machines/Views/MachineDetailsView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] new image standard
  WMS/Data/WebAPI/Images/Cell.png
  WMS/Data/WebAPI/Images/Compartment.png
  WMS/Data/WebAPI/Images/Item.png
  WMS/Data/WebAPI/Images/List.png
  WMS/Data/WebAPI/Images/LoadingUnit.png
  WMS/Data/WebAPI/Images/Mission.png
  WMS/Data/WebAPI/Images/Vertimag_M.png
  WMS/Data/WebAPI/Images/Vertimag_XS.png
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: remove material status initialization
  WMS/App/App.Core/Models/Compartment/CompartmentDetails.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: glitch on grid column width when selecting item
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentAddBulkView.xaml
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentAddView.xaml
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentEditView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[fix] method
  WMS/Data/Core/Providers/Data/MachineProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: general refactor
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/AutomationService.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/VertimagConfiguration.json
  VerticalWarehouses/Machine Automation Service/MAS_MissionsManager/MissionsManager.cs
Due: none

fixed wrong change
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/VertimagConfiguration.json
Due: none

merge with develop
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController_Methods.cs
Due: none

fix: avoid max capacity reset on CompartmentAddViewModel
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentAddViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore add missing converters BNC,BTVC on TrayControl
  Common/Controls.WPF/Converters/BoolToVisibilityConverter.cs
  Common/Controls.WPF/Converters/InverseBooleanConverter.cs
  Common/Controls.WPF/TrayControl/TrayControl.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(): work ended after test on the prototype
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/VertimagConfiguration.json
Due: none

Chore():
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Positioning/PositioningEnableOperationState.cs
Due: none

feat: Extend InverterDriver SendMessage function to handle exception and error notifications
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Enumerations/FieldMessageType.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/FieldData/InverterExceptionFieldMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/FieldInterfaces/IInverterExceptionFieldMessageData.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver_Utility.cs
Due: none

feat(compartments): fix unexpected fields cleanup on add/edit views
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentEditView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(compartment): add validation on registration number
  Common/Resources/Errors.Designer.cs
  Common/Resources/Errors.it.resx
  Common/Resources/Errors.resx
  README.md
  WMS/App/App.Core/Models/Compartment/CompartmentDetails.cs
  WMS/Data/Core/Models/Compartment/CompartmentDetails.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

style: cleanup xaml
  WMS/App/Modules/Machines/Views/MachinesView.xaml
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentAddView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: compartment validation logic
  WMS/Data/Core/Models/Compartment/CompartmentDetails.cs
  WMS/Data/Core/Providers/Data/CompartmentProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(views): fix alignment of numeric columns
  WMS/App/Modules/MasterData/Views/LoadingUnit/LoadingUnitEditView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(status): add missing error codes for controller actions
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
  WMS/Data/WebAPI/Controllers/CompartmentsController.cs
  WMS/Data/WebAPI/Controllers/ItemListsController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(compartment): add missing isBusy indicator on bulk add
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentAddBulkView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

- case for expired FIFO time - case for item with no ICT
  Common/EF/Seeds/Dev.Minimal.sql
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(mission): fix crash when closing mission with quantity higher than planned
  WMS/Data/Core/Providers/Scheduler/MissionExecutionProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Revert "feat(compartment): add validation on registration number"
  Common/Resources/Errors.Designer.cs
  Common/Resources/Errors.it.resx
  Common/Resources/Errors.resx
  WMS/App/App.Core/Models/Compartment/CompartmentDetails.cs
  WMS/Data/Core/Models/Compartment/CompartmentDetails.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml
