Repository ericquartey/wms: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipeline-database-health-dev.yml, Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Pipelines/azure-pipeline-database-health-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: andrewlackenby.sql-toolkit.runsqlcommand.RunSqlCommand@2
    displayName: Create cloud db
    inputs:
      serverName: rd-ferrettogroup.database.windows.net
      databaseName: master
  ...

Pipelines/azure-pipeline-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
  ...

Pipelines/azure-pipeline-vw-services-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(RestoreBuildProjects)
      feedsToUse: config
      nugetConfigPath: nuget.config
  - task: DotNetCoreCLI@2
  ...

Pipelines/azure-pipeline-vw-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution
    inputs:
      solution: $(TargetSolution)
  ...

Pipelines/azure-pipeline-wms-services-dev.yml:
  queue:
    name: Hosted Ubuntu 1604
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
      targetFolder: $(Build.ArtifactStagingDirectory)\sources
  - task: PublishBuildArtifacts@1
  ...

Pipelines/azure-pipeline-wms-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution WMS.App
    inputs:
      solution: $(TargetSolution)
  ...

feat(compartments): add missing controller return code
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
  WMS/Data/WebAPI/Controllers/CompartmentsController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(): solved the merge
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController_Methods.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/VertimagConfiguration.json
Due: none

feat(compartment): add validation on item pairing
  Common/Resources/Errors.Designer.cs
  Common/Resources/Errors.it.resx
  Common/Resources/Errors.resx
  WMS/App/App.Core/Models/Compartment/CompartmentDetails.cs
  WMS/Data/Core/Models/Compartment/CompartmentDetails.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: update pipeline arguments for VW build
  Pipelines/azure-pipeline-prod.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Chore():
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/ServiceContracts.autogen.cs
Due: none

feat(OperatorApp): implemented TrayControl
  Common/Controls.WPF/Interfaces/IFilter.cs
  Common/Controls.WPF/Styles/TrayControl.xaml
  Common/Controls.WPF/TrayControl/Filters/EditFilter.cs
  Common/Controls.WPF/TrayControl/Filters/EditReadOnlyFilter.cs
  Common/Controls.WPF/TrayControl/TrayControl.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Ferretto.VW.OperatorApp.csproj
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerActivityPickingView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerActivityPickingViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/MainWindowNavigationButtonsViewModel.cs
  VerticalWarehouses/Panel PC UI/Utils/Ferretto.VW.Utils.csproj
  VerticalWarehouses/Panel PC UI/Utils/Source/TrayControlCompartment.cs
  VerticalWarehouses/Panel PC UI/VWApp/VWAppModule.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: modification of SendOperationErrorMessage function in HostedInverterDriver class for managing of errors and exceptions
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver_Utility.cs
Due: none

feat(): changes done
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/PositioningEndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/PositioningExecutingState.cs
Due: none

remove unused xml namespace
  WMS/App/Modules/Machines/Views/MachinesView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

add calls to db for details of compartment type
  WMS/App/App.Core/Interfaces/Enumerations/ICompartmentTypeProvider.cs
  WMS/App/App.Core/Interfaces/IItemProvider.cs
  WMS/App/App.Core/Providers/CompartmentTypeProvider.cs
  WMS/App/App.Core/Providers/ItemProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

add direct calls db in data service e create points for external agent
  WMS/Data/Core/Interfaces/Data/IItemProvider.cs
  WMS/Data/Core/Models/CompartmentType/CompartmentType.cs
  WMS/Data/Core/Policies/CompartmentTypeProviderPolicies.cs
  WMS/Data/Core/Providers/Data/CompartmentTypeProvider.cs
  WMS/Data/Core/Providers/Data/ItemProvider.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
  WMS/Data/WebAPI/Controllers/ItemsController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

add new model for associate item to compartment type
  WMS/App/App.Core/Models/CompartmentType/CompartmentType.cs
  WMS/App/App.Core/Models/Item/AssociateItemWithCompartmentType.cs
  WMS/Data/Core/Models/Item/AssociateItemWithCompartmentType.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

add new view and viewmodel
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentTypeDetailsViewModel.cs
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentDetailsView.xaml
  WMS/App/Modules/MasterData/Views/CompartmentTypes/CompartmentTypeDetailsView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

resources
  Common/Resources/BusinessObjects.Designer.cs
  Common/Resources/BusinessObjects.it.resx
  Common/Resources/BusinessObjects.resx
  Common/Resources/General.Designer.cs
  Common/Resources/General.it.resx
  Common/Resources/General.resx
  Common/Resources/MasterData.Designer.cs
  Common/Resources/MasterData.it.resx
  Common/Resources/MasterData.resx
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: revert a434c63c38f2b061908c19f4e4024e7c094183b7 commit
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver_Utility.cs
Due: none

fix calculate net weight of single machine & update test
  WMS/Data/Core/Providers/Data/MachineProvider.cs
  WMS/Data/Tests/Controllers/MachinesControllerTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor(): moved TrayControl Filters in UI Utils, fixed bug in SignalRClientConsole
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/AutomationService.cs
  VerticalWarehouses/Machine Automation Service/MAS_MissionsManager/MissionsManager.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerActivityPickingViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.SignalRClientConsole/Program.cs
  VerticalWarehouses/Panel PC UI/Utils/Source/Filters/EditFilter.cs
  VerticalWarehouses/Panel PC UI/Utils/Source/Filters/EditReadOnlyFilter.cs
Due: none

refactor(): implemented PR suggestions
  Common/Controls.WPF/Styles/TrayControl.xaml
  VerticalWarehouses/Panel PC UI/Utils/Source/Filters/EditFilter.cs
  VerticalWarehouses/Panel PC UI/Utils/Source/Filters/Interfaces/IFilter.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor(): fix from PR suggestion
  Common/Controls.WPF/Styles/TrayControl.xaml
  VerticalWarehouses/Panel PC UI/Utils/Source/Filters/EditReadOnlyFilter.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor(): fixed as PR suggestions
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerActivityPickingViewModel.cs
Due: none

refactor(): PR correction
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerActivityPickingViewModel.cs
Due: none

fix: Change the type of field notification message when Positioning error state is used.
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Positioning/PositioningErrorState.cs
Due: none

refactor(): deleted test method call
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/AutomationService.cs
Due: none

chore: Extend SendMessage HostedInverterDriver
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver_Utility.cs
Due: none

fix: wrong bracket positioning
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver_Utility.cs
Due: none

feat: Catch the error operation status at FSM and destroy the current state machine.
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/FiniteStateMachines.cs
Due: none

refactor(automation-mock): extract constant for fault code
  WMS/VW/ConsoleApp.Mock/Services/AutomationService.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Chore(): Inserted different messages for Belt Burnishing error
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/PositioningErrorState.cs
Due: none

Revert "chore add missing converters BNC,BTVC on TrayControl"
  Common/Controls.WPF/Converters/BoolToVisibilityConverter.cs
  Common/Controls.WPF/Converters/InverseBooleanConverter.cs
  Common/Controls.WPF/TrayControl/TrayControl.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: revert useless spacing changes
  Common/Controls.WPF/Styles/TrayControl.xaml
  Common/Controls.WPF/TrayControl/TrayControl.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

test: update tests to support put list requests
  WMS/Data/Core/Models/Compartment/CompartmentDetails.cs
  WMS/Data/Tests/Scheduler/SchedulerServiceTest.Lists.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Revert "Revert "chore add missing converters BNC,BTVC on TrayControl""
  Common/Controls.WPF/Converters/BoolToVisibilityConverter.cs
  Common/Controls.WPF/Converters/InverseBooleanConverter.cs
  Common/Controls.WPF/TrayControl/TrayControl.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Revert "chore: revert useless spacing changes"
  Common/Controls.WPF/Styles/TrayControl.xaml
  Common/Controls.WPF/TrayControl/TrayControl.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: adjusting the bracket
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
Due: none

feat add WmsWizardView for compartment types association
  Common/Resources/General.Designer.cs
  Common/Resources/General.it.resx
  Common/Resources/General.resx
  Common/Resources/MasterData.Designer.cs
  Common/Resources/MasterData.it.resx
  Common/Resources/MasterData.resx
  Common/Resources/Navigation.Designer.cs
  Common/Resources/Navigation.it.resx
  Common/Resources/Title.Designer.cs
  Common/Resources/Title.it.resx
  Common/Resources/Title.resx
  Common/Utils/Modules/MasterData.cs
  WMS/App/App.Controls/Controls/RadioButton/RadioButton.cs
  WMS/App/App.Controls/Controls/WmsView/WmsDialogView.cs
  WMS/App/App.Controls/Controls/WmsWizard/CommandExecuteType.cs
  WMS/App/App.Controls/Controls/WmsWizard/IItemNavigableViewModel.cs
  WMS/App/App.Controls/Controls/WmsWizard/IItemsViewModel.cs
  WMS/App/App.Controls/Controls/WmsWizard/ItemViewModel.cs
  WMS/App/App.Controls/Controls/WmsWizard/ItemsViewModel.cs
  WMS/App/App.Controls/Controls/WmsWizard/WmsWizardView.cs
  WMS/App/App.Controls/Interfaces/INavigationService.cs
  WMS/App/App.Controls/Services/NavigationService.cs
  WMS/App/App.Controls/Services/PubSubEvents/ItemsPubSubEvent.cs
  WMS/App/App.Themes/Icons/Ferretto/Logistics/baseline_keyboard_arrow_left_black_36dp.png
  WMS/App/App.Themes/Icons/Ferretto/Logistics/baseline_keyboard_arrow_right_black_36dp.png
  WMS/App/App.Themes/Themes/Light/ListBoxEdit.xaml
  WMS/App/App.Themes/Themes/ThemeDictionary.xaml
  WMS/App/Modules/MasterData/MasterDataModule.cs
  WMS/App/Modules/MasterData/ViewModels/CompartmentTypes/AssociateCompartmentTypesItemsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/CompartmentTypes/AssociateCompartmentTypesViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemDetailsViewModel.cs
  WMS/App/Modules/MasterData/Views/CompartmentTypes/AssociateCompartmentTypesItemsView.xaml
  WMS/App/Modules/MasterData/Views/CompartmentTypes/AssociateCompartmentTypesItemsView.xaml.cs
  WMS/App/Modules/MasterData/Views/CompartmentTypes/AssociateCompartmentTypesView.xaml
  WMS/App/Modules/MasterData/Views/CompartmentTypes/AssociateCompartmentTypesView.xaml.cs
  WMS/App/Modules/MasterData/Views/Item/ItemDetailsView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: add nuget package creation for WebAPI contracts
  WMS/Pipelines/azure-pipeline-wms-services-template.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: adjusting the bracket
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver_Utility.cs
Due: none

fix: modification
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver_Utility.cs
Due: none

build: fix pipeline pack command
  WMS/Pipelines/azure-pipeline-wms-services-template.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Path conditions:
  Pipelines/azure-pipeline-database-health-dev.yml: any of: Common\DataModels, Common\EF, but not: VerticalWarehouses, WMS, Common
  Pipelines/azure-pipeline-dev.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-vw-services-dev.yml: any of: *, VerticalWarehouses\Machine Automation Service, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-vw-ui-dev.yml: any of: *, VerticalWarehouses\Panel PC User Interface, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-wms-services-dev.yml: any file but: VerticalWarehouses, WMS\App
  Pipelines/azure-pipeline-wms-ui-dev.yml: any file but: VerticalWarehouses, WMS\Data, WMS\Scheduler
