Repository ericquartey/wms: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipeline-database-health-dev.yml, Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Pipelines/azure-pipeline-database-health-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: andrewlackenby.sql-toolkit.runsqlcommand.RunSqlCommand@2
    displayName: Create cloud db
    inputs:
      serverName: rd-ferrettogroup.database.windows.net
      databaseName: master
  ...

Pipelines/azure-pipeline-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
  ...

Pipelines/azure-pipeline-vw-services-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(RestoreBuildProjects)
      feedsToUse: config
      nugetConfigPath: nuget.config
  - task: DotNetCoreCLI@2
  ...

Pipelines/azure-pipeline-vw-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution
    inputs:
      solution: $(TargetSolution)
  ...

Pipelines/azure-pipeline-wms-services-dev.yml:
  queue:
    name: Hosted Ubuntu 1604
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
      targetFolder: $(Build.ArtifactStagingDirectory)\sources
  - task: PublishBuildArtifacts@1
  ...

Pipelines/azure-pipeline-wms-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution WMS.App
    inputs:
      solution: $(TargetSolution)
  ...

feat(app-config): add proper error message when signalR hub configuration keys are not available
  WMS/App/App/WmsApplication.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore add check policy
  WMS/Data/Core/Providers/Data/ItemListProvider.Policies.cs
  WMS/Data/Core/Providers/Scheduler/ItemListExecutionProvider.cs
  WMS/Data/Core/Providers/Scheduler/ItemListRowExecutionProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix autogen on solution file
  WMS/WMS.sln
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[update] item with IPutPolicy
  WMS/Data/Core/Models/Item/Item.cs
  WMS/Data/Core/Providers/Data/ItemProvider.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat:Provide Inverter Sensors Status
  VerticalWarehouses/Common/Common_Utils/Enumerations/InverterSensors.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/InverterStatus/AcuInverterStatus.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/InverterStatus/AglInverterStatus.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/InverterStatus/AngInverterStatus.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/InverterStatus/Interfaces/IAcuInverterStatus.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/InverterStatus/Interfaces/IAglInverterStatus.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/InverterStatus/Interfaces/IAngInverterStatus.cs
Due: none

Revert "build(migrations): add service url to machines table"
  Common/EF/Migrations/20190513130935_Add_Field_ServiceUrl_To_Table_Machines.Designer.cs
  Common/EF/Migrations/20190513130935_Add_Field_ServiceUrl_To_Table_Machines.cs
  Common/EF/Migrations/DatabaseContextModelSnapshot.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix merge
  WMS/Data/Core/Providers/Data/ItemProvider.Policies.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestExecutionProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor(property-metadata): update log messages
  Common/Utils/PropertyMetadata.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(machines): move machine service url validation to business layer
  Common/DataModels/Machine.cs
  Common/EF/Configurations/MachineConfiguration.cs
  WMS/Data/Core/Interfaces/Data/IMachineProvider.cs
  WMS/Data/Core/Models/Machine/Machine.cs
  WMS/Data/Core/Models/Machine/MachineServiceInfo.cs
  WMS/Data/Core/Providers/Data/MachineProvider.cs
  WMS/Data/Core/Services/MachineLiveDataService.cs
  analysis.ruleset
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor(configuration): create extension methods for configuration retrieval
  WMS/Data/Core/Extensions/ConfigurationExtensions.cs
  WMS/Data/Core/Services/MachineLiveDataService.cs
  WMS/Data/WebAPI/Startup.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

SS
  WMS/App/App.Controls/Services/NotificationService.cs
  WMS/Data/Core/Services/MachineLiveDataService.cs
  WMS/Data/WebAPI/Controllers/AbcClassesController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor(machines): add null check on hub clients
  WMS/Data/Core/Services/MachineLiveDataService.cs
  WMS/VW/ConsoleApp.Mock/Services/AutomationService.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore add policy check
  WMS/Data/Core/Models/Policy/Policies.cs
  WMS/Data/Core/Models/Policy/Policy.cs
  WMS/Data/Core/Providers/Data/CellProvider.Policies.cs
  WMS/Data/Core/Providers/Data/CompartmentProvider.Policies.cs
  WMS/Data/Core/Providers/Data/ItemListProvider.Policies.cs
  WMS/Data/Core/Providers/Data/ItemListRowProvider.Policies.cs
  WMS/Data/Core/Providers/Data/ItemListRowProvider.cs
  WMS/Data/Core/Providers/Data/ItemProvider.Policies.cs
  WMS/Data/Core/Providers/Data/LoadingUnitProvider.Policies.cs
  WMS/Data/Core/Providers/Scheduler/ItemListExecutionProvider.cs
  WMS/Data/Core/Providers/Scheduler/ItemListRowExecutionProvider.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestExecutionProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(missions): create migration to add ServiceUrl to Machines
  Common/EF/Migrations/20190515134629_Add_Field_ServiceUrl_To_Table_Machines.Designer.cs
  Common/EF/Migrations/20190515134629_Add_Field_ServiceUrl_To_Table_Machines.cs
  WMS/Data/WebAPI/Startup.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(machines): add migration attribute for code analysis exclusion
  Common/EF/Migrations/20190515134629_Add_Field_ServiceUrl_To_Table_Machines.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore fix ItemlList status check
  WMS/Data/Core/Providers/Data/ItemListProvider.Policies.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore remove policy check on PrepareForExecutionAsync
  WMS/Data/Core/Providers/Scheduler/ItemListExecutionProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore fix data test error
  Common/BLL.Interfaces/Extensions/PolicyExtensions.cs
  WMS/Data/Core/Models/Policy/Policies.cs
  WMS/Data/Core/Providers/Data/CellProvider.Policies.cs
  WMS/Data/Core/Providers/Data/CompartmentProvider.Policies.cs
  WMS/Data/Core/Providers/Data/ItemListProvider.Policies.cs
  WMS/Data/Core/Providers/Data/ItemListRowProvider.Policies.cs
  WMS/Data/Core/Providers/Data/ItemProvider.Policies.cs
  WMS/Data/Core/Providers/Data/LoadingUnitProvider.Policies.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: add missing ErrorRowCount property
  WMS/Data/Core/Models/ItemList/ItemListDetails.cs
  WMS/Data/Core/Models/ItemList/ItemListOperation.cs
  WMS/Data/Core/Providers/Data/ItemListProvider.cs
  WMS/Data/Core/Providers/Scheduler/ItemListExecutionProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: change GetStatus method to Status property
  WMS/Data/Core/Models/ItemList/ItemListOperation.cs
  WMS/Data/Core/Providers/Scheduler/ItemListExecutionProvider.cs
  WMS/Data/Tests/Scheduler/ListProviderTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: review list status calculation algorithm
  WMS/Data/Core/Models/ItemList/ItemList.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

test: add list status tests
  WMS/Data/Tests/Models/ItemListTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: review list status colors
  Common/Resources/EnumColors.Designer.cs
  Common/Resources/EnumColors.resx
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat: when a list row is executed but no available quantity is present, the row status goes to incomplete
  WMS/Data/Core/Providers/Scheduler/ItemListRowExecutionProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(): work in progress, waiting for the test on Bender
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/VertimagConfiguration.json
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/FiniteStateMachines.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/VerticalPositioning/VerticalPositioningStartState.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedIoDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver_Utility.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/InverterStatus/StatusWord/PositionStatusWord.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/CalibrateAxisStartState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/VerticalPositioning/VerticalPositioningDisableOperationState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/VerticalPositioning/VerticalPositioningEnableOperationState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/VerticalPositioning/VerticalPositioningEndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/VerticalPositioning/VerticalPositioningStartMovingState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/VerticalPositioning/VerticalPositioningStartState.cs
Due: none

chore remove unused icons
  WMS/App/App.Themes/Icons/Ferretto/Logistics/icons8-minus-24.png
  WMS/App/App.Themes/Icons/Ferretto/Logistics/icons8-plus-math-filled-24.png
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore add policy enum for each Provider
  Common/BLL.Interfaces/Extensions/PolicyExtensions.cs
  Common/BLL.Interfaces/Models/IAction.cs
  Common/BLL.Interfaces/Models/Policy/CrudPolicies.cs
  Common/BLL.Interfaces/Models/Policy/IPolicy.cs
  Common/BLL.Interfaces/Models/Policy/IPolicyDescriptor.cs
  Common/BLL.Interfaces/Models/Policy/PolicyType.cs
  Common/BLL.Interfaces/Models/Policy/Provider/CellPolicy.cs
  Common/BLL.Interfaces/Models/Policy/Provider/CompartmentPolicy.cs
  Common/BLL.Interfaces/Models/Policy/Provider/ItemListPolicy.cs
  Common/BLL.Interfaces/Models/Policy/Provider/ItemListRowpolicy.cs
  Common/BLL.Interfaces/Models/Policy/Provider/ItemPolicy.cs
  Common/BLL.Interfaces/Models/Policy/Provider/LoadingUnitPolicy.cs
  WMS/App/App.Controls/ViewModels/DetailsViewModel.cs
  WMS/App/App.Controls/ViewModels/EntityListViewModel.cs
  WMS/App/App.Core/Models/Actions/ActionModel.cs
  WMS/App/Modules/ItemLists/ViewModels/ItemList/ItemListDetailsViewModel.cs
  WMS/Data/Core/Interfaces/Scheduler/ISchedulerRequestExecutionProvider.cs
  WMS/Data/Core/Models/Policy/Policies.cs
  WMS/Data/Core/Providers/Data/CellProvider.Policies.cs
  WMS/Data/Core/Providers/Data/CompartmentProvider.Policies.cs
  WMS/Data/Core/Providers/Data/ItemListProvider.Policies.cs
  WMS/Data/Core/Providers/Data/ItemListRowProvider.Policies.cs
  WMS/Data/Core/Providers/Data/ItemListRowProvider.cs
  WMS/Data/Core/Providers/Data/ItemProvider.Policies.cs
  WMS/Data/Core/Providers/Data/LoadingUnitProvider.Policies.cs
  WMS/Data/Core/Providers/Scheduler/ItemListRowExecutionProvider.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestExecutionProvider.cs
  WMS/Data/Core/Services/SchedulerService.cs
  WMS/Data/Tests/Scheduler/RequestCompartmentsTest.cs
  WMS/Data/Tests/Scheduler/SchedulerRequestProviderTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: Integrate Transport for SHD remote IO device.
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedIoDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedSHDIoDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/IoSHDMessage.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/IoSHDStatus.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/SHDTransport.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/SHDTransportMock.cs
Due: none

DrawerSpaceSaturation and DrawerWeightSaturation help pages added. Resources file updated. Other small adjustment.
  VerticalWarehouses/Common/Resources/HelpDescriptions.Designer.cs
  VerticalWarehouses/Common/Resources/HelpDescriptions.it.resx
  VerticalWarehouses/Common/Resources/HelpDescriptions.resx
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Ferretto.VW.OperatorApp.csproj
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpDrawerCompacting.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpDrawerSpaceSaturation.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpDrawerSpaceSaturation.xaml.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpDrawerWeightSaturation.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpDrawerWeightSaturation.xaml.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpMainWindow.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/Statistics/DrawerWeightSaturationView.xaml
Due: none

try logic put
  WMS/Data/Core/Services/SchedulerService.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[update] sql Compartment to try logic put item
  Common/EF/Seeds/Dev.Minimal.sql
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: review policy structure
  Common/BLL.Interfaces/Models/Policy/Provider/CellPolicy.cs
  Common/BLL.Interfaces/Models/Policy/Provider/CompartmentPolicy.cs
  Common/BLL.Interfaces/Models/Policy/Provider/ItemListPolicy.cs
  Common/BLL.Interfaces/Models/Policy/Provider/ItemListRowpolicy.cs
  Common/BLL.Interfaces/Models/Policy/Provider/ItemPolicy.cs
  Common/BLL.Interfaces/Models/Policy/Provider/LoadingUnitPolicy.cs
  WMS/App/App.Core/Models/BusinessPolicies.cs
  WMS/App/Modules/ItemLists/ViewModels/ItemList/ItemListDetailsViewModel.cs
  WMS/App/Modules/ItemLists/ViewModels/ItemList/ItemListsViewModel.cs
  WMS/App/Modules/ItemLists/ViewModels/ItemListRow/ItemListRowDetailsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemDetailsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/LoadingUnit/LoadingUnitDetailsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/LoadingUnit/LoadingUnitsViewModel.cs
  WMS/Data/Core/Providers/Data/CellProvider.Policies.cs
  WMS/Data/Core/Providers/Data/CompartmentProvider.Policies.cs
  WMS/Data/Core/Providers/Data/ItemListProvider.Policies.cs
  WMS/Data/Core/Providers/Data/ItemListRowProvider.Policies.cs
  WMS/Data/Core/Providers/Data/ItemProvider.Policies.cs
  WMS/Data/Core/Providers/Data/LoadingUnitProvider.Policies.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] CompartmentSetToPut [add] status default ISR & method FromPutOption [add] logic validation to put Item
  WMS/Data/Core/Models/Compartment/CompartmentSetToPut.cs
  WMS/Data/Core/Models/SchedulerRequest/ItemSchedulerRequest.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestExecutionProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[removed] old logic to put item
  WMS/Data/Core/Interfaces/Data/IItemProvider.cs
  WMS/Data/Core/Models/Compartment/CompartmentPut.cs
  WMS/Data/Core/Models/Item/Option/ItemPutOptions.cs
  WMS/Data/Core/Providers/Data/ItemProvider.cs
  WMS/Data/Core/Services/SchedulerService.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(loading-unit-aisles): fix initial loading of allowed cells
  WMS/App/App.Core/Providers/LoadingUnitProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(): work done
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/VertimagConfiguration.json
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer_ResolutionCalibration.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/ResolutionCalibration.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Interfaces/IResolutionCalibration.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/ResolutionCalibrationVerticalAxisView.xaml
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/ResolutionCalibrationVerticalAxisViewModel.cs
Due: none

Chore():
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/VertimagConfiguration.json
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/ResolutionCalibrationVerticalAxisViewModel.cs
Due: none

Chore():
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/ResolutionCalibrationVerticalAxisViewModel.cs
Due: none

chore fix pick an put
  Common/Resources/BusinessObjects.Designer.cs
  Common/Resources/BusinessObjects.it.resx
  Common/Resources/BusinessObjects.resx
  WMS/App/App.Core/Interfaces/IAreaProvider.cs
  WMS/App/App.Core/Models/Pick/ItemPick.cs
  WMS/App/App.Core/Models/Put/ItemPut.cs
  WMS/App/App.Core/Providers/AreaProvider.cs
  WMS/App/App.Themes/Icons/Ferretto/Logistics/pick_24.png
  WMS/App/App.Themes/Icons/Ferretto/Logistics/put_24.png
  WMS/App/Modules/MasterData/ViewModels/Item/ItemPutViewModel.cs
  WMS/App/Modules/MasterData/Views/Item/ItemDetailsView.xaml
  WMS/App/Modules/MasterData/Views/Item/ItemsView.xaml
  WMS/Data/Core/Interfaces/Data/IAreaProvider.cs
  WMS/Data/Core/Providers/Data/AreaProvider.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
  WMS/Data/WebAPI/Controllers/AreasController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(validation): fix resolution of error messages
  Common/Utils/PropertyMetadata.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Path conditions:
  Pipelines/azure-pipeline-database-health-dev.yml: any of: Common\DataModels, Common\EF, but not: VerticalWarehouses, WMS, Common
  Pipelines/azure-pipeline-dev.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-vw-services-dev.yml: any of: *, VerticalWarehouses\Machine Automation Service, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-vw-ui-dev.yml: any of: *, VerticalWarehouses\Panel PC User Interface, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-wms-services-dev.yml: any file but: VerticalWarehouses, WMS\App
  Pipelines/azure-pipeline-wms-ui-dev.yml: any file but: VerticalWarehouses, WMS\Data, WMS\Scheduler
