Repository ericquartey/wms: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipeline-database-health-dev.yml, Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Path conditions:
  Pipelines/azure-pipeline-database-health-dev.yml: any of: Common\DataModels, Common\EF, but not: VerticalWarehouses, WMS, Common
  Pipelines/azure-pipeline-dev.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-vw-services-dev.yml: any of: *, VerticalWarehouses\Machine Automation Service, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-vw-ui-dev.yml: any of: *, VerticalWarehouses\Panel PC User Interface, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-wms-services-dev.yml: any file but: VerticalWarehouses, WMS\App
  Pipelines/azure-pipeline-wms-ui-dev.yml: any file but: VerticalWarehouses, WMS\Data, WMS\Scheduler

Chore():
  VerticalWarehouses/Panel PC UI/VWApp/MainWindow.xaml
Due: none

fix: identuty interface exception at UI startup
  VerticalWarehouses/Panel PC UI/VWApp/MainWindow.xaml
  VerticalWarehouses/Panel PC UI/VWApp/MainWindowViewModel.cs
Due: none

feat():
  VerticalWarehouses/Machine Automation Service/AutomationService.Contracts/ServiceContracts.autogen.cs
  VerticalWarehouses/Machine Automation Service/AutomationService.Contracts/Services.autogen.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/BeltBurnishingController.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/BeltBurnishingViewModel.cs
Due: none

fix: toast position error on different screen scaling
  WMS/App/App.Controls/Controls/Toast/Model/NotifyBox.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: minor code cleanings
  WMS/App/App.Controls/Controls/Toast/Model/NotifyBox.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: remove redundant using directives
  Common/Controls.WPF/TrayControl/CanvasListBoxControl.cs
  Common/Controls.WPF/TrayControl/TrayControl.xaml.cs
  Common/DataModels/GlobalSettings.cs
  WMS/App/App.Controls/Controls/ActionBar/ActionBarInputPanelControl.cs
  WMS/App/App.Core/Interfaces/IGlobalSettingsProvider.cs
  WMS/App/App.Core/Maps/GlobalSettingsProfile.cs
  WMS/App/App.Core/Models/GlobalSettings.cs
  WMS/App/App.Core/Providers/MapperProvider.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemPickViewModel.cs
  WMS/Data/Core/Interfaces/IGlobalSettingsProvider.cs
  WMS/Data/Core/Maps/GlobalSettingsProfile.cs
  WMS/Data/Core/Providers/GlobalSettingsProvider.cs
  WMS/Data/Tests/Controllers/MissionOperationsControllerTest.Notifications.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: elevator position change events invoke
  WMS/VW/ConsoleApp.Mock/Services/AutomationService.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(): work in progress
  VerticalWarehouses/Machine Automation Service/AutomationService.Contracts/ServiceContracts.autogen.cs
  VerticalWarehouses/Machine Automation Service/AutomationService.Contracts/Services.autogen.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/BeltBurnishingController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/VertimagConfiguration.json
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/BeltBurnishingViewModel.cs
Due: none

refactor: remove useless SchedulerRequest fields
  Common/DataModels/LoadingUnitType.cs
  Common/DataModels/SchedulerRequest.cs
  Common/EF/Configurations/SchedulerRequestConfiguration.cs
  Common/EF/Migrations/20190710140950_Remove_LoadingUnitTypeId_From_SchedulerRequests.Designer.cs
  Common/EF/Migrations/20190710140950_Remove_LoadingUnitTypeId_From_SchedulerRequests.cs
  WMS/App/App.Core/Models/SchedulerRequest/SchedulerRequest.cs
  WMS/App/App.Core/Providers/SchedulerRequestProvider.cs
  WMS/Data/Core/BackgroundServices/SchedulerService.cs
  WMS/Data/Core/Models/SchedulerRequest/LoadingUnitSchedulerRequest.cs
  WMS/Data/Core/Models/SchedulerRequest/SchedulerRequest.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestExecutionProvider.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: fix some business objects string
  WMS/App/App.Core/Models/SchedulerRequest/SchedulerRequest.cs
  WMS/App/App.Resources/Icons.Designer.cs
  WMS/App/App.Resources/Icons.resx
  WMS/App/App.Resources/Scheduler.Designer.cs
  WMS/App/App.Resources/Scheduler.it.resx
  WMS/App/App.Resources/Scheduler.resx
  WMS/App/Modules/BLL/Services/DataSourceService.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: review scheduler request tooltip fields and fix not mapped fields
  WMS/App/Modules/Scheduler/Views/SchedulerRequestsView.xaml
  WMS/Data/Core/Maps/SchedulerRequestMappingProfile.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: fix some strings in AutomationService Mock
  WMS/VW/ConsoleApp.Mock/Services/AutomationService.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Fix: partial fix of publish issues
  VerticalWarehouses/Common/Common_Utils/Ferretto.VW.CommonUtils.csproj
  VerticalWarehouses/Common/Resources/Ferretto.VW.App.Resources.csproj
  VerticalWarehouses/Ferretto.VW.App.Services/Ferretto.VW.App.Services.csproj
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Hubs/OperatorHub.cs
  VerticalWarehouses/Panel PC UI/VWApp/Ferretto.VW.App.csproj
Due: none

refactor: rename OperationType values Insertion and Withdrawal to Pick and Put
  Common/DataModels/OperationType.cs
  Common/EF/Seeds/Dev.Minimal.sql
  WMS/App/App.Core/Models/SchedulerRequest/OperationType.cs
  WMS/App/Modules/BLL/Services/DataSourceService.cs
  WMS/Data/Core/Models/SchedulerRequest/ItemSchedulerRequest.cs
  WMS/Data/Core/Models/SchedulerRequest/LoadingUnitSchedulerRequest.cs
  WMS/Data/Core/Models/SchedulerRequest/OperationType.cs
  WMS/Data/Core/Providers/Scheduler/CompartmentOperationProvider.cs
  WMS/Data/Core/Providers/Scheduler/MissionOperationCreationProvider.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestPickProvider.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestPutProvider.cs
  WMS/Data/Tests/Controllers/WhereConditionsTest.cs
  WMS/Data/Tests/Scheduler/CompartmentOperationProviderTest.cs
  WMS/Data/Tests/Scheduler/MissionOperationCreationProviderTest.Bays.cs
  WMS/Data/Tests/Scheduler/MissionOperationCreationProviderTest.Concurrency.cs
  WMS/Data/Tests/Scheduler/MissionOperationCreationProviderTest.cs
  WMS/Data/Tests/Scheduler/SchedulerRequestPickProviderTest.Compartments.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Minor fixes after merge
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerActivityLocalCallView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerActivityLocalCallView.xaml.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerOperations/DrawerActivityLocalCallViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/DrawerCompactingDetailView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/DrawerCompactingViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/MaintenanceDetailView.xaml
Due: none

feat: Adjust the publishing configuration for the MachineAutomationService and VWApp application.
  VerticalWarehouses/Machine Automation Service/AutomationService.Contracts/Hubs/AutoReconnectHubClient.cs
  VerticalWarehouses/Machine Automation Service/AutomationService.Contracts/Hubs/InstallationHubClient.cs
  VerticalWarehouses/Machine Automation Service/AutomationService.Contracts/Hubs/OperatorHubClient.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Ferretto.VW.MAS.AutomationService.csproj
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/SensorsStatus/MachineSensorsStatus.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/Ferretto.VW.MAS.IODriver.csproj
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/Ferretto.VW.MAS.InverterDriver.csproj
  VerticalWarehouses/Panel PC UI/VWApp/Ferretto.VW.App.csproj
  VerticalWarehouses/Panel PC UI/VWApp/MainWindowViewModel.cs
  VerticalWarehouses/VerticalWarehouses.sln
Due: none

Binded waiting lists to wms data
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/WaitingLists/ListsInWaitView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/WaitingLists/ListsInWaitViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.WmsCommunication/Interfaces/IWmsDataProvider.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.WmsCommunication/WmsDataProvider.cs
  VerticalWarehouses/Panel PC UI/Utils/Source/CellsManagement/CellManagementMethods.cs
  VerticalWarehouses/Panel PC UI/VWApp/MainWindow.xaml
Due: none

refactor: unify duplicated tooltip style
  WMS/App/App.Themes/Themes/Light/ToolTip.xaml
  WMS/App/App.Themes/Themes/ThemeDictionary.xaml
  WMS/App/Modules/Scheduler/Views/MissionsView.xaml
  WMS/App/Modules/Scheduler/Views/SchedulerRequestsView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

implemented buttonUp and buttonDown
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Ferretto.VW.App.Operator.csproj
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/WaitingLists/ListsInWaitViewModel.cs
Due: none

feat(): changes to work on the prototype
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Startup.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.json
Due: none

fix: missing VS designer preview
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/App.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/App.xaml.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/App.xaml
  VerticalWarehouses/Panel PC UI/InstallationApp/App.xaml.cs
Due: none

fix: tooltip visualization in MissionsView with master/details
  WMS/App/App.Controls/Triggers/WmsTooltipCellGridViewAppear.cs
  WMS/App/Modules/Scheduler/Views/MissionsView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: add Area column in MissionsView
  WMS/App/App.Core/Models/Mission/Mission.cs
  WMS/App/App.Core/Providers/MissionProvider.cs
  WMS/App/Modules/Scheduler/Views/MissionsView.xaml
  WMS/Data/Core/Maps/MissionMappingProfile.cs
  WMS/Data/Core/Models/Mission/MissionInfo.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix(): same positioning movement
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver_Utility.cs
Due: none

chore: add information to MissionOperatios tooltip
  WMS/App/Modules/Scheduler/Views/MissionsView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

add endpoint for machine LUs
  WMS/Data/Core/Interfaces/Data/ILoadingUnitProvider.cs
  WMS/Data/Core/Models/LoadingUnit/LoadingUnitDetails.cs
  WMS/Data/Core/Providers/Data/LoadingUnitProvider.cs
  WMS/Data/WebAPI/Controllers/MachinesController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Modified access to item image
  VerticalWarehouses/Panel PC UI/CustomControls/Assets/Divieto_Dark.png
  VerticalWarehouses/Panel PC UI/CustomControls/Ferretto.VW.App.Controls.csproj
  VerticalWarehouses/Panel PC UI/Ferretto.VW.WmsCommunication/WmsImagesProvider.cs
  VerticalWarehouses/Panel PC UI/VWApp/Ferretto.VW.App.csproj
Due: none

feat(data-service): add missing endpoints required for MAS
  WMS/CodeMaid.config
  WMS/Data/Core/Interfaces/Data/ICellProvider.cs
  WMS/Data/Core/Interfaces/Data/ILoadingUnitProvider.cs
  WMS/Data/Core/Models/Cell/CellOperationalInfoUpdate.cs
  WMS/Data/Core/Models/ItemList/ItemList.cs
  WMS/Data/Core/Models/ItemListRow/ItemListRow.cs
  WMS/Data/Core/Models/LoadingUnit/LoadingUnitOperationalInfoUpdate.cs
  WMS/Data/Core/Models/MissionOperation/MissionOperation.cs
  WMS/Data/Core/Models/MissionOperation/MissionOperationInfo.cs
  WMS/Data/Core/Providers/Data/CellProvider.cs
  WMS/Data/Core/Providers/Data/ItemListProvider.cs
  WMS/Data/Core/Providers/Data/ItemListRowProvider.cs
  WMS/Data/Core/Providers/Data/LoadingUnitProvider.cs
  WMS/Data/Tests/Controllers/MachinesControllerTest.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
  WMS/Data/WebAPI/Controllers/CellsController.cs
  WMS/Data/WebAPI/Controllers/LoadingUnitsController.cs
  WMS/Data/WebAPI/Controllers/MachinesController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: fix missions master-detail table view
  WMS/App/App.Themes/Themes/Light/Common.xaml
  WMS/App/App.Themes/Themes/Light/WmsGridControl.xaml
  WMS/App/Modules/Scheduler/Views/MissionsView.xaml
  WMS/App/Modules/Scheduler/Views/SchedulerRequestsView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Resources file updated. Removed old custom control no more utilized.
  VerticalWarehouses/Common/Resources/OperatorApp.Designer.cs
  VerticalWarehouses/Common/Resources/OperatorApp.it.resx
  VerticalWarehouses/Common/Resources/OperatorApp.resx
  VerticalWarehouses/Panel PC UI/CustomControls/Controls/CustomControlItemStatisticsDataGrid.xaml
  VerticalWarehouses/Panel PC UI/CustomControls/Controls/CustomControlItemStatisticsDataGrid.xaml.cs
  VerticalWarehouses/Panel PC UI/CustomControls/Controls/CustomControlItemStatisticsDataGridViewModel.cs
  VerticalWarehouses/Panel PC UI/CustomControls/Ferretto.VW.App.Controls.csproj
  VerticalWarehouses/Panel PC UI/CustomControls/Interfaces/ICustomControlItemStatisticsDataGridViewModel.cs
  VerticalWarehouses/Panel PC UI/CustomControls/Utils/DataGridItemStatistics.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Ferretto.VW.App.Operator.csproj
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Resources/OperatorAppModule.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Resources/Views.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/Statistics/MachineStatisticsViewModel.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/Ferretto.VW.App.Installation.csproj
Due: none

Fixed waiting lists details
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/NavigationService.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Resources/OperatorAppModule.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/WaitingLists/ListDetail/DetailListInWaitViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/WaitingLists/ListsInWaitViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.WmsCommunication/Interfaces/IWmsDataProvider.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.WmsCommunication/WmsDataProvider.cs
Due: none

Updated position, dimension and font size of various grid.
  VerticalWarehouses/Panel PC UI/CustomControls/Controls/CustomControlArticleDataGrid.xaml
  VerticalWarehouses/Panel PC UI/CustomControls/Controls/CustomControlCellStatisticsDataGrid.xaml
  VerticalWarehouses/Panel PC UI/CustomControls/Controls/CustomControlDrawerDataGrid.xaml
  VerticalWarehouses/Panel PC UI/CustomControls/Controls/CustomControlDrawerSaturationDataGrid.xaml
  VerticalWarehouses/Panel PC UI/CustomControls/Controls/CustomControlDrawerWeightSaturationDataGrid.xaml
  VerticalWarehouses/Panel PC UI/CustomControls/Controls/CustomControlErrorsDataGrid.xaml
  VerticalWarehouses/Panel PC UI/CustomControls/Controls/CustomControlListDataGrid.xaml
  VerticalWarehouses/Panel PC UI/CustomControls/Controls/CustomControlListDetailDataGrid.xaml
  VerticalWarehouses/Panel PC UI/CustomControls/Controls/CustomControlMaintenanceDataGrid.xaml
  VerticalWarehouses/Panel PC UI/CustomControls/Controls/CustomControlMaintenanceDetailDataGrid.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/MaintenanceDetailView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/Statistics/CellsStatisticsView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/Statistics/ErrorsStatisticsView.xaml
Due: none

fix: disable CA rules popping up wih VS2019
  Common/EF/Migrations/20190605075201_Initial.cs
  Common/EF/Migrations/20190619084452_CreateTable_GlobalSettings.cs
  Common/EF/Migrations/20190619094341_RemoveNullableToMaxCapacityInTableItemCompartmentType.cs
  Common/EF/Migrations/20190621091906_CreateTable_MissionOperations.cs
  Common/EF/Migrations/20190624141520_Rename_Cycle_Count_Fields_To_Mission_Count.cs
  Common/EF/Migrations/20190624151123_Rename_Height_Field_In_CompartmentType_Table_To_Depth.cs
  Common/EF/Migrations/20190625130704_Rename_Length_Field_To_Depth.cs
  Common/EF/Migrations/20190703125143_MergeCounterInMissionCountInTableLoadingUnitAddCountInCompartments.cs
  Common/EF/Migrations/20190705073136_Rename_Machine_Fields.cs
  Common/EF/Migrations/20190705094145_Remove_ActualWeight_From_Machine.cs
  WMS/App/App.Controls/Services/InputService/InputService.cs
  WMS/App/App.Controls/ViewModels/DetailsViewModel.cs
  WMS/Data/Core/Providers/Data/AreaProvider.cs
  WMS/Data/Core/Providers/Data/ImageProvider.cs
  WMS/Data/Core/Providers/Data/MachineProvider.cs
  WMS/Data/Tests/Scheduler/CompartmentOperationProviderTest.cs
  WMS/Data/Tests/Scheduler/SchedulerRequestPickProviderTest.Compartments.cs
  WMS/Data/Tests/Scheduler/SchedulerServiceTest.Lists.cs
  WMS/Data/WebAPI.Contracts/DataServiceFactory.cs
  WMS/Data/WebAPI.Contracts/DataWebApiServiceCollectionExtensions.cs
  WMS/Data/WebAPI/Filters/SendNotificationsFilter.cs
  analysis.ruleset
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: remove code analyzers
  VerticalWarehouses/Common/Common_Utils/Ferretto.VW.CommonUtils.csproj
  VerticalWarehouses/Common/Resources/Ferretto.VW.App.Resources.csproj
  VerticalWarehouses/Ferretto.VW.App.Services/Ferretto.VW.App.Services.csproj
  VerticalWarehouses/InverterDriver/Ferretto.VW.Drivers.Inverter.csproj
  VerticalWarehouses/Machine Automation Service/AutomationService.Contracts/Ferretto.VW.MAS.AutomationService.Contracts.csproj
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Ferretto.VW.MAS.Utils.csproj
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Ferretto.VW.MAS.AutomationService.csproj
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Ferretto.VW.MAS.DataLayer.csproj
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Ferretto.VW.MAS.FiniteStateMachines.csproj
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/Ferretto.VW.MAS.IODriver.csproj
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/Ferretto.VW.MAS.InverterDriver.csproj
  VerticalWarehouses/Machine Automation Service/MAS_MissionsManager/Ferretto.VW.MAS.MissionsManager.csproj
  VerticalWarehouses/Panel PC UI/CustomControls/Ferretto.VW.App.Controls.csproj
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Ferretto.VW.App.Operator.csproj
  VerticalWarehouses/Panel PC UI/Ferretto.VW.SignalRClientConsole/Ferretto.VW.SignalRClientConsole.csproj
  VerticalWarehouses/Panel PC UI/Ferretto.VW.WmsCommunication/Ferretto.VW.WmsCommunication.csproj
  VerticalWarehouses/Panel PC UI/InstallationApp/Ferretto.VW.App.Installation.csproj
  VerticalWarehouses/Panel PC UI/Utils/Ferretto.VW.Utils.csproj
  VerticalWarehouses/Panel PC UI/VWApp/Ferretto.VW.App.csproj
  VerticalWarehouses/RemoteIODriver/Ferretto.VW.Drivers.RemoteIO.csproj
  VerticalWarehouses/SQLiteTarget/Ferretto.VW.SQLiteTarget.csproj
  VerticalWarehouses/VerticalWarehouses.sln
Due: none

Added link from Help page and grid header of cells statistics and Immediate drawer call.
  VerticalWarehouses/Common/Resources/Errors.Designer.cs
  VerticalWarehouses/Common/Resources/Errors.it.resx
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpCellsStatistics.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpImmediateDrawerCall.xaml
Due: none

minor refactor
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/WaitingLists/ListDetail/DetailListInWaitViewModel.cs
Due: none

feat add cellsController, binding to CellsStatisticsView
  VerticalWarehouses/Common/Resources/OperatorApp.Designer.cs
  VerticalWarehouses/Common/Resources/OperatorApp.it.resx
  VerticalWarehouses/Common/Resources/OperatorApp.resx
  VerticalWarehouses/Machine Automation Service/AutomationService.Contracts/ServiceContracts.autogen.cs
  VerticalWarehouses/Machine Automation Service/AutomationService.Contracts/Services.autogen.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/CellsController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/nswag.json
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer_CellsManagment.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Interfaces/IDataLayerCellManagment.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Models/CellStatistics.cs
  VerticalWarehouses/Panel PC UI/CustomControls/Controls/CustomControlCellStatisticsDataGrid.xaml
  VerticalWarehouses/Panel PC UI/CustomControls/Controls/CustomControlCellStatisticsDataGridViewModel.cs
  VerticalWarehouses/Panel PC UI/CustomControls/Converters/EnumCellStatusConverter.cs
  VerticalWarehouses/Panel PC UI/CustomControls/Ferretto.VW.App.Controls.csproj
  VerticalWarehouses/Panel PC UI/CustomControls/Utils/DataGridCell.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/OperatorAppModule.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/Statistics/CellsStatisticsView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/Statistics/CellsStatisticsViewModel.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/MainWindowNavigationButtonsViewModel.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/InstallationStateViewModel.cs
Due: none

build: remove ruleset
  VerticalWarehouses/analysis.ruleset
Due: none
