Repository ericquartey/wms: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipeline-database-health-dev.yml, Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Path conditions:
  Pipelines/azure-pipeline-database-health-dev.yml: any of: Common\DataModels, Common\EF, but not: VerticalWarehouses, WMS, Common
  Pipelines/azure-pipeline-dev.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-prod.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-vw-services-dev.yml: any of: *, VerticalWarehouses\Machine Automation Service, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-vw-ui-dev.yml: any of: *, VerticalWarehouses\Panel PC User Interface, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-wms-services-dev.yml: any file but: VerticalWarehouses, WMS\App
  Pipelines/azure-pipeline-wms-ui-dev.yml: any file but: VerticalWarehouses, WMS\Data, WMS\Scheduler

Chore():
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer_CellsManagment.cs
Due: none

fix: correct path to common yml templates
  WMS/Pipelines/azure-pipeline-wms-ui-dev.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: correct path to common yml templates
  VerticalWarehouses/Pipelines/azure-pipeline-vw-services-dev.yml
  VerticalWarehouses/Pipelines/azure-pipeline-vw-ui-dev.yml
  WMS/Pipelines/azure-pipeline-wms-services-dev.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Core(): changed place name with location
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer_CellsManagment.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/LoadingUnitStatusEnum.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Interfaces/IDataLayer.cs
Due: none

Revert "build: move analysis.ruleset and .editorconfig into WMS solution folder"
  .editorconfig
  Common/BLL.Interfaces/Ferretto.Common.BLL.Interfaces.csproj
  Common/BLL.Tests/Ferretto.Common.BLL.Tests.csproj
  Common/BusinessModels/Ferretto.Common.BusinessModels.csproj
  Common/BusinessProviders/Ferretto.Common.BusinessProviders.csproj
  Common/Controls.Tests/Ferretto.Common.Controls.Tests.csproj
  Common/Controls/Ferretto.Common.Controls.csproj
  Common/DataModels/Ferretto.Common.DataModels.csproj
  Common/EF/Ferretto.Common.EF.csproj
  Common/Resources/Ferretto.Common.Resources.csproj
  Common/Utils/Ferretto.Common.Utils.csproj
  WMS/App/App.Tests/Ferretto.WMS.App.Tests.csproj
  WMS/App/App.Themes/Ferretto.WMS.App.Themes.csproj
  WMS/App/App/Ferretto.WMS.App.csproj
  WMS/App/Modules/BLL/Ferretto.WMS.App.Modules.BLL.csproj
  WMS/App/Modules/Layout/Ferretto.WMS.App.Modules.Layout.csproj
  WMS/App/Modules/Machines/Ferretto.WMS.App.Modules.Machines.csproj
  WMS/App/Modules/MasterData/Ferretto.WMS.App.Modules.MasterData.csproj
  WMS/App/Modules/Scheduler/Ferretto.WMS.App.Modules.Scheduler.csproj
  WMS/AutomationServiceMock/Ferretto.WMS.AutomationServiceMock.csproj
  WMS/Data/Core/Ferretto.WMS.Data.Core.csproj
  WMS/Data/Tests/Ferretto.WMS.Data.Tests.csproj
  WMS/Data/WebAPI.Contracts/Ferretto.WMS.Data.WebAPI.Contracts.csproj
  WMS/Data/WebAPI/Ferretto.WMS.Data.WebAPI.csproj
  WMS/Scheduler/Core/Ferretto.WMS.Scheduler.Core.csproj
  WMS/Scheduler/Drivers.Vertimag/Ferretto.WMS.Scheduler.Drivers.Vertimag.csproj
  WMS/Scheduler/Tests/Ferretto.WMS.Scheduler.Tests.csproj
  analysis.ruleset
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: VW service PathtoPublish
  VerticalWarehouses/Pipelines/azure-pipeline-vw-services-dev.yml
Due: none

fix: wrong bin path into publish step
  VerticalWarehouses/Pipelines/azure-pipeline-vw-ui-dev.yml
Due: none

feat:Create Unit Testing for State Machines of Vertical Moving Drawer
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/EnableOperationStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/EndStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/ErrorStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/IdleStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/OperationModeStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/ReadyToSwitchOnStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/SetNewPositionStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/SwitchOnStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/VerticalMovingStateMachineUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/VoltageDisabledStateUnitTest.cs
Due: none

chore:Modify-UnitTest-StateMachines-VerticalMovingDrawer
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/EnableOperationStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/EndStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/IdleStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/OperationModeStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/ReadyToSwitchOnStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/SetNewPositionStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/SwitchOnStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/VoltageDisabledStateUnitTest.cs
Due: none

fix:Background services registration
  VerticalWarehouses/Common/Common_Utils/Enumerations/Axis.cs
  VerticalWarehouses/Common/Common_Utils/Enumerations/IoPorts.cs
  VerticalWarehouses/Common/Common_Utils/Enumerations/MessageType.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Data/SwitchAxisMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Interfaces/ISwitchAxisMessageData.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Startup.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedIoDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/IoMessage.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/IoStatus.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/IIoState.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/IIoStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/IoStateBase.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/IoStateMachineBase.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/PowerUp/ClearOutputs.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/PowerUp/EndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/PowerUp/PowerUpStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/PowerUp/PulseReset.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Calibrate/CalibrateStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Calibrate/EnableOperationState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Calibrate/EndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Calibrate/ErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Calibrate/HomingModeState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Calibrate/ShutdownState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Calibrate/StartingHomeState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Calibrate/SwitchOnState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Calibrate/VoltageDisabledState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/InverterStateBase.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/TestMultipleInterfaceService.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_IoDriverUnitTests/HostedIoDriverTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_IoDriverUnitTests/MAS_IoDriverUnitTests.csproj
  VerticalWarehouses/VerticalWarehouses.sln
Due: none

Fix(): Unit test error and Using Mock changed to false
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
  VerticalWarehouses/Machine Automation Service/Tests/MAS_DataLayerUnitTests/DataLayerUnitTest.cs
Due: none

chore: Move socket manager class into inverter driver component.
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/Interface/ISocketTransport.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/SocketTransport.cs
Due: none

[fix] problem in delete object
  Common/BusinessModels/ChangeDetector.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Removed httpClient from container
  VerticalWarehouses/Panel PC UI/InstallationApp/MainWindowViewModel.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/Resources/InstallationAppModule.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/LowSpeedMovements/LSMTVerticalEngineView.xaml.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/VerticalAxisCalibrationViewModel.cs
Due: none

fix: move HasEmptyValue from ChangeDetector to BusinessObject and use it there
  Common/BusinessModels/BusinessObject.cs
  Common/BusinessModels/ChangeDetector.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: WIP on azure-pipeline-prod
  Pipelines/azure-pipeline-prod.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] missing property to BO ItemListRowDetails + ItemList
  Common/BusinessModels/ListRow/ItemListRowDetails.cs
  WMS/Scheduler/Core/Models/ItemList.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[fix] call Update to dataservice (wrong call) [add] missing setting properties in ItemListRowProvider
  Common/BusinessProviders/ItemListRowProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[update] name ExecuteAsync method in ItemList Controller + Row & name "execute"
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
  WMS/Data/WebAPI/Controllers/ItemListRowsController.cs
  WMS/Data/WebAPI/Controllers/ItemListsController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] missing required property to call scheduler execute lsit
  WMS/Scheduler/Core/Providers/ItemListSchedulerProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[disable] button Execute list row not implemented
  WMS/App/Modules/MasterData/Views/ItemListRow/ItemListRowExecuteDialogView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: Change name for a const in the remoteIO driver
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedIoDriver.cs
Due: none

fix:Review module thread registration and start code
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/AutomationService.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Startup.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/MAS_DataLayer.csproj
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/FiniteStateMachines.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedIoDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/PowerUp/ClearOutputs.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/TestMultipleInterfaceService.cs
  VerticalWarehouses/Machine Automation Service/MAS_MissionsManager/MissionsManager.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_DataLayerUnitTests/DataLayerUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_DataLayerUnitTests/MAS_DataLayerUnitTests.csproj
  VerticalWarehouses/VerticalWarehouses.sln
Due: none

feat(): add to the ConfigurationValueEnum the Homing and Positioning parameters.
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/ConfigurationValueEnum.cs
Due: none

[fix] label ItemListId in row details
  Common/BusinessModels/ListRow/ItemListRowDetails.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix:local assembly reference
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/MAS_DataLayer.csproj
Due: none

feat: Build the unit test for homing states machine
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HomingStartState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HomingStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Interface/IHomingStateMachine.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/FiniteStateMachinesUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/Homing/HomingStartStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/Homing/HomingStateMachineUnitTest.cs
Due: none

Fix(): Corrected the enum
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/ConfigurationValueEnum.cs
Due: none

feat: Add unit test for homing states machine.
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/FiniteStateMachines.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HomingEndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HomingErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HomingStartState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HomingStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Interface/IFiniteStateMachines.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Interface/IHomingStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Interface/IState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Interface/IStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Mission/MissionEndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Mission/MissionErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Mission/MissionStartState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/HorizontalPositioningDoneState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/HorizontalPositioningErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/HorizontalPositioningIdleState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/StateMachineHorizontalPositioning.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/StateMachineVerticalPositioning.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/VerticalPositioningDoneState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/VerticalPositioningErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/VerticalPositioningIdleState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/StateBase.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/StateMachineBase.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/FiniteStateMachinesUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/Homing/HomingEndStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/Homing/HomingErrorStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/Homing/HomingStateMachineUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/VerticalHoming/StateMachineVerticalHomingUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/VerticalHoming/VerticalHomingDoneStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/VerticalHoming/VerticalHomingErrorStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/VerticalHoming/VerticalHomingIdleStateUnitTest.cs
Due: none

Initial loading drawers page inserted. Resources file updated.
  VerticalWarehouses/Common/Resources/InstallationApp.Designer.cs
  VerticalWarehouses/Common/Resources/InstallationApp.it.resx
  VerticalWarehouses/Common/Resources/InstallationApp.resx
  VerticalWarehouses/InstallationApp/Ferretto.VW.InstallationApp.csproj
  VerticalWarehouses/InstallationApp/Interfaces/ILoadingDrawersViewModel.cs
  VerticalWarehouses/InstallationApp/MainWindowViewModel_NavigationCommands.cs
  VerticalWarehouses/InstallationApp/Resources/InstallationAppModule.cs
  VerticalWarehouses/InstallationApp/Resources/Views.xaml
  VerticalWarehouses/InstallationApp/ViewsAndViewModels/MainWindowNavigationButtonsView.xaml
  VerticalWarehouses/InstallationApp/ViewsAndViewModels/SingleViews/LoadingDrawersView.xaml
  VerticalWarehouses/InstallationApp/ViewsAndViewModels/SingleViews/LoadingDrawersView.xaml.cs
  VerticalWarehouses/InstallationApp/ViewsAndViewModels/SingleViews/LoadingDrawersViewModel.cs
  VerticalWarehouses/VWApp/Bootstrapper.cs
Due: none

feat: Remove the reference of driver and remote IO components from the Finite State Machines component
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/FiniteStateMachines.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/FiniteStateMachinesUnitTest.cs
Due: none

feat:Create-UnitTest-StateMachines-HorizontalMovingDrawer
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/EnableOperationStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/EndStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/ErrorStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/HorizontalMovingStateMachineUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/IdleStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/OperationModeStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/ReadyToSwitchOnStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/SetNewPositionStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/SwitchOnStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/VoltageDisabledStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/EndStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/IdleStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/OperationModeStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/SetNewPositionStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/SwitchOnStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/VoltageDisabledStateUnitTest.cs
Due: none

chore:Modify-UnitTest-StateMachines-Horizontal and Vertical MovingDrawer
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/EnableOperationStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/EndStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/ErrorStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/HorizontalMovingStateMachineUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/IdleStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/OperationModeStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/ReadyToSwitchOnStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/SetNewPositionStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/SwitchOnStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/VoltageDisabledStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/EnableOperationStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/EndStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/ErrorStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/IdleStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/OperationModeStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/ReadyToSwitchOnStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/SetNewPositionStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/SwitchOnStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/VerticalMovingStateMachineUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/VoltageDisabledStateUnitTest.cs
Due: none

First drawer to insert procedure added. Resouces file updated.
  VerticalWarehouses/Common/Resources/InstallationApp.Designer.cs
  VerticalWarehouses/Common/Resources/InstallationApp.it.resx
  VerticalWarehouses/Common/Resources/InstallationApp.resx
  VerticalWarehouses/InstallationApp/Ferretto.VW.InstallationApp.csproj
  VerticalWarehouses/InstallationApp/HelpWindows/HelpBeltBurnishingView.xaml
  VerticalWarehouses/InstallationApp/Interfaces/ILoadFirstDrawerViewModel.cs
  VerticalWarehouses/InstallationApp/MainWindowViewModel_NavigationCommands.cs
  VerticalWarehouses/InstallationApp/Resources/InstallationAppModule.cs
  VerticalWarehouses/InstallationApp/Resources/Views.xaml
  VerticalWarehouses/InstallationApp/ViewsAndViewModels/MainWindowNavigationButtonsView.xaml
  VerticalWarehouses/InstallationApp/ViewsAndViewModels/SingleViews/LoadFirstDrawerView.xaml
  VerticalWarehouses/InstallationApp/ViewsAndViewModels/SingleViews/LoadFirstDrawerView.xaml.cs
  VerticalWarehouses/InstallationApp/ViewsAndViewModels/SingleViews/LoadFirstDrawerViewModel.cs
  VerticalWarehouses/VWApp/Bootstrapper.cs
Due: none

Help page for load first drawer and cell test inserted. Resources file updated.
  VerticalWarehouses/Common/Resources/HelpDescriptions.Designer.cs
  VerticalWarehouses/Common/Resources/HelpDescriptions.it.resx
  VerticalWarehouses/Common/Resources/HelpDescriptions.resx
  VerticalWarehouses/InstallationApp/Ferretto.VW.InstallationApp.csproj
  VerticalWarehouses/InstallationApp/HelpWindows/HelpLoadFirstDrawer.xaml
  VerticalWarehouses/InstallationApp/HelpWindows/HelpLoadFirstDrawer.xaml.cs
  VerticalWarehouses/InstallationApp/HelpWindows/HelpMainWindow.xaml
Due: none

Loading drawers Help inserted. Resources file updated.
  VerticalWarehouses/Common/Resources/HelpDescriptions.Designer.cs
  VerticalWarehouses/Common/Resources/HelpDescriptions.it.resx
  VerticalWarehouses/Common/Resources/HelpDescriptions.resx
  VerticalWarehouses/InstallationApp/Ferretto.VW.InstallationApp.csproj
  VerticalWarehouses/InstallationApp/HelpWindows/HelpLoadingDrawers.xaml
  VerticalWarehouses/InstallationApp/HelpWindows/HelpLoadingDrawers.xaml.cs
  VerticalWarehouses/InstallationApp/HelpWindows/HelpMainWindow.xaml
Due: none

chore:Modify-UnitTest-StateMachines-Vertical and Horizontal MovingDrawer
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/EnableOperationStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/EndStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/ErrorStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/HorizontalMovingStateMachineUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/IdleStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/OperationModeStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/ReadyToSwitchOnStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/SetNewPositionStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/SwitchOnStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/VoltageDisabledStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/EnableOperationStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/EndStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/ErrorStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/IdleStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/OperationModeStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/ReadyToSwitchOnStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/SetNewPositionStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/SwitchOnStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/VerticalMovingStateMachineUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/VerticalMovingDrawer/VoltageDisabledStateUnitTest.cs
Due: none

[fix] migration with DatabaseContextFactory
  Common/EF/Migrations/20181126112349_Add_Timestamping_To_Tables_Items_SchedulerRequests.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] to scheduler provider id property, and fix fields where using search
  Common/BusinessProviders/SchedulerRequestProvider.cs
  WMS/Data/Core/Providers/SchedulerRequestProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml
