Repository ericquartey/wms: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipeline-database-health-dev.yml, Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Path conditions:
  Pipelines/azure-pipeline-database-health-dev.yml: any of: Common\DataModels, Common\EF, but not: VerticalWarehouses, WMS, Common
  Pipelines/azure-pipeline-dev.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-vw-services-dev.yml: any of: *, VerticalWarehouses\Machine Automation Service, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-vw-ui-dev.yml: any of: *, VerticalWarehouses\Panel PC User Interface, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-wms-services-dev.yml: any file but: VerticalWarehouses, WMS\App
  Pipelines/azure-pipeline-wms-ui-dev.yml: any file but: VerticalWarehouses, WMS\Data, WMS\Scheduler

Inserted default image used when the item has no image available
  VerticalWarehouses/Panel PC UI/Ferretto.VW.WmsCommunication/WmsImagesProvider.cs
  VerticalWarehouses/Panel PC UI/VWApp/Ferretto.VW.VWApp.csproj
  VerticalWarehouses/Panel PC UI/VWApp/Images/Divieto_Dark.png
  VerticalWarehouses/Panel PC UI/VWApp/Images/Divieto_Light.png
  VerticalWarehouses/Panel PC UI/VWApp/Images/Ingranaggio_quadrato.png
  VerticalWarehouses/Panel PC UI/VWApp/Images/Punto_Interrogativo.png
  VerticalWarehouses/Panel PC UI/VWApp/Images/Punto_Interrogativo_2.png
  VerticalWarehouses/Panel PC UI/VWApp/Images/Punto_Interrogativo_3.png
Due: none

feat(DataGrids): implemented maintenance detail data grid
  VerticalWarehouses/Common/Resources/OperatorApp.Designer.cs
  VerticalWarehouses/Common/Resources/OperatorApp.resx
  VerticalWarehouses/Panel PC UI/CustomControls/Controls/CustomControlMaintenanceDetailDataGrid.xaml
  VerticalWarehouses/Panel PC UI/CustomControls/Controls/CustomControlMaintenanceDetailDataGrid.xaml.cs
  VerticalWarehouses/Panel PC UI/CustomControls/Ferretto.VW.CustomControls.csproj
Due: none

feat(): changed HB message creation
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/VertimagConfiguration.json
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver_Utility.cs
Due: none

feat(DataGrids): implemented drawer weight saturation data grid
  VerticalWarehouses/Panel PC UI/CustomControls/Controls/CustomControlDrawerWeightSaturationDataGrid.xaml
  VerticalWarehouses/Panel PC UI/CustomControls/Controls/CustomControlDrawerWeightSaturationDataGrid.xaml.cs
  VerticalWarehouses/Panel PC UI/CustomControls/Controls/CustomControlDrawerWeightSaturationDataGridViewModel.cs
  VerticalWarehouses/Panel PC UI/CustomControls/Ferretto.VW.CustomControls.csproj
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Resources/OperatorAppModule.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Resources/Views.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/Statistics/DrawerWeightSaturationView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/Statistics/DrawerWeightSaturationViewModel.cs
Due: none

add event subscription on data service
  WMS/Data/Core/Services/MachineLiveDataService.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

add missing property to model
  WMS/App/App.Core/Providers/BayProvider.cs
  WMS/VW/Contracts/Hubs/EventArgs/LoadingUnitChangedEventArgs.cs
  WMS/VW/Contracts/Hubs/EventArgs/UserChangedEventArgs.cs
  WMS/VW/Contracts/Hubs/MachineHubClient.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

increment time to move elevator demo
  WMS/VW/ConsoleApp.Mock/Services/AutomationService.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

notify models
  WMS/App/App.Core/Models/Bay/BayDetails.cs
  WMS/App/App.Core/Models/Machine/MachineLive.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

add check if infotext content is null
  WMS/App/App.Controls/Controls/InfoText/InfoText.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

add comments
  WMS/VW/ConsoleApp.Mock/Services/AutomationService.ExecuteAsync.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

add empty space between columns
  WMS/App/Modules/Machines/Views/MachineDetailsView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

reorder code
  WMS/App/App.Controls/Services/NotificationService.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(scheduler): add exclusion of compartment sets with no availability/capacity
  WMS/Data/Core/Providers/Scheduler/ItemListExecutionProvider.cs
  WMS/Data/Core/Providers/Scheduler/ItemListRowExecutionProvider.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestPickProvider.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestPutProvider.cs
  WMS/Data/WebAPI/Filters/SendNotificationsFilter.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: temporarily resolve error on mission details endpoint (will be reviewed when merging PR #1532)
  WMS/Data/Core/Providers/Data/MissionProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: avoid build to start when pushing into master branch
  Pipelines/azure-pipeline-prod.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(DataGrids): implemented lists details data grid
  VerticalWarehouses/Panel PC UI/CustomControls/Controls/CustomControlListDetailDataGrid.xaml
  VerticalWarehouses/Panel PC UI/CustomControls/Controls/CustomControlListDetailDataGrid.xaml.cs
  VerticalWarehouses/Panel PC UI/CustomControls/Controls/CustomControlListDetailDataGridViewModel.cs
  VerticalWarehouses/Panel PC UI/CustomControls/Ferretto.VW.CustomControls.csproj
  VerticalWarehouses/Panel PC UI/CustomControls/Interfaces/ICustomControlListDetailDataGridViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Resources/OperatorAppModule.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Resources/Views.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/WaitingLists/ListDetail/DetailListInWaitView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/WaitingLists/ListDetail/DetailListInWaitViewModel.cs
Due: none

fix: crash on create compartment wizard step
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentEditViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

remove block xaml in csproj
  WMS/App/Modules/MasterData/Ferretto.WMS.App.Modules.MasterData.csproj
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: remove unused property UserLogger from MachineLive model
  WMS/App/App.Core/Models/Machine/MachineLive.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Fix glitch effect on TrayControl
  Common/Controls.WPF/Ruler/RulerControl.cs
  Common/Controls.WPF/Styles/RulerControl.xaml
  Common/Controls.WPF/Styles/TrayControl.xaml
  Common/Controls.WPF/TrayControl/CanvasListBoxControl.cs
  Common/Controls.WPF/TrayControl/TrayControl.xaml
  Common/Controls.WPF/TrayControl/TrayControl.xaml.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(DataGrids): implemented item statistics data grid
  VerticalWarehouses/Common/Resources/OperatorApp.Designer.cs
  VerticalWarehouses/Common/Resources/OperatorApp.resx
  VerticalWarehouses/Panel PC UI/CustomControls/Controls/CustomControlItemStatisticsDataGrid.xaml
  VerticalWarehouses/Panel PC UI/CustomControls/Controls/CustomControlItemStatisticsDataGrid.xaml.cs
  VerticalWarehouses/Panel PC UI/CustomControls/Controls/CustomControlItemStatisticsDataGridViewModel.cs
  VerticalWarehouses/Panel PC UI/CustomControls/Ferretto.VW.CustomControls.csproj
  VerticalWarehouses/Panel PC UI/CustomControls/Interfaces/ICustomControlItemStatisticsDataGridViewModel.cs
  VerticalWarehouses/Panel PC UI/CustomControls/Utils/DataGridItemStatistics.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Resources/OperatorAppModule.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Resources/Views.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/Statistics/ItemStatisticsView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/Statistics/ItemStatisticsViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/WaitingLists/ListDetail/DetailListInWaitViewModel.cs
Due: none

refactor: cleanup common utils code
  VerticalWarehouses/Common/Common_Utils/Enumerations/IOMachineSensors.cs
  VerticalWarehouses/Common/Common_Utils/Enumerations/InverterSensors.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Data/CalibrateAxisMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Data/HomingMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Data/MissionMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Data/MovementMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Data/PositioningMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Data/ShutterPositioningMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Data/StopAxisMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Data/SwitchAxisMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Enumerations/ShutterType.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Interfaces/IBaseNotificationMessageUI.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Interfaces/IMissionMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Interfaces/IShutterControlMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Interfaces/IShutterPositioningMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/NotificationMessage.cs
  VerticalWarehouses/InverterDriver/Source/CalibrateAxis.cs
  VerticalWarehouses/InverterDriver/Source/InverterDriver.cs
  VerticalWarehouses/InverterDriver/Source/Telegram.cs
Due: none

fix on windows size change, in full screen
  WMS/App/App.Controls/Controls/Toast/Model/NotifyBox.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix(): solved IO bug
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/OffsetCalibrationController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/VertimagConfiguration.json
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedSHDIoDriver.cs
Due: none

feat(): work in progress
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedSHDIoDriver.cs
Due: none

Fix selection on CanvasListBoxControl
  Common/Controls.WPF/TrayControl/CanvasListBoxControl.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Fix set background compartment color on TrayControl
  Common/Controls.WPF/TrayControl/CanvasListBoxControl.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: wrong filter for LoadingUnit allowed for an item
  WMS/Data/Core/Providers/Data/LoadingUnitProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: disable item lookupedit on CompartmentEdit when opening it from wizard
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentEditViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/CompartmentTypes/CompartmentEditStepViewModel.cs
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentEditView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(): work in progress
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/VertimagConfiguration.json
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedSHDIoDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/InverterStatus/Interfaces/IAngInverterStatus.cs
Due: none

fix(): error corrected
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedSHDIoDriver.cs
Due: none

fix: typo in ChooseCompartmentTypesStep
  WMS/App/App.Resources/MasterData.Designer.cs
  WMS/App/App.Resources/MasterData.it.resx
  WMS/App/App.Resources/MasterData.resx
  WMS/App/Modules/MasterData/ViewModels/CompartmentTypes/ChooseCompartmentTypesStepViewModel.cs
  WMS/App/Modules/MasterData/Views/CompartmentTypes/ChooseCompartmentTypesStepView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: disable next button when no loading unit is selected in ChooseLoadingUnitStepViewModel
  WMS/App/Modules/MasterData/ViewModels/CompartmentTypes/ChooseLoadingUnitStepViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Chore(): changed Bender's IP address with the new one
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/VertimagConfiguration.json
Due: none

chore: corrected deleted namespaces
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/MaintenanceMainPageViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/Statistics/CellsStatisticsViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/Statistics/DrawerSpaceSaturationViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/SearchItem/ItemDetailViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/SearchItem/ItemSearchViewModel.cs
Due: none

chore: remove showToast parameter
  Common/BLL.Interfaces/IOperationResult.cs
  WMS/App/App.Controls/Services/PubSubEvents/StatusPubSubEvent.cs
  WMS/App/App.Core/Models/OperationResult.cs
  WMS/App/Modules/ItemLists/ViewModels/ItemList/ItemListAddViewModel.cs
  WMS/App/Modules/ItemLists/ViewModels/ItemList/ItemListDetailsViewModel.cs
  WMS/App/Modules/ItemLists/ViewModels/ItemList/ItemListExecuteViewModel.cs
  WMS/App/Modules/ItemLists/ViewModels/ItemList/ItemListsViewModel.cs
  WMS/App/Modules/ItemLists/ViewModels/ItemListRow/ItemListRowAddViewModel.cs
  WMS/App/Modules/ItemLists/ViewModels/ItemListRow/ItemListRowDetailsViewModel.cs
  WMS/App/Modules/ItemLists/ViewModels/ItemListRow/ItemListRowExecuteViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Cell/CellDetailsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentAddBulkViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentDetailsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentEditViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/CompartmentTypes/ChooseCompartmentTypesStepViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/CompartmentTypes/CompartmentTypeDetailsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/CompartmentTypes/CompartmentTypesViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemAddViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemDetailsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemPickViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemPutViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/LoadingUnit/LoadingUnitAddViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/LoadingUnit/LoadingUnitDetailsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/LoadingUnit/LoadingUnitWithdrawViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/LoadingUnit/LoadingUnitsViewModel.cs
  WMS/Data/Core/Models/OperationResult/OperationResult.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: moved UI interfaces from Common.BLL to App.Controls project
  WMS/App/App.Controls/Controls/Toast/Interfaces/INotificationConfiguration.cs
  WMS/App/App.Controls/Controls/Toast/Interfaces/INotificationDialogService.cs
  WMS/App/App.Controls/Controls/Toast/Interfaces/INotificationFlowDirection.cs
  WMS/App/App.Controls/Controls/Toast/Interfaces/INotifyBox.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml
