Repository ericquartey/wms: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipeline-database-health-dev.yml, Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Pipelines/azure-pipeline-database-health-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: andrewlackenby.sql-toolkit.runsqlcommand.RunSqlCommand@2
    displayName: Create cloud db
    inputs:
      serverName: rd-ferrettogroup.database.windows.net
      databaseName: master
  ...

Pipelines/azure-pipeline-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
  ...

Pipelines/azure-pipeline-prod.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
  ...

Pipelines/azure-pipeline-vw-services-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(RestoreBuildProjects)
      feedsToUse: config
      nugetConfigPath: nuget.config
  - task: DotNetCoreCLI@2
  ...

Pipelines/azure-pipeline-vw-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution
    inputs:
      solution: $(TargetSolution)
  ...

Pipelines/azure-pipeline-wms-services-dev.yml:
  queue:
    name: Hosted Ubuntu 1604
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
      targetFolder: $(Build.ArtifactStagingDirectory)\sources
  - task: PublishBuildArtifacts@1
  ...

Pipelines/azure-pipeline-wms-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution WMS.App
    inputs:
      solution: $(TargetSolution)
  ...

[update] fields where using search in Mission Provider
  WMS/Data/Core/Providers/MissionProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[remove] DP of grid, and add logic to dynamic search WmsGridControl
  Common/Controls/Triggers/WmsTooltipViewAppear.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Created post method in controller, created MovementMessageDataDTO, created service call in LSMT view
  VerticalWarehouses/Common/Common_Utils/DTOs/MovementMessageDataDTO.cs
  VerticalWarehouses/Common/Common_Utils/Ferretto.VW.Common_Utils.csproj
  VerticalWarehouses/Common/Common_Utils/Messages/Data/MovementMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Data/RelativeMovementMessageData.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/AutomationService.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/MAS_AutomationService.csproj
  VerticalWarehouses/Panel PC UI/InstallationApp/Ferretto.VW.InstallationApp.csproj
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/LowSpeedMovements/LSMTVerticalEngineView.xaml.cs
  VerticalWarehouses/Panel PC UI/VWApp/App.config
Due: none

[fix] temporaly problem on visible state after show dialog: change from invert to hide
  WMS/App/Modules/MasterData/Views/Item/WithdrawDialogView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Bay control page inserted. Resources files updated.
  VerticalWarehouses/Common/Resources/InstallationApp.Designer.cs
  VerticalWarehouses/Common/Resources/InstallationApp.it.resx
  VerticalWarehouses/Common/Resources/InstallationApp.resx
  VerticalWarehouses/InstallationApp/Ferretto.VW.InstallationApp.csproj
  VerticalWarehouses/InstallationApp/Interfaces/IBayControlViewModel.cs
  VerticalWarehouses/InstallationApp/MainWindowViewModel_NavigationCommands.cs
  VerticalWarehouses/InstallationApp/Resources/InstallationAppModule.cs
  VerticalWarehouses/InstallationApp/Resources/Views.xaml
  VerticalWarehouses/InstallationApp/ViewsAndViewModels/MainWindowNavigationButtonsView.xaml
  VerticalWarehouses/InstallationApp/ViewsAndViewModels/SingleViews/BayControlView.xaml
  VerticalWarehouses/InstallationApp/ViewsAndViewModels/SingleViews/BayControlView.xaml.cs
  VerticalWarehouses/InstallationApp/ViewsAndViewModels/SingleViews/BayControlViewModel.cs
  VerticalWarehouses/VWApp/Bootstrapper.cs
Due: none

Added sensor changed system from service to UI, implemented test cycle for sensors
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/AutomationService.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/MainWindowViewModel_NavigationCommands.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/Resources/InstallationAppModule.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ServiceUtilities/InstallationHubClient.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ServiceUtilities/Interfaces/IContainerInstallationHubClient.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ServiceUtilities/Interfaces/IInstallationHubClient.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ServiceUtilities/ReceivedMessageEventArgs.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ServiceUtilities/SensorsChangedEventArgs.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/LowSpeedMovements/LSMTHorizontalEngineView.xaml
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/LowSpeedMovements/LSMTHorizontalEngineView.xaml.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SensorsState/SSBaysView.xaml
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SensorsState/SSBaysViewModel.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SensorsState/SSNavigationButtonsViewModel.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/VerticalAxisCalibrationViewModel.cs
  VerticalWarehouses/Panel PC UI/VWApp/MainWindowViewModel.cs
Due: none

Resetted appsetting development
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SensorsState/SSBaysView.xaml
Due: none

fixed merge conflicts
  VerticalWarehouses/Common/Common_Utils/Enumerations/MessageType.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/AutomationService.cs
Due: none

Help page for bay control procedure inserted. Resources file updated.
  VerticalWarehouses/Common/Resources/HelpDescriptions.Designer.cs
  VerticalWarehouses/Common/Resources/HelpDescriptions.it.resx
  VerticalWarehouses/Common/Resources/HelpDescriptions.resx
  VerticalWarehouses/InstallationApp/Ferretto.VW.InstallationApp.csproj
  VerticalWarehouses/InstallationApp/HelpWindows/HelpBayControl.xaml
  VerticalWarehouses/InstallationApp/HelpWindows/HelpBayControl.xaml.cs
  VerticalWarehouses/InstallationApp/HelpWindows/HelpBeltBurnishingView.xaml
  VerticalWarehouses/InstallationApp/HelpWindows/HelpMainWindow.xaml
Due: none

Layout of some help page adjusted.
  VerticalWarehouses/InstallationApp/HelpWindows/HelpInstallationState.xaml
  VerticalWarehouses/InstallationApp/HelpWindows/HelpPageBase.xaml
Due: none

refactor: remove unnecessary Include calls from IQueryables
  WMS/Data/Core/Providers/ItemProvider.cs
  WMS/Data/Core/Providers/MachineProvider.cs
  WMS/Data/Core/Providers/MissionProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: fix minor CA warnings
  Common/EF/Migrations/20181126112349_Add_Timestamping_To_Tables_Items_SchedulerRequests.cs
  Common/EF/Migrations/20181213153916_RemoveDescriptionFromCompartmentType.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor(scheduler): rename BusinessObject to Model
  WMS/Scheduler/Core/Models/Area.cs
  WMS/Scheduler/Core/Models/Bay.cs
  WMS/Scheduler/Core/Models/Item.cs
  WMS/Scheduler/Core/Models/ItemList.cs
  WMS/Scheduler/Core/Models/ItemListRow.cs
  WMS/Scheduler/Core/Models/Mission.cs
  WMS/Scheduler/Core/Models/Model.cs
  WMS/Scheduler/Core/Models/SchedulerRequest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(scheduler): add OperationResult classes
  WMS/Scheduler/Core/Models/OperationResult/BadRequestOperationResult.cs
  WMS/Scheduler/Core/Models/OperationResult/NotFoundOperationResult.cs
  WMS/Scheduler/Core/Models/OperationResult/SuccessOperationResult.cs
  WMS/Scheduler/Core/Providers/SuccessOperationResult.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat add test for all views inside Prism modules
  Common/Controls/Controls/WmsView/WmsDialogView.cs
  Common/Controls/Interfaces/INavigationService.cs
  Common/Controls/Services/EventService.cs
  Common/Controls/Services/ImageProvider.cs
  Common/Controls/Services/InputService/ShortKeys.cs
  Common/Controls/Services/NavigationService.cs
  Common/Utils/Common.cs
  Common/Utils/Modules/Compartment.cs
  Common/Utils/Modules/Machines.cs
  WMS/App/Modules/BLL/BusinessLogicModule.cs
  WMS/App/Modules/Layout/LayoutModule.cs
  WMS/App/Modules/Machines/Views/MachinesView.xaml
  WMS/Ferretto.WMS.App.ModulesUITests/App.config
  WMS/Ferretto.WMS.App.ModulesUITests/BootStrapper.cs
  WMS/Ferretto.WMS.App.ModulesUITests/Ferretto.WMS.App.ModulesUITests.csproj
  WMS/Ferretto.WMS.App.ModulesUITests/MockUI.cs
  WMS/Ferretto.WMS.App.ModulesUITests/ModulesUITest.cs
  WMS/WMS.sln
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor(scheduler): move models into Models namespace
  WMS/Scheduler/Core/Interfaces/IAreaSchedulerProvider.cs
  WMS/Scheduler/Core/Interfaces/ICompartmentSchedulerProvider.cs
  WMS/Scheduler/Core/Interfaces/IItemListRowSchedulerProvider.cs
  WMS/Scheduler/Core/Interfaces/IItemListSchedulerProvider.cs
  WMS/Scheduler/Core/Interfaces/IItemSchedulerProvider.cs
  WMS/Scheduler/Core/Interfaces/IMissionSchedulerProvider.cs
  WMS/Scheduler/Core/Interfaces/ISchedulerRequestProvider.cs
  WMS/Scheduler/Core/Models/Area.cs
  WMS/Scheduler/Core/Models/Bay.cs
  WMS/Scheduler/Core/Models/IOrderableCompartment.cs
  WMS/Scheduler/Core/Models/Item.cs
  WMS/Scheduler/Core/Models/ItemList.cs
  WMS/Scheduler/Core/Models/ItemListRow.cs
  WMS/Scheduler/Core/Models/ItemListRowStatus.cs
  WMS/Scheduler/Core/Models/ItemManagementType.cs
  WMS/Scheduler/Core/Models/ListExecutionRequest.cs
  WMS/Scheduler/Core/Models/ListRowExecutionRequest.cs
  WMS/Scheduler/Core/Models/ListRowStatus.cs
  WMS/Scheduler/Core/Models/ListStatus.cs
  WMS/Scheduler/Core/Models/Mission.cs
  WMS/Scheduler/Core/Models/MissionStatus.cs
  WMS/Scheduler/Core/Models/MissionType.cs
  WMS/Scheduler/Core/Models/Model.cs
  WMS/Scheduler/Core/Models/OperationType.cs
  WMS/Scheduler/Core/Models/SchedulerRequest.cs
  WMS/Scheduler/Core/Models/WithdrawRequest.cs
  WMS/Scheduler/Core/Providers/AreaSchedulerProvider.cs
  WMS/Scheduler/Core/Providers/CompartmentSchedulerProvider.cs
  WMS/Scheduler/Core/Providers/ItemListRowSchedulerProvider.cs
  WMS/Scheduler/Core/Providers/ItemListSchedulerProvider.cs
  WMS/Scheduler/Core/Providers/ItemSchedulerProvider.cs
  WMS/Scheduler/Core/Providers/MissionSchedulerProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[fix] layout grid column
  WMS/App/Modules/MasterData/Views/Item/ItemDetailsView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] field to search filter
  WMS/Data/Core/Providers/ItemProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(scheduler): update controllers' business actions
  WMS/Data/WebAPI/Controllers/ItemListRowsController.cs
  WMS/Data/WebAPI/Controllers/ItemListsController.cs
  WMS/Data/WebAPI/Controllers/ItemsController.cs
  WMS/Data/WebAPI/Controllers/MissionsController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(scheduler): add logic for mission completion
  WMS/Scheduler/Core/Interfaces/ICompartmentSchedulerProvider.cs
  WMS/Scheduler/Core/Interfaces/IMissionSchedulerProvider.cs
  WMS/Scheduler/Core/Models/Compartment/Compartment.cs
  WMS/Scheduler/Core/Models/Compartment/StockUpdateCompartment.cs
  WMS/Scheduler/Core/Providers/CompartmentSchedulerProvider.cs
  WMS/Scheduler/Core/Providers/MissionSchedulerProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: remove unnecessary Include calls from IQueryables
  WMS/Scheduler/Core/Providers/SchedulerRequestProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat:UnitTest_StateMachines_Calibrate
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/Calibrate/CalibrateStateMachineUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/Calibrate/EnableOperationStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/Calibrate/EndStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/Calibrate/ErrorStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/Calibrate/HomingModeStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/Calibrate/ShutDownStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/Calibrate/StartingHomeStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/Calibrate/SwitchOnStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/Calibrate/VoltageDisabledStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/EnableOperationStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/EndStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/OperationModeStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/ReadyToSwitchOnStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/SetNewPositionStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/SwitchOnStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_InverterDriverUnitTests/StateMachines/HorizontalMovingDrawer/VoltageDisabledStateUnitTest.cs
Due: none

[remove] logic Show Title in WmsLabel
  Common/Controls/Controls/TextEdit/AttachedProperties/ShowTitle.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[fix] WmsLabel is always visible
  WMS/App/App.Themes/Themes/Light/TextEdit.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] evaluation Title in setProperty [removed] unused methods [update] logic
  Common/Controls/Controls/TextEdit/WmsLabel.xaml.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] logic to check label bindable
  Common/Controls/Controls/FormControl.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat Add binding errors listeners
  WMS/Ferretto.WMS.App.ModulesUITests/BindingListener.cs
  WMS/Ferretto.WMS.App.ModulesUITests/MockUI.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Fix var name on DialogView
  Common/Controls/Controls/WmsView/WmsDialogView.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

test(scheduler): add test for mission provider
  WMS/Scheduler/Tests/BaseWarehouseTest.cs
  WMS/Scheduler/Tests/ListProviderTest.cs
  WMS/Scheduler/Tests/MissionProviderTest.cs
  WMS/Scheduler/Tests/RequestCompartmentsTest.cs
  WMS/Scheduler/Tests/SchedulerRequestProviderTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feature(data-service): add null check on compartment getById
  WMS/Data/Core/Providers/CompartmentProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(scheduler): update ItemListRow model
  WMS/Scheduler/Core/Models/ItemListRow.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor(scheduler): move models into Models namespace
  WMS/Data/WebAPI/Hubs/IWakeupHub.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Fix name isNoModalDialog on method
  Common/Controls/Controls/WmsView/WmsDialogView.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Fix pipeline WMS Ui tests
  Pipelines/azure-pipeline-wms-ui-dev.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[change] converter from RTVC to RTVC (resolved in bug 1837)
  WMS/App/Modules/MasterData/Views/Item/WithdrawDialogView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore enable and fix ruleset
  WMS/Ferretto.WMS.App.ModulesUITests/Ferretto.WMS.App.ModulesUITests.csproj
  WMS/Ferretto.WMS.App.ModulesUITests/MockUI.cs
  WMS/Ferretto.WMS.App.ModulesUITests/ModulesUITest.cs
  WMS/Ferretto.WMS.App.ModulesUITests/ViewInfo.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] sorter field in req view
  WMS/App/Modules/Scheduler/Views/SchedulerRequestsView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Fix Binding Error om CompartmentDetailsView
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentDetailsView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Fix ValidationError binding property error on ItemListRowExecuteDialogView
  WMS/App/Modules/MasterData/ViewModels/ItemListRow/ItemListRowExecuteDialogViewModel.cs
  WMS/App/Modules/MasterData/Views/ItemListRow/ItemListRowExecuteDialogView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-prod.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Path conditions:
  Pipelines/azure-pipeline-database-health-dev.yml: any of: Common\DataModels, Common\EF, but not: VerticalWarehouses, WMS, Common
  Pipelines/azure-pipeline-dev.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-prod.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-vw-services-dev.yml: any of: *, VerticalWarehouses\Machine Automation Service, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-vw-ui-dev.yml: any of: *, VerticalWarehouses\Panel PC User Interface, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-wms-services-dev.yml: any file but: VerticalWarehouses, WMS\App
  Pipelines/azure-pipeline-wms-ui-dev.yml: any file but: VerticalWarehouses, WMS\Data, WMS\Scheduler
