Repository ericquartey/wms: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipeline-database-health-dev.yml, Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Pipelines/azure-pipeline-database-health-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: andrewlackenby.sql-toolkit.runsqlcommand.RunSqlCommand@2
    displayName: Create cloud db
    inputs:
      serverName: rd-ferrettogroup.database.windows.net
      databaseName: master
  ...

Pipelines/azure-pipeline-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
  ...

Pipelines/azure-pipeline-vw-services-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(RestoreBuildProjects)
      feedsToUse: config
      nugetConfigPath: nuget.config
  - task: DotNetCoreCLI@2
  ...

Pipelines/azure-pipeline-vw-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution
    inputs:
      solution: $(TargetSolution)
  ...

Pipelines/azure-pipeline-wms-services-dev.yml:
  queue:
    name: Hosted Ubuntu 1604
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
      targetFolder: $(Build.ArtifactStagingDirectory)\sources
  - task: PublishBuildArtifacts@1
  ...

Pipelines/azure-pipeline-wms-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution WMS.App
    inputs:
      solution: $(TargetSolution)
  ...

fix: reviewe Spinedit and Combobox behaviour
  WMS/App/App.Themes/Themes/Light/ComboBoxEdit.xaml
  WMS/App/App.Themes/Themes/Light/SpinEdit.xaml
  WMS/App/Modules/ItemLists/Views/ItemList/ItemListAddDialogView.xaml
  WMS/App/Modules/ItemLists/Views/ItemList/ItemListDetailsView.xaml
  WMS/App/Modules/ItemLists/Views/ItemList/ItemListExecuteDialogView.xaml
  WMS/App/Modules/ItemLists/Views/ItemListRow/ItemListRowAddDialogView.xaml
  WMS/App/Modules/ItemLists/Views/ItemListRow/ItemListRowDetailsView.xaml
  WMS/App/Modules/ItemLists/Views/ItemListRow/ItemListRowExecuteDialogView.xaml
  WMS/App/Modules/MasterData/Views/Cell/CellDetailsView.xaml
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentAddBulkView.xaml
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentAddView.xaml
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentDetailsView.xaml
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentEditView.xaml
  WMS/App/Modules/MasterData/Views/Item/ItemAddDialogView.xaml
  WMS/App/Modules/MasterData/Views/Item/ItemDetailsView.xaml
  WMS/App/Modules/MasterData/Views/Item/ItemWithdrawDialogView.xaml
  WMS/App/Modules/MasterData/Views/LoadingUnit/LoadingUnitAddDialogView.xaml
  WMS/App/Modules/MasterData/Views/LoadingUnit/LoadingUnitDetailsView.xaml
  WMS/App/Modules/MasterData/Views/LoadingUnit/LoadingUnitWithdrawDialogView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(icons): make all 'Add' icons the same
  WMS/App/Modules/ItemLists/Views/ItemList/ItemListDetailsView.xaml
  WMS/App/Modules/MasterData/Views/LoadingUnit/LoadingUnitEditView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: error tooltip max width
  WMS/App/App.Themes/Themes/Light/Error.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: resolve binding problem when BusinessObjectValue is null
  WMS/App/App.Controls/Controls/ComboBox/ComboBox.cs
  WMS/App/App.Controls/Controls/LookUpEdit/LookUpEdit.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] new BO model from Scheduler to Data
  WMS/Data/Core/Models/Area/AreaScheduler.cs
  WMS/Data/Core/Models/Bay/BayScheduler.cs
  WMS/Data/Core/Models/Compartment/CompartmentSet.cs
  WMS/Data/Core/Models/Compartment/CompartmentWithdraw.cs
  WMS/Data/Core/Models/Compartment/IOrderableCompartment.cs
  WMS/Data/Core/Models/Compartment/StockUpdateCompartment.cs
  WMS/Data/Core/Models/Item/ItemScheduler.cs
  WMS/Data/Core/Models/Item/ItemWithdrawOptions.cs
  WMS/Data/Core/Models/ItemList/ItemListExecution.cs
  WMS/Data/Core/Models/ItemListRow/ItemListRowExecution.cs
  WMS/Data/Core/Models/LoadingUnit/LoadingUnitExecution.cs
  WMS/Data/Core/Models/Mission/MissionExecution.cs
  WMS/Data/Core/Models/Model.cs
  WMS/Data/Core/Models/OperationResult/BadRequestOperationResult.cs
  WMS/Data/Core/Models/SchedulerRequest/ISchedulerRequest.cs
  WMS/Data/Core/Models/SchedulerRequest/ItemListRowSchedulerRequest.cs
  WMS/Data/Core/Models/SchedulerRequest/ItemSchedulerRequest.cs
  WMS/Data/Core/Models/SchedulerRequest/LoadingUnitSchedulerRequest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] new Extension from Scheduler to Data
  WMS/Data/Core/Extensions/ServiceCollectionSchedulerExtensions.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] new Interfaces from Scheduler to Data
  WMS/Data/Core/Interfaces/IMissionCreationProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] new Provider + Interfaces from Scheduler to Data
  WMS/Data/Core/Scheduler/CompartmentExecutionProvider.cs
  WMS/Data/Core/Scheduler/Interfaces/ICompartmentExecutionProvider.cs
  WMS/Data/Core/Scheduler/Interfaces/IItemListExecutionProvider.cs
  WMS/Data/Core/Scheduler/Interfaces/IItemListRowExecutionProvider.cs
  WMS/Data/Core/Scheduler/Interfaces/IMissionCreationProvider.cs
  WMS/Data/Core/Scheduler/Interfaces/IMissionExecutionProvider.cs
  WMS/Data/Core/Scheduler/Interfaces/ISchedulerRequestExecutionProvider.cs
  WMS/Data/Core/Scheduler/ItemListExecutionProvider.cs
  WMS/Data/Core/Scheduler/ItemListRowExecutionProvider.cs
  WMS/Data/Core/Scheduler/MissionCreationProvider.cs
  WMS/Data/Core/Scheduler/MissionExecutionProvider.cs
  WMS/Data/Core/Scheduler/SchedulerRequestExecutionProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] new Services from Scheduler to Data
  WMS/Data/Core/Services/Interfaces/ISchedulerService.cs
  WMS/Data/Core/Services/SchedulerService.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[update] existing Extensions from Scheduler to Data
  WMS/Data/Core/Extensions/ServiceCollectionDataExtensions.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[update] existing Interface+Providers from Scheduler to Data
  WMS/Data/Core/Interfaces/IAreaProvider.cs
  WMS/Data/Core/Interfaces/IBayProvider.cs
  WMS/Data/Core/Interfaces/IItemProvider.cs
  WMS/Data/Core/Interfaces/ILoadingUnitProvider.cs
  WMS/Data/Core/Interfaces/IMissionCreationProvider.cs
  WMS/Data/Core/Providers/AreaProvider.cs
  WMS/Data/Core/Providers/BayProvider.cs
  WMS/Data/Core/Providers/ItemProvider.cs
  WMS/Data/Core/Providers/LoadingUnitProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[update] existing Models from Scheduler to Data
  WMS/Data/Core/Models/Area/Area.cs
  WMS/Data/Core/Models/Bay/Bay.cs
  WMS/Data/Core/Models/Mission/Mission.cs
  WMS/Data/Core/Models/OperationResult/CreationErrorOperationResult.cs
  WMS/Data/Core/Models/OperationResult/NotFoundOperationResult.cs
  WMS/Data/Core/Models/OperationResult/OperationResult.cs
  WMS/Data/Core/Models/OperationResult/UnprocessableEntityOperationResult.cs
  WMS/Data/Core/Models/SchedulerRequest/SchedulerRequestStatus.cs
  WMS/Data/Core/Models/SchedulerRequest/SchedulerRequestType.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[update] existing Controllers from Scheduler to Data
  WMS/Data/WebAPI/Controllers/ItemListRowsController.cs
  WMS/Data/WebAPI/Controllers/ItemListsController.cs
  WMS/Data/WebAPI/Controllers/ItemsController.cs
  WMS/Data/WebAPI/Controllers/LoadingUnitsController.cs
  WMS/Data/WebAPI/Controllers/MissionsController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[update] existing Test Controller from Scheduler to Data
  WMS/Data/Tests/Controllers/ItemsControllerTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[remove] reference to Scheduler.Core + [update] autogen files
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI/Ferretto.WMS.Data.WebAPI.csproj
  WMS/Data/WebAPI/Startup.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[update] existing Test Scheduler from Scheduler to Data
  WMS/Scheduler/Tests/BaseWarehouseTest.cs
  WMS/Scheduler/Tests/BayTest.cs
  WMS/Scheduler/Tests/Ferretto.WMS.Scheduler.Tests.csproj
  WMS/Scheduler/Tests/ListProviderTest.cs
  WMS/Scheduler/Tests/MissionProviderTest.cs
  WMS/Scheduler/Tests/RequestCompartmentsTest.cs
  WMS/Scheduler/Tests/RequestConcurrencyTest.cs
  WMS/Scheduler/Tests/SchedulerRequestProviderTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: review nullability and required flag for CompartmentDetails, ItemListDetails and ItemListRowDetails
  WMS/App/App.Core/Models/Compartment/CompartmentDetails.cs
  WMS/App/App.Core/Models/ItemList/ItemListDetails.cs
  WMS/App/App.Core/Models/ItemListRow/ItemListRowDetails.cs
  WMS/App/App.Core/Providers/ItemListRowProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: review compartments collision algorithm and tests
  WMS/Data/Core/Models/Compartment/CompartmentDetails.cs
  WMS/Data/Tests/Models/LoadingUnitTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: remove field error tooltip from template
  WMS/App/App.Themes/Themes/Light/Error.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(compartment-details): remove unnecessary property 'SelectedCompartmentTray'
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentDetailsViewModel.cs
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentDetailsView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

tests: fix app config
  WMS/App/App.Tests/App.config
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build(identity): add id server pipelines
  IdentityServer/Pipelines/azure-pipeline-ids-dev.yml
  IdentityServer/Pipelines/azure-pipeline-ids-template.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build(identity): fix pipeline publish paths
  IdentityServer/Pipelines/azure-pipeline-ids-template.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build(identity): fix publish path
  IdentityServer/Pipelines/azure-pipeline-ids-template.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build(identity): fix artifact name
  IdentityServer/Pipelines/azure-pipeline-ids-template.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(): inserted the link between AS and UI
  VerticalWarehouses/Common/Common_Utils/Messages/Data/ShutterPositioningMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Interfaces/IShutterPositioningMessageData.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/TestController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/ShuttersControl/Shutter1ControlViewModel.cs
Due: none

Chore():
  VerticalWarehouses/Common/Common_Utils/Messages/Data/ShutterControlMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Data/ShutterPositioningMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Interfaces/IShutterControlData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Interfaces/IShutterPositioningMessageData.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/ShuttersControl/Shutter1ControlViewModel.cs
Due: none

Chore():
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/ShuttersControl/Shutter1ControlViewModel.cs
Due: none

feat: Add Transport object for SHD remote device. Use a specific protocol to read/write to remote device via socket TCP
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Startup.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/Enumerations/SHDCodeOperation.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedSHDIoDriver-Reset.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedSHDIoDriver-SwitchAxis.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedSHDIoDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/Interface/IIoState.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/Interface/IIoStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/IoSHDMessage.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/IoSHDStatus.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/MAS_IODriver.csproj
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/SHDTransportMock.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/IoStateBase.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/IoStateMachineBase.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/PowerUp/ClearOutputsState.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/PowerUp/EndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/PowerUp/PowerUpStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/PowerUp/PulseResetState.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/Reset/EndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/Reset/ResetOutputsState.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/Reset/ResetStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/SwitchAxis/EndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/SwitchAxis/SwitchAxisStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/SwitchAxis/SwitchOffMotorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/SwitchAxis/SwitchOnMotorState.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/InstallationStateViewModel.cs
Due: none

feat(compartment-details): fix lookupedit selection
  Common/BLL.Interfaces/Extensions/PolicyExtensions.cs
  WMS/App/App.Core/Providers/ItemProvider.cs
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentDetailsViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[update] missing new provider execution in exetension service of scheduler [update & fix] broken test of scheduler [remove] reference of WMS of project related scheduler.test + scheduler.core
  WMS/Data/Core/Extensions/ServiceCollectionSchedulerExtensions.cs
  WMS/Data/Tests/Controllers/BaseControllerTest.cs
  WMS/Data/Tests/Scheduler/BaseWarehouseTest.cs
  WMS/Data/Tests/Scheduler/BayTest.cs
  WMS/Data/Tests/Scheduler/ListProviderTest.cs
  WMS/Data/Tests/Scheduler/MissionProviderTest.cs
  WMS/Data/Tests/Scheduler/RequestCompartmentsTest.cs
  WMS/Data/Tests/Scheduler/RequestConcurrencyTest.cs
  WMS/Data/Tests/Scheduler/SchedulerRequestProviderTest.cs
  WMS/WMS.sln
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

style: auto-format code
  Common/DataModels/SchedulerRequestStatus.cs
  Common/DataModels/Side.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(scheduler-requests): fix column data template
  WMS/App/Modules/Scheduler/Views/MissionsView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: half the compartment collision logic
  WMS/Data/Core/Models/Compartment/CompartmentDetails.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(automation-hub): create new projects for hub contracts
  WMS/AutomationServiceMock/AutomationService.cs
  WMS/AutomationServiceMock/Ferretto.VW.AutomationService.Mock.csproj
  WMS/AutomationServiceMock/IAutomationService.cs
  WMS/AutomationServiceMock/Program.cs
  WMS/Data/WebAPI.Contracts/Ferretto.WMS.Data.WebAPI.Contracts.csproj
  WMS/Ferretto.VW.AutomationService.Hubs/Ferretto.VW.AutomationService.Hubs.csproj
  WMS/Ferretto.WMS.AutomationService.Contracts/Ferretto.VW.AutomationService.Contracts.csproj
  WMS/WMS.sln
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(automation-hub): create hub definition
  WMS/Ferretto.VW.AutomationService.Hubs/BayStatus.cs
  WMS/Ferretto.VW.AutomationService.Hubs/ElevatorStatus.cs
  WMS/Ferretto.VW.AutomationService.Hubs/IMachineHub.cs
  WMS/Ferretto.VW.AutomationService.Hubs/MachineMode.cs
  WMS/Ferretto.VW.AutomationService.Hubs/MachineStatus.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Path conditions:
  Pipelines/azure-pipeline-database-health-dev.yml: any of: Common\DataModels, Common\EF, but not: VerticalWarehouses, WMS, Common
  Pipelines/azure-pipeline-dev.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-vw-services-dev.yml: any of: *, VerticalWarehouses\Machine Automation Service, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-vw-ui-dev.yml: any of: *, VerticalWarehouses\Panel PC User Interface, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-wms-services-dev.yml: any file but: VerticalWarehouses, WMS\App
  Pipelines/azure-pipeline-wms-ui-dev.yml: any file but: VerticalWarehouses, WMS\Data, WMS\Scheduler
