Repository ericquartey/wms: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipeline-database-health-dev.yml, Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Path conditions:
  Pipelines/azure-pipeline-database-health-dev.yml: any of: Common\DataModels, Common\EF, but not: VerticalWarehouses, WMS, Common
  Pipelines/azure-pipeline-dev.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-vw-services-dev.yml: any of: *, VerticalWarehouses\Machine Automation Service, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-vw-ui-dev.yml: any of: *, VerticalWarehouses\Panel PC User Interface, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-wms-services-dev.yml: any file but: VerticalWarehouses, WMS\App
  Pipelines/azure-pipeline-wms-ui-dev.yml: any file but: VerticalWarehouses, WMS\Data, WMS\Scheduler

test: move and rename WMS.App.Tests project
  WMS/App.ModulesUiTests/EndToEndTest.cs
  WMS/App.ModulesUiTests/Ferretto.WMS.App.ModulesUITests.csproj
  WMS/App.ModulesUiTests/StartupTest.cs
  WMS/App/App.Tests/App.config
  WMS/App/App.Tests/BindingListener.cs
  WMS/App/App.Tests/BootStrapper.cs
  WMS/App/App.Tests/EndToEndTest.cs
  WMS/App/App.Tests/Ferretto.WMS.App.Tests.csproj
  WMS/App/App.Tests/MockUI.cs
  WMS/App/App.Tests/ModulesUITest.cs
  WMS/App/App.Tests/NLog.config
  WMS/App/App.Tests/StartupTest.cs
  WMS/App/App.Tests/ViewInfo.cs
  WMS/WMS.App.sln
  WMS/WMS.sln
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: change target for BLL.Tests and EF.LinqPad projects
  Common/BLL.Tests/Ferretto.Common.BLL.Tests.csproj
  Common/EF.LinqPad/Ferretto.Common.EF.LinqPad.csproj
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build(prod): update linqpad project to use only net471
  Common/DataModels/Ferretto.Common.DataModels.csproj
  Common/EF.LinqPad/Ferretto.Common.EF.LinqPad.csproj
  Common/EF/Ferretto.Common.EF.csproj
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build(prod): split wv-services pipeline
  Pipelines/azure-pipeline-prod.yml
  VerticalWarehouses/Pipelines/azure-pipeline-vw-services-dev.yml
  VerticalWarehouses/Pipelines/azure-pipeline-vw-services-template.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

tests: fix typo
  WMS/App/App.Tests/ModulesUITest.cs
  WMS/App/App.Tests/StartupTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(): procedure created
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/GeneralInfo.cs
Due: none

build(prod): remove extra whitespace in path
  Pipelines/azure-pipeline-prod.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

tests: resolve modules dependency problems
  WMS/App/App.Tests/App.config
  WMS/App/App.Tests/EndToEndTest.cs
  WMS/App/App.Tests/Ferretto.WMS.App.Tests.csproj
  WMS/App/App.Tests/ModulesUITest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build(prod): expand wms-ui template inside prod pipeline
  Common/BusinessProviders/Ferretto.Common.BusinessProviders.csproj
  Pipelines/azure-pipeline-prod.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build(prod): fix wrong paths
  Pipelines/azure-pipeline-prod.yml
  VerticalWarehouses/Pipelines/azure-pipeline-vw-services-template.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat: Adjust the states machine for the homing procedure
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HomingCalibrateAxisDoneState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HomingEndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HomingErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HomingStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HomingSwitchAxisDoneState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Interface/IHomingStateMachine.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/Homing/HomingStartStateUnitTest.cs
Due: none

build(prod): test BuildConfiguration=debug
  Pipelines/azure-pipeline-prod.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build(prod): clean up pipeline
  Pipelines/azure-pipeline-prod.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build(prod): restore TargetFramework variable
  Pipelines/azure-pipeline-prod.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build(prod): restore refrerence to wms-ui pipeline
  Pipelines/azure-pipeline-prod.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

tests: activate startup test
  WMS/App/App.Tests/EndToEndTest.cs
  WMS/App/App.Tests/StartupTest.cs
  WMS/App/Modules/Layout/Views/LoginView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build(prod): update automation services pipeline
  Pipelines/azure-pipeline-prod.yml
  VerticalWarehouses/Pipelines/azure-pipeline-vw-services-dev.yml
  VerticalWarehouses/Pipelines/azure-pipeline-vw-services-template.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(): Table creation
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
Due: none

feat(): table creation
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayerContext.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/GeneralInfo.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Migrations/DataLayerContextModelSnapshot.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Models/GeneralInfo.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_DataLayerUnitTests/DataLayerUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_DataLayerUnitTests/general_info.json
Due: none

test(prod): split vw-ui pipeline
  Pipelines/azure-pipeline-prod.yml
  VerticalWarehouses/Pipelines/azure-pipeline-vw-services-dev.yml
  VerticalWarehouses/Pipelines/azure-pipeline-vw-ui-dev.yml
  VerticalWarehouses/Pipelines/azure-pipeline-vw-ui-template.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build(prod): remove unnecessary steps
  Pipelines/azure-pipeline-prod.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Chore():
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Migrations/DataLayerContextModelSnapshot.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Models/GeneralInfo.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_DataLayerUnitTests/DataLayerUnitTest.cs
Due: none

Modified messages and enumerations
  VerticalWarehouses/Common/Common_Utils/Messages/MAStoUIMessages/ActionUpdateData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/MAStoUIMessages/Enumerations/ActionStatus.cs
  VerticalWarehouses/Common/Common_Utils/Messages/MAStoUIMessages/Enumerations/ActionType.cs
  VerticalWarehouses/Common/Common_Utils/Messages/MAStoUIMessages/Enumerations/NotificationType.cs
  VerticalWarehouses/Common/Common_Utils/Messages/MAStoUIMessages/Interfaces/IActionUpdateData.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Interfaces/IInstallationHub.cs
  VerticalWarehouses/Panel PC UI/CustomControls/Controls/CustomSensorControl.xaml
  VerticalWarehouses/Panel PC UI/InstallationApp/Interfaces/INotificationActionUpdatedMessageData.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/Interfaces/INotificationMessageReceivedMessageData.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/Resources/NotificationActionUpdatedMessageData.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/Resources/NotificationMessageReceivedMessageData.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ServiceUtilities/InstallationHubClient.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ServiceUtilities/Interfaces/IContainerInstallationHubClient.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SensorsState/SSBaysViewModel.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/LoadFirstDrawerViewModel.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/VerticalAxisCalibrationViewModel.cs
  VerticalWarehouses/Panel PC UI/VWApp/NotificationCatcher.cs
Due: none

build(prod): move wms-services task to the top, so that common_sources artifact is smaller
  Pipelines/azure-pipeline-prod.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Created Ferretto.VW.MAS_Utils project inside MAS folder
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Ferretto.VW.MAS_Utils.csproj
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/MAS_AutomationService.csproj
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/MAS_DataLayer.csproj
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/MAS_FiniteStateMachines.csproj
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/MAS_IODriver.csproj
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/MAS_InverterDriver.csproj
  VerticalWarehouses/Machine Automation Service/MAS_MissionsManager/MAS_MissionsManager.csproj
  VerticalWarehouses/VerticalWarehouses.sln
Due: none

Moved classes used only by MAS service inside Ferretto.VW.MAS_Utils
  VerticalWarehouses/Common/Common_Utils/Delegates.cs
  VerticalWarehouses/Common/Common_Utils/Patterns/Singleton.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Enumerations/ErrorLevel.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Enumerations/IoDriverExceptionCode.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Enumerations/MessageActor.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Enumerations/MessageVerbosity.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Enumerations/SocketTransportExceptionCode.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Events/CommandEvent.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Events/NotificationEvent.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Exceptions/DataLayerException.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Exceptions/DataLayerExceptionEnum.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Exceptions/InMemoryDataLayerException.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Exceptions/InverterDriverException.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Exceptions/IoDriverException.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Exceptions/SocketTransportException.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/CommandMessage.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Data/CalibrateAxisMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Data/CalibrateMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Data/MissionMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Data/MovementMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Data/PositioningMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Data/SensorsChangedMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Data/SwitchAxisMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Interfaces/ICalibrateAxisMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Interfaces/ICalibrateMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Interfaces/IMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Interfaces/IMissionMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Interfaces/IMovementMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Interfaces/IPositioningMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Interfaces/ISensorsChangedMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/Interfaces/ISwitchAxisMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/NotificationMessage.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Utilities/BlockingConcurrentQueue.cs
Due: none

Help initial page inserted. Recources file updated.
  VerticalWarehouses/ActionBlocks/Ferretto.VW.ActionBlocks.csproj
  VerticalWarehouses/ActionBlocks/Source/Actions.cs
  VerticalWarehouses/ActionBlocks/Source/ActionsBasic/ActionsModule.cs
  VerticalWarehouses/ActionBlocks/Source/ActionsBasic/CalibrateAxes.cs
  VerticalWarehouses/ActionBlocks/Source/ActionsBasic/CalibrateAxis.cs
  VerticalWarehouses/ActionBlocks/Source/ActionsBasic/CalibrateHorizontalAxis.cs
  VerticalWarehouses/ActionBlocks/Source/ActionsBasic/CalibrateVerticalAxis.cs
  VerticalWarehouses/ActionBlocks/Source/ActionsBasic/DrawerWeightDetection.cs
  VerticalWarehouses/ActionBlocks/Source/ActionsBasic/HorizontalMovingDrawer.cs
  VerticalWarehouses/ActionBlocks/Source/ActionsBasic/PositioningDrawer.cs
  VerticalWarehouses/ActionBlocks/Source/ActionsBasic/ProfilePosition.cs
  VerticalWarehouses/ActionBlocks/Source/ActionsBasic/SwitchMotors.cs
  VerticalWarehouses/ActionBlocks/Source/Interfaces/ICalibrateAxes.cs
  VerticalWarehouses/ActionBlocks/Source/Interfaces/ICalibrateAxis.cs
  VerticalWarehouses/ActionBlocks/Source/Interfaces/ICalibrateHorizontalAxis.cs
  VerticalWarehouses/ActionBlocks/Source/Interfaces/ICalibrateVerticalAxis.cs
  VerticalWarehouses/ActionBlocks/Source/Interfaces/IDrawerWeightDetection.cs
  VerticalWarehouses/ActionBlocks/Source/Interfaces/IHorizontalMovingDrawer.cs
  VerticalWarehouses/ActionBlocks/Source/Interfaces/IPositioningDrawer.cs
  VerticalWarehouses/ActionBlocks/Source/Interfaces/ISwitchMotors.cs
  VerticalWarehouses/ActionBlocks/Source/Support.cs
  VerticalWarehouses/Common/Resources/HelpDescriptions.Designer.cs
  VerticalWarehouses/Common/Resources/HelpDescriptions.it.resx
  VerticalWarehouses/Common/Resources/HelpDescriptions.resx
  VerticalWarehouses/Panel PC UI/CustomControls/Assets/ic_account_circle_white_48dp.png
  VerticalWarehouses/Panel PC UI/CustomControls/Assets/user2.png
  VerticalWarehouses/Panel PC UI/InstallationApp/Ferretto.VW.InstallationApp.csproj
  VerticalWarehouses/Panel PC UI/InstallationApp/HelpWindows/HelpInitialPage.xaml
  VerticalWarehouses/Panel PC UI/InstallationApp/HelpWindows/HelpInitialPage.xaml.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/HelpWindows/HelpMainWindow.xaml
  VerticalWarehouses/Panel PC UI/InstallationApp/MainWindow.xaml
Due: none

feat: Adjust unit tests for complete homing procedure
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/FiniteStateMachines.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HomingCalibrateAxisDoneState.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/FiniteStateMachinesUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/Homing/HomingCalibrateAxisDoneStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/Homing/HomingErrorStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/Homing/HomingStartStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/Homing/HomingStateMachineUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/Homing/HomingSwitchAxisDoneStateUnitTest.cs
Due: none

Changed enumerations elements
  VerticalWarehouses/Common/Common_Utils/Messages/MAStoUIMessages/Enumerations/ActionStatus.cs
  VerticalWarehouses/Common/Common_Utils/Messages/MAStoUIMessages/Enumerations/ActionType.cs
  VerticalWarehouses/Common/Common_Utils/Messages/MAStoUIMessages/Enumerations/NotificationType.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/VerticalAxisCalibrationViewModel.cs
  VerticalWarehouses/Panel PC UI/VWApp/NotificationCatcher.cs
Due: none

[removed] as required in LU: Cell + Cell Position + IsCellPairing
  Common/EF/Migrations/20190307091037_RemoveCellRequiredForLoadingUnit.Designer.cs
  Common/EF/Migrations/20190307091037_RemoveCellRequiredForLoadingUnit.cs
  Common/EF/Migrations/20190308134726_RemoveRequiredToCellPairingInLoadingUnit.Designer.cs
  Common/EF/Migrations/20190308134726_RemoveRequiredToCellPairingInLoadingUnit.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[update] to LU Details: required field, optional, add error validation (Common.EF) [update] to LU Details: optional fields (DataService)
  Common/BusinessModels/LoadingUnit/LoadingUnitDetails.cs
  WMS/Data/Core/Models/LoadingUnit/LoadingUnitDetails.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[update] CellSide as optional in LU (DataService + EF)
  Common/BusinessModels/LoadingUnit/LoadingUnit.cs
  WMS/Data/Core/Models/LoadingUnit/LoadingUnit.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] new class LoadUnitSize in both EF + DataService
  Common/BusinessModels/LoadingUnit/LoadingUnitSize.cs
  WMS/Data/Core/Models/LoadingUnit/LoadingUnitSize.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(scheduler): remove status field from ItemList data model
  Common/DataModels/ItemList.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(scheduler): move item withdraw from provider to service
  WMS/Scheduler/Core/Providers/SchedulerRequestProvider.cs
  WMS/Scheduler/Core/Services/SchedulerService.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(scheduler): update item list provider
  WMS/Scheduler/Core/Interfaces/IItemListSchedulerProvider.cs
  WMS/Scheduler/Core/Providers/ItemListSchedulerProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor(scheduler): extract dates update to separate method
  WMS/Scheduler/Core/Providers/MissionSchedulerProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(scheduler): implement getter for list status property
  WMS/Scheduler/Core/Models/ItemList.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] to LoadingUnitProvider GetNewAsync [update] CreateAsync with GetSize + transaction [update] how get Cell base if has a value or not [centralize] add enumeration
  Common/BusinessProviders/Interfaces/ILoadingUnitProvider.cs
  Common/BusinessProviders/LoadingUnitProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml
