Repository ericquartey/wms: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipeline-database-health-dev.yml, Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Path conditions:
  Pipelines/azure-pipeline-database-health-dev.yml: any of: Common\DataModels, Common\EF, but not: VerticalWarehouses, WMS, Common
  Pipelines/azure-pipeline-dev.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-vw-services-dev.yml: any of: *, VerticalWarehouses\Machine Automation Service, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-vw-ui-dev.yml: any of: *, VerticalWarehouses\Panel PC User Interface, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-wms-services-dev.yml: any file but: VerticalWarehouses, WMS\App
  Pipelines/azure-pipeline-wms-ui-dev.yml: any file but: VerticalWarehouses, WMS\Data, WMS\Scheduler

build(autogen): update service contracts
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

style: re-insert regions
  Common/Controls/ViewModels/DetailsViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: remove useless csproj directives
  WMS/App/App/Ferretto.WMS.App.csproj
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: shorten property getter
  Common/Controls/ViewModels/DetailsViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: re-add constructor
  WMS/App/App/App.xaml.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

style: remove useless pragma directives
  WMS/App/App.Tests/WmsApplicationTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: removed useless files
  WMS/Ferretto.WMS.App.ModulesUITests/WmsApplicationBaseTest.cs
  WMS/Ferretto.WMS.App.ModulesUITests/WmsApplicationTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: removed useless using directives
  WMS/App/App.Tests/WmsApplicationBaseTest.cs
  WMS/App/App.Tests/WmsApplicationTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Chore(): used the verbatim operator for path in Unit Test
  VerticalWarehouses/Machine Automation Service/Tests/MAS_DataLayerUnitTests/DataLayerUnitTest.cs
Due: none

feat(mission): add migration for rename of RequiredQuantity
  Common/EF/Migrations/20190315085056_Rename_Field_RequiredQuantity_From_Table_Missions.Designer.cs
  Common/EF/Migrations/20190315085056_Rename_Field_RequiredQuantity_From_Table_Missions.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[update] autogen files
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Fix label '0' on WmsRulerControl
  Common/Controls/Controls/WmsRuler/WmsRulerControl.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Created REST API method to retrieve decimal configuration parameters
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController.cs
Due: none

Added elements to ConfigurationValueEnum.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer_CellsManagment.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer_ValueManagment.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/ConfigurationValueEnum.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_DataLayerUnitTests/DataLayerUnitTest.cs
Due: none

fix: Enhance the End state for finite states machine homing procedure in order to send a stop command to the inverter device.
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HomingCalibrateAxisDoneState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HomingEndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HomingStartState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HomingSwitchAxisDoneState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/Homing/HomingEndStateUnitTest.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/Homing/HomingStateMachineUnitTest.cs
Due: none

feat(): inserted the Log provider and added the NLog using
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/LogTargets/SQLiteTarget.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/MAS_AutomationService.csproj
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Program.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Startup.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/internal-nlog.txt
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/nlog.config
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/MAS_DataLayer.csproj
Due: none

feat(): inserted the Log in all the constructors
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/AutomationService.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/internal-nlog.txt
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/FiniteStateMachines.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedIoDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_MissionsManager/MissionsManager.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/FiniteStateMachinesUnitTest.cs
Due: none

Chore():
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/AutomationService.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/FiniteStateMachines.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedIoDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_MissionsManager/MissionsManager.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_FiniteStateMachinesUnitTests/FiniteStateMachinesUnitTest.cs
Due: none

Chore(): deleted file
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/internal-nlog.txt
Due: none

Chore(): created .gitignore file
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/.gitignore
Due: none

test: fix failing test on release configuration
  WMS/App/App.Tests/MockUI.cs
  WMS/App/App.Themes/Ferretto.WMS.App.Themes.csproj
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[UPDATE] color of compartment with empty status
  Common/BusinessModels/Compartment/Filters/FillingFilter.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Feat add Dispatched Qty on MossionView
  Common/BusinessModels/Mission/Mission.cs
  Common/BusinessProviders/MissionProvider.cs
  WMS/App/Modules/Scheduler/Views/MissionsView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: clean WMS App.config file
  WMS/App/App/App.Production.config
  WMS/App/App/App.Testing.config
  WMS/App/App/App.config
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build(autogen): update service contracts
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: remove useless solutions files
  WMS/WMS.App.sln
  WMS/WMS.AutomationServiceMock.sln
  WMS/WMS.Data.sln
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: add new build configurations for WMS UI only building
  Pipelines/azure-pipeline-prod.yml
  WMS/Pipelines/azure-pipeline-wms-services-dev.yml
  WMS/Pipelines/azure-pipeline-wms-ui-dev.yml
  WMS/Pipelines/azure-pipeline-wms-ui-template.yml
  WMS/WMS.sln
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: add appsettings.json environment configurations for AutomationServiceMock project
  WMS/AutomationServiceMock/Ferretto.WMS.AutomationServiceMock.csproj
  WMS/AutomationServiceMock/appsettings.Development.json
  WMS/AutomationServiceMock/appsettings.Production.json
  WMS/AutomationServiceMock/appsettings.Testing.json
  WMS/AutomationServiceMock/appsettings.json
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(item-list): update computation of item list status
  Common/BusinessModels/List/ItemList.cs
  Common/BusinessModels/List/ItemListDetails.cs
  Common/BusinessProviders/ItemListProvider.cs
  Common/BusinessProviders/ItemListRowProvider.cs
  WMS/App/Modules/BLL/Services/DataSourceService.cs
  WMS/App/Modules/MasterData/ViewModels/ItemList/ItemListsViewModel.cs
  WMS/App/Modules/MasterData/Views/ItemList/ItemListDetailsView.xaml
  WMS/App/Modules/MasterData/Views/ItemList/ItemListsView.xaml
  WMS/Data/Core/Models/ItemList/ItemList.cs
  WMS/Data/Core/Models/ItemList/ItemListDetails.cs
  WMS/Data/Core/Models/ItemListRow/ItemListRow.cs
  WMS/Data/Core/Providers/ItemListProvider.cs
  WMS/Data/Core/Providers/ItemListRowProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Created configuration enums
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/BayPositionControlEnum.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/BeltBurnishingEnum.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/CellControlEnum.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/GeneralInfoEnum.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/HorizontalAxisEnum.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/HorizontalManualMovementsEnum.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/HorizontalMovementBackwardProfileEnum.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/HorizontalMovementForwardProfileEnum.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/LoadFirstDrawerEnum.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/OffsetCalibrationEnum.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/PanelControlEnum.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/ResolutionCalibrationEnum.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/SetupNetworkEnum.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/SetupStatusEnum.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/ShutterHeightControlEnum.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/VerticalAxisEnum.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/VerticalManulMovementsEnum.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/WheightControlEnum.cs
Due: none

refactor: autoformat xaml code
  WMS/App/Modules/MasterData/Views/Item/ItemsView.xaml
  WMS/App/Modules/MasterData/Views/ItemList/ItemListsView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: publish Automation Service Mock project
  WMS/AutomationServiceMock/Ferretto.WMS.AutomationServiceMock.csproj
  WMS/Pipelines/azure-pipeline-wms-services-template.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: disable CI builds for bugfix and hotfix branches
  Pipelines/azure-pipeline-prod.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] missing field Isparing
  WMS/Scheduler/Core/Providers/CompartmentSchedulerProvider.cs
  WMS/Scheduler/Tests/MissionProviderTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: set only Data.WebAPI and AutomationServiceMock projects to be built
  Pipelines/azure-pipeline-prod.yml
  WMS/Pipelines/azure-pipeline-wms-services-dev.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(mission): add incomplete mission status to UI and Data Service
  Common/BusinessModels/Mission/MissionStatus.cs
  Common/DataModels/MissionStatus.cs
  Common/Resources/BusinessObjects.Designer.cs
  Common/Resources/BusinessObjects.it.resx
  Common/Resources/BusinessObjects.resx
  WMS/Data/Core/Models/Mission/MissionStatus.cs
  WMS/Scheduler/Core/Providers/MissionSchedulerProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: fix projects glob
  Pipelines/azure-pipeline-prod.yml
  WMS/Pipelines/azure-pipeline-wms-services-dev.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Inserted a navigation button in the main menu. Inserted the Help Windows folder and the page base.
  VerticalWarehouses/Common/Resources/OperatorApp.Designer.cs
  VerticalWarehouses/Common/Resources/OperatorApp.it.resx
  VerticalWarehouses/Common/Resources/OperatorApp.resx
  VerticalWarehouses/Panel PC UI/CustomControls/Templates/NavigationButtonControlTemplate.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Ferretto.VW.OperatorApp.csproj
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpPageBase.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpPageBase.xaml.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/MainWindow.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/IdleView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/MainWindowNavigationButtonsView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/MainWindowNavigationButtonsView.xaml.cs
Due: none

build: remove white spaces from run configuration names
  Pipelines/azure-pipeline-prod.yml
  WMS/Pipelines/azure-pipeline-wms-ui-dev.yml
  WMS/WMS.sln
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml
