Repository ericquartey/wms: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipeline-database-health-dev.yml, Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Pipelines/azure-pipeline-database-health-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: andrewlackenby.sql-toolkit.runsqlcommand.RunSqlCommand@2
    displayName: Create cloud db
    inputs:
      serverName: rd-ferrettogroup.database.windows.net
      databaseName: master
  ...

Pipelines/azure-pipeline-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
  ...

Pipelines/azure-pipeline-vw-services-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(RestoreBuildProjects)
      feedsToUse: config
      nugetConfigPath: nuget.config
  - task: DotNetCoreCLI@2
  ...

Pipelines/azure-pipeline-vw-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution
    inputs:
      solution: $(TargetSolution)
  ...

Pipelines/azure-pipeline-wms-services-dev.yml:
  queue:
    name: Hosted Ubuntu 1604
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
      targetFolder: $(Build.ArtifactStagingDirectory)\sources
  - task: PublishBuildArtifacts@1
  ...

Pipelines/azure-pipeline-wms-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution WMS.App
    inputs:
      solution: $(TargetSolution)
  ...

fix: merge problem
  WMS/Data/Core/Models/Item/ItemDetails.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[fix] path pipeline ConsoleApp.Mock
  Pipelines/azure-pipeline-prod.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Chore()::
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/VertimagConfiguration.json
Due: none

refactor: remove duplicated Quantity field in ItemOptions class
  WMS/Data/Core/Models/Item/ItemOptions.cs
  WMS/Data/Tests/Controllers/ItemsControllerTest.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(item-put): add call on dialog to retrieve available capacity
  Common/Resources/BusinessObjects.Designer.cs
  Common/Resources/BusinessObjects.it.resx
  Common/Resources/BusinessObjects.resx
  WMS/App/App.Core/Interfaces/IItemProvider.cs
  WMS/App/App.Core/Models/Item/ItemPut.cs
  WMS/App/App.Core/Providers/ItemProvider.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemPutViewModel.cs
  WMS/App/Modules/MasterData/Views/Item/ItemPutView.xaml
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestPutProvider.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

test: comment out not already applicable tests
  WMS/Data/Tests/Controllers/ItemsControllerTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: minor refactorings
  WMS/App/Modules/Machines/Views/MachinesView.xaml
  WMS/App/Modules/MasterData/ViewModels/Item/ItemPutViewModel.cs
  WMS/Data/Core/Extensions/ConfigurationExtensions.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: update project references in prod pipeline
  Pipelines/azure-pipeline-prod.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(WMS_Communication): fixed as PR suggestions
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
  VerticalWarehouses/global.json
Due: none

feat(): inserted changes for the resolution search in the DB
  VerticalWarehouses/Common/Common_Utils/Messages/Data/VerticalPositioningMessageData.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/TestController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/VertimagConfiguration.json
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/VerticalPositioning/VerticalPositioningErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/VerticalPositioning/VerticalPositioningExecutingState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver_Utility.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/InverterPositioningFieldMessageData.cs
Due: none

Button reference changed
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/WaitingLists/ListsInWaitView.xaml
Due: none

[fix] region area, context
  WMS/Data/Tests/Scheduler/RequestForPutItemTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(WMS_Communication): PR comment changes
  VerticalWarehouses/global.json
  WMS/global.json
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Chore():
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/VerticalPositioning/VerticalPositioningEndState.cs
Due: none

feat(WMS_Communication): moved hard coded address in appsetting.json as PR suggestion
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Startup.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.json
Due: none

fix after merge
  WMS/Data/Core/Models/Compartment/CompartmentSetForPick.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestPutProvider.cs
  WMS/Data/Tests/Scheduler/RequestForPutItemTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[rename] machine_status to machine
  Common/Resources/Navigation.Designer.cs
  Common/Resources/Navigation.it.resx
  Common/Resources/Navigation.resx
  Common/Utils/Menu/AppMenu.cs
  WMS/App/Modules/Machines/Views/MachinesView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Microsoft-sans-serif font inserted.
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/ServiceContracts.autogen.cs
  VerticalWarehouses/Panel PC UI/CustomControls/Controls/CustomControlArticleDataGrid.xaml
  VerticalWarehouses/Panel PC UI/CustomControls/Ferretto.VW.CustomControls.csproj
  VerticalWarehouses/Panel PC UI/CustomControls/Fonts/Microsoft-sans-serif.ttf
  VerticalWarehouses/Panel PC UI/CustomControls/Skins/DarkSkinGeneral.xaml
Due: none

chore: minor rider setting change
  WMS/WMS.sln.DotSettings
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: remove SonarAnalyzer useless dependencies
  Common/BLL.Interfaces/Ferretto.Common.BLL.Interfaces.csproj
  Common/Controls.WPF/Ferretto.Common.Controls.WPF.csproj
  Common/DataModels/Ferretto.Common.DataModels.csproj
  Common/EF/Ferretto.Common.EF.csproj
  Common/Resources/Ferretto.Common.Resources.csproj
  Common/Utils/Ferretto.Common.Utils.csproj
  WMS/App/App.Controls/Ferretto.WMS.App.Controls.csproj
  WMS/App/App.Core/Ferretto.WMS.App.Core.csproj
  WMS/App/App.Tests/Ferretto.WMS.App.Tests.csproj
  WMS/App/App.Themes/Ferretto.WMS.App.Themes.csproj
  WMS/App/App/Ferretto.WMS.App.csproj
  WMS/App/Modules/BLL/Ferretto.WMS.App.Modules.BLL.csproj
  WMS/App/Modules/ItemLists/Ferretto.WMS.App.Modules.ItemLists.csproj
  WMS/App/Modules/Layout/Ferretto.WMS.App.Modules.Layout.csproj
  WMS/App/Modules/Machines/Ferretto.WMS.App.Modules.Machines.csproj
  WMS/App/Modules/MasterData/Ferretto.WMS.App.Modules.MasterData.csproj
  WMS/App/Modules/Scheduler/Ferretto.WMS.App.Modules.Scheduler.csproj
  WMS/Data/Core/Ferretto.WMS.Data.Core.csproj
  WMS/Data/Hubs/Ferretto.WMS.Data.Hubs.csproj
  WMS/Data/Tests/Ferretto.WMS.Data.Tests.csproj
  WMS/Data/WebAPI.Contracts/Ferretto.WMS.Data.WebAPI.Contracts.csproj
  WMS/Data/WebAPI/Ferretto.WMS.Data.WebAPI.csproj
  WMS/VW/ConsoleApp.Mock/Ferretto.VW.PanelPC.ConsoleApp.Mock.csproj
  WMS/VW/Contracts/Ferretto.VW.MachineAutomationService.Contracts.csproj
  WMS/VW/Hubs/Ferretto.VW.MachineAutomationService.Hubs.csproj
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat: implement vertimag specific logic when looking gor compartments in mission generation
  WMS/Data/Core/Providers/Scheduler/CompartmentOperationProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

test: add mission execution test for vertimag specific logic
  WMS/Data/Tests/Controllers/ItemsControllerTest.cs
  WMS/Data/Tests/Scheduler/BaseWarehouseTest.cs
  WMS/Data/Tests/Scheduler/BayTest.cs
  WMS/Data/Tests/Scheduler/ListProviderTest.cs
  WMS/Data/Tests/Scheduler/MissionProviderTest.cs
  WMS/Data/Tests/Scheduler/RequestCompartmentsTest.cs
  WMS/Data/Tests/Scheduler/RequestConcurrencyTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

test: change ItemListRows tests to DataTestMethod
  WMS/Data/Tests/Controllers/ItemListRowsControllerTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(WMS_Communication): changed routing system
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/OperatorController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Startup.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.json
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/ServiceContracts.autogen.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/Services.autogen.cs
Due: none

fix: update autogen contracts
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: removed old useless class
  WMS/App/App.Core/Interfaces/IBusinessProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat:Create ShutterPositioning StateMachines in MAS_InverterDriver
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Enumerations/InverterIndex.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/FieldData/ShutterPositioningFieldMessageData.cs
  VerticalWarehouses/Machine Automation Service/Ferretto.VW.MAS_Utils/Messages/FieldInterfaces/IShutterPositioningFieldMessageData.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer_VertimagConfiguration.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/ShutterPositioning/ShutterPositioningExecutingState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/ShutterPositioning/ShutterPositioningStartState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver_Utility.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/Interface/InverterStatus/IProfileVelocityControlWord.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/InverterStatus/AcuInverterStatus.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/InverterStatus/AglInverterStatus.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/InverterStatus/ControlWord/ProfileVelocityControlWord.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/InverterStatus/Interfaces/IAglInverterStatus.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/InverterStatus/InverterStatusBase.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/ShutterPositioning/ShutterPositioningConfigurationState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/ShutterPositioning/ShutterPositioningDisableOperationState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/ShutterPositioning/ShutterPositioningEnableOperationState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/ShutterPositioning/ShutterPositioningEndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/ShutterPositioning/ShutterPositioningErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/ShutterPositioning/ShutterPositioningStartState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/ShutterPositioning/ShutterPositioningStateMachine.cs
Due: none

refactor: review Wms.App provider methods return type, to have all returning IOperationResult
  WMS/App/App.Core/Interfaces/IAreaProvider.cs
  WMS/App/App.Core/Interfaces/IItemProvider.cs
  WMS/App/App.Core/Providers/AreaProvider.cs
  WMS/App/App.Core/Providers/ItemProvider.cs
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentAddViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentEditViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[remove] unused resource
  Common/Resources/Navigation.Designer.cs
  Common/Resources/Navigation.it.resx
  Common/Resources/Navigation.resx
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[fix]
  WMS/Data/Core/Models/Compartment/CompartmentSetForPick.cs
  WMS/Data/Tests/Scheduler/RequestForPutItemTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat: add AreaName and AisleName to Compartment and CompartmentDetails service BOs.
  WMS/App/Modules/MasterData/ViewModels/LoadingUnit/LoadingUnitDetailsViewModel.cs
  WMS/Data/Core/Models/Compartment/Compartment.cs
  WMS/Data/Core/Models/Compartment/CompartmentDetails.cs
  WMS/Data/Core/Providers/Data/CompartmentProvider.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat: add AreaName and AisleName to Compartments grid in ItemDetailsView
  WMS/App/App.Core/Models/Compartment/Compartment.cs
  WMS/App/App.Core/Models/Compartment/CompartmentDetails.cs
  WMS/App/App.Core/Providers/CompartmentProvider.cs
  WMS/App/Modules/MasterData/Views/Item/ItemDetailsView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor(scheduler): align pick and put service methods
  WMS/Data/Core/Services/SchedulerService.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: add missing measure unit to fifo times resources
  Common/Resources/BusinessObjects.it.resx
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor(data-service): rename generic parameter from T to TModel
  WMS/Data/Core/Models/OperationResult/AlreadyCreatedOperationResult.cs
  WMS/Data/Core/Models/OperationResult/BadRequestOperationResult.cs
  WMS/Data/Core/Models/OperationResult/CreationErrorOperationResult.cs
  WMS/Data/Core/Models/OperationResult/NotFoundOperationResult.cs
  WMS/Data/Core/Models/OperationResult/OperationResult.cs
  WMS/Data/Core/Models/OperationResult/SuccessOperationResult.cs
  WMS/Data/Core/Models/OperationResult/UnprocessableEntityOperationResult.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(DataGrid): implemented direct call to WMS API
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/ServiceContracts.autogen.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Ferretto.VW.OperatorApp.csproj
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/SearchItem/ItemSearchViewModel.cs
Due: none

feat(DataGrid): Updated SignalR version to 1.1.0
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/AutomationService.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/TestController.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Ferretto.VW.OperatorApp.csproj
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/SearchItem/ItemSearchViewModel.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/Ferretto.VW.InstallationApp.csproj
Due: none

refactor: use ternary if operator where possible
  Common/Controls.WPF/TrayControl/CompartmentExtensions.cs
  Common/Utils/Expressions/ExpressionExtensions.cs
  WMS/App/App.Controls/Controls/WmsView/WmsView.cs
  WMS/App/App.Controls/Converters/BiggerThanToVisibilityConverter.cs
  WMS/App/App.Controls/Converters/BoolToVisibilityConverter.cs
  WMS/App/App.Controls/Converters/LogicalAndConverter.cs
  WMS/App/App.Controls/Converters/LogicalOrConverter.cs
  WMS/App/App.Controls/Services/InfiniteDataSourceService.cs
  WMS/App/App.Controls/ViewModels/EntityPagedListViewModel.cs
  WMS/App/App.Core/Models/BusinessObject.cs
  WMS/App/App.Core/Models/Compartment/Filters/LinkedItemFilter.cs
  WMS/App/App.Core/Models/Compartment/Filters/MaterialStatusEqualityFilter.cs
  WMS/App/Modules/Layout/ViewModels/LoginViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentAddViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/Compartment/CompartmentEditViewModel.cs
  WMS/Data/WebAPI/Controllers/CompartmentTypesController.cs
  WMS/Data/WebAPI/Controllers/ItemsController.CompartmentTypes.cs
  WMS/Data/WebAPI/Controllers/ItemsController.cs
  WMS/Data/WebAPI/Controllers/MachinesController.cs
  WMS/Data/WebAPI/Controllers/MissionsController.cs
  WMS/Data/WebAPI/Conventions/SlugifyParameterTransformer.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(DataGrid): Implemented direct call from PPC to WMS API
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/SearchItem/ItemSearchViewModel.cs
  VerticalWarehouses/Panel PC UI/VWApp/App.config
  VerticalWarehouses/Panel PC UI/VWApp/VWAppModule.cs
Due: none

Path conditions:
  Pipelines/azure-pipeline-database-health-dev.yml: any of: Common\DataModels, Common\EF, but not: VerticalWarehouses, WMS, Common
  Pipelines/azure-pipeline-dev.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-vw-services-dev.yml: any of: *, VerticalWarehouses\Machine Automation Service, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-vw-ui-dev.yml: any of: *, VerticalWarehouses\Panel PC User Interface, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-wms-services-dev.yml: any file but: VerticalWarehouses, WMS\App
  Pipelines/azure-pipeline-wms-ui-dev.yml: any file but: VerticalWarehouses, WMS\Data, WMS\Scheduler
