Repository ericquartey/wms: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipeline-database-health-dev.yml, Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Pipelines/azure-pipeline-database-health-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: andrewlackenby.sql-toolkit.runsqlcommand.RunSqlCommand@2
    displayName: Create cloud db
    inputs:
      serverName: rd-ferrettogroup.database.windows.net
      databaseName: master
  ...

Pipelines/azure-pipeline-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
  ...

Pipelines/azure-pipeline-vw-services-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(RestoreBuildProjects)
      feedsToUse: config
      nugetConfigPath: nuget.config
  - task: DotNetCoreCLI@2
  ...

Pipelines/azure-pipeline-vw-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution
    inputs:
      solution: $(TargetSolution)
  ...

Pipelines/azure-pipeline-wms-services-dev.yml:
  queue:
    name: Hosted Ubuntu 1604
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
      targetFolder: $(Build.ArtifactStagingDirectory)\sources
  - task: PublishBuildArtifacts@1
  ...

Pipelines/azure-pipeline-wms-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution WMS.App
    inputs:
      solution: $(TargetSolution)
  ...

refactor: divided worker methods from REST method in Installation controller
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController_Methods.cs
Due: none

refactor: divided TestController in two files
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController_Methods.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/TestController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/TestController_Methods.cs
Due: none

fix:handle multiple inverter commands in send queue
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver_Utility.cs
Due: none

fix:added log information on queue length
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
Due: none

fix:log update
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
Due: none

feat: Add a new state in the Positioning state machine (Inverter side) to handle the message related to the setup for parameters of operation
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/InverterMessage.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Positioning/PositioningEnableOperationState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Positioning/PositioningSetParametersState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Positioning/PositioningStartState.cs
Due: none

feat(): work in progress
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/VertimagConfiguration.json
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
Due: none

feat(): work in progress
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/PositioningErrorState.cs
Due: none

Changed input field type for requested drawer in ImmediateDrawerCall page.
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/ImmediateDrawerCallView.xaml
Due: none

fix: crash when deleting compartment
  WMS/App/Modules/MasterData/ViewModels/LoadingUnit/LoadingUnitEditViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: add try-catch block to dataservices calls
  WMS/App/App.Core/Providers/AisleProvider.cs
  WMS/App/App.Core/Providers/AreaProvider.cs
  WMS/App/App.Core/Providers/BayProvider.cs
  WMS/App/App.Core/Providers/CellProvider.cs
  WMS/App/App.Core/Providers/CompartmentProvider.cs
  WMS/App/App.Core/Providers/CompartmentTypeProvider.cs
  WMS/App/App.Core/Providers/Enumerations/AbcClassProvider.cs
  WMS/App/App.Core/Providers/Enumerations/CellPositionProvider.cs
  WMS/App/App.Core/Providers/Enumerations/CellStatusProvider.cs
  WMS/App/App.Core/Providers/Enumerations/CellTypeProvider.cs
  WMS/App/App.Core/Providers/Enumerations/CompartmentStatusProvider.cs
  WMS/App/App.Core/Providers/Enumerations/ItemCategoryProvider.cs
  WMS/App/App.Core/Providers/Enumerations/LoadingUnitStatusProvider.cs
  WMS/App/App.Core/Providers/Enumerations/LoadingUnitTypeProvider.cs
  WMS/App/App.Core/Providers/Enumerations/MaterialStatusProvider.cs
  WMS/App/App.Core/Providers/Enumerations/MeasureUnitProvider.cs
  WMS/App/App.Core/Providers/Enumerations/PackageTypeProvider.cs
  WMS/App/App.Core/Providers/ItemListProvider.cs
  WMS/App/App.Core/Providers/ItemListRowProvider.cs
  WMS/App/App.Core/Providers/ItemProvider.cs
  WMS/App/App.Core/Providers/LoadingUnitProvider.cs
  WMS/App/App.Core/Providers/MachineProvider.cs
  WMS/App/App.Core/Providers/MissionProvider.cs
  WMS/App/App.Core/Providers/SchedulerRequestProvider.cs
  WMS/App/App.Core/Providers/UserProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: change dotCover exclusion filters setting
  WMS/WMS.sln.DotSettings
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: Log message on Error state c-tor for positioning (inverter side) and handle logger in the DisableOperation state for positioning (inverter side)
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Positioning/PositioningErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Positioning/PositioningDisableOperationState.cs
Due: none

[add] new control pie chart
  WMS/App/App.Controls/Controls/Chart/PieChart.xaml
  WMS/App/App.Controls/Controls/Chart/PieChart.xaml.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[update] machine details view with graphic object
  WMS/App/Modules/Machines/Views/MachineDetailsView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[fix] progress bar + image in machine view
  WMS/App/Modules/Machines/Views/MachinesView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] reference to chart devexpress
  WMS/App/App.Controls/Ferretto.WMS.App.Controls.csproj
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[move] weight fill rate to live data + add calculate methd
  WMS/App/App.Core/Models/Machine/MachineDetails.cs
  WMS/App/App.Core/Models/Machine/MachineLive.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[initialize] data chart + live data in machine details
  WMS/App/Modules/Machines/ViewModels/MachineDetailsViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[update] progress bar control
  WMS/App/App.Controls/Controls/ProgressBarEdit/ProgressBarEdit.cs
  WMS/App/App.Controls/Controls/ProgressBarEdit/ProgressBarEditType.cs
  WMS/App/App.Themes/Themes/Light/ProgressBarEdit.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] model for chart data
  Common/BLL.Interfaces/Models/IMapModel.cs
  WMS/App/App.Core/Models/MapModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: Add comment inheritance attribute for each method in the states of Positioning State machine (InverterDriver component)
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Positioning/PositioningDisableOperationState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Positioning/PositioningEnableOperationState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Positioning/PositioningEndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Positioning/PositioningErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Positioning/PositioningSetParametersState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Positioning/PositioningStartMovingState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Positioning/PositioningStartState.cs
Due: none

[fix]
  WMS/Data/Core/Providers/Data/MachineProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

closes task #2974
  WMS/Data/WebAPI/Controllers/BaseController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(compartment): fix validation rule
  WMS/App/App.Core/Models/Compartment/CompartmentDetails.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: Change the log-level for some log entries in the state to set the parameters of Positioning State machine (InverterDriver).
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/FiniteStateMachines.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Positioning/PositioningEnableOperationState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Positioning/PositioningSetParametersState.cs
Due: none

[fix] comments
  Common/Resources/EnumColors.resx
  Common/Resources/Icons.resx
  Common/Resources/Title.it.resx
  WMS/App/Modules/Machines/ViewModels/MachinesViewModel.cs
  WMS/App/Modules/Machines/Views/MachineDetailsView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: fix registration number related string resources
  Common/Resources/BusinessObjects.it.resx
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

db seed: fix inconsistent compartmentswith associated item but no fixed pairing and zero stock quantity
  Common/EF/Seeds/Dev.Minimal.sql
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat: add condition to exclude all not empty compartments when registration number is specified in put operation
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestPutProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: add quantity validation if registration number is specified in pick and put operations
  Common/Resources/Errors.Designer.cs
  Common/Resources/Errors.it.resx
  Common/Resources/Errors.resx
  WMS/App/App.Core/Models/Item/ItemPick.cs
  WMS/App/App.Core/Models/Item/ItemPut.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat: add already existing registration number check
  WMS/Data/Core/Interfaces/Scheduler/ICompartmentOperationProvider.cs
  WMS/Data/Core/Providers/Scheduler/CompartmentOperationProvider.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestPutProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(compartment): clear fields when Item association is removed
  WMS/App/App.Core/Models/Compartment/CompartmentDetails.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(compartment): update column alignments
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentsView.xaml
  WMS/App/Modules/MasterData/Views/CompartmentTypes/CompartmentTypesView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore fix stock on Add/edit compartment
  Common/Resources/Errors.Designer.cs
  Common/Resources/Errors.it.resx
  Common/Resources/Errors.resx
  WMS/App/App.Core/Models/Compartment/CompartmentDetails.cs
  WMS/App/App.Core/Models/Compartment/ICapacityCompartment.cs
  WMS/App/App.Core/Providers/CompartmentProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: try to improve pipelines build times
  Pipelines/azure-pipeline-net4-nuget-template.yml
  VerticalWarehouses/Pipelines/azure-pipeline-vw-ui-template.yml
  WMS/Pipelines/azure-pipeline-wms-services-template.yml
  WMS/Pipelines/azure-pipeline-wms-ui-template.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[fix] part 2
  Common/DataModels/Machine.cs
  Common/Resources/BusinessObjects.Designer.cs
  Common/Resources/BusinessObjects.it.resx
  Common/Resources/BusinessObjects.resx
  WMS/App/App.Core/Models/Machine/MachineDetails.cs
  WMS/App/App.Core/Providers/MachineProvider.cs
  WMS/App/Modules/Machines/ViewModels/MachineDetailsViewModel.cs
  WMS/App/Modules/Machines/Views/MachineDetailsView.xaml
  WMS/Data/Core/Models/Machine/MachineDetails.cs
  WMS/Data/Core/Models/Machine/MachineServiceInfo.cs
  WMS/Data/Core/Providers/Data/MachineProvider.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
  analysis.ruleset
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: change verbosity level for nuget restore task
  Pipelines/azure-pipeline-net4-nuget-template.yml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Path conditions:
  Pipelines/azure-pipeline-database-health-dev.yml: any of: Common\DataModels, Common\EF, but not: VerticalWarehouses, WMS, Common
  Pipelines/azure-pipeline-dev.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-vw-services-dev.yml: any of: *, VerticalWarehouses\Machine Automation Service, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-vw-ui-dev.yml: any of: *, VerticalWarehouses\Panel PC User Interface, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-wms-services-dev.yml: any file but: VerticalWarehouses, WMS\App
  Pipelines/azure-pipeline-wms-ui-dev.yml: any file but: VerticalWarehouses, WMS\Data, WMS\Scheduler
