Repository ericquartey/wms: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipeline-database-health-dev.yml, Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Pipelines/azure-pipeline-database-health-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: andrewlackenby.sql-toolkit.runsqlcommand.RunSqlCommand@2
    displayName: Create cloud db
    inputs:
      serverName: rd-ferrettogroup.database.windows.net
      databaseName: master
  ...

Pipelines/azure-pipeline-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
  ...

Pipelines/azure-pipeline-vw-services-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(RestoreBuildProjects)
      feedsToUse: config
      nugetConfigPath: nuget.config
  - task: DotNetCoreCLI@2
  ...

Pipelines/azure-pipeline-vw-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution
    inputs:
      solution: $(TargetSolution)
  ...

Pipelines/azure-pipeline-wms-services-dev.yml:
  queue:
    name: Hosted Ubuntu 1604
  steps:
  - task: CopyFiles@2
    displayName: Copy sources to staging directory
    inputs:
      Contents: '**
  
        !**\.git\**
  
        !**\*.png
  
        !**\*.jpg
  
        '
      targetFolder: $(Build.ArtifactStagingDirectory)\sources
  - task: PublishBuildArtifacts@1
  ...

Pipelines/azure-pipeline-wms-ui-dev.yml:
  queue:
    name: Hosted VS2017
    demands:
    - msbuild
    - visualstudio
    - vstest
  steps:
  - template: azure-pipeline-net4-nuget-template.yml
  - template: azure-pipeline-assembly-versioning-template.yml
  - task: VSBuild@1
    displayName: Build solution WMS.App
    inputs:
      solution: $(TargetSolution)
  ...

feat(): Work done
  VerticalWarehouses/Common/Common_Utils/Messages/Data/ResolutionCalibrationMessageData.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Enumerations/MessageType.cs
  VerticalWarehouses/Common/Common_Utils/Messages/Interfaces/IResolutionCalibrationMessageData.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/InstallationController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/TestController.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Interfaces/IInstallationHub.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/ServiceContracts.autogen.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationServiceContracts/Services.autogen.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/ResolutionCalibrationVerticalAxisViewModel.cs
  VerticalWarehouses/Panel PC UI/VWApp/NotificationCatcher.cs
Due: none

chore: change coverage test settings
  WMS/WMS.sln.DotSettings
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: notify update events only id we have hub clients
  WMS/Data/WebAPI/Controllers/BaseController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

test: implement UpdateAsync tests for item controller
  WMS/Data/Tests/Controllers/ItemsControllerTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: Modifying appsetting.Developement.json to its default value
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
Due: none

Chore():
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/AutomationService.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Interfaces/IInstallationHub.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
  VerticalWarehouses/Panel PC UI/InstallationApp/ServiceUtilities/InstallationHubClient.cs
  VerticalWarehouses/Panel PC UI/InstallationApp/ViewsAndViewModels/SingleViews/ResolutionCalibrationVerticalAxisViewModel.cs
Due: none

feat(identity): remove serilog and set fixed kestrel ports
  IdentityServer/Ferretto.IdentityServer.csproj
  IdentityServer/Program.cs
  IdentityServer/appsettings.json
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fea(identity): fix interface definition
  WMS/Data/WebAPI/Controllers/BaseController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(identity): create default users with different timezone and locale claims
  IdentityServer/Config.cs
  WMS/App/Modules/Layout/ViewModels/LoginViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(compartment-type): update resource refrence
  WMS/App/App.Core/Providers/Enumerations/CompartmentTypeProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(data-service): update operation result constructor
  WMS/Data/Core/Models/OperationResult/UnprocessableEntityOperationResult.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: list should be executable if has a suspended row
  WMS/Data/Core/Providers/Scheduler/ItemListExecutionProvider.cs
  WMS/Data/Tests/Scheduler/ListProviderTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[move] to right controller, correct references
  WMS/App/App.Core/Providers/CellProvider.cs
  WMS/Data/Tests/Controllers/LoadingUnitTypesControllerTest.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
  WMS/Data/WebAPI/Controllers/CellsController.cs
  WMS/Data/WebAPI/Controllers/LoadingUnitTypesController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] reset choices where no value
  WMS/App/Modules/MasterData/ViewModels/LoadingUnit/LoadingUnitDetailsViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(): work in progress
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Template/TemplateStartState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/VerticalPositioning/VerticalPositioningEndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/VerticalPositioning/VerticalPositioningErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/VerticalPositioning/VerticalPositioningStartState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/VerticalPositioning/VerticalPositioningStateMachine.cs
Due: none

[fix] name resources
  Common/Resources/BusinessObjects.Designer.cs
  Common/Resources/BusinessObjects.it.resx
  Common/Resources/BusinessObjects.resx
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Help list in wait and help detail list in wait pages inserted. Resources file updated. Some other small update done.
  VerticalWarehouses/Common/Resources/HelpDescriptions.Designer.cs
  VerticalWarehouses/Common/Resources/HelpDescriptions.it.resx
  VerticalWarehouses/Common/Resources/HelpDescriptions.resx
  VerticalWarehouses/Panel PC UI/CustomControls/Styles/TextBlockStyles.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Ferretto.VW.OperatorApp.csproj
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpDetailListInWait.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpDetailListInWait.xaml.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpDrawerActivityPicking.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpDrawerActivityRefilling.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpListsInWait.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpListsInWait.xaml.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpMainWindow.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpPageBase.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/WaitingLists/ListDetail/DetailListInWaitView.xaml
Due: none

feat(compartments): update compartment provider to wrap exceptions
  WMS/App/App.Core/Interfaces/ICompartmentProvider.cs
  WMS/App/App.Core/Providers/CompartmentProvider.cs
  WMS/App/Modules/MasterData/ViewModels/LoadingUnit/LoadingUnitDetailsViewModel.cs
  WMS/App/Modules/MasterData/ViewModels/LoadingUnit/LoadingUnitEditViewModel.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(compartments): remove duplicate method from compartment provider
  WMS/App/App.Core/Providers/CompartmentProvider.cs
  WMS/App/App.Core/Providers/LoadingUnitProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Adjusted navigation button position in some pages.
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/ImmediateDrawerCallView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/MaintenanceDetailView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/MaintenanceMainPageView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Other/Statistics/DrawerSpaceSaturationView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/SearchItem/ItemSearchView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/WaitingLists/ListsInWaitView.xaml
Due: none

feat(items): update the creation and deletion of the CompartmentType association to return the involved ItemCompartmentType instance
  WMS/App/App.Core/Providers/ItemProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor(comparrment-type): rename total properties
  WMS/App/App.Core/Models/Compartment/CompartmentType.cs
  WMS/Data/Core/Models/Compartment/CompartmentType.cs
  WMS/Data/Core/Providers/Data/CompartmentTypeProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat:Bitwise transport mock implementation
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/SocketTransportMock.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/CalibrateAxisDisableOperationState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Template/TemplateEndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Template/TemplateErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Template/TemplateStartState.cs
  VerticalWarehouses/Panel PC UI/VWApp/App.config
Due: none

chore: fix db seed
  Common/EF/Seeds/Dev.Minimal.sql
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat: translate BO validation error messages
  Common/Resources/BusinessObjects.Designer.cs
  Common/Resources/BusinessObjects.it.resx
  Common/Resources/BusinessObjects.resx
  Common/Resources/Errors.Designer.cs
  Common/Resources/Errors.it.resx
  Common/Resources/Errors.resx
  WMS/App/App.Core/Models/BusinessObject.cs
  WMS/App/App.Core/Models/Cell/CellDetails.cs
  WMS/App/App.Core/Models/Compartment/BulkCompartment.cs
  WMS/App/App.Core/Models/Compartment/CompartmentDetails.cs
  WMS/App/App.Core/Models/Item/ItemDetails.cs
  WMS/App/App.Core/Models/ItemList/ItemListDetails.cs
  WMS/App/App.Core/Models/ItemList/ItemListExecutionRequest.cs
  WMS/App/App.Core/Models/ItemListRow/ItemListRowDetails.cs
  WMS/App/App.Core/Models/ItemListRow/ItemListRowExecutionRequest.cs
  WMS/App/App.Core/Models/LoadingUnit/LoadingUnitDetails.cs
  WMS/App/App.Core/Models/LoadingUnit/LoadingUnitWithdraw.cs
  WMS/App/App.Core/Models/Withdraw/ItemWithdraw.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fic:application configuration
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
Due: none

fix:correct polling intervals in Inverter Driver
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
Due: none

build: remove panelPC mock from autogen config
  WMS/WMS.sln
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(controllers): add hyphenation for controller and action names
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
  WMS/Data/WebAPI/Controllers/AislesController.cs
  WMS/Data/WebAPI/Controllers/AreasController.cs
  WMS/Data/WebAPI/Controllers/BaysController.cs
  WMS/Data/WebAPI/Controllers/CellsController.cs
  WMS/Data/WebAPI/Controllers/CompartmentsController.cs
  WMS/Data/WebAPI/Controllers/ItemsController.cs
  WMS/Data/WebAPI/Controllers/UsersController.cs
  WMS/Data/WebAPI/Conventions/SlugifyParameterTransformer.cs
  WMS/Data/WebAPI/Startup.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: remove unnecessary project ItemLists from autogen config
  WMS/WMS.sln
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(items): update the provider's actions to return the involved ItemCompartmentType instance
  WMS/App/App.Core/Providers/ItemProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(): work in progress
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Template/TemplateStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/VerticalPositioning/StartVerticalPositioningStateX.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/VerticalPositioning/VerticalPositioningDisableOperationState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/VerticalPositioning/VerticalPositioningEnableOperationState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/VerticalPositioning/VerticalPositioningStateMachine.cs
Due: none

test: fix failing tests
  WMS/Data/Tests/Controllers/CompartmentTypesControllerTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[rename] all properties with 'store' to 'put' [change] DataModels + Models (app) + Models (data service) [change] configuration, seeds, resources [change] providers, test, views
  Common/DataModels/Compartment.cs
  Common/DataModels/Item.cs
  Common/DataModels/LoadingUnit.cs
  Common/EF/Configurations/CompartmentConfiguration.cs
  Common/EF/Migrations/20190513100126_Rename_All_Store_In_Put_To_Table_Compartment_Item_LU.Designer.cs
  Common/EF/Migrations/20190513100126_Rename_All_Store_In_Put_To_Table_Compartment_Item_LU.cs
  Common/EF/Seeds/Dev.Minimal.sql
  Common/EF/StoredProcedures/InsertionCellLookup.sql
  Common/Resources/BusinessObjects.Designer.cs
  Common/Resources/BusinessObjects.it.resx
  Common/Resources/BusinessObjects.resx
  WMS/App/App.Core/Models/Compartment/CompartmentDetails.cs
  WMS/App/App.Core/Models/Item/Item.cs
  WMS/App/App.Core/Models/Item/ItemDetails.cs
  WMS/App/App.Core/Models/LoadingUnit/LoadingUnitDetails.cs
  WMS/App/App.Core/Providers/CompartmentProvider.cs
  WMS/App/App.Core/Providers/ItemProvider.cs
  WMS/App/App.Core/Providers/LoadingUnitProvider.cs
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentDetailsView.xaml
  WMS/App/Modules/MasterData/Views/Item/ItemAddView.xaml
  WMS/App/Modules/MasterData/Views/Item/ItemDetailsView.xaml
  WMS/App/Modules/MasterData/Views/Item/ItemsView.xaml
  WMS/App/Modules/MasterData/Views/LoadingUnit/LoadingUnitDetailsView.xaml
  WMS/Data/Core/Models/Compartment/CompartmentDetails.cs
  WMS/Data/Core/Models/Compartment/CompartmentWithdraw.cs
  WMS/Data/Core/Models/Item/Item.cs
  WMS/Data/Core/Models/Item/ItemDetails.cs
  WMS/Data/Core/Models/LoadingUnit/LoadingUnitDetails.cs
  WMS/Data/Core/Providers/Data/AreaProvider.cs
  WMS/Data/Core/Providers/Data/CompartmentProvider.cs
  WMS/Data/Core/Providers/Data/ItemProvider.cs
  WMS/Data/Core/Providers/Data/LoadingUnitProvider.cs
  WMS/Data/Core/Providers/Scheduler/CompartmentOperationProvider.cs
  WMS/Data/Core/Providers/Scheduler/SchedulerRequestExecutionProvider.cs
  WMS/Data/Tests/Controllers/ItemsControllerTest.cs
  WMS/Data/Tests/Models/ItemTest.cs
  WMS/Data/Tests/Scheduler/RequestCompartmentsTest.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Help item search and Help item search detail pages inserted. Item detail modified. Resources file updated.
  VerticalWarehouses/Common/Resources/HelpDescriptions.Designer.cs
  VerticalWarehouses/Common/Resources/HelpDescriptions.it.resx
  VerticalWarehouses/Common/Resources/HelpDescriptions.resx
  VerticalWarehouses/Common/Resources/OperatorApp.Designer.cs
  VerticalWarehouses/Common/Resources/OperatorApp.it.resx
  VerticalWarehouses/Common/Resources/OperatorApp.resx
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Ferretto.VW.OperatorApp.csproj
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpItemSearch.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpItemSearch.xaml.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpItemSearchDetail.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpItemSearchDetail.xaml.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpMainWindow.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/SearchItem/ItemDetailView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/SearchItem/ItemSearchView.xaml
Due: none

feat(data-service): ensure service returns non-zero value in case of error
  WMS/Data/WebAPI/Program.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(data-service): add automation service URL to machines
  Common/DataModels/Machine.cs
  Common/EF/Configurations/MachineConfiguration.cs
  Common/EF/Seeds/Dev.Minimal.sql
  WMS/Data/Core/Models/Machine/Machine.cs
  WMS/Data/Core/Providers/Data/MachineProvider.cs
  WMS/Data/Core/Services/MachineLiveDataService.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/VW/ConsoleApp.Mock/appsettings.json
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

style: cleanup ef configurations
  Common/EF/Configurations/AbcClassConfiguration.cs
  Common/EF/Configurations/AisleConfiguration.cs
  Common/EF/Configurations/AreaConfiguration.cs
  Common/EF/Configurations/BayConfiguration.cs
  Common/EF/Configurations/BayTypeConfiguration.cs
  Common/EF/Configurations/CellConfiguration.cs
  Common/EF/Configurations/CellConfigurationCellPositionLoadingUnitTypeConfiguration.cs
  Common/EF/Configurations/CellConfigurationCellTypeConfiguration.cs
  Common/EF/Configurations/CellConfigurationConfiguration.cs
  Common/EF/Configurations/CellHeightClassConfiguration.cs
  Common/EF/Configurations/CellPositionConfiguration.cs
  Common/EF/Configurations/CellSizeClassConfiguration.cs
  Common/EF/Configurations/CellStatusConfiguration.cs
  Common/EF/Configurations/CellTotalConfiguration.cs
  Common/EF/Configurations/CellTypeAisleConfiguration.cs
  Common/EF/Configurations/CellTypeConfiguration.cs
  Common/EF/Configurations/CellWeightClassConfiguration.cs
  Common/EF/Configurations/CompartmentConfiguration.cs
  Common/EF/Configurations/CompartmentStatusConfiguration.cs
  Common/EF/Configurations/DefaultCompartmentConfiguration.cs
  Common/EF/Configurations/ItemAreaConfiguration.cs
  Common/EF/Configurations/ItemCategoryConfiguration.cs
  Common/EF/Configurations/ItemCompartmentTypeConfiguration.cs
  Common/EF/Configurations/ItemConfiguration.cs
  Common/EF/Configurations/ItemListConfiguration.cs
  Common/EF/Configurations/ItemListRowConfiguration.cs
  Common/EF/Configurations/LoadingUnitConfiguration.cs
  Common/EF/Configurations/LoadingUnitHeightClassConfiguration.cs
  Common/EF/Configurations/LoadingUnitSizeClassConfiguration.cs
  Common/EF/Configurations/LoadingUnitStatusConfiguration.cs
  Common/EF/Configurations/LoadingUnitTypeAisleConfiguration.cs
  Common/EF/Configurations/LoadingUnitTypeConfiguration.cs
  Common/EF/Configurations/LoadingUnitWeightClassConfiguration.cs
  Common/EF/Configurations/MachineConfiguration.cs
  Common/EF/Configurations/MachineTypeConfiguration.cs
  Common/EF/Configurations/MaterialStatusConfiguration.cs
  Common/EF/Configurations/MeasureUnitConfiguration.cs
  Common/EF/Configurations/MissionConfiguration.cs
  Common/EF/Configurations/PackageTypeConfiguration.cs
  Common/EF/Configurations/SchedulerRequestConfiguration.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Some small adjustments made to all the help pages.
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpDetailListInWait.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpDrawerActivityPicking.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpDrawerActivityPickingDetail.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpDrawerActivityRefilling.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpDrawerActivityRefillingDetail.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpDrawerWait.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpInitialPage.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpItemSearch.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpItemSearchDetail.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/HelpWindows/HelpPageBase.xaml
Due: none

build(migrations): add service url to machines table
  Common/EF/Migrations/20190513130935_Add_Field_ServiceUrl_To_Table_Machines.Designer.cs
  Common/EF/Migrations/20190513130935_Add_Field_ServiceUrl_To_Table_Machines.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Path conditions:
  Pipelines/azure-pipeline-database-health-dev.yml: any of: Common\DataModels, Common\EF, but not: VerticalWarehouses, WMS, Common
  Pipelines/azure-pipeline-dev.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-vw-services-dev.yml: any of: *, VerticalWarehouses\Machine Automation Service, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-vw-ui-dev.yml: any of: *, VerticalWarehouses\Panel PC User Interface, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-wms-services-dev.yml: any file but: VerticalWarehouses, WMS\App
  Pipelines/azure-pipeline-wms-ui-dev.yml: any file but: VerticalWarehouses, WMS\Data, WMS\Scheduler
