Repository ericquartey/wms: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipeline-database-health-dev.yml, Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Path conditions:
  Pipelines/azure-pipeline-database-health-dev.yml: any of: Common\DataModels, Common\EF, but not: VerticalWarehouses, WMS, Common
  Pipelines/azure-pipeline-dev.yml: any file but: VerticalWarehouses
  Pipelines/azure-pipeline-vw-services-dev.yml: any of: *, VerticalWarehouses\Machine Automation Service, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-vw-ui-dev.yml: any of: *, VerticalWarehouses\Panel PC User Interface, but not: Common, WMS, VerticalWarehouses
  Pipelines/azure-pipeline-wms-services-dev.yml: any file but: VerticalWarehouses, WMS\App
  Pipelines/azure-pipeline-wms-ui-dev.yml: any file but: VerticalWarehouses, WMS\Data, WMS\Scheduler

fix 2127 update MockUI
  WMS/App/App.Tests/MockUI.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore refactor name of methods remove unused property
  WMS/Data/Core/Models/Compartment/CompartmentDetails.cs
  WMS/Data/Core/Models/OperationResult/OperationResult.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: delete moved LoadingUnitTest file
  WMS/App/App.Tests/LoadingUnitTest.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build(autogen): fix autogen configuration
  WMS/Data/WebAPI/nswag.json
  WMS/WMS.sln
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor: minor code cleanup
  WMS/Data/Core/Models/Compartment/CompartmentDetails.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

refactor(icons): update icon references
  Common/Controls/Controls/WmsView/WmsHistoryView.xaml
  Common/Resources/Icons.Designer.cs
  Common/Resources/Icons.resx
  WMS/App/App.Themes/Themes/Light/DXWindow.xaml
  WMS/App/Modules/Machines/Views/MachinesView.xaml
  WMS/App/Modules/MasterData/Views/Cell/CellDetailsView.xaml
  WMS/App/Modules/MasterData/Views/Cell/CellsView.xaml
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentAddBulkView.xaml
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentAddView.xaml
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentDetailsView.xaml
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentEditView.xaml
  WMS/App/Modules/MasterData/Views/Compartment/CompartmentsView.xaml
  WMS/App/Modules/MasterData/Views/Filter/FilterDialogView.xaml
  WMS/App/Modules/MasterData/Views/Item/ItemAddDialogView.xaml
  WMS/App/Modules/MasterData/Views/Item/ItemDetailsView.xaml
  WMS/App/Modules/MasterData/Views/Item/ItemsView.xaml
  WMS/App/Modules/MasterData/Views/Item/WithdrawDialogView.xaml
  WMS/App/Modules/MasterData/Views/ItemList/ItemListAddDialogView.xaml
  WMS/App/Modules/MasterData/Views/ItemList/ItemListDetailsView.xaml
  WMS/App/Modules/MasterData/Views/ItemList/ItemListExecuteDialogView.xaml
  WMS/App/Modules/MasterData/Views/ItemList/ItemListsView.xaml
  WMS/App/Modules/MasterData/Views/ItemListRow/ItemListRowDetailsView.xaml
  WMS/App/Modules/MasterData/Views/ItemListRow/ItemListRowExecuteDialogView.xaml
  WMS/App/Modules/MasterData/Views/LoadingUnit/LoadingUnitAddDialogView.xaml
  WMS/App/Modules/MasterData/Views/LoadingUnit/LoadingUnitDetailsView.xaml
  WMS/App/Modules/MasterData/Views/LoadingUnit/LoadingUnitEditView.xaml
  WMS/App/Modules/MasterData/Views/LoadingUnit/LoadingUnitsView.xaml
  WMS/App/Modules/Scheduler/Views/MissionsView.xaml
  WMS/App/Modules/Scheduler/Views/SchedulerRequestsView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[resolve] reference
  Common/BLL.Interfaces/Ferretto.Common.BLL.Interfaces.csproj
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[resolve] comments [update] ImageFIle->Images [change] from call to db to bool to check image has changed [update] autogen files
  .gitignore
  Common/BLL.Interfaces/Providers/IImageProvider.cs
  Common/Controls/Controls/Image/ImageUtils.cs
  Common/Controls/Controls/Image/WmsImage.xaml.cs
  Common/Controls/Controls/Image/WmsImageEdit.cs
  WMS/App/App.Core/Models/Item/ItemDetails.cs
  WMS/App/App.Core/Providers/ImageProvider.cs
  WMS/App/App.Core/Providers/ItemProvider.cs
  WMS/App/App/Images/Articolo1.jpg
  WMS/App/App/Images/Articolo2.jpg
  WMS/App/App/Images/Articolo3.jpg
  WMS/App/App/Images/Articolo4.jpg
  WMS/App/App/Images/Articolo5.jpg
  WMS/App/App/Images/Articolo6.jpg
  WMS/App/Modules/BLL/BusinessLogicModule.cs
  WMS/App/Modules/MasterData/ViewModels/Item/ItemDetailsViewModel.cs
  WMS/Data/Core/Extensions/ServiceCollectionDataExtensions.cs
  WMS/Data/Core/Providers/ImageProvider.cs
  WMS/Data/WebAPI.Contracts/DataServiceFactory.cs
  WMS/Data/WebAPI.Contracts/DataWebApiServiceCollectionExtensions.cs
  WMS/Data/WebAPI.Contracts/ServiceContracts.autogen.cs
  WMS/Data/WebAPI.Contracts/Services.autogen.cs
  WMS/Data/WebAPI/Controllers/ImagesController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-vw-services-dev.yml, Pipelines/azure-pipeline-vw-ui-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] reference to http feature correctly
  WMS/App/App.Core/Ferretto.WMS.App.Core.csproj
  WMS/App/App/Ferretto.WMS.App.csproj
  WMS/Data/Core/Ferretto.WMS.Data.Core.csproj
  WMS/Data/WebAPI/Ferretto.WMS.Data.WebAPI.csproj
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[add] busy indicator while image is loading
  Common/Controls/Controls/Image/WmsImageEdit.cs
  WMS/App/App.Themes/Themes/Light/ImageEdit.xaml
  WMS/Data/WebAPI/Controllers/ImagesController.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Refactor event service, notificationService
  Common/BLL.Interfaces/IEventService.cs
  Common/Controls/Ferretto.Common.Controls.csproj
  Common/Controls/Services/EventService.cs
  Common/Controls/Services/EventService/EventService.cs
  Common/Controls/Services/EventService/PublicSubEventAction.cs
  Common/Controls/Services/NotificationService.cs
  Common/Resources/Errors.Designer.cs
  Common/Resources/Errors.it.resx
  Common/Resources/Errors.resx
  WMS/App/App/WmsApplication.cs
  WMS/Data/Hubs/EntityChangedHubEvent.cs
  WMS/Data/Hubs/Ferretto.WMS.Data.Hubs.csproj
  WMS/Data/Hubs/HubEntityOperation.cs
  WMS/Data/Hubs/ISchedulerHub.cs
  WMS/Data/WebAPI/Controllers/MissionsController.cs
  WMS/Data/WebAPI/Ferretto.WMS.Data.WebAPI.csproj
  WMS/Data/WebAPI/Hubs/SchedulerHub.cs
  WMS/WMS.sln
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Chore():
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer_CheckType.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer_SetupNetwork.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/SetupNetwork.cs
Due: none

chore remove unused code
  WMS/Data/WebAPI/Hubs/SchedulerHub.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix: Fix the behaviour of states machine when a requested of Stop is performed (major on Homing states macine).
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HomingCalibrateAxisDoneState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HomingEndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HomingStartState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HomingStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Homing/HomingSwitchAxisDoneState.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/Interface/IStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_FiniteStateMachines/StateBase.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedIoDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/SwitchAxis/EndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/SwitchAxis/SwitchOffMotorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/SwitchAxis/SwitchOnMotorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/Interface/StateMachines/IInverterState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/Interface/StateMachines/IInverterStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/CalibrateAxisStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/EnableOperationState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/EndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/ErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/HomingModeState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/ShutdownState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/StartingHomeState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/SwitchOnState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/VoltageDisabledState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/InverterStateBase.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/InverterStateMachineBase.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Stop/ErrorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Stop/StopSTateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/Stop/StopState.cs
Due: none

Fix namespace on NotificationService
  Common/Controls/Services/NotificationService.cs
  WMS/Data/Hubs/Ferretto.WMS.Data.Hubs.csproj
  WMS/WMS.sln
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: restore white icons for main menu
  Common/Resources/Icons.Designer.cs
  Common/Resources/Icons.resx
  WMS/App/App.Themes/Icons/Material/action/1x_web/ic_date_range_white_24dp.png
  WMS/App/App.Themes/Icons/Material/action/1x_web/ic_help_outline_white_18dp.png
  WMS/App/App.Themes/Icons/Material/action/1x_web/ic_settings_white_24dp.png
  WMS/App/App.Themes/Icons/Material/communication/1x_web/ic_import_export_white_24dp.png
  WMS/App/App.Themes/Icons/Material/editor/1x_web/ic_format_list_bulleted_white_24dp.png
  WMS/App/App.Themes/Icons/Material/editor/1x_web/ic_functions_white_24dp.png
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(scheduler): update notification icon on app status bar
  Common/Resources/Icons.Designer.cs
  Common/Resources/Icons.resx
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

feat(scheduler): add tooltip to statusbar icon
  Common/Controls/Controls/StatusBar/StatusBarViewModel.cs
  Common/Resources/DesktopApp.Designer.cs
  Common/Resources/DesktopApp.it.resx
  Common/Resources/DesktopApp.resx
  Common/Resources/Icons.Designer.cs
  Common/Resources/Icons.resx
  WMS/App/App.Themes/Themes/Light/DXWindow.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: fix wrong icon reference
  WMS/App/Modules/MasterData/Views/LoadingUnit/LoadingUnitDetailsView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

chore: Add comment lines in order to set the IP address of hardware device as inverter and remote IO.
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedIoDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
Due: none

build: restore TreatWarningsAsErrors on Common.Controls project
  Common/Controls/Ferretto.Common.Controls.csproj
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

Inserted new page Drawer Activity View to show the activity to do on the drawer in bay.
  VerticalWarehouses/Common/Resources/HelpDescriptions.it.resx
  VerticalWarehouses/Common/Resources/OperatorApp.Designer.cs
  VerticalWarehouses/Common/Resources/OperatorApp.it.resx
  VerticalWarehouses/Common/Resources/OperatorApp.resx
  VerticalWarehouses/Panel PC UI/CustomControls/Assets/Ingranaggio.jpg
  VerticalWarehouses/Panel PC UI/CustomControls/Assets/Ingranaggio_quadrato.png
  VerticalWarehouses/Panel PC UI/CustomControls/Assets/Mappa_Cassetto_2.png
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Ferretto.VW.OperatorApp.csproj
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/MainWindowViewModel_Commands.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Resources/OperatorAppModule.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Resources/Views.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerActivityView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerActivityView.xaml.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerActivityViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Interfaces/IDrawerActivityViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/MainWindowNavigationButtonsView.xaml
Due: none

feat: add creation date column to MissionsView and SchedulerRequestsView and set default order by this field
  WMS/App/Modules/Scheduler/Views/MissionsView.xaml
  WMS/App/Modules/Scheduler/Views/SchedulerRequestsView.xaml
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

build: fix code analysis warnings
  Common/Controls/Controls/Image/WmsImage.xaml.cs
  Common/Controls/Controls/Image/WmsImageEdit.cs
  Common/Controls/Controls/NavMenuTouch/ViewModels/NavMenuItem.cs
  Common/Controls/Controls/WmsGridControl/WmsGridControl.cs
  Common/Controls/Controls/WmsMainDockLayoutManager/WmsMainDockLayoutManager.cs
  Common/Controls/Controls/WmsTrayControl/CompartmentExtensions.cs
  Common/Controls/Controls/WmsTrayControl/WmsCanvasListBoxControl.cs
  Common/Controls/Controls/WmsTrayControl/WmsCompartmentViewModel.cs
  Common/Controls/Controls/WmsView/WmsHistoryView.xaml.cs
  WMS/App/App.Core/Ferretto.WMS.App.Core.csproj
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

New page for Drawer Wait inserted. Resources file updated.
  VerticalWarehouses/Common/Resources/OperatorApp.Designer.cs
  VerticalWarehouses/Common/Resources/OperatorApp.it.resx
  VerticalWarehouses/Common/Resources/OperatorApp.resx
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Ferretto.VW.OperatorApp.csproj
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Resources/OperatorAppModule.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Resources/Views.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerWaitView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerWaitView.xaml.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerWaitViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Interfaces/IDrawerWaitViewModel.cs
Due: none

fix: Save IP address value on database.
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer_ValueManagment.cs
Due: none

Inserted new page to show the item detail to manage during the drawer activity. Resources file updated.
  VerticalWarehouses/Common/Resources/OperatorApp.Designer.cs
  VerticalWarehouses/Common/Resources/OperatorApp.it.resx
  VerticalWarehouses/Common/Resources/OperatorApp.resx
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Ferretto.VW.OperatorApp.csproj
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Resources/OperatorAppModule.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/Resources/Views.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerActivityDetailView.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerActivityDetailView.xaml.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerActivityDetailViewModel.cs
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/Interfaces/IDrawerActivityDetailViewModel.cs
Due: none

build: fix code analysis warnings
  Common/Controls/Controls/NavMenuTouch/ViewModels/TileNavMenuChildItem.cs
  Common/Controls/Converters/DisplayNameConverter.cs
  Common/Controls/Converters/StringFormatConverter.cs
  Common/Controls/ViewModels/BaseServiceNavigationViewModel.cs
  Common/Controls/ViewModels/EntityListViewModel.cs
  Common/Controls/ViewModels/EntityPagedListViewModel.cs
  Common/Resources/Errors.Designer.cs
  Common/Resources/Errors.resx
  WMS/App/App.Core/Models/BindableBase.cs
  WMS/App/App.Core/Models/BusinessObject.cs
  WMS/App/App.Core/Models/Cell/CellDetails.cs
  WMS/App/App.Core/Models/Compartment/BulkCompartment.cs
  WMS/App/App.Core/Models/List/ItemListDetails.cs
  WMS/App/App.Core/Models/LoadingUnit/LoadingUnitDetails.cs
  WMS/App/App.Core/Models/Withdraw/ItemWithdraw.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

fix:database concurrency issue workaround
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Startup.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.json
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/nlog.config
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer_ValueManagment.cs
  VerticalWarehouses/SQLiteTarget/SQliteTarget.cs
Due: none

Updated page layout of Drawer Activity Detail View
  VerticalWarehouses/Panel PC UI/CustomControls/Styles/TextBlockStyles.xaml
  VerticalWarehouses/Panel PC UI/Ferretto.VW.OperatorApp/ViewsAndViewModels/DrawerActivityDetailView.xaml
Due: none

feat:split application and log DB
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
Due: none

chore:settings change
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/appsettings.Development.json
Due: none

Implemented notifications in InverterDriver and IODriver
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/AutomationService.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Program.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/SwitchAxis/EndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/SwitchAxis/SwitchAxisSateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/SwitchAxis/SwitchOffMotorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/SwitchAxis/SwitchOnMotorState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/CalibrateAxisStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/EnableOperationState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/EndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/HomingModeState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/ShutdownState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/StartingHomeState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/SwitchOnState.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/StateMachines/CalibrateAxis/VoltageDisabledState.cs
Due: none

feat(): add fields in Genral Info, changed Runtimevalue table and changed namespaces for Enumerators and Interfaces
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayerContext.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer_CellsManagment.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer_GeneralInfo.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer_ValueManagment.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/DataType.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/GeneralInfo.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/LoadingUnitStatus.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/RuntimeValue.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Enumerations/RuntimeValueEnum.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Interfaces/IDataLayerCellManagment.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Interfaces/IDataLayerValueManagment.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Interfaces/IGeneralInfo.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Migrations/20190325134325_FieldLoadingUnit.Designer.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Migrations/20190325134325_FieldLoadingUnit.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Models/ConfigurationValue.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Models/LoadingUnit.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/Models/RuntimeValue.cs
  VerticalWarehouses/Machine Automation Service/Tests/MAS_DataLayerUnitTests/DataLayerUnitTest.cs
Due: none

feat:Create Reset IO state machine
  VerticalWarehouses/Common/Common_Utils/Enumerations/MessageType.cs
  VerticalWarehouses/Machine Automation Service/MAS_AutomationService/Controllers/TestController.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer.cs
  VerticalWarehouses/Machine Automation Service/MAS_DataLayer/DataLayer_ValueManagment.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedIoDriver-Reset.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/HostedIoDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/IoMessage.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/Reset/EndState.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/Reset/ResetOutputsState.cs
  VerticalWarehouses/Machine Automation Service/MAS_IODriver/StateMachines/Reset/ResetStateMachine.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/HostedInverterDriver.cs
  VerticalWarehouses/Machine Automation Service/MAS_InverterDriver/SocketTransport.cs
Due: none

[add] isLoading indicator while its loaded image
  Common/Controls/Controls/Image/WmsImageEdit.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml

[remove] from ItemProvider save of image
  WMS/App/App.Core/Providers/ItemProvider.cs
Due: Pipelines/azure-pipeline-dev.yml, Pipelines/azure-pipeline-wms-services-dev.yml, Pipelines/azure-pipeline-wms-ui-dev.yml
